<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>Master Configuration</title>

<!-- My JS -->

<script th:src="@{/js/Master/MOrganizationType/organization-type-view.js}"></script>

</head>
<body layout:fragment="content">
<div ng-app="master2App" class="content-wrapper">
   	<div class="wrapper" ng-controller="master2Ctrl">
			<div class="sidebar-nav">
				<div class="nav-canvas">
					<div class="nav-sm nav nav-stacked"></div>
				</div>
			</div>
			<div class="panel panel-custom head-panel">
				<div class="panel panel-custom head-panel">
																	<div class="panel-heading"> 
																		<h2>
																			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
																			<span>ประเภทหน่วยงานหลัก</span>
																		</h2>
																	</div>
																	<div class="panel-body">
																	
																	
																		<!-- criteria search -->
																		<div class="form-group">
																			<!-- row2 -->
																			<div class="row">
																				<div class="col-md-3 text-right ">ชื่อประเภทหน่วยงานหลัก :</div>
																				<div class="col-md-3">
																					<input type="text" class="form-control" ng-model="name"  />
																				</div>
																				<div class="col-md-2 text-right"></div>
																				<div class="col-md-3"></div>
																			</div>
																			<!-- row4 -->
																			<div class="row">
																				<div class="col-md-3 text-right ">วันที่เริ่มใช้งาน
																					จาก :</div>
																				<datepicker-dir class="col-md-3 col-sm-3 col-xs-3"
																					ng-model="startDateFrom" format-date="dd/MM/yyyy"></datepicker-dir>
																				<div class="col-md-2 text-right">ถึง :</div>
																				<datepicker-dir class="col-md-3 col-sm-3 col-xs-3"
																					ng-model="startDateTo" format-date="dd/MM/yyyy"></datepicker-dir>
																			</div>
																			<!-- row5 -->
																			<div class="row">
																				<div class="col-md-3 text-right ">วันที่สิ้นสุด จาก :</div>
																				<datepicker-dir class="col-md-3 col-sm-3 col-xs-3"
																					ng-model="endDateFrom" format-date="dd/MM/yyyy"></datepicker-dir>
																				<div class="col-md-2 text-right">ถึง :</div>
																				<datepicker-dir class="col-md-3 col-sm-3 col-xs-3"
																					ng-model="endDateTo" format-date="dd/MM/yyyy"></datepicker-dir>
																			</div>											
																		</div>									
																	
																	
																	
																		<!-- button search -->
																		<div class="form-group">
																			<!-- row7 -->
																			<div class="row">
																				<div class="col-md-6 text-right">
																					<button type="button" id="searchBtn" class="btn btn-primary" ng-click="doSearch()" >
																						<span class="glyphicon glyphicon-search"></span> ค้นหา
																					</button>
																				</div>
																				<div class="col-md-6 ">
																					<button type="button" id="searchBtn" class="btn btn-primary" ng-click="clearData()">
																						<span class="glyphicon glyphicon-refresh"></span> ล้างข้อมูล
																					</button>
																				</div>
																			</div>
																		</div>
																	
																										
																		<!-- Search Results -->									
																		<div class="form-group">
																					<div class="row">
																						<div class="col-md-12 text-right ">
																							<button type="button" id="newBtn" class="btn btn-success" ng-click="goCreateNew()">
																								<span class="glyphicon glyphicon-plus"></span> เพิ่มรายการ
																							</button>
																						</div>
																					</div>													
																					<div class="row">
																						<div class="box-body table-responsive col-md-12">
																							<table id="example2" class="table table-bordered table-hover">
																								<thead>
																									<tr>
<!-- 																										<th>Id</th> -->
																										<th>ชื่อประเภทหน่วยงานหลัก</th>
																										<th>วันที่เริ่มใช้งาน</th>
																										<th>วันที่สิ้นสุดการใช้งาน</th>
																										<th></th>
																									</tr>
																								</thead>
																								<tbody>
																									<tr ng-repeat="d in data2List.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
								<!-- 																	<tr ng-repeat="d in data2List"> -->
<!-- 																										<td><span ng-bind="d.organizationTypeId"></span></td> -->
																										<td><span ng-bind="d.organizationTypeName"></span></td>
																										<td><span ng-bind="d.startDate | date:'dd/MM/yyyy'"></span></td>
																										<td><span ng-bind="d.endDate | date:'dd/MM/yyyy'"></span></td>
																										<td><a ng-href="./organization-type-edit/{{d.organizationTypeId}}"><span class="glyphicon-ring glyphicon-blue glyphicon glyphicon-edit" role="button"></span></a></td>
																									</tr>
																								</tbody>
																							</table>
																						</div>														
																					</div>
																					
																					<!-- Pagination -->
																					<div class="row">
																						<div class="col-md-12 text-right">
								    															<ul uib-pagination="" total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></ul>
																						</div>
																					</div>
																		</div>
								
																	</div>
				</div>
			</div>
	</div>
</div>		
</body>
</html>