<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>อนุมัติสิทธิ์ผู้ใช้งานภาครัฐ/กรมบัญชีกลาง</title>

<!-- My JS -->
<script th:src="@{/js/userInfo/user-approve.js}"></script>
</head>
<body layout:fragment="content">
	<div ng-app="userApproveApp" class="content-wrapper">
		<div class="wrapper" ng-controller="userApproveCtrl">
			<div class="sidebar-nav">
				<div class="nav-canvas">
					<div class="nav-sm nav nav-stacked"></div>
				</div>
			</div>

			<div class="panel panel-custom head-panel">
				<div class="panel-heading">
					<h2 class="panel-title">อนุมัติสิทธิ์ผู้ใช้งานภาครัฐ/กรมบัญชีกลาง</h2>
				</div>
				<div class="panel-body">

					<!-- criteria search -->
					<!-- Panel 1 -->
					<uib-accordion close-others="false">
					<div uib-accordion-group="" class="panel-default"
						heading="ค้นหาผู้ใช้งานระบบ" is-open="true" is-disabled="false">


						<div class="form-group">
							<!-- row1 -->
							<div class="row row-no-padding">
								<div
									class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">กลุ่มผู้ใช้งาน
									:</div>
								<div class="col-sm-3 col-md-3">
									<select class="form-control col-md-3"
										ng-model="data.userType">
										<option value="">ทั้งหมด</option>
										<!--  <option value="1">ประชาชนทั่วไป</option>
										<option value="2">นิติบุคคล</option>-->
										<option value="3">ภาครัฐ</option>
										<option value="4">กรมบัญชีกลาง</option>
									</select>
								</div>
								<div
									class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right ">สถานะการอนุมัติ
									:</div>
								<div class="col-sm-3 col-md-3">
									<select class="form-control" ng-model="data.statusApprove">
										<option value="">ทั้งหมด</option>
										<option value="0">รออนุมัติ</option>
										<option value="1">อนุมัติแล้ว</option>
										<!-- <option value="2">ระงับการใช้งาน</option>-->
										<option value="3">ยกเลิก</option> 
									</select>
								</div>
							</div>

							<!-- row2 -->
							<div class="row row-no-padding">
								<div
									class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">สถานะการใช้งาน
									:</div>
								<div class="col-sm-3 col-md-3">
									<select class="form-control" ng-model="data.statusUse">
										<option value="">ทั้งหมด</option>
										<option value="1">เปิดใช้งาน</option>										
										<option value="0">ปิดใช้งาน</option>
										<!-- <option value="2">ระงับการใช้งาน</option>
										<option value="3">ยกเลิก</option> -->
									</select>
								</div>
							</div>
							
							<!-- row3 -->
							<div class="row row-no-padding">
								<div
									class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">เลขประจำตัวประชาชน
									:</div>
								<div class="col-sm-3 col-md-3" style="display:flex;display:-webkit-flex;">
									<input type="text" class="form-control"
									ng-model="data.citizenid" required="required" />
								</div>
								<div
									class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right ">ชื่อ - สกุล
									:</div>
								<div class="col-sm-3 col-md-3" style="display:flex;display:-webkit-flex;">
									<input type="text" class="form-control"
									ng-model="data.name" required="required" />
								</div>
							</div>
							
							<!-- row4 -->
							<div class="row row-no-padding">
								<div
									class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">กรม
									:</div>
								<div class="col-sm-3 col-md-3">
									<select class="form-control col-md-3"
										ng-model="data.departmentId"
										ng-options="list.id as list.desc for list in deptList">
										<option value="">ทั้งหมด</option>
									</select>
								</div>
								<div
									class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right ">รหัสพื้นที่
									:</div>
								<div class="col-sm-3 col-md-3">
									<select class="form-control" ng-model="data.businessAreaId"
										ng-options="list.id as list.desc for list in businessAreaList">
										<option value="">ทั้งหมด</option>
									</select>
								</div>
							</div>

							<!-- row5 -->
							<div class="row row-no-padding">
								<div
									class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">ศูนย์ต้นทุน
									:</div>
								<div class="col-sm-3 col-md-3">
									<select class="form-control" ng-model="data.costCenterId"
										ng-options="list.id as list.desc for list in costCenterList">
										<option value="">ทั้งหมด</option>
									</select>
								</div>
							</div>
							
							
						</div>

						<!-- button search -->
						<!-- row7 -->
						<div class="row">
							<div class="col-xs-12 col-md-12 text-center">
								<button type="button" id="searchBtn"
									class="btn btn-center btn-primary btn-style"
									ng-click="search();">
									<span class="glyphicon glyphicon-search"></span> ค้นหา
								</button>
								<button type="button" id="searchBtn"
									class="btn btn-center btn-primary btn-style"
									ng-click="clear();">
									<span class="glyphicon glyphicon-refresh"></span> ล้างข้อมูล
								</button>
							</div>
						</div>
					</div>
					</uib-accordion>
					
					

					<!-- Panel 2 -->
					<uib-accordion close-others="false">
					<div uib-accordion-group="" class="panel-default"
						heading="ผลการค้นหา" is-open="true" is-disabled="false">

						<!--  -->
						<div class="form-group">
							<!-- row8 -->
							<div class="row row-no-padding">
								<div class="col-xs-12 col-sm-6 col-md-6 text-left ">
									
								</div>
								
								<div class="col-xs-12 col-sm-6 col-md-6">
	
									<div class="col-xs-6 col-sm-4 col-md-6 text-right">
										<span>แสดงหน้าละ&nbsp;</span>
									</div>
									<div class="col-xs-3 col-sm-4 col-md-3">
										<select class="form-control" ng-model="perPages"
											ng-change="pageChanged()"
											ng-options="selectedItem as selectedItem for selectedItem in values">
										</select>
									</div>
									<div class="col-xs-1 col-sm-2 col-sm-3">
										<span>&nbsp;รายการ</span>
									</div>
		
								</div>
								
							</div>
						</div>

						<!-- search result -->
						<div class="box-body table-responsive ">
							<table id="example2" class="table table-bordered table-hover">
								<thead>
									<tr>
										<th><input id="checkBox" type="checkbox"
											ng-model="isSelectAll" ng-init="isSelectAll = false"
											ng-change="selectAll(isSelectAll)"></input></th>
										<th class="text-center"><a href=""
											ng-click="orderFunction('userid')"> <span>ลำดับ</span> <span
												ng-show="checkField('userid')"> <span
													ng-show="!reverseSort"
													class="glyphicon glyphicon-triangle-top"></span> <span
													ng-show="reverseSort"
													class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a></th>
										<th class="text-center"><a href=""
											ng-click="orderFunction('citizenid')"> <span>รหัสประจำตัวประชาชน</span>
												<span ng-show="checkField('citizenid')"> <span
													ng-show="!reverseSort"
													class="glyphicon glyphicon-triangle-top"></span> <span
													ng-show="reverseSort"
													class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a></th>
										<th class="text-center"><a href=""
											ng-click="orderFunction('name')"> <span>ชื่อ -
													สกุล</span> <span ng-show="checkField('name')"> <span
													ng-show="!reverseSort"
													class="glyphicon glyphicon-triangle-top"></span> <span
													ng-show="reverseSort"
													class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a></th>
										<th class="text-center"><a href=""
											ng-click="orderFunction('userType')"> <span>กลุ่มผู้ใช้งาน</span>
												<span ng-show="checkField('userType')"> <span
													ng-show="!reverseSort"
													class="glyphicon glyphicon-triangle-top"></span> <span
													ng-show="reverseSort"
													class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a></th>
										<th class="text-center"><a href=""
											ng-click="orderFunction('departmentName')"> <span>กระทรวง
													- กรม</span> <span ng-show="checkField('departmentName')">
													<span ng-show="!reverseSort"
													class="glyphicon glyphicon-triangle-top"></span> <span
													ng-show="reverseSort"
													class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a></th>
										<th class="text-center"><a href=""
											ng-click="orderFunction('status')"> <span>สถานะการอนุมัติ</span>
												<span ng-show="checkField('status')"> <span
													ng-show="!reverseSort"
													class="glyphicon glyphicon-triangle-top"></span> <span
													ng-show="reverseSort"
													class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a></th>
										<th class="text-center"><a href=""
											ng-click="orderFunction('userid')"> <span>กลุ่มสิทธิ์รอเปิดใช้งาน</span>
												<span ng-show="checkField('userid')"> <span
													ng-show="!reverseSort"
													class="glyphicon glyphicon-triangle-top"></span> <span
													ng-show="reverseSort"
													class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a></th>
										<th class="text-center"><a href=""
											ng-click="orderFunction('userid')"> <span>กลุ่มสิทธิ์รอปิดใช้งาน</span>
												<span ng-show="checkField('userid')"> <span
													ng-show="!reverseSort"
													class="glyphicon glyphicon-triangle-top"></span> <span
													ng-show="reverseSort"
													class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a></th>

										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr
										ng-repeat="data in sliceFavoriteList | orderBy:orderByField:reverseSort">
										<td><input type="checkbox"
											ng-checked="isDelete(data.userid) > -1"
											ng-click="selectToDel(data)"></input></td>
										<td class="text-center">{{((currentPage-1)*perPages)+$index+1}}</td>
										<td >{{data.citizenid}}</td>
										<td >{{data.name}}</td>
										<td class="text-center">
											<span ng-if="data.userType=='1'">ประชาชนทั่วไป</span>
											<span ng-if="data.userType=='2'">นิติบุคคล</span> 
											<span ng-if="data.userType=='3'">หน่วยงานภาครัฐ</span>
											<span ng-if="data.userType=='4'">กรมบัญชีกลาง</span>
										
										</td>
										<td >{{data.departmentName}}</td>
										<td class="text-center"><span ng-if="data.status=='0'">รอยืนยัน</span><span
											ng-if="data.status=='1'">ใช้งาน</span> <span
											ng-if="data.status=='2'">ระงับการใช้งาน</span><span
											ng-if="data.status=='3'">ยกเลิก</span></td>
										<td class="text-center"><i ng-if="data.requestType == 1"
										class="fa fa-exclamation-triangle" style="color: #FF6D00"
										aria-hidden="true"></i></td>
										<td class="text-center"><i ng-if="data.requestType == 0"
										class="fa fa-exclamation-triangle" style="color: #FF6D00"
										aria-hidden="true"></i></td>
										<td class="col-md-1 text-center text-nowrap"><span ng-if="data.attachFile != null &amp;&amp; data.attachFile !=''"
											class="glyphicon-ring glyphicon-green glyphicon glyphicon-list-alt"
											ng-click="print(data.attachFile)" role="button"></span></td>
									</tr>
									<tr ng-if="sliceFavoriteList.length == 0">
										<td colspan="12" class="text-center">ไม่มีข้อมูล</td>
									</tr>
								</tbody>
							</table>
						</div>


						<!-- Pagination -->
						<div class="row" >
							<div class="col-md-12 col-xs-12 text-right">
								<ul uib-pagination="" total-items="totalItems"
									ng-model="currentPage" max-size="5" class="pagination-sm"
									items-per-page="perPages" boundary-links="true"
									num-pages="numPages" ng-change="pageChanged(currentPage)"></ul>
							</div>
						</div>



					</div>
					</uib-accordion>

					<!-- Panel 3 -->
					<uib-accordion close-others="false">
					<div uib-accordion-group="" class="panel-default"
						heading="ผลการพิจารณา" is-open="true" is-disabled="false">

						<!-- criteria search -->
						<div class="form-group">
							<!-- row1 -->
							<div class="row row-no-padding">
								<div
									class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">
									ผลการพิจารณา <span class="red">*</span> :</div>
								<div class="col-sm-1 col-md-1">
									<input id="r1" name="approve" ng-model="approve.status" type="radio" value="1" ng-checked="true" /> อนุมัติ
								</div>
								<div class="col-sm-1 col-md-1">								
									<input id="r2" name="approve" ng-model="approve.status" type="radio" value="0" /> ไม่อนุมัติ
								</div>
							</div>
							
							<!-- row2 -->
							<div class="row row-no-padding">
								<div
									class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">
									หมายเหตุ <span class="red">*</span> :</div>
								<div class="col-sm-3 col-md-3">
									<textarea name="textarea" ng-model="data.approveComment" rows="5" cols="80"></textarea>
								</div>
							</div>
							
						</div>

						<!-- button search -->
						<!-- row7 -->
						<div class="row">
							<div class="col-xs-12 col-md-12 text-center">
								<button type="button" id="searchBtn"
									class="btn btn-center btn-primary btn-style"
									ng-click="update(selectItem);">
									<span class="glyphicon glyphicon-save"></span> บันทึก
								</button>
								<button type="button" id="searchBtn"
									class="btn btn-center btn-primary btn-style"
									ng-click="clearData();">
									<span class="glyphicon glyphicon-refresh"></span> ล้างข้อมูล
								</button>
							</div>
						</div>
					</div>
					</uib-accordion>



				</div>
			</div>

		</div>
	</div>

</body>
</html>