<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>สถานะการใช้งานระบบ</title>

<!-- My JS -->
<script th:src="@{/js/userInfo/user-info.js}"></script>
</head>
<body layout:fragment="content">
	<div ng-app="userInfoApp" class="content-wrapper">
		<div class="wrapper" ng-controller="userInfoCtrl">
			<div class="sidebar-nav">
				<div class="nav-canvas">
					<div class="nav-sm nav nav-stacked"></div>
				</div>
			</div>

			<div class="panel panel-custom head-panel">
				<div class="panel-heading">
					<h2>สถานะการใช้งานระบบ</h2>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<!-- Panel 1 -->
						<uib-accordion close-others="false">
						<div uib-accordion-group="" class="panel-default"
							heading="ข้อมูลผู้ใช้งาน" is-open="true" is-disabled="false">
							<!-- ROW 0 -->
							<div class="row row-no-padding" style="min-height: 50px">
								<div
									class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">เลขประจำตัวประชาชน
									:</div>
								<div class="col-sm-3 col-md-3"
									style="display: flex; display: -webkit-flex;">
									<input type="text" ng-model="userBean.citizenid"
										ng-change="onlyDigits(userBean,'citizenid',userBean.citizenid)"
										name="citizenid" class="form-control"
										placeholder="เลขประจำตัวประชาชน" /> <span
										class="glyphicon glyphicon-search"
										ng-click="getUserCitizen(userBean.citizenid)"></span>
								</div>

							</div>
							<!-- ROW 4	-->
							<div class="row" style="min-height: 30px">
								<div class="col-sm-3 col-md-3"
									style="left: 20px; color: #53B3EB;">ข้อมูลส่วนตัว</div>
							</div>
							<!-- ROW 2	-->
							<div class="row row-no-padding" style="min-height: 30px">
								<div
									class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">คำนำหน้า(ภาษาไทย)
									:</div>
								<div class="col-sm-3 col-md-2">
									<select class="form-control" ng-model="userBean.titleThId"
										ng-options="list.id as list.desc for list in titleList"
										ng-disabled="dis.pers">
									</select>
									<!-- 															<input type="text" ng-model="userBean.titleNameTH" -->
									<!-- 																 class="form-control" placeholder="" /> -->
								</div>
								<div
									class="col-xs-12 col-sm-2 col-md-3 text-xs-left text-sm-right text-md-right ">ชื่อจริง(ภาษาไทย)
									:</div>
								<div class="col-sm-3 col-md-3">

									<input type="text" ng-model="userBean.fnameTH"
										class="form-control" placeholder="" />


								</div>
							</div>
							<!-- ROW 3	-->
							<div class="row row-no-padding" style="min-height: 30px">
								<div
									class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">ชื่อกลาง(ภาษาไทย)
									:</div>
								<div class="col-sm-3 col-md-3">

									<input type="text" ng-model="userBean.mnameTH"
										class="form-control" placeholder="" />
								</div>
								<div
									class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right ">นามสกุล(ภาษาไทย)
									:</div>
								<div class="col-sm-3 col-md-3">
									<input type="text" ng-model="userBean.lnameTH"
										class="form-control" placeholder="" />
								</div>
							</div>
							<!-- ROW 4	-->
							<div class="row row-no-padding" style="min-height: 30px">
								<div
									class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">คำนำหน้า(ภาษาอังกฤษ)
									:</div>
								<div class="col-sm-3 col-md-2">

									<!-- 															<input type="text" ng-model="userBean.titleNameEN" -->
									<!-- 																 class="form-control" placeholder="" />  -->
									<select class="form-control" ng-model="userBean.titleEnId"
										ng-options="list.id as list.desc2 for list in titleList"
										ng-disabled="dis.pers">
									</select>
								</div>
								<div
									class="col-xs-12 col-sm-2 col-md-3 text-xs-left text-sm-right text-md-right ">ชื่อจริง(ภาษาอังกฤษ)
									:</div>
								<div class="col-sm-3 col-md-3">
									<input type="text" ng-model="userBean.fnameEN"
										class="form-control" placeholder="" />
								</div>
							</div>
							<!-- ROW 5	-->
							<div class="row row-no-padding" style="min-height: 30px">
								<div
									class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">ชื่อกลาง(ภาษาอังกฤษ)
									:</div>
								<div class="col-sm-3 col-md-3">

									<input type="text" ng-model="userBean.mnameEN"
										class="form-control" placeholder="" />
								</div>
								<div
									class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right ">นามสกุล(ภาษาอังกฤษ)
									:</div>
								<div class="col-sm-3 col-md-3">
									<input type="text" ng-model="userBean.lnameEN"
										class="form-control" placeholder="" />
								</div>
							</div>
							<!-- ROW 6	-->
							<div class="row row-no-padding" style="min-height: 30px">
								<div
									class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">วันเกิด
									:</div>
								<div class="col-sm-3 col-md-3">
									<!-- 															<input type="text" ng-model="userBean.birthDate | date :'dd/MM/yyyy'" -->
									<!-- 															class="form-control" placeholder="" /> -->
									<datepicker-dir ng-model="userBean.birthDate"
										format-date="dd/MM/yyyy"></datepicker-dir>
								</div>
								<div
									class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right ">อายุ
									:</div>
								<div class="col-sm-3 col-md-1">
									<input type="text" ng-model="userBean.age"
										ng-value="userBean.age" readonly="readonly" name="age"
										id="age" class="form-control" placeholder="" />
								</div>
							</div>
							<!-- ROW 7	-->
							<div class="row row-no-padding" style="min-height: 50px">
								<div
									class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">
									อีเมล <span style="color: #FF0000;">*</span> :
								</div>
								<div class="col-sm-3 col-md-3">
									<input type="email" ng-model="userBean.email"
										required="required" name="email" id="email"
										class="form-control" placeholder="email" />
								</div>
								<div
									class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right ">
									เบอร์โทรศัพท์ <span style="color: #FF0000;">*</span> :
								</div>
								<div class="col-sm-3 col-md-3">
									<input type="text" ng-model="userBean.mobile" ng-chage=""
										required="required" name="mobile" id="mobile"
										class="form-control" placeholder="mobile number" />
								</div>
							</div>

							<!-- ROW 4	-->
							<div class="row row-no-padding" style="min-height: 30px">
								<div class="col-xs-12 col-sm-3 col-md-3"
									style="left: 20px; color: #53B3EB;">ที่อยู่ตามทะเบียนบ้าน</div>
							</div>
							<!-- ROW 5	-->
							<div class="row row-no-padding" style="min-height: 30px">
								<div
									class="col-xs-7 col-sm-2 col-md-1 text-xs-left text-sm-right text-md-right  ">บ้านเลขที่
									:</div>
								<div
									class="col-xs-5 col-sm-3 col-md-1 col-xs-pull-5 col-sm-pull-0 col-md-pull-0 col-lg-pull-0">

									<input type="text" ng-model="userBean.no" class="form-control"
										placeholder="" />
								</div>
								<div
									class="col-xs-3 col-sm-1 col-md-1 text-xs-left text-sm-right text-md-right ">หมู่ที่
									:</div>
								<div
									class="col-xs-3 col-sm-2 col-md-1 col-xs-pull-1 col-sm-pull-0 col-md-pull-0 col-lg-pull-0">

									<input type="text" ng-model="userBean.moo" class="form-control"
										placeholder="" />
								</div>
								<div
									class="col-xs-3 col-sm-1 col-md-1 text-xs-left text-sm-right text-md-right col-xs-pull-1 col-sm-pull-0 col-md-pull-0 col-lg-pull-0">ห้องที่
									:</div>
								<div
									class="col-xs-3 col-sm-2 col-md-1 col-xs-pull-2 col-sm-pull-0 col-md-pull-0 col-lg-pull-0">

									<input type="text" ng-model="userBean.roomNo"
										class="form-control" placeholder="" />
								</div>
								<div class="col-sm-12 visible-sm"></div>
								<div
									class="col-xs-3 col-sm-2 col-md-1 text-xs-left text-sm-right text-md-right ">ซอย
									:</div>
								<div
									class="col-xs-9 col-sm-4 col-md-2 col-xs-pull-1 col-sm-pull-0 col-md-pull-0 col-lg-pull-0">

									<input type="text" ng-model="userBean.soi" class="form-control"
										placeholder="" />
								</div>
								<div
									class="col-xs-3 col-sm-1 col-md-1 text-xs-left text-sm-right text-md-right  ">ถนน
									:</div>
								<div
									class="col-xs-9 col-sm-4 col-md-2 col-xs-pull-1 col-sm-pull-0 col-md-pull-0 col-lg-pull-0">

									<input type="text" ng-model="userBean.road"
										class="form-control" placeholder="" />
								</div>
							</div>

							<!-- ROW 6	-->
							<div class="row row-no-padding" style="min-height: 50px">

								<div
									class="col-xs-12 col-sm-2 col-md-1 text-xs-left text-sm-right text-md-right  ">จังหวัด
									:</div>

								<div class="col-sm-10 col-md-3">

									<!-- 															<input type="text" ng-model="userBean.provinorgTypeceName" -->
									<!-- 																 class="form-control" placeholder="" /> -->
									<select class="form-control" required="required"
										ng-model="userBean.provinceId"
										ng-options="opt.id as opt.desc for opt in dataProvince"
										ng-change="getAmphur(userBean.provinceId)">
										<option value="">--กรุณาเลือก--</option>
									</select>

								</div>
								<div
									class="col-xs-12 col-sm-2 col-md-1 text-xs-left text-sm-right text-md-right  ">อำภอ/เขต:</div>
								<div class="col-sm-10 col-md-3">
									<!-- 															<input type="text" ng-model="userBean.amphurName" -->
									<!-- 																 class="form-control" placeholder="" /> -->
									<select class="form-control" ng-model="userBean.amphurId"
										ng-options="opt.id as opt.desc for opt in dataAmphur"
										ng-change="getTambon(userBean.amphurId)" required="required">
										<option value="">--กรุณาเลือก--</option>
									</select>
								</div>
								<div
									class="col-xs-12 col-sm-2 col-md-1 text-xs-left text-sm-right text-md-right  ">ดำบล/แขวง
									:</div>
								<div class="col-sm-10 col-md-3">
									<!-- 															<input type="text" ng-model="userBean.tambonName" -->
									<!-- 																 class="form-control" placeholder="" /> -->
									<select class="form-control" ng-model="userBean.tambonId"
										ng-options="opt.id as opt.desc for opt in dataTambon"
										ng-change="setTambonId(userBean.tambonId)" required="required">
										<option value="">--กรุณาเลือก--</option>
									</select>
								</div>
							</div>

							<!-- ROW 7	-->
							<div class="row row-no-padding" style="min-height: 30px">
								<div
									class="col-xs-12 col-sm-2 col-md-2 col-lg-1 text-xs-left text-sm-right text-md-left text-lg-right ">รหัสไปรษณีย์
									:</div>
								<div
									class="col-sm-4 col-md-2 col-lg-1 col-md-pull-1 col-lg-pull-0">
									<input type="text" ng-model="userBean.postCode"
										class="form-control" placeholder="" />
								</div>
							</div>
						</div>

						</uib-accordion>

						<!-- Panel 2 -->
						<uib-accordion close-others="false">
						<div uib-accordion-group="" class="panel-default"
							heading="ตารางแสดงสิทธิ์การใช้งานระบบ" is-open="true"
							is-disabled="false">

							<!--  -->
							<!-- 							<div class="form-group"> -->
							<!-- 								<div class="row row-no-padding"> -->
							<!-- 									<div class="col-xs-12 col-sm-6 col-md-6 text-left "></div> -->

							<!-- 									<div class="col-xs-12 col-sm-6 col-md-6"> -->

							<!-- 										<div class="col-xs-6 col-sm-4 col-md-6 text-right"> -->
							<!-- 											<span>แสดงหน้าละ&nbsp;</span> -->
							<!-- 										</div> -->
							<!-- 										<div class="col-xs-3 col-sm-4 col-md-3"> -->
							<!-- 											<select class="form-control" ng-model="perPages" -->
							<!-- 												ng-change="pageChanged()" -->
							<!-- 												ng-options="selectedItem as selectedItem for selectedItem in values"> -->
							<!-- 											</select> -->
							<!-- 										</div> -->
							<!-- 										<div class="col-xs-1 col-sm-2 col-sm-3"> -->
							<!-- 											<span>&nbsp;รายการ</span> -->
							<!-- 										</div> -->

							<!-- 									</div> -->

							<!-- 								</div> -->
							<!-- 							</div> -->

							<!-- search result -->
							<div class="box-body table-responsive ">
								<table id="example2" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th><input id="checkBox" type="checkbox"
												ng-model="isSelectAll" ng-init="isSelectAll = false"
												ng-change="selectAll(isSelectAll)"></input></th>
											<th class="text-center"><a href=""
												ng-click="orderFunction('catalogCode')"> <span>ลำดับ</span>
													<span ng-show="checkField('catalogCode')"> <span
														ng-show="!reverseSort"
														class="glyphicon glyphicon-triangle-top"></span> <span
														ng-show="reverseSort"
														class="glyphicon glyphicon-triangle-bottom"></span>
												</span>
											</a></th>
											<th class="text-center"><a href=""
												ng-click="orderFunction('userid')"> <span>สิทธิ์ใช้งาน</span>
													<span ng-show="checkField('userid')"> <span
														ng-show="!reverseSort"
														class="glyphicon glyphicon-triangle-top"></span> <span
														ng-show="reverseSort"
														class="glyphicon glyphicon-triangle-bottom"></span>
												</span>
											</a></th>
											<th class="text-center"><a href=""
												ng-click="orderFunction('userid')"> <span>สถานะการส่งเอกสาร</span>
													<span ng-show="checkField('userid')"> <span
														ng-show="!reverseSort"
														class="glyphicon glyphicon-triangle-top"></span> <span
														ng-show="reverseSort"
														class="glyphicon glyphicon-triangle-bottom"></span>
												</span>
											</a></th>
											<th class="text-center"><a href=""
												ng-click="orderFunction('userid')"> <span>วันที่ส่งเอกสาร</span>
													<span ng-show="checkField('userid')"> <span
														ng-show="!reverseSort"
														class="glyphicon glyphicon-triangle-top"></span> <span
														ng-show="reverseSort"
														class="glyphicon glyphicon-triangle-bottom"></span>
												</span>
											</a></th>
											<th class="text-center"><a href=""
												ng-click="orderFunction('userid')"> <span>สถานะการขออนุมัติ</span>
													<span ng-show="checkField('userid')"> <span
														ng-show="!reverseSort"
														class="glyphicon glyphicon-triangle-top"></span> <span
														ng-show="reverseSort"
														class="glyphicon glyphicon-triangle-bottom"></span>
												</span>
											</a></th>
											<th class="text-center"><a href=""
												ng-click="orderFunction('userid')"> <span>วันที่เริ่มต้นใช้งาน</span>
													<span ng-show="checkField('userid')"> <span
														ng-show="!reverseSort"
														class="glyphicon glyphicon-triangle-top"></span> <span
														ng-show="reverseSort"
														class="glyphicon glyphicon-triangle-bottom"></span>
												</span>
											</a></th>
											<th class="text-center"><a href=""
												ng-click="orderFunction('userid')"> <span>วันที่สิ้นสุดการใช้งาน</span>
													<span ng-show="checkField('userid')"> <span
														ng-show="!reverseSort"
														class="glyphicon glyphicon-triangle-top"></span> <span
														ng-show="reverseSort"
														class="glyphicon glyphicon-triangle-bottom"></span>
												</span>
											</a></th>
											<th class="text-center"><a href=""
												ng-click="orderFunction('userid')"> <span>สถานะการใช้งาน</span>
													<span ng-show="checkField('userid')"> <span
														ng-show="!reverseSort"
														class="glyphicon glyphicon-triangle-top"></span> <span
														ng-show="reverseSort"
														class="glyphicon glyphicon-triangle-bottom"></span>
												</span>
											</a></th>

											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr
											ng-repeat="data in sliceData | orderBy:orderByField:reverseSort">
											<td><input type="checkbox" ng-model="check[$index]" ng-init="check[$index] = false"
												ng-click="select(data)"></input></td>
											<td class="text-center">{{((currentPage-1)*perPages)+$index+1}}</td>
											<td class="text-center">{{data.permisName}}</td>
											<td class="text-center">{{data.sendStatus}}</td>
											<td class="text-center">{{data.sendDate|date:'dd/MM/yyyy'}}</td>
											<td class="text-center"><span ng-if="data.appvStatus=='0'">รอการอนุมัติ</span><span
											ng-if="data.appvStatus=='1'">อนุมัติ</span> <span
											ng-if="data.appvStatus=='3'">ยกเลิก</span><span
											ng-if="data.appvStatus=='2'">ระงับการใช้งาน</span> </td>
											<td class="text-center">{{data.startDate|date:'dd/MM/yyyy'}}</td>
											<td class="text-center">{{data.endDate|date:'dd/MM/yyyy'}}</td>
											<td class="text-center">
											<input ng-model="data.status" type="radio" value="1" />เปิดการใช้งาน
											<input ng-model="data.status" type="radio" value="0"/>ปิดการใช้งาน</td>
											<td class="col-md-1 text-center text-nowrap"><span ng-if="data.attachFile != null &amp;&amp; data.attachFile !=''"
											class="glyphicon-ring glyphicon-green glyphicon glyphicon-list-alt"
											ng-click="print(data.attachFile)" role="button"></span></td>
										</tr>
										<tr ng-if="sliceData.length == 0">
											<td colspan="10" class="text-center">ไม่มีข้อมูล</td>
										</tr>
									</tbody>
								</table>
							</div>

							<!-- 						Pagination -->
							<!-- 						<div class="row" > -->
							<!-- 							<div class="col-md-12 col-xs-12 text-right"> -->
							<!-- 								<ul uib-pagination="" total-items="totalItems" -->
							<!-- 									ng-model="currentPage" max-size="5" class="pagination-sm" -->
							<!-- 									items-per-page="perPages" boundary-links="true" -->
							<!-- 									num-pages="numPages" ng-change="pageChanged(currentPage)"></ul> -->
							<!-- 							</div> -->
							<!-- 						</div> -->

						</div>
						</uib-accordion>


						<!-- Panel 3 -->
						<uib-accordion close-others="false">
						<div uib-accordion-group="" class="panel-default"
							heading="จัดการสถานะการใช้งาน" is-open="true" is-disabled="false">

							<!-- criteria search -->
							<div class="form-group">
								<!-- row1 -->
								<div class="row row-no-padding">
									<div
										class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">
										สถานะการใช้งาน <span class="red">*</span> :
									</div>
									<div class="col-sm-1 col-md-1" ng-init="bean.status ='1'">
										<input id="r1" name="approve" ng-model="userBean.status" type="radio"
											value="1" ng-checked="true" /> เปิดใช้งาน
									</div>
									<div class="col-sm-1 col-md-1">
										<input id="r1" name="approve" ng-model="userBean.status" type="radio"
											value="2" /> ปิดใช้งาน
									</div>
								</div>
								<div class="row row-no-padding">
									<div
										class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">
										วันที่เริ่มใช้งาน <span class="red">*</span> :
									</div>
									<div class="col-sm-3 col-md-3">
										<datepicker-dir ng-model="userBean.startDate"
											format-date="dd/MM/yyyy"></datepicker-dir>
									</div>
									<div class="col-sm-1 col-md-1 text-center">ถึง</div>
									<div class="col-sm-3 col-md-3">
										<datepicker-dir ng-model="userBean.endDate"
											format-date="dd/MM/yyyy"></datepicker-dir>
									</div>
								</div>
								<!-- row2 -->
								<div class="row row-no-padding">
									<div
										class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">
										หมายเหตุ <span class="red">*</span> :
									</div>
									<div class="col-sm-3 col-md-3">
										<textarea name="textarea" rows="5" cols="80" ng-model="userBean.approveComment"></textarea>
									</div>
								</div>

							</div>

							<!-- button search -->
							<!-- row7 -->
							<div class="row">
								<div class="col-xs-12 col-md-12 text-center">
									<button type="button" id="searchBtn"
										class="btn btn-center btn-primary btn-style"
										ng-click="save();">
										<span class="glyphicon glyphicon-save"></span> บันทึก
									</button>
									<button type="button" id="searchBtn"
										class="btn btn-center btn-primary btn-style"
										ng-click="getUserCitizen(userBean.citizenid)">
										<span class="glyphicon glyphicon-refresh"></span> ล้างข้อมูล
									</button>
								</div>
							</div>
						</div>
						</uib-accordion>




					</div>

				</div>
			</div>





		</div>
	</div>



</body>
</html>