<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>Master Configuration</title>

<!-- My JS -->

<script th:src="@{/js/Master/MDisbursementUnit/disbursement-unit-view.js}"></script>

</head>
<body layout:fragment="content">
<div ng-app="master2App" class="content-wrapper">
   	<div class="wrapper" ng-controller="master2Ctrl">
		<div class="sidebar-nav">
			<div class="nav-canvas">
				<div class="nav-sm nav nav-stacked"></div>
			</div>
		</div>
		<div class="panel panel-custom head-panel">
			<div class="panel panel-custom head-panel">
				<div class="panel panel-custom">
															<div class="panel-heading"> 
																<h2>
																	<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
																	<span>หน่วยเบิกจ่าย</span>
																</h2>
															</div>
															<div class="panel-body">
															
						
																<!-- SEARCH BOX1 -->
																<div class="panel panel-default">
																	<div class="panel-heading">
																		<h3 class="panel-title">ค้นหารายการ</h3>
																	</div>
																	<div class="panel-body">
																		
																			<!-- criteria search -->
																			<div class="form-group">
																				<!-- row1 -->
																				<div class="row">
																					<div class="col-md-3 text-right ">รหัสหน่วยเบิกจ่าย :</div>
																					<div class="col-md-3">
																						<input type="text" class="form-control" ng-model="criteria.disbursementUnitCode"  />
																					</div>
																				</div>
																				<!-- row2 -->
																				<div class="row">
																					<div class="col-md-3 text-right ">ชื่อย่อ :</div>
																					<div class="col-md-3">
																						<input type="text" class="form-control" ng-model="criteria.disbursementUnitDesc"  />
																					</div>
																					<div class="col-md-2 text-right">ชื่อเต็มหน่วยเบิกจ่าย :</div>
																					<div class="col-md-3">
																						<input type="text" class="form-control" ng-model="criteria.disbursementUnitLongDesc"  />
																					</div>
																				</div>
																				<!-- row4 -->
																				<div class="row">
																					<div class="col-md-3 text-right ">วันที่เริ่มใช้งาน
																						จาก :</div>
																					<datepicker-dir class="col-md-3 col-sm-3 col-xs-3"
																						ng-model="criteria.startDateFrom" format-date="dd/MM/yyyy"></datepicker-dir>
																					<div class="col-md-2 text-right">ถึง :</div>
																					<datepicker-dir class="col-md-3 col-sm-3 col-xs-3"
																						ng-model="criteria.startDateTo" format-date="dd/MM/yyyy"></datepicker-dir>
																				</div>
																				<!-- row5 -->
																				<div class="row">
																					<div class="col-md-3 text-right ">วันที่สิ้นสุด จาก :</div>
																					<datepicker-dir class="col-md-3 col-sm-3 col-xs-3"
																						ng-model="criteria.endDateFrom" format-date="dd/MM/yyyy"></datepicker-dir>
																					<div class="col-md-2 text-right">ถึง :</div>
																					<datepicker-dir class="col-md-3 col-sm-3 col-xs-3"
																						ng-model="criteria.endDateTo" format-date="dd/MM/yyyy"></datepicker-dir>
																				</div>											
																				<div class="row">
																					<div class="col-md-3 text-right ">สถานะ:</div>
																					<div class="col-md-3">
																						<select class="form-control" ng-model="criteria.status">
																							<option value="">--กรุณาเลือก--</option>
																							<option value="0">รอยืนยัน</option>
																							<option value="1">ใช้งาน</option>
																							<option value="2">ระงับการใช้งาน</option>
																							<option value="3">ยกเลิก</option>
																						</select>
																					</div>
																					<div class="col-md-2 text-right"></div>
																					<div class="col-md-3"></div>
																				</div>
						
																				<div class="row">
																					<div class="col-md-6 text-right">
																						<button type="button" id="searchBtn" class="btn btn-primary" ng-click="doSearch()" >
																							<span class="glyphicon glyphicon-search"></span> ค้นหา
																						</button>
																					</div>
																					<div class="col-md-6 ">
																						<button type="button" id="searchBtn" class="btn btn-primary" ng-click="clearData()">
																							<span class="glyphicon glyphicon-refresh"></span> ล้างข้อมูล
																						</button>
																					</div>
																				</div>
																			</div>									
									
																	</div>
																</div>
																<div class="row">
																	<div class="col-md-12 text-right ">
																		<button type="button" id="newBtn" class="btn btn-primary" ng-click="goCreateNew()">
																			<span class="glyphicon glyphicon-plus"></span> เพิ่มรายการ
																		</button>
																	</div>
																</div>													
																<div class="box-body table-responsive">
																	<table id="example2" class="table table-bordered table-hover">
																		<thead>
																			<tr>
																				<th>#</th>
																				<th width="15%">รหัสหน่วยเบิกจ่าย</th>
																				<th width="10%">ชื่อย่อ</th>
																				<th>ชื่อเต็มหน่วยเบิกจ่าย</th>
																				<th width="10%">วันที่เริ่มใช้งาน</th>
																				<th width="10%">วันที่สิ้นสุด</th>
																				<th width="10%">สถานะ</th>
																				<th width="10%"></th>
																			</tr>
																		</thead>
																		<tbody>
<!-- 																			<tr ng-repeat="d in sliceData2List"> -->
																			<tr ng-repeat="d in data2List.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
						<!-- 																	<tr ng-repeat="d in data2List"> -->
																				<td class="text-center"><span>{{$index + 1}}</span></td>
																				<td><span ng-bind="d.disbursementUnitCode"></span></td>
																				<td><span ng-bind="d.disbursementUnitDesc"></span></td>
																				<td><span ng-bind="d.disbursementUnitLongDesc"></span></td>
																				<td><span ng-bind="d.startDate | date:'dd/MM/yyyy'"></span></td>
																				<td><span ng-bind="d.endDate | date:'dd/MM/yyyy'"></span></td>
																				<td><span ng-if="d.status=='0'">รอยืนยัน</span>
																					<span ng-if="d.status=='1'">ใช้งาน</span> 
																					<span ng-if="d.status=='2'">ระงับการใช้งาน</span>
																					<span ng-if="d.status=='3'">ยกเลิก</span> 
																				</td>
																				<td class="text-center text-nowrap">
																					<a ng-href="./disbursement-unit-edit/{{d.disbursementUnitId}}"><span class="glyphicon-ring glyphicon-blue glyphicon glyphicon-edit" role="button"></span></a>
																					<span ng-click="updateStatusCancel(d.disbursementUnitId)" class="glyphicon-ring glyphicon-red glyphicon glyphicon-trash" role="button"></span>
																				</td>
																			</tr>
																		</tbody>
																	</table>
																</div>				
																<!-- Pagination -->
																<div class="row">
																	<div class="col-md-12 text-right">
			    															<ul uib-pagination="" total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></ul>
																	</div>
																</div>
						
															</div>
					</div>
				</div>
			</div>
	</div>
</div>
</body>
</html>