@font-face {
 font-family: "Thai Sans Neue Regular";
 src:  url('fonts/ThaiSansNeue-Regular.ttf') format('truetype');
     src: url('fonts/thaisansneue-regular-webfont.woff2') format('woff2'),
         url('fonts/thaisansneue-regular-webfont.woff') format('woff');
 }
 
  
 .red {
 color: red;
 }
