<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>Example2</title>

<!-- My JS -->
<script th:src="@{/js/example/example2.js}"></script>
</head>
<body>
	<section layout:fragment="content">
		<div ng-app="exampleApp">
			<div ng-controller="exampleCtrl">
				<div class="sidebar-nav">
					<div class="nav-canvas">
						<div class="nav-sm nav nav-stacked"></div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<H1>Example</H1>
							<div class="col-md-4 col-sm-4 col-xs-4">
								<div class="panel panel-primary">
									<div class="panel-body">
										<div class="form-group">
											<div ng-view=""></div>
											<h3>Example 1 - text auto complete</h3>
											<div class="padded-row">
												<angucomplete id="ex1" placeholder="Search .." pause="100"
													selectedobject="selectedCountry" localdata="data1List"
													searchfields="desc" titlefield="desc" minlength="1"
													inputclass="form-control form-control-small" />
											</div>
											<div ng-show="selectedCountry">
												ID: <span class="bold-span"
													ng-bind="selectedCountry.originalObject.id"></span><br />
												NAME: <span class="bold-span"
													ng-bind="selectedCountry.originalObject.desc"></span>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-4 col-sm-4 col-xs-4">
								<div class="panel panel-primary">
									<div class="panel-body">
										<h3>Example 2 - Datepicker</h3>
										<datepicker-dir class="col-md-12 col-sm-12 col-xs-12"
											ng-model="dateStart" format-date="dd/MM/yyyy"></datepicker-dir>

									</div>
								</div>
							</div>




							<div class="col-md-8 col-sm-8 col-xs-8">
								<div class="panel panel-primary">
									<div class="panel-body">
										<div class="form-group">
											<h3>Example 3 - Pagination</h3>


											<div class="box-body table-responsive">
												<table id="example2"
													class="table table-bordered table-hover">
													<thead>
														<tr>
															<th>ID</th>
															<th>FName</th>
															<th>LName</th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="data2 in data3List">
															<!-- 													<td><a href="">{{data2.id}}</a></td> -->
															<td><span ng-bind="data2.id"></span></td>
															<td><span ng-bind="data2.fname"></span></td>
															<td><span ng-bind="data2.lname"></span></td>

														</tr>
													</tbody>
												</table>
												<!-- 										<ul uib-pagination="" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></ul> -->

												<ul uib-pagination="" total-items="bigTotalItems"
													ng-model="bigCurrentPage" max-size="maxSize"
													class="pagination-sm" boundary-links="true"
													num-pages="numPages"></ul>

												<pre>Page: {{bigCurrentPage}} / {{numPages}}</pre>


											</div>
										</div>
									</div>
								</div>
							</div>


							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="panel panel-primary">
									<div class="panel-body">
										<div class="form-group">
											<h3>Example 4 - Pagination</h3>
											<div class="row">
												<div class="col-md-4">
													<button type="button" id="searchBtn" class="btn btn-info">
														<span class="fa fa-key"></span>search
													</button>
													<input type="text" name="fname" id="sFname"
														class="form-control" placeholder="fname"
														required="required" /> <label id="exampleResult"></label>
												</div>

												<div class="col-md-4">
													<button type="button" id="searchBtn" class="btn btn-info"
														ng-click="deleteExample()">
														<span class="fa fa-key"></span>delete
													</button>
													<input type="text" name="fname" id="fname"
														class="form-control" ng-model="id" placeholder="fname"
														required="required" />
												</div>

												<div class="col-md-4">
													<button type="button" id="searchAllBtn"
														ng-click="findAllExampleByName()" class="btn btn-info">
														<span class="fa fa-key"></span>search All
													</button>
													<div ng-repeat="data2 in data4List">
														<span ng-bind="data2.id"></span> <span
															ng-bind="data2.fname"></span> <span
															ng-bind="data2.lname"></span>

													</div>
												</div>

											</div>

											<div class="row">
												<div class="col-md-6">
													<div class="col-md-3">
														<input type="text" name="svId" id="svId"
															class="form-control" ng-model="exampleBean.id"
															placeholder="id" required="required" />
													</div>

													<div class="col-md-3">
														<input type="text" name="svFname" id="svFname"
															class="form-control" ng-model="exampleBean.fname"
															placeholder="fname" required="required" />
													</div>
													<div class="col-md-3">
														<input type="text" name="svlname" id="svlname"
															class="form-control" ng-model="exampleBean.lname"
															placeholder="lname" required="required" />
													</div>

													<button type="button" id="saveBtn" ng-click="saveExample()"
														class="btn btn-info">
														<span class="fa fa-key"></span>save
													</button>

												</div>



												<div class="col-md-6">
													<div class="col-md-3">
														<input type="text" name="upId" id="upId"
															class="form-control" ng-model="exampleBean1.id"
															placeholder="id" required="required" />
													</div>

													<div class="col-md-3">
														<input type="text" name="upFname" id="upFname"
															class="form-control" ng-model="exampleBean1.fname"
															placeholder="fname" required="required" />
													</div>
													<div class="col-md-3">
														<input type="text" name="upLname" id="upLname"
															class="form-control" ng-model="exampleBean1.lname"
															placeholder="lname" required="required" />
													</div>

													<button type="button" id="updateBtn" class="btn btn-info"
														ng-click="updateExample()">
														<span class="fa fa-key"></span>update
													</button>
												</div>
											</div>




										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-8">
					<div class="panel panel-primary">
						<div class="panel-body">
							<div class="form-group">
								<h3>Example 5 - Accordion</h3>
								<uib-accordion close-others="false">
								<div uib-accordion-group="" class="panel-default"
									heading="Static Header, initially expanded" is-open="true"
									is-disabled="false">This content is straight in the
									template.</div>
								<div uib-accordion-group="" class="panel-default"
									heading="Static Header, initially expanded" is-open="false"
									is-disabled="false">This content is straight in the
									template.</div>
								</uib-accordion>
							</div>
						</div>
					</div>
				</div>
				</div>
				


			</div>
		</div>
	</section>
</body>
</html>
