<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template2">

<div th:fragment="header2">
 <div class="hold-transition sidebar-mini" id="preloader" style="display: none;">
         <div id="status"></div>
      </div>
      <!-- Site wrapper -->
      <div class="wrapper head-background">
         <header class="main-header">
            <a th:href="@{/}" class="logo">
               <!-- Logo -->
               <span class="logo-mini">
               <img th:src="@{/assets/dist/img/mini-logo.png}" alt=""/>
               </span>
               <span class="logo-lg">
               <img th:src="@{/assets/dist/img/logo.png}" alt=""/>
               </span>
            </a>
            <!-- Header Navbar -->
            <nav class="">
               <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="pe-7s-angle-left-circle"></span>
               </a>


               <!-- Content Header (Page header) -->

            </nav>
         </header>

         
         
     </div>
      
</div>
</html>