<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layouts/main-template">

<div th:fragment="header">
 <div class="hold-transition sidebar-mini" id="preloader" style="display: none;">
         <div id="status"></div>
      </div>
      <!-- Site wrapper -->
      <div class="wrapper">
         <header class="main-header">
            <a th:href="@{./}" class="logo">
               <!-- Logo -->
               <span class="logo-mini">
               <img th:src="@{/assets/dist/img/mini-logo.png}" alt=""/>
               </span>
               <span class="logo-lg">
               <img th:src="@{/assets/dist/img/logo.png}" alt=""/>
               </span>
            </a>
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top head-bg">
               <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="pe-7s-angle-left-circle"></span>
               </a>
               <!-- searchbar-->
<!--                <div class="input-append search-input-area"> -->
<!--                  <input class="" id="appendedInputButton" type="text" placeholder="ค้นหา ..." value="ค้นหา ..." onfocus="this.value='';"/> -->
<!--                  <button class="submit-btn" type="button"><i class="fa fa-search" aria-hidden="true"></i></button> -->
<!--              </div> -->
<!-- <span class="name" th:text="${#authentication}"></span> -->
<!-- <span class="name" th:text="${#authentication.Authorities}"></span> -->
             <div class="navbar-custom-menu"  sec:authorize="!hasAuthority('ROLE_ANONYMOUS')" >
                  <ul class="nav navbar-nav">
                   
                     <!-- Notifications -->
<!--                      <li class="dropdown tasks-menu"> -->
<!--                         <a href="#" class="dropdown-toggle" data-toggle="dropdown"> -->
<!--                         <i class="pe-7s-bell"></i> -->
<!--                         <span class="label label-warning">10</span> -->
<!--                         </a> -->
<!--                         <ul class="dropdown-menu"> -->
<!--                            <li> -->
<!--                               <ul class="menu"> -->
<!--                                  <li> -->
<!--                                     Task item -->
<!--                                     <a href="#" class="border-gray"> -->
<!--                                        <span class="label label-warning pull-right">10</span> -->
<!--                                        <h3>รายการแจ้งเตือน</h3> -->
<!--                                     </a> -->
<!--                                  </li> -->
<!--                                  end task item -->
<!--                                  <li> -->
<!--                                     Task item -->
<!--                                     <a href="#" class="border-gray"> -->
<!--                                        <h4>ข้อมูลพื้นฐาน</h4> -->
<!--                                        <span>รายการค่าเช่าอสังหาริมทรัพย์<br/>วันที่ 10-10-2560 23:00:01</span> -->
<!--                                     </a> -->
<!--                                  </li> -->
<!--                                  end task item -->
<!--                                  <li> -->
<!--                                     Task item -->
<!--                                     <a href="#" class="border-gray"> -->
<!--                                        <h4>ข้อมูลพื้นฐาน</h4> -->
<!--                                        <span>รายการค่าเช่าอสังหาริมทรัพย์<br/>วันที่ 10-10-2560 23:00:01</span> -->
<!--                                     </a> -->
<!--                                  </li> -->
<!--                                  end task item -->
<!--                                  <li> -->
<!--                                     Task item -->
<!--                                     <a href="#" class="border-gray"> -->
<!--                                        <h4>ข้อมูลพื้นฐาน</h4> -->
<!--                                        <span>รายการค่าเช่าอสังหาริมทรัพย์<br/>วันที่ 10-10-2560 23:00:01</span> -->
<!--                                     </a> -->
<!--                                  </li> -->
<!--                                  end task item -->
<!--                                  <li> -->
<!--                                     Task item -->
<!--                                     <a href="#" class="btn-gray">ดูรายการทั้งหมด</a> -->
<!--                                  </li> -->

                                  
<!--                               </ul> -->
<!--                            </li> -->
<!--                         </ul> -->
<!--                      </li> -->
                      <li class="white-line">|
                      </li>
                     <!-- user -->
                     <li class="dropdown dropdown-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="user-menu-link">
                        <div class="icon icon-user user-menu"></div> <span class="name" th:text="${#authentication.Principal.userCenterId.firstNameTh+' '+#authentication.Principal.userCenterId.lastNameTh}"></span><i class="fa fa-angle-down pull-right"></i>
                        </a>
                        <ul class="dropdown-menu" >
                           <li>
                              <a th:href="@{/changePassword}" class="changepass-btn">เปลี่ยนรหัส</a>
                           </li>
                           <li><a class="usersignout-btn" th:href="@{/logout}">ออกจากระบบ</a>
                         
                           </li>
                        </ul>
                     </li>
                  </ul>
               </div>

               <!-- Content Header (Page header) -->

            </nav>
         </header>

         
         
     </div>
      
</div>
</html>