<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd">
<head>
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>กรมบัญชีกลาง</title>

      <meta name="description" content=""/>
      <meta name="keywords" content=""/>
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
      <!-- Start Global Mandatory Style
         =====================================================================-->
      <!-- jquery-ui css -->
      <link th:href="@{/assets/plugins/jquery-ui-1.12.1/jquery-ui.min.css}" rel="stylesheet" type="text/css"/>
      <!-- Bootstrap -->
<!--       <link th:href="@{/assets/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/> -->
      	<link rel="stylesheet" type="text/css" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.css}" />

      <link th:href="@{/assets/plugins/lobipanel/lobipanel.min.css}" rel="stylesheet" type="text/css"/>
      <!-- Pace css -->
      <link th:href="@{/assets/plugins/pace/flash.css}" rel="stylesheet" type="text/css"/>
      <!-- Font Awesome -->
      <link th:href="@{/assets/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
      <!-- fontastic icons -->
      <link th:href="@{/assets/font-awesome/css/styles.css}" rel="stylesheet" type="text/css"/>
      
      <!-- Pe-icon -->
      <link th:href="@{/assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css}" rel="stylesheet" type="text/css"/>
      <!-- Themify icons -->
      <link th:href="@{/assets/themify-icons/themify-icons.css}" rel="stylesheet" type="text/css"/>
      <!-- End Global Mandatory Style
         =====================================================================-->
      <!-- Start page Label Plugins 
         =====================================================================-->
      <!-- Emojionearea -->
      <link th:href="@{/assets/plugins/emojionearea/emojionearea.min.css}" rel="stylesheet" type="text/css"/>
      <!-- Monthly css -->
      <link th:href="@{/assets/plugins/monthly/monthly.css}" rel="stylesheet" type="text/css"/>
      <!-- End page Label Plugins 
         =====================================================================-->
         
         
    <link rel="stylesheet" type="text/css" th:href="@{/bower_components/select2-bootstrap-css/select2-bootstrap.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/bower_components/angucomplete/angucomplete.css}" />

	<!-- 	Angular CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/bower_components/angular-material/angular-material.css}" />
	<!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" th:href="@{/bower_components/angular-bootstrap/ui-bootstrap-csp.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/bower_components/font-awesome/css/font-awesome.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/bower_components/angular-dual-multiselect-directive/dualmultiselect.css}"/>
      <!-- Start Theme Layout Style
         =====================================================================-->
      <!-- Theme style -->
      <link th:href="@{/assets/dist/css/stylecrm.css}" rel="stylesheet" type="text/css"/>
      <!-- Theme style rtl -->
      <!--<link href="assets/dist/css/stylecrm-rtl.css" rel="stylesheet" type="text/css"/>-->
      <link rel="stylesheet" th:href="@{/assets/themes/weareinnov/src/css/fonts.css}" />
      <!-- End Theme Layout Style
         =====================================================================-->
         
         
    
      
      

	
	
	   <!-- /.wrapper -->
      <!-- Start Core Plugins
         =====================================================================-->
      <!-- jQuery -->
      <script th:src="@{/assets/plugins/jQuery/jquery-1.12.4.min.js}" type="text/javascript"></script>
      <!-- jquery-ui --> 
      <script th:src="@{/assets/plugins/jquery-ui-1.12.1/jquery-ui.min.js}" type="text/javascript"></script>
      <!-- Bootstrap -->
      <script th:src="@{/assets/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
      <script th:src="@{/assets/bootstrap/js/bootstrap-filestyle.min.js}" type="text/javascript"></script>

      <!-- lobipanel -->
      <script th:src="@{/assets/plugins/lobipanel/lobipanel.min.js}" type="text/javascript"></script>
      <!-- Pace js -->
      <script th:src="@{/assets/plugins/pace/pace.min.js}" type="text/javascript"></script>
      <!-- SlimScroll -->
      <script th:src="@{/assets/plugins/slimScroll/jquery.slimscroll.min.js}" type="text/javascript">    </script>
      
      
      
      <!-- CRMadmin frame -->
      <script th:src="@{/assets/dist/js/custom.js}" type="text/javascript"></script>
      <!-- End Core Plugins
         =====================================================================-->
      <!-- Start Page Lavel Plugins
         =====================================================================-->
      <!-- ChartJs JavaScript -->
      <script th:src="@{/assets/plugins/chartJs/Chart.min.js}" type="text/javascript"></script>
      <!-- Counter js -->
      <script th:src="@{/assets/plugins/counterup/waypoints.js}" type="text/javascript"></script>
      <script th:src="@{/assets/plugins/counterup/jquery.counterup.min.js}" type="text/javascript"></script>
      <!-- Monthly js -->
      <script th:src="@{/assets/plugins/monthly/monthly.js}" type="text/javascript"></script>
      <!-- End Page Lavel Plugins
         =====================================================================-->
      <!-- Start Theme label Script
         =====================================================================-->
      <!-- Dashboard js -->
      <script th:src="@{/assets/dist/js/dashboard.js}" type="text/javascript"></script>
      <!-- End Theme label Script
         =====================================================================-->  
         
      		<script th:src="@{/bower_components/angular/angular.js}"></script>
				<script th:src="@{/bower_components/angular-route/angular-route.js}"></script>
				<script th:src="@{/bower_components/angular-ui-router/release/angular-ui-router.js}"></script>
				<script th:src="@{/bower_components/angular-resource/angular-resource.js}"></script>
				<script th:src="@{/bower_components/angular-animate/angular-animate.js}"></script>
				<script th:src="@{/bower_components/angular-aria/angular-aria.js}"></script>
				<script th:src="@{/bower_components/angular-messages/angular-messages.js}"></script>
				<script th:src="@{/bower_components/angular-sanitize/angular-sanitize.js}"></script>
				<script th:src="@{/bower_components/angular-touch/angular-touch.js}"></script>
				<script th:src="@{/bower_components/angular-bootstrap/ui-bootstrap.js}"></script>
				<script th:src="@{/bower_components/angular-bootstrap/ui-bootstrap-tpls.js}"></script>
				<script th:src="@{/bower_components/angular-cookies/angular-cookies.js}"></script>
				<script th:src="@{/bower_components/ng-idle/angular-idle.js}"></script>
				<script th:src="@{/bower_components/angular/i18n/angular-locale_th-th.js}"></script>
<!-- 				<script th:src="@{/bower_components/jquery/dist/jquery.js}"></script> -->
<!-- 				<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.js}"></script> -->
				<script th:src="@{/bower_components/jquery-placeholder/jquery.placeholder.js}"></script>
				<script th:src="@{/bower_components/select2/select2.js}"></script>
				<script th:src="@{/bower_components/angucomplete/angucomplete.js}"></script>
<!-- 				<script th:src="@{/lib/bootstrap/datepicker/js/bootstrap-datepicker-thai.js}"></script> -->
				

				<script th:src="@{/bower_components/directive/datepicker/datepicker.js}"></script>
				<script th:src="@{/bower_components/angular-material/angular-material.js}"></script>
				<script th:src="@{/bower_components/angular-dual-multiselect-directive/dualmultiselect.js}"></script>
				
				
								

	<!-- Custom JS -->
	<script type="text/javascript" th:utext="'var ctx = \'' + ${@baseUrlService.baseUrl} + '\';'" ></script>

	
	<!-- Custom JS  AngularJS-->
	<script th:src="@{/js/provider/httpProvider.js}"></script>


         
         
         
   </head>
<body class="hold-transition sidebar-mini">
<!-- 	<header class="main-header"> -->
<!-- 		<div th:include="layouts/main-menu"></div> -->
		<div th:replace="layouts/header2 :: header2"></div>
<!-- 	</header> -->
<!-- 	<div th:replace="layouts/main-menu :: main-menu"></div> -->
	

				<section layout:fragment="content"></section>

			         <!-- /.content-wrapper -->
         <footer class="main-footer-regis">
            &copy; สงวนสิทธิ์โดย กรมบัญชีกลาง กระทรวงการคลัง พ.ศ. 2559 ถนนพระราม6 แขวงสามเสนใน เขตพญาไท กรุงเทพ 10400
				Callcenter โทร 02-127-7000, 02-270-6400
         </footer>

  

</body>
</html>