<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta name="description" content=""/>
      <meta name="keywords" content=""/>
</head>	
	
	<div th:fragment="main-menu">
		<!-- Left side column. contains the sidebar -->

         <aside class="main-sidebar">
            <!-- sidebar -->
            <div class="sidebar">
               <!-- sidebar menu -->
               <ul class="sidebar-menu">
                  <li class="active"  sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000002'))}">
                     <a href="#">
                     	<i class="fa fa-tachometer"></i>
                     	<span>หน้าแรก</span>
                     	<span class="pull-right-container"></span>
                     </a>
                  </li>
                  
                  
                  <li class="treeview">
                     <a href="#">
                     	  <div class="fa fa-user"></div><span>จัดการข้อมูลส่วนตัว</span>
	                     <span class="pull-right-container">
	                     	<i class="fa fa-angle-right pull-right"></i>
	                     </span>
                     </a>
                     <ul class="treeview-menu">
                       <li><a th:href="@{/changerProfile/}">ข้อมูลส่วนตัว</a></li>
                     </ul>
                     <ul class="treeview-menu">
                       <li><a th:href="@{/changePassword/}">แก้ไขรหัสผ่าน</a></li>
                     </ul>                     
                     
                     <ul class="treeview-menu">
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000012'))}">
                        	<a th:href="@{/paymentController/paymentList}">รายการรอชำระเงิน</a>
                        </li>
                     </ul>
                     <ul class="treeview-menu">
                       <li><a th:href="@{/admin/request-user-permission-group}">เพิ่ม-ยกเลิกสิทธิ์การใช้งาน</a></li>
                     </ul>
                  </li>
                  
                  
                  
                  <li class="treeview" sec:authorize="${hasAnyRole(@menuRoleService.getPermission('CTL'))}">
                     <a href="#">
                     <div class="icon icon-hom"></div><span>จัดการรายการบริการ</span>
                     <span class="pull-right-container">
                     <i class="fa fa-angle-right pull-right"></i>
                     </span>
                     </a>
                     <ul class="treeview-menu">
                       <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('CTL10000'))}" ><a th:href="@{/manageCatalogController/search}">จัดการรายการรับชำระ</a></li>
                      	<li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('CTL40000'))}"><a th:href="@{/manageInvoice/search}">จัดการใบแจ้งการชำระเงิน</a></li>
                      	<li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('CTL60000'))}" ><a th:href="@{/manageInvoice/import-invoice}">นำเข้าใบแจ้งการชำระ</a></li>
                      	 <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('CTL50000'))}"><a th:href="@{/manageInvoice/create}">เพิ่มใบแจ้งรับชำระ</a></li>
                      	 <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('CTL51000'))}"><a th:href="@{/manageCatalogController/create}">เพิ่มรายการรับชำระ</a></li>
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000010'))}"><a th:href="@{/paymentController/Payment}">ชำระเงิน</a></li>
                       <!--<li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000011'))}"><a th:href="@{/receiptController/searchGov}">ค้นหาใบเสร็จรับเงิน</a></li>
                         <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000013'))}"><a th:href="@{/paymentHistoryController/paymentHistory}">รายการประวัติการชำระเงิน</a></li> -->
                     </ul>
                  </li>
                  

                   <li class="treeview" sec:authorize="${hasAnyRole(@menuRoleService.getPermission('PAY'))}">
                     <a href="">
                     <div class="icon icon-hom"></div><span>รับชำระค่าบริการ</span>
                     <span class="pull-right-container">
                     <i class="fa fa-angle-right pull-right"></i>
                     </span>
                     </a>
                  </li>
                  <li class="treeview" sec:authorize="${hasAnyRole(@menuRoleService.getPermission('CHK'))}">
                     <a href="#">
                     <div class="icon icon-bank"></div><span>ตรวจสอบการชำระเงิน</span>
                     <span class="pull-right-container">
                     <i class="fa fa-angle-right pull-right"></i>
                     </span>
                     </a>
                     <ul class="treeview-menu" sec:authorize="${hasAnyRole(@menuRoleService.getPermission('CHK10000'))}">
                        <li><a th:href="@{/monitorRealTime/search}">การตรวจสอบข้อมูลแบบ real time</a></li>
                     </ul>
                  </li>
                   <li class="treeview" sec:authorize="${hasAnyRole(@menuRoleService.getPermission('SGF'))}">
                     <a href="#">
                     <div class="icon icon-hom"></div><span>รับและนำส่งเงิน</span>
                     <span class="pull-right-container">
                     <i class="fa fa-angle-right pull-right"></i>
                     </span>
                     </a>
                  </li>
                  <li class="treeview" sec:authorize="${hasAnyRole(@menuRoleService.getPermission('REV'))}">
                     <a href="#">
                     <div class="icon icon-hom"></div><span>ใบเสร็จรับเงิน</span>
                     <span class="pull-right-container">
                     	<i class="fa fa-angle-right pull-right"></i>
                     </span>
                     </a>
  					<ul class="treeview-menu" sec:authorize="${hasAnyRole(@menuRoleService.getPermission('REV'))}">
						<li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('REV10000'))}"><a th:href="@{/receiptController/searchGov}">ค้นหาใบเสร็จรับเงิน</a></li>
<!-- 						<li><a th:href="@{/receiptController/searchWeb}"><h4>ค้นหาใบเสร็จรับเงิน  สำหรับประชาชน</h4></a></li>  -->
<!-- 						<li><a th:href="@{/}">พิมพ์ใบเสร็จรับเงิน</a></li> -->
						<li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('REV40000'))}"><a th:href="@{/}">ตรวจสอบใบเสร็จรับเงิน</a></li>
                     </ul>
                  </li>

                  <li class="treeview" sec:authorize="${hasAnyRole(@menuRoleService.getPermission('RPT'))}">
                     <a href="#">
                     <div class="icon icon-slip"></div><span>ออกรายงาน</span>
                     <span class="pull-right-container">
                     <i class="fa fa-angle-right pull-right"></i>
                     </span>
                     </a>
                     <ul class="treeview-menu" sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000023'))}">
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000024'))}"><a th:href="@{/reportController/rpt-20001}">Report-20001</a></li>
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000025'))}"><a th:href="@{/reportController/rpt-20002}">Report-20002</a></li>
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000026'))}"><a th:href="@{/reportController/rpt-30001}">Report-30001</a></li>
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000027'))}"><a th:href="@{/reportController/rpt-30002}">Report-30002</a></li>
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000028'))}"><a th:href="@{/reportController/rpt-30003}">Report-30003</a></li>
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000029'))}"><a th:href="@{/reportController/rpt-30004}">Report-30004</a></li>
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000030'))}"><a th:href="@{/reportController/rpt-30005}">Report-30005</a></li>
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000031'))}"><a th:href="@{/reportController/rpt-30007}">Report-30007</a></li>
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000032'))}"><a th:href="@{/reportController/rpt-40001}">Report-40001</a></li>
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000033'))}"><a th:href="@{/reportController/rpt-70001}">Report-70001</a></li>
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000034'))}"><a th:href="@{/reportController/rpt-70002}">Report-70002</a></li>
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000035'))}"><a th:href="@{/reportController/rpt-70003}">Report-70003</a></li>
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000036'))}"><a th:href="@{/reportController/rpt-70006}">Report-70006</a></li>
                     </ul>
                  </li>
                  <li class="treeview" sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000037'))}">
                     <a href="#">
                     <div class="icon icon-chart"></div><span>ผู้ดูแลระบบ</span>
                     <span class="pull-right-container">
                     <i class="fa fa-angle-right pull-right"></i>
                     </span>
                     </a>
                     <ul class="treeview-menu" sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000038'))}">
                         <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000043'))}"><a th:href="@{/admin/program}">จัดการโปรแกรม</a></li>           
                         <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000040'))}"><a th:href="@{/admin/permission-group}">จัดการกลุ่มสิทธิ์</a></li>
                         <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000041'))}"><a th:href="@{/admin/permission-group/map}">กำหนดโปรแกรมให้กลุ่มสิทธิ์</a></li>
                         <li ><a th:href="@{/userInfoController/approve}">อนุมัติผู้ใช้งาน</a></li>
                         <li ><a th:href="@{/userInfoController/info}">จัดการสถานะการใช้งาน</a></li>            
                        <!-- <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000039'))}"><a th:href="@{/admin/user-permission-group}">จัดการกลุ่มสิทธิ์ผู้ใช้งาน</a></li>  -->
                        <!--  <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000042'))}"><a th:href="@{/admin/permission-group/add}">เพิ่มกลุ่มสิทธิ์</a></li>  -->
                        <!--   <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000044'))}"><a th:href="@{/admin/program/view}">เพิ่มโปรแกรม</a></li>  -->
                        
                     </ul>
                  </li>
                  <li class="treeview" sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000045'))}">
                     <a href="#">
                     <div class="icon icon-setting"></div><span>จัดการข้อมูลพื้นฐาน</span>
                     <span class="pull-right-container">
                     <i class="fa fa-angle-right pull-right"></i>
                     </span>
                     </a>
                     <ul class="treeview-menu" sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000046'))}">
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000047'))}"><a th:href="@{/master2/standard-revernue-view}">ประเภทรายได้</a></li>
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000048'))}"><a th:href="@{/master2/standard-revernue-gl-view}">รหัสรายได้และ GL</a></li>
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000049'))}"><a th:href="@{/master2/gl-view}">บัญชีแยกประเภท</a></li>
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000050'))}"><a th:href="@{/master2/cost-center-view}">หน่วยงานจัดเก็บรายได้แผ่นดิน</a></li>
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000051'))}"><a th:href="@{/master2/money-source-view}">แหล่งของเงิน</a></li>
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000052'))}"><a th:href="@{/master2/account-deposit-view}">บัญชีเงินฝาก</a></li>
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000053'))}"><a th:href="@{/master2/disbursement-unit-view}">หน่วยเบิกจ่าย</a></li>
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000054'))}"><a th:href="@{/master2/business-area-view}">พื้นที่ GFMIS</a></li>
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000055'))}"><a th:href="@{/master2/department-view}">หน่วยงาน</a></li>
                        <li sec:authorize="${hasAnyRole(@menuRoleService.getPermission('M000056'))}"><a th:href="@{/master2/province-view}">รหัสจังหวัด /พื้นที่</a></li>
                     </ul>
                  </li>
               </ul>
            </div>
            <!-- /.sidebar -->
         </aside>
	</div>
</html>
