<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd">
<head>
	<title>ระบบความรับผิดทางละเมิดและแพ่ง</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<!-- Font Style -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/fonts/THSarabunNew/styles.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/fonts/THSarabunNew-Bold/styles.css}" />
	
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/bower_components/select2-bootstrap-css/select2-bootstrap.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/bower_components/angucomplete/angucomplete.css}" />
	<!-- 	Angular CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/bower_components/angular-material/angular-material.css}" />
	<!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" th:href="@{/bower_components/angular-bootstrap/ui-bootstrap-csp.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/bower_components/font-awesome/css/font-awesome.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/bower_components/angular-dual-multiselect-directive/dualmultiselect.css}"/>
	<!-- Plug-In CSS -->

<!-- 	AngularJS -->
		<script th:src="@{/bower_components/angular/angular.js}"></script>
				<script th:src="@{/bower_components/angular-route/angular-route.js}"></script>
				<script th:src="@{/bower_components/angular-ui-router/release/angular-ui-router.js}"></script>
				<script th:src="@{/bower_components/angular-resource/angular-resource.js}"></script>
				<script th:src="@{/bower_components/angular-animate/angular-animate.js}"></script>
				<script th:src="@{/bower_components/angular-aria/angular-aria.js}"></script>
				<script th:src="@{/bower_components/angular-messages/angular-messages.js}"></script>
				<script th:src="@{/bower_components/angular-sanitize/angular-sanitize.js}"></script>
				<script th:src="@{/bower_components/angular-touch/angular-touch.js}"></script>
				<script th:src="@{/bower_components/angular-bootstrap/ui-bootstrap.js}"></script>
				<script th:src="@{/bower_components/angular-bootstrap/ui-bootstrap-tpls.js}"></script>
				<script th:src="@{/bower_components/angular-cookies/angular-cookies.js}"></script>
				<script th:src="@{/bower_components/ng-idle/angular-idle.js}"></script>
				<script th:src="@{/bower_components/jquery/dist/jquery.js}"></script>
				<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.js}"></script>
				<script th:src="@{/bower_components/jquery-placeholder/jquery.placeholder.js}"></script>
				<script th:src="@{/bower_components/select2/select2.js}"></script>
				<script th:src="@{/bower_components/angucomplete/angucomplete.js}"></script>
				<script th:src="@{/bower_components/directive/datepicker/datepicker.js}"></script>
				<script th:src="@{/bower_components/angular-material/angular-material.js}"></script>
				<script th:src="@{/bower_components/angular-dual-multiselect-directive/dualmultiselect.js}"></script>

				
	<!-- My CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	<!-- Custom JS -->
	<script type="text/javascript" th:utext="'var ctx = \'' + ${@baseUrlService.baseUrl} + '\';'" ></script>
	<script th:src="@{/js/wisesoft.js}"></script>
	<script th:src="@{/js/util.js}"></script>
	<script th:src="@{/js/cgd.core.js}"></script>
	<script th:src="@{/js/cgd.loading.js}"></script>
	<script th:src="@{/js/paging.js}"></script>
	<script th:src="@{/js/event.js}"></script>
	<script src="" th:src="@{/js/events2.js}"></script>
	<th:block th:utext="'&lt;!--[if lt IE 10]&gt;'"></th:block>
	<script th:src="@{/js/event2ForIE9.js}"></script>
	<th:block th:utext="'&lt;![endif]--&gt;'"></th:block>
	<script th:src="@{/js/common-document.js}"></script>
	
	<!-- Custom JS  AngularJS-->
	<script th:src="@{/js/provider/httpProvider.js}"></script>

 	<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/home_icon.png}"  />
 
 </head>
<body class="main-bg">
	<header>
		<div th:include="layouts/main-menu"></div>
	</header>
<!-- 	<div th:include="views/common/message"></div> -->
	<div class="row">
		<div class="col-md-12">
			<div class="container">
				<div th:include="layouts/navigate"></div>
				<section layout:fragment="content"></section>
			</div>
		</div>
	</div>
	<footer class="site-footer">
		<div>สงวนสิทธิ์โดย กรมบัญชีกลาง กระทรวงการคลัง พ.ศ. 2559</div>
		<div>ถนนพระราม 6 แขวงสามเสนใน เขตพญาไท กรุงเทพฯ 10400</div> 
		<div>Call Center โทร 02-127-7000, 02-270-6400</div>
	</footer>
	<div id="loadingBox" style="display: none;"></div>
</body>
</html>