<th:block xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<th:block th:fragment="NavigateLink">
		<ul class="breadcrumb navigate">
		  <li>
		  	<span><i class="fa fa-home"></i>&nbsp;<a th:href="@{/}">หน้าแรก</a></span>
		  </li>
		   <li>
		  	<span><i class="fa fa-code"></i>&nbsp;<a th:href="@{/exampleController/viewPage}">Example Code</a></span>
		  </li>
		   <li>
		  	<span><i class="fa fa-code"></i>&nbsp;<a th:href="@{/exampleController/viewPage2}">Example Code AngularJS</a></span>
		  </li>
		   <li>
		  	<span><i class="fa fa-code"></i>&nbsp;<a th:href="@{/exampleController/bootstrapHeading}">Example Bootstrap heading</a></span>
		  </li>
		    <li>
		  	<span><i class="fa fa-code"></i>&nbsp;<a th:href="@{/paymentController/Payment}">Payment</a></span>
		  </li>
		  <li>
		  	<span><i class="fa fa-code"></i>&nbsp;<a th:href="@{/paymentController/paymentList}">Payment List</a></span>
		  </li>
		  <li>
		  	<span><i class="fa fa-code"></i>&nbsp;<a th:href="@{/paymentHistoryController/paymentHistory}">Payment History</a></span>
		  </li>
		  <li th:each="n : ${navigator}">
	      	<span th:if="${n.menu}=='javascript:void(0);'" th:text="${n.menuName}"></span>
	      	<span th:unless="${n.menu}=='javascript:void(0);'"><a th:href="@{${n.url}}" th:text="${n.menuName}"></a></span>
	      </li>	
	       <li>
		  	<span><i class="fa fa-code"></i>&nbsp;<a th:href="@{/manageInvoice/search}">search Invoice</a></span>
		  </li>
		   <li>
		  	<span><i class="fa fa-code"></i>&nbsp;<a th:href="@{/manageInvoice/create}">create Invoice</a></span>
		  </li>
		  <li>
		  	<span><i class="fa fa-code"></i>&nbsp;<a th:href="@{/manageCatalogController/search}">search Catalog</a></span>
		  </li>
		  <li>
		  	<span><i class="fa fa-code"></i>&nbsp;<a th:href="@{/manageCatalogController/create}">create Catalog</a></span>
		  </li>
		  <li>
		  	<span><i class="fa fa-code"></i>&nbsp;<a th:href="@{/master2/standard-revernue-gl-view}">StdRevGl</a></span>
		  </li>
		  <li>
		  	<span><i class="fa fa-code"></i>&nbsp;<a th:href="@{/master2/gl-view}">Gl</a></span>
		  </li>
		  <li>
		  	<span><i class="fa fa-code"></i>&nbsp;<a th:href="@{/master2/cost-center-view}">CostCenter</a></span>
		  </li>
		  <li>
		  	<span><i class="fa fa-code"></i>&nbsp;<a th:href="@{/master2/money-source-view}">MoneySource</a></span>
		  </li>
		  <li>
		  	<span><i class="fa fa-code"></i>&nbsp;<a th:href="@{/master2/account-deposit-view}">AccDeposit</a></span>
		  </li>
		  <li>
		  	<span><i class="fa fa-code"></i>&nbsp;<a th:href="@{/master2/disbursement-unit-view}">Disbursement</a></span>
		  </li>
		  <li>
		  	<span><i class="fa fa-code"></i>&nbsp;<a th:href="@{/monitorRealTime/search}">MonitorRealTime</a></span>
		  </li>
			<li>
				<span><i class="fa fa-code"></i>&nbsp;<a th:href="@{/admin/permission-group}">permission-group-list</a></span>
			</li>
			<li>
				<span><i class="fa fa-code"></i>&nbsp;<a th:href="@{/admin/program}">program-list</a></span>
			</li>
			<li>
				<span><i class="fa fa-code"></i>&nbsp;<a th:href="@{/reportController/rpt-30001}">Report-30001</a></span>
			</li>
	  	  <div th:if="${session.userSession ne null} and ${session.userSession.user.lastLogin}" class="pull-right visible-lg visible-md visible-sm">เข้าสู่ระบบครั้งล่าสุด <span th:text="${#calendars.format(session.userSession.user.lastLogin, #messages.msg('civil.datetimeformat'))}"></span></div>
	  	  <div th:if="${session.userSession ne null} and ${session.userSession.user.lastLogin}" class="pull-right visible-xs"><span th:text="${#calendars.format(session.userSession.user.lastLogin, #messages.msg('civil.datetimeformat'))}"></span></div>
		</ul>
	</th:block>
</th:block>