<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title th:text="#{rpt.70004.title}"></title>

<!-- My JS -->
<script th:src="@{/js/report/rpt-70004/rpt-70004.js}"></script>



</head>
<body layout:fragment="content">
<div ng-app="Rpt-70004" class="content-wrapper">
   <div class="wrapper" ng-controller="rpt-70004-main">
		<section class="panel form-wizard" id="w4">
			<div class="panel-custom head-panel">
				<div class="panel-heading">
					<div class="panel-title">
						<h4 th:text="#{rpt.70004.header}"></h4>
					</div>
				</div>

				<div class="panel-body" layout="row" layout-align="center center">
					<div class="container-fluid">
						<div class="col-sm-10 col-sm-offset-1">
							<form class="form-horizontal" ng-submit="exportPdf(criteria)">

								<div class="form-group row-no-padding">
									<label class="control-label col-sm-2" for="email">กระทรวง :</label>
									<div class="col-sm-6">
										<select class="form-control" ng-model="criteria.ministryId" ng-change="getDepartmentByMinistryId(criteria.ministryId)"
											ng-options="item.id as (item.desc+' ' + item.desc2) for item in ministryList">
											<option value="">--ทั้งหมด--</option>
										</select>
									</div>
								</div>

								<div class="form-group row-no-padding">
									<label class="control-label col-sm-2" for="email">กรม :</label>
									<div class="col-sm-6">
										<select class="form-control" ng-model="criteria.departmentId"
											ng-options="item.id as (item.desc+' ' + item.desc2) for item in departmentList">
											<option value="">--ทั้งหมด--</option>
										</select>
									</div>
								</div>

								<div class="form-group row-no-padding">
									<label class="control-label col-sm-2" for="email">หน่วยเบิกจ่าย :</label>
									<div class="col-sm-6">
										<select class="form-control" ng-model="criteria.disbursementUnitId"
											ng-options="item.id as item.desc2 for item in disbursementUnitList">
											<option value="">--ทั้งหมด--</option>
										</select>
									</div>
								</div>
								<div class="form-group row-no-padding">
									<label class="control-label col-sm-2" for="email">ศูนย์ต้นทุน :</label>
									<div class="col-sm-6">
										<select class="form-control" ng-model="criteria.costCenterId"
											ng-options="item.id as item.desc for item in costCenterList">
											<option value="">--ทั้งหมด--</option>
										</select>
									</div>
								</div>
								<div class="form-group row-no-padding">
									<label class="control-label col-sm-2"></label>
									<div class="col-sm-6">
										<label class="radio-inline">
											<input type="radio" ng-model="criteria.rptType" value="1" disabled="disabled" /> รายวัน
										</label>
										<label class="radio-inline">
											<input type="radio" ng-model="criteria.rptType" value="2"  /> รายเดือน
										</label>
										<label class="radio-inline">
											<input type="radio" ng-model="criteria.rptType" value="3" disabled="disabled" /> รายปี							
										</label>
									</div>
								</div>
								<div class="form-group row-no-padding">
									<fieldset ng-disabled="true"> 
										<label class="control-label col-sm-2" for="email">วันที่ : </label>
										<div class="col-sm-3">
											<p class="input-group">
												<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.startDate" is-open="popup_D1.opened" datepicker-options="dateOptions_D1" ng-required="true" close-text="Close" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="open_popup_D1()"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
											</p>
										</div>
										<label class="control-label col-sm-2" for="email">ถึงวันที่ : </label>
										<div class="col-sm-3">
											<p class="input-group">
												<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.endDate" is-open="popup_D2.opened" datepicker-options="dateOptions_D2" ng-required="true" close-text="Close" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="open_popup_D2()"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
											</p>
										</div>
									</fieldset>
								</div>
								<div class="form-group row-no-padding">
									<fieldset ng-disabled="true"> 
										<label class="control-label col-sm-2" for="email">เดือน : </label>
										<div class="col-sm-3">
											<p class="input-group">
												<input type="text" class="form-control" uib-datepicker-popup="MM/yyyy" ng-model="criteria.startMonth" is-open="popup_M1.opened" datepicker-options="dateOptions_M1" ng-required="true" close-text="Close" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="open_popup_M1()"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
											</p>
										</div>
										<label class="control-label col-sm-2" for="email">ถึงเดือน : </label>
										<div class="col-sm-3">
											<p class="input-group">
												<input type="text" class="form-control" uib-datepicker-popup="MM/yyyy" ng-model="criteria.endMonth" is-open="popup_M2.opened" datepicker-options="dateOptions_M2" ng-required="true" close-text="Close" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="open_popup_M2()"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
											</p>
										</div>
									</fieldset>
								</div>
								<div class="form-group row-no-padding">
									<fieldset> 
										<label class="control-label col-sm-2" for="email">ปีงบประมาณ : </label>
										<div class="col-sm-3">
											<p class="input-group">
												<input type="text" class="form-control" uib-datepicker-popup="yyyy" ng-model="criteria.startYear" is-open="popup_Y1.opened" datepicker-options="dateOptions_Y1" ng-required="true" close-text="Close" />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="open_popup_Y1()"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
											</p>
										</div>
										<label class="control-label col-sm-2" for="email">ถึงปีงบประมาณ : </label>
										<div class="col-sm-3">
											<p class="input-group">
												<input type="text" class="form-control" uib-datepicker-popup="yyyy" ng-model="criteria.endYear" is-open="popup_Y2.opened" datepicker-options="dateOptions_Y2" ng-required="true" close-text="Close" disabled="disabled"  />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="open_popup_Y2()" disabled="disabled" ><i class="glyphicon glyphicon-calendar" ></i></button>
												</span>
											</p>
										</div>
									</fieldset>
								</div>
											
								<div class="form-group row-no-padding">
									<label class="control-label col-sm-2"></label>
									<div class="col-sm-8">
										<label class="radio-inline">
											<input type="radio" ng-model="criteria.reportType" value="PDF" />PDF
										</label> 
										<label class="radio-inline"> 
											<input type="radio" ng-model="criteria.reportType"  value="EXCEL"/>EXCEL
										</label>
									</div>
								</div>			
								<div class="form-group row-no-padding">
									<label class="control-label col-sm-2"></label>
									<div class="col-sm-8">
										<button type="submit" class="btn btn-info btn-style"><i class="glyphicon glyphicon-search"></i> ออกรายงาน</button>
										<button type="reset" class="btn gey-light btn-style"><i class="glyphicon glyphicon-refresh"></i> ล้างข้อมูล</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	</div>

</body>
</html>
