<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>Search Catalog</title>

<!-- My JS -->
<script th:src="@{/js/manageCatalog/ctl10000-search.js}"></script>
</head>
<body layout:fragment="content">
	<div ng-app="ctl10000SearchApp" class="content-wrapper">
		<div class="wrapper" ng-controller="ctl10000SearchCtrl">
			<div class="sidebar-nav">
				<div class="nav-canvas">
					<div class="nav-sm nav nav-stacked"></div>
				</div>
			</div>

			<div class="panel panel-custom head-panel">
				<div class="panel-heading">
					<h2 class="panel-title">จัดการรายการรับชำระ</h2>
				</div>
				<div class="panel-body">
					<!-- criteria search -->
					<div class="form-group">
						<!-- row1 -->
						<div class="row row-no-padding">
							<div
								class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">
								หน่วยงาน <span class="red">*</span> :</div>
							<div class="col-sm-3 col-md-3">
								<select class="form-control col-md-3"
									ng-model="criteria.departmentId"
									ng-options="list.id as list.desc for list in deptList">
									<option value="">ทั้งหมด</option>
								</select>
							</div>
						</div>
						<!-- row2 -->
						<div class="row row-no-padding">
							<div
								class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">สถานะการใช้งาน
								:</div>
							<div class="col-sm-3 col-md-3">
								<select class="form-control" ng-model="criteria.statusUse"
									ng-options="list.id as list.desc for list in statusUseList">
									<option value="">ทั้งหมด</option>
								</select>
							</div>
							<div
								class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right ">หมวดบริการ
								:</div>
							<div class="col-sm-3 col-md-3">
								<select class="form-control" ng-model="criteria.catalogTypeId"
									ng-options="list.id as list.desc for list in mCatalogList">
									<option value="">ทั้งหมด</option>
								</select>
							</div>
						</div>
						<!-- row3 -->
						<div class="row row-no-padding">
							<div
								class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">ประเภทการจัดเก็บ
								:</div>
							<div class="col-sm-3 col-md-3">
								<select class="form-control" ng-model="criteria.revenueTypeId"
									ng-options="list.id as list.desc for list in mRevenueTypeList">
									<option value="">ทั้งหมด</option>
								</select>
							</div>
							<div
								class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right ">รายการรับชำระ
								:</div>
							<div class="col-sm-3 col-md-3">
								<input type="text" class="form-control"
									ng-model="criteria.catalogName" required="required" />
							</div>
						</div>
						<!-- row4 -->
						<div class="row row-no-padding">
							<div
								class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">วันที่เริ่มใช้งาน
								จาก :</div>
							<datepicker-dir class="col-md-3 col-sm-3 col-xs-11"
								ng-model="criteria.dateStartForm" format-date="dd/MM/yyyy"></datepicker-dir>
							<div
								class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right ">ถึง
								:</div>
							<datepicker-dir class="col-md-3 col-sm-3 col-xs-11"
								ng-model="criteria.dateStartTo" format-date="dd/MM/yyyy"></datepicker-dir>
						</div>
						<!-- row5 -->
						<div class="row row-no-padding">
							<div
								class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">วันที่สิ้นสุด
								จาก :</div>
							<datepicker-dir class="col-md-3 col-sm-3 col-xs-11"
								ng-model="criteria.dateEndFrom" format-date="dd/MM/yyyy"></datepicker-dir>
							<div
								class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right ">ถึง
								:</div>
							<datepicker-dir class="col-md-3 col-sm-3 col-xs-11"
								ng-model="criteria.dateEndTo" format-date="dd/MM/yyyy"></datepicker-dir>
						</div>
						<!-- row6 -->
						<div class="row row-no-padding">
							<div
								class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right "></div>
							<div class="col-md-3">
								<input id="checkBox" ng-model="pendingType" type="checkbox"></input>
								เฉพาะข้อมูลรอการปรับปรุง
							</div>
						</div>

					</div>

					<!-- button search -->
					<!-- row7 -->
					<div class="row">
						<div class="col-xs-12 col-md-12 text-center">
							<button type="button" id="searchBtn"
								class="btn btn-center btn-primary btn-style"
								ng-click="search();">
								<span class="glyphicon glyphicon-search"></span> ค้นหา
							</button>
							<button type="button" id="searchBtn"
								class="btn btn-center btn-primary btn-style"
								ng-click="clearData();">
								<span class="glyphicon glyphicon-refresh"></span> ล้างข้อมูล
							</button>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<button type="button" id="searchBtn" th:if="${button.excel}"
								class="btn btn-primary btn-style"
								ng-click="exportExcel(selectItem);">
								<span class="glyphicon glyphicon-print"></span> Export Excel
								File
							</button>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">

							<div class="col-xs-6 col-sm-4 col-md-6 text-right">
								<span>แสดงหน้าละ&nbsp;</span>
							</div>
							<div class="col-xs-3 col-sm-4 col-md-3">
								<select class="form-control" ng-model="perPages"
									ng-change="pageChanged()"
									ng-options="selectedItem as selectedItem for selectedItem in values">
								</select>
							</div>
							<div class="col-xs-1 col-sm-2 col-sm-3">
								<span>&nbsp;รายการ</span>
							</div>

						</div>
					</div>

					<!-- search result -->
					<div class="box-body table-responsive ">
						<table id="example2" class="table table-bordered table-hover">
							<thead>
								<tr>
									<th><input id="checkBox" type="checkbox"
										ng-model="isSelectAll" ng-init="isSelectAll = false"
										ng-change="selectAll(isSelectAll)"></input>
									</th>
									<th class="text-center">
										<a href="" ng-click="orderFunction('catalogCode')"> 
											<span>รหัส Catalog</span> 
											<span ng-show="checkField('catalogCode')"> 
												<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
												<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a>
									</th>
									<th class="text-center">
										<a href="" ng-click="orderFunction('catalogName')"> 
											<span>รายการรับชำระ</span>
											<span ng-show="checkField('catalogName')"> 
												<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
												<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a>
									</th>
									<th class="text-center">
										<a href="" ng-click="orderFunction('version')"> 
											<span>เวอร์ชั่น</span>
											<span ng-show="checkField('version')"> 
												<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
												<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a>
									</th>
									<th class="text-center">
										<a href="" ng-click="orderFunction('revenueTypeName')"> 
											<span>ประเภทการจัดเก็บ</span>
											<span ng-show="checkField('revenueTypeName')"> 
												<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
												<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a>
									</th>
									<th class="text-center">
										<a href="" ng-click="orderFunction('catalogTypeName')"> 
											<span>หมวดบริการ</span>
											<span ng-show="checkField('catalogTypeName')"> 
												<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
												<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a>
									</th>
									<th class="text-center">
										<a href="" ng-click="orderFunction('statusUse')"> 
											<span>สถานะการใช้งาน</span>
											<span ng-show="checkField('statusUse')"> 
												<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
												<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a>
									</th>
									<th class="text-center">
										<a href="" ng-click="orderFunction('statusApprove')"> 
											<span>สถานะการอนุมัติ</span>
											<span ng-show="checkField('statusApprove')"> 
												<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
												<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a>
									</th>
									<th class="text-center">
										<a href="" ng-click="orderFunction('startDate')"> 
											<span>วันที่เริ่มต้นใช้งาน</span>
											<span ng-show="checkField('startDate')"> 
												<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
												<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a>
									</th>
									<th class="text-center">
										<a href="" ng-click="orderFunction('endDate')"> 
											<span>วันที่สิ้นสุดใช้งาน</span>
											<span ng-show="checkField('endDate')"> 
												<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
												<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a>
									</th>
									<th class="text-center">
										<a href="" ng-click="orderFunction('statusUpdate')"> 
											<span>รอปรับปรุง</span>
											<span ng-show="checkField('statusUpdate')"> 
												<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
												<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a>
									</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr
									ng-repeat="data in sliceCatalogTempList | orderBy:orderByField:reverseSort">
									<td><input ng-model="$index" type="checkbox"
										ng-checked="isDelete(data.id) > -1"
										ng-click="selectToDel(data)"></input></td>
									<td class="text-center">{{data.catalogCode}}</td>
									<td class="text-center">{{data.catalogName}}</td>
									<td class="text-center">{{data.version}}</td>
									<td class="text-center">{{data.revenueTypeName}}</td>
									<td class="text-center">{{data.catalogTypeName}}</td>
									<!-- 																ng-bind="cslocal == 'th' ? data.itemNameTH : (cslocal == 'cn' ? data.itemNameCN : data.itemName)"></span> -->
									<td class="text-center">{{data.statusUse == 0 ?
										'บันทึกร่าง':(data.statusUse == 1 ? 'ใช้งาน' : 'พักใช้งาน')}}</td>
									<td class="text-center">{{data.statusApprove == 0 ?
										'รออนุมัติ':(data.statusApprove == 1 ? 'อนุมัติ' : 'ไม่อนุมัติ')}}</td>
									<td class="text-center">{{data.startDateStr}}</td>
									<td class="text-center">{{data.endDateStr}}</td>
									<td class="text-center"><i ng-if="data.statusUpdate == 2"
										class="fa fa-exclamation-triangle" style="color: #FF6D00"
										aria-hidden="true"></i> {{data.statusUpdate == 2 ? '':'-'}}</td>
									<td class="col-md-1 text-center text-nowrap">
										<span class="glyphicon-ring glyphicon-blue" th:if="${button.edit}">
											<span class="glyphicon glyphicon-edit"
												ng-click="editCatalog(data.id)">
											</span>
										</span> 
										<span class="glyphicon-ring glyphicon-red">
											<span class="glyphicon glyphicon-trash"
												ng-click="removeCatalogById(data.id,true);">
											</span>
										</span>
									</td>
								</tr>
								<tr ng-if="sliceCatalogTempList.length == 0">
									<td colspan="12" class="text-center">ไม่มีข้อมูล</td>
								</tr>
							</tbody>
						</table>
					</div>


					<!-- Pagination -->
					<div class="col-md-12 col-xs-12 text-right">

						<div layout="column">
							<ul uib-pagination="" total-items="totalItems"
								ng-model="currentPage" max-size="5" class="pagination-sm"
								items-per-page="perPages" boundary-links="true"
								num-pages="numPages" ng-change="pageChanged()"></ul>
						</div>
					</div>
					<br />


					<!-- button search -->
					<div class="form-group">
						<div class="row">
							<div class="col-xs-12 col-md-12 text-center ">
								<button type="button" id="searchBtn"
									class="btn btn-success btn-style" ng-click="addCatalogModal();">
									<span class="glyphicon glyphicon-floppy-save"></span> เพิ่ม
								</button>

								<button type="button" id="searchBtn"
									class="btn btn-danger btn-style"
									ng-click="deleteStructureItem(selectItem);">
									<span class="glyphicon glyphicon-trash"></span> ลบ
								</button>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</body>
</html>