<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	layout:decorator="layouts/main-template">
<head>
<base href="/"/>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>Create Catalog</title>

<!-- My JS -->
<script th:src="@{/js/manageCatalog/ctl20000-create.js}"></script>
<script th:inline="javascript">
	var catalog = [[${catalog}]];
</script>
</head>
<body layout:fragment="content">
<div ng-app="ctl20000CreateApp" class="content-wrapper">
   <div class="wrapper" ng-controller="ctl20000CreateCtrl as $ctrl">
	<form name="catalogForm">
		<div class="sidebar-nav">
			<div class="nav-canvas">
				<div class="nav-sm nav nav-stacked"></div>
			</div>
		</div>

		
								<div class="panel panel-custom head-panel">
									<div class="panel-heading"> 
										<h2 class="panel-title">ข้อมูลรายการรับชำระ</h2>
									</div>
									<div class="panel-body">
										<div class="form-group">
											<!-- Panel 1 -->
											<uib-accordion close-others="false">
												<div uib-accordion-group="" class="panel-default"
													heading="กำหนดข้อมูลรายการรับชำระ" is-open="true"
													is-disabled="false">
													<!-- row1 -->
													<div class="row row-no-padding">
														<div class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">ชื่อรายการรับชำระ <span class="red">*</span> :</div>
														<div class="col-sm-6 col-md-7" ng-class="{'has-error':catalogForm.catalogName.$invalid &amp;&amp; isSubmit}">
															<input type="text" class="form-control" required="required" name="catalogName" ng-model="catalog.catalogName" />
														</div>
													</div>
													<!-- row2 -->
													<div class="row row-no-padding">
														<div class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">หมวดบริการ <span class="red">*</span> :</div>
														<div class="col-sm-6 col-md-4" ng-class="{'has-error':catalogForm.catalogTypeId.$invalid &amp;&amp; isSubmit}">
															
															<select class="form-control" required="required" name="catalogTypeId" ng-model="catalog.catalogTypeId" 
																ng-options="list.id as list.desc for list in mCatalogTypeList">
																<option value="">--กรุณาเลือก--</option>
															</select>
														</div>
													</div>
													<!-- row3 -->
													<div class="row row-no-padding">
														<div class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">ประเภทการจัดเก็บ <span class="red">*</span> :</div>
														<div class="col-sm-6 col-md-4" ng-class="{'has-error':catalogForm.revenueTypeId.$invalid &amp;&amp; isSubmit}">
															<select class="form-control" required="required" name="revenueTypeId" ng-model="catalog.revenueTypeId" 
																ng-options="list.id as list.desc for list in mRevenueTypeList" ng-change="checkRevenue();">
																<option value="">--กรุณาเลือก--</option>
															</select>
														</div>
														<!-- <div class="col-xs-4 col-sm-5 col-md-5 text-left"><span style="color: rgb(244, 67, 54);">{{alertMessage}}</span></div> -->
														
													</div>
													<!-- row4 -->
													<div class="row">
														<div class="row row-no-padding">
															<div class="col-xs-1 col-sm-4 col-md-3 text-right "></div>
															<div class="col-xs-4 col-sm-3 col-md-3"><input type="checkbox" ng-model="catalog.isAmount" ng-change="clearAmount();"></input> ต้องการกำหนดจำนวนเงิน</div>
															<div class="col-xs-2 col-sm-2 col-md-2 col-md-pull-1" >
																<input type="text" class="form-control" ng-model="catalog.amount" ng-pattern="regexNumber" ng-disabled="!catalog.isAmount"/>
															</div>
															<div class="col-xs-4 col-sm-3 col-md-3 col-md-pull-1 text-left ">บาท ให้ปรากฏทุกใบแจ้งการชำระ</div>
														</div>
													</div>
													<!-- row5 -->
													<div class="row">
														<div class="row row-no-padding">
															<div class="col-xs-1 col-sm-4 col-md-3 text-right "></div>
															<div class="col-sm-6 col-md-6"><input type="checkbox" ng-model="catalog.isShow" ng-disabled="!catalog.isAmount"></input> แสดงรายการรับชำระที่หน้าเว็บไซต์บริการประชาชน</div>
														</div>
													</div>
												</div>
												
											</uib-accordion>
											
											<!-- Panel 2 -->
											<uib-accordion close-others="false">
												<div uib-accordion-group="" class="panel-default"
													heading="กำหนดข้อมูลโครงสร้างรายได้" is-open="true"
													is-disabled="false">
													<!-- row1 -->
													<div class="row">
														<div class="col-md-12 text-right ">
															<button type="button" class="btn btn-success btn-style" ng-click="$ctrl.open(null,'lg')">
																<span class="glyphicon glyphicon-floppy-save"></span> เพิ่มรายการ
															</button>
														</div>
													</div>
													<!-- row2 -->
														<div class="box-body table-responsive">
															<table id="example2" class="table table-bordered table-hover">
																<thead>
																	<tr>
																		<th class="text-center">ลำดับ</th>
																		<th class="text-center">ประเภทการจัดเก็บ</th>
																		<th class="text-center" >การจัดเก็บ</th>
																		<th class="text-center">อัตราร้อยละ</th>
																		<th class="text-center">รหัส-ชื่อกรม</th>
																		<th class="text-center" >รหัส-ชื่อศูนย์ต้นทุน</th>
																		<th class="text-center">รหัสบัญชีแยกประเภท (GL)</th>
																		<th class="text-center">รหัสของแหล่งเงิน</th>
																		<th class="text-center">รหัสบัญชีเงินฝากคลัง</th>
																		<th class="text-center">รหัสเจ้าของบัญชีเงินฝากคลัง</th>
																		<th class="text-center">รหัส-ชื่อรายได้นำส่งคลัง/นำฝากคลัง</th>
																		<th class="text-center">รหัสงบประมาณ</th>
																		<th class="text-center"></th>
																	</tr>
																</thead>
																<tbody>
																	<tr ng-repeat="data in catalog.structureItem track by $index">
																		<td class="col-md-1 text-center">{{$index+1}}</td>
																		<td class="col-md-1 text-center" >{{getDesc(data.revenueTypeId,mRevenueTypeList)}}</td>
																		<td class="col-md-1 text-center" >{{getDesc(data.levyTypeId,mLevyTypeList)}}</td>
																		<td class="text-center">{{data.percent}}</td>
																		<td class="text-center">{{data.departmentCode}} - {{data.departmentName}}</td>
																		<td class="text-center">{{data.costCenterCode}} - {{data.costCenterName}}</td>
																		<td class="text-center">{{data.glCode}}</td>
																		<td class="text-center">{{data.moneySourceCode}}</td>
																		<td class="text-center">{{data.accountDepositCode}}</td>
																		<td class="text-center">{{data.accountDepositOwner}}</td>
																		<td class="text-center">{{data.standardRevernueCode}} - {{data.standardRevernueName}}</td>
																		<td class="text-center">{{data.budgetCode || '-'}}</td>
																		<td class="col-md-1 text-center text-nowrap">
																			<span class="glyphicon-ring glyphicon-blue"><span class="glyphicon glyphicon-edit" ng-click="$ctrl.open($index,'lg')"></span></span>
																			<span class="glyphicon-ring glyphicon-red"><span class="glyphicon glyphicon-trash" ng-click="deleteStructureItem($index);"></span></span>
																		</td>
																	</tr>
																	<tr ng-if="catalog.structureItem.length == 0">
																	<td colspan="13" class="text-center">ไม่มีข้อมูล</td>
																</tr>
																</tbody>
															</table>
														</div>								
												</div>
											</uib-accordion>
											
											<!-- Panel 3 -->
											
											<uib-accordion close-others="false">
												<div uib-accordion-group="" class="panel-default"
													heading="กำหนดหน่วยงานจัดเก็บรายได้แผ่นดิน" is-open="true"
													is-disabled="false">
													
													<dualmultiselect options="costCenterOptions"> </dualmultiselect>
			
												</div>
												
											</uib-accordion>
											
											<!-- Panel 4 -->
											<uib-accordion close-others="false">
												<div uib-accordion-group="" class="panel-default"
													heading="กำหนดเงื่อนไขแสดงในใบแจ้งการชำระ" is-open="true"
													is-disabled="false">
													<!-- row1 -->
													<div class="row">
														<div class="col-md-12 text-right ">
															<button type="button" id="searchBtn" class="btn btn-success btn-style" ng-click="addCondition();">
																<span class="glyphicon glyphicon-floppy-save"></span> เพิ่มรายการ
															</button>
														</div>
													</div>
													<!-- row2 -->
														<div class="box-body table-responsive">
															<table id="example2" class="table table-bordered table-hover">
																<thead>
																	<tr>
																		<th class="col-md-1" >ลำดับที่</th>
																		<th class="col-md-10" >รายละเอียดเงื่อนไข</th>
																		<th class="col-md-1" ></th>
																	</tr>
																</thead>
																<tbody>
																	<tr ng-repeat="data in conditionList track by $index">
																		<td class="col-md-1 text-center" >{{$index+1}}</td>
																		<td class="col-md-10" ><input type="text" class="form-control" ng-model="data.conditionText" /></td>
																		<td class="col-md-1 text-center" ><span class="glyphicon-ring glyphicon-red"><span class="glyphicon glyphicon-trash" ng-click="deleteCondition($index);"></span></span></td>
																	</tr>
																</tbody>
															</table>
														</div>								
													
			
												</div>
												
											</uib-accordion>
											
											<!-- Panel 5 -->
											<uib-accordion close-others="false">
												<div uib-accordion-group="" class="panel-default"
													heading="กำหนดระยะเวลาใช้งาน" is-open="true"
													is-disabled="false">
													
													
													<!-- row1 -->
													<div class="row row-no-padding"   >
														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">วันที่เริ่มใช้งาน <span class="red">*</span> :</div>
														<datepicker-dir class="col-md-3 col-sm-3 col-xs-11" 
															required="required" name="startDate" 
															ng-class="{'has-error':catalogForm.startDate.$invalid &amp;&amp; isSubmit}"
															ng-model="catalog.startDate"  format-date="dd/MM/yyyy"></datepicker-dir>
														<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">วันที่สิ้นสุดใช้งาน :</div>
														<datepicker-dir class="col-md-3 col-sm-3 col-xs-11"
															ng-model="catalog.endDate" format-date="dd/MM/yyyy"></datepicker-dir>
													</div>
			
												</div>
												
											</uib-accordion>
											
											<!-- Panel 6 -->
											<uib-accordion close-others="false">
												<div uib-accordion-group="" class="panel-default"
													heading="พักการใช้งาน" is-open="true"
													is-disabled="false">
													<!-- row1 -->
													<div class="row">
														<div class="row row-no-padding">
															<div class="col-xs-1 col-sm-3 col-md-2 text-right "></div>
															<div class="col-sm-4 col-md-3"><input type="checkbox" ng-model="catalog.isBreak"></input> พักการใช้งาน</div>
														</div>
													</div>
													<!-- row2 -->
													<div class="row row-no-padding" >
														<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">วันที่ :</div>
														<datepicker-dir class="col-md-3 col-sm-4 col-xs-11"
															ng-model="catalog.breakDate" format-date="dd/MM/yyyy" disable-date="!catalog.isBreak" ></datepicker-dir>
													</div>
													<!-- row3 -->
													<div class="row row-no-padding">
														<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">สาเหตุที่พักการใช้งาน :</div>
														<div class="col-xs-12 col-sm-7 col-md-7">
															<input type="text" class="form-control" ng-model="catalog.breakReason" ng-disabled="!catalog.isBreak" />
														</div>
													</div>
			
												</div>
												
											</uib-accordion>
										</div>
										<!-- FOOTER	-->
										<div class="form-group">
											<div class="row">
												<div class="col-xs-12 col-md-12 text-center text-nowrap">
													<button 
														type="button" 
														id="saveTempBtn" 
														class="btn btn-success btn-style" 
														ng-click="saveCatalog(catalogForm,0,0);" 
														sec:authorize="${hasAnyRole(@menuRoleService.getPermission('CTL31000'))}" >
														บันทึกร่าง
													</button>
													<button 
														type="button"
														id="saveBtn"
														class="btn btn-success btn-style"
														ng-click="saveCatalog(catalogForm,0,1);"
														sec:authorize="${hasAnyRole(@menuRoleService.getPermission('CTL31000'))}" >
														<span class="glyphicon glyphicon-floppy-disk"></span> ส่งอนุมัติ
													</button>
													<button 
														type="button"
														id="saveBtn"
														class="btn btn-success btn-style"
														ng-click="saveCatalog(catalogForm,1,null);"
														sec:authorize="${hasAnyRole(@menuRoleService.getPermission('CTL30000'))}" >
														<span class="glyphicon glyphicon glyphicon-save"></span> อนุมัติ
													</button>
													<button type="button" id="cancelBtn" class="btn btn-danger btn-style" ng-click="cancel();">
														<span class="glyphicon glyphicon-remove-sign"></span> ยกเลิก
													</button>
												</div>
												
											</div>
										</div>

									</div>
								</div>

				</form>
			</div>
		</div>

</body>
</html>