<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
</head>
<body>
<form ng-cloak="" name="structureItemForm"  novalidate="">
<div class="panel panel-custom">
	<div class="panel-heading">
		<h3 class="panel-title" id="modal-title">
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
			กำหนดข้อมูลโครงสร้างรายได้
		</h3>
	</div>
	<div class="panel-body" id="modal-body">
		<div class="form-group">
			<!-- row1 -->
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">
						ประเภทการจัดเก็บ <span class="red">*</span> :
					</div>
					<div class="col-sm-5 col-md-5">
						<select class="form-control" ng-model="$ctrl.structureItem.revenueTypeId" required="required"
							ng-options="list.id as list.desc for list in $ctrl.mRevenueTypeListPopup" ng-disabled="$ctrl.locked" 
							ng-change="$ctrl.clearData();">
								<option value="">--กรุณาเลือก--</option>
						</select>
					</div>
				</div>
			</div>
			<!-- row2 -->
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">
						 การจัดเก็บ <span class="red">*</span> :
					</div>
					<div class="col-sm-5 col-md-5">
						<select class="form-control" ng-model="$ctrl.structureItem.levyTypeId" required="required"
							ng-options="list.id as list.desc for list in $ctrl.mLevyTypeList" ng-change="$ctrl.autoDepCode($ctrl.structureItem.levyTypeId);">
							<option value="">--กรุณาเลือก--</option>
						</select>
					</div>
				</div>
			</div>
			<!-- row3 -->
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-4 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right">
						อัตราร้อยละ <span class="red">*</span> :
					</div>
					<div class="col-xs-3 col-sm-4 col-md-3 col-xs-pull-1 col-sm-pull-0 col-md-pull-0">
						<input type="text" class="form-control" required="required" ng-model="$ctrl.structureItem.percent" />
					</div>
					<div class="col-xs-3 col-sm-4 col-md-6 col-xs-pull-1 col-sm-pull-0 col-md-pull-0">%</div>
				</div>
			</div>
			<!-- row4 -->
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right">
						รหัส-ชื่อศูนย์ต้นทุนเจ้าของรายได้ :
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<input type="text" class="form-control" ng-model="$ctrl.structureItem.costCenterCode" 
						ng-keydown="$ctrl.onKeyDownHandler();" ng-keyup="$ctrl.onKeyUpHandler($ctrl.structureItem.costCenterCode,1);"
						ng-disabled="$ctrl.structureItem.levyTypeId==1" ng-change="$ctrl.autoBudgetCode($ctrl.structureItem.costCenterCode);"/>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-6">{{$ctrl.structureItem.costCenterName}}</div>
				</div>
			</div>
			<!-- row5 -->
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right">
						รหัส-ชื่อกรมเจ้าของรายได้ <span class="red">*</span> :
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<input type="text" class="form-control" required="required" ng-model="$ctrl.structureItem.departmentCode"
						ng-keydown="$ctrl.onKeyDownHandler();" ng-keyup="$ctrl.onKeyUpHandler($ctrl.structureItem.departmentCode,2);" />
					</div>
					<div class="col-xs-6 col-sm-4 col-md-6">{{$ctrl.structureItem.departmentName}}</div>
				</div>
			</div>
			<!-- row6 -->
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right">
						รหัส-ชื่อบัญชีแยกประเภท (GL) <span class="red">*</span> :
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<input type="text" class="form-control" required="required" ng-model="$ctrl.structureItem.glCode"
						ng-keydown="$ctrl.onKeyDownHandler();" ng-keyup="$ctrl.onKeyUpHandler($ctrl.structureItem.glCode,3);" 
						>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-6">{{$ctrl.structureItem.glName}}</div>
				</div>
			</div>
			<!-- row7 -->
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right">
						รหัสแหล่งของเงิน :
					</div>
					<div class="col-sm-4 col-md-3">
						<input type="text" class="form-control" ng-model="$ctrl.structureItem.moneySourceCode" ng-disabled="true" />
					</div>
					<div class="col-xs-6 col-sm-4 col-md-6">{{$ctrl.structureItem.moneySourceName}}</div>
				</div>
			</div>
			<!-- row8 -->
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right">
						รหัสบัญชีเงินฝากคลัง :
					</div>
					<div class="col-sm-4 col-md-3">
						<input type="text" class="form-control" ng-model="$ctrl.structureItem.accountDepositCode" 
						ng-disabled="$ctrl.structureItem.revenueTypeId==1"
						ng-keydown="$ctrl.onKeyDownHandler();" ng-keyup="$ctrl.onKeyUpHandler($ctrl.structureItem.accountDepositCode,4);"/>
					</div>
				</div>
			</div>
			<!-- row9 -->
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right">
						รหัส-ชื่อเจ้าของบัญชีเงินฝากคลัง :
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<input type="text" class="form-control" ng-model="$ctrl.structureItem.accountDepositOwner" ng-disabled="true"/>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-6">{{$ctrl.structureItem.accountDepositName}}</div>
				</div>
			</div>
			<!-- row10 -->
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right">
						รหัส-ชื่อรายได้นำส่งคลัง/เงินฝากคลัง :
					</div>
					<div class="col-xs-6 col-sm-4 col-md-3">
						<input type="text" class="form-control" ng-model="$ctrl.structureItem.standardRevernueCode" ng-disabled="true"/>
					</div>
					<div class="col-xs-6 col-sm-4 col-md-6">{{$ctrl.structureItem.standardRevernueName}}</div>
				</div>
			</div>
			<!-- row11 -->
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right">
						รหัสงบประมาณ :
					</div>
					<div class="col-sm-4 col-md-3">
						<input type="text" class="form-control" ng-disabled="true" ng-model="$ctrl.structureItem.budgetCode"/>
					</div>
				</div>
			</div>
			
			
		</div>
	</div>
</div>
<!-- FOOTER	-->
<div class="form-group">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 text-center">
			<button type="submit" id="saveBtn" class="btn btn-success btn-style"
				ng-click="$ctrl.ok(structureItemForm)">
				<span class="glyphicon glyphicon-floppy-disk"></span> บันทึก
			</button>

			<button type="submit" id="cancelBtn" class="btn btn-danger btn-style"
				ng-click="$ctrl.cancel()">
				<span class="glyphicon glyphicon-remove-sign"></span> ยกเลิก
			</button>
		</div>
	</div>
</div>
<br />
</form>
</body>
</html>