<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=e" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<div class="modal-header">
	<span>เพิ่มรายการรับชำระ</span>
</div>
<div class="modal-body">
	<div class="form-group">
	<div class="col-md-12">
		<div class="input-group input-group-lg">
			<input id="r1" name="choseCat" ng-model="choseCat" type="radio" ng-value="1" ng-checked="true" />&nbsp;
			<i class="fa fa-plus-square-o"></i>&nbsp;เพิ่มรายการรับชำระใหม่
		</div>
	</div>
	</div>
	<div class="form-group">
	<div class="col-md-12">
		<div class="input-group input-group-lg text-right">
			<input id="r2" name="choseCat"  ng-model="choseCat" type="radio" ng-value="2" />&nbsp; <i
				class="fa fa-files-o"></i>&nbsp;คัดลอกรายการรับชำระ
		</div>
	</div>
	</div>
	<div class="form-group">
		<div class="col-md-12">
			<div class="col-xs-12 col-sm-4 col-md-4 text-xs-left text-sm-right text-md-right">
				<span>รหัส-ชื่อรายการรับชำระ :</span>
			</div>
			<div class="col-sm-8 col-md-8" >
				<angucomplete id="ex1" placeholder="กรุณาระบุ" pause="100" 
				selectedobject="selectedCatalog" localdata="catalogAutoList"
				searchfields="desc2,desc" titlefield="desc2,desc" minlength="1"
				inputclass="form-control form-control-small"/>
			</div>
		</div>
	</div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
			<button type="button" id="saveBtn" class="btn btn-primary btn-style"
				ng-click="submit()">
				<span class="glyphicon glyphicon-floppy-disk"></span> ตกลง
			</button>
			<button type="button" id="cancelBtn" class="btn btn-primary btn-style"
				ng-click="cancel()">
				<span class="glyphicon glyphicon-remove-sign"></span> ยกเลิก
			</button>
		</div>
	</div>
</div>
</html>