<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/main-template">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!-- My JS -->
	<script th:src="@{/js/admin/program-list.js}"></script>
	<title>บริหารจัดการโปรแกรม</title>
</head>
<body layout:fragment="content">
<div ng-app="programApp" class="content-wrapper">
	<div class="wrapper" ng-controller="programCtrl">


		<form name="userPermissionGroupForm" id="popupSelectContainer">

							<div class="panel panel-custom head-panel">
								<div class="panel-heading">
									<h2 class="panel-title">
										<span class="glyphicon glyphicon-list-alt"></span> <span>บริหารจัดการโปรแกรม</span>
									</h2>
								</div>

								<div class="panel-body">
									<div class="panel-default">




										<!-- ADDRESS -->
										<div class="panel panel-default">
											<div class="panel-heading">
												<h3 class="panel-title">ค้นหาโปรแกรม</h3>
											</div>
											<div class="panel-body">
												<div class="form-group">



													<!-- row1 -->
													<div class="row row-no-padding">

														<div class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">รหัสโปรแกรม :</div>
														<div class="col-sm-6 col-md-6">
															<input class="form-control"
																   ng-model="data.code"/>
														</div>
													</div>

													<!-- row2 -->
													<div class="row row-no-padding">

														<div class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">ชื่อโปรแกรม :</div>
														<div class="col-sm-6 col-md-6">
															<input class="form-control"
																   ng-model="data.name"/>
														</div>
													</div>

													<!-- row3 -->
													<div class="row row-no-padding">
														<div class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">สถานะ :</div>
														<div class="col-sm-8 col-md-3">
															
															<label class="radio-inline" ng-repeat="list in data.statusList" ng-if="list.status == 1 || list.status == 2">
															    <input type="radio" ng-model="data.status" ng-value="list.status" /> {{list.statusName}}
															</label>
															
														</div>
													</div>



													<div class="row">
														<div class="col-xs-12 col-sm-12 col-md-12 text-center">
															<button type="button" id="searchBtnPerm"
																	class="btn btn-info btn-style" ng-click="searchProgram()">
																<span class="glyphicon glyphicon-search"></span> ค้นหา
															</button>

															<button type="button" id="clearBtn"
																	class="btn gray-light btn-style" ng-click="clearData()">
																<span class="glyphicon glyphicon-refresh"></span>
																ล้างข้อมูล
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12 col-sm-6">
												<span class="md-headline">ตารางแสดงโปรแกรม</span>
											</div>
											<div class="col-xs-12 col-sm-6">
													<div class="col-xs-5 col-sm-4 text-right">
														<span>แสดงหน้าละ&nbsp;</span>
													</div>
													<div class="col-xs-4 col-sm-4">
														<select class="form-control" ng-model="perPages"
																ng-change="pageChanged()"
																ng-options="selectedItem as selectedItem for selectedItem in values">
														</select>
													</div>
													<div class="col-xs-3 col-sm-2">
														<span>&nbsp;รายการ</span>
													</div>
												


											</div>
										</div>
										<div class="box-body table-responsive">
											<table id="example2"
												   class="table table-bordered table-hover">
												<thead>
												<tr>
													<th>#</th>
													<th>รหัสโปรแกรม</th>
													<th>ชื่อโปรแกรม</th>
													<th>คำอธิบาย</th>
													<th>สถานะ</th>
													<th></th>
												</tr>
												</thead>
												<tbody>
												<tr ng-repeat="perm in sliceFavoriteList">
													<td class="text-center"><span>{{($index+1) +
														(currentPage - 1) * perPages }}</span></td>
													<td class="text-center"><span
															ng-bind="perm.programCode"></span></td>
													<td><span ng-bind="perm.programName"></span></td>
													<td><span ng-bind="perm.description"></span></td>
													<td class="text-right"><span
															ng-bind="perm.statusName"></span></td>

													<td class="text-center text-nowrap">
														<a  class="cmd-icon cmd-view" th:href="@{/admin/program/view}+'?id={{perm.programId}}'"><span class="glyphicon-ring glyphicon-blue"><span class="fa fa-edit"></span></span></a>
														<a  class="cmd-icon cmd-view pointer" ng-click="delPerm(perm.programId)"><span class="glyphicon-ring glyphicon-red"><span class="fa fa-trash"></span></span></a>
													</td>
												</tr>
												</tbody>
											</table>

										</div>
										<div layout="row" layout-xs="column" class="ng-scope layout-xs-column layout-row" layout-align="space-between center">
											<div layout="column">
												<pre>ผลการค้นหาทั้งหมด {{totalItems}} </pre>
											</div>
											<div layout="column">
												<ul uib-pagination="" total-items="totalItems"
													ng-model="currentPage" max-size="5" class="pagination-sm"
													items-per-page="perPages" boundary-links="true"
													num-pages="numPages" ng-change="pageChanged()"></ul>
											</div>
										</div>
										<br />


										<div class="row">

											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
												<a id="add" th:href="@{/admin/program/view/}"
												   class="btn btn-success">
													<span class="glyphicon glyphicon-plus"></span>
													เพิ่มโปรแกรม
												</a>
											</div>
										</div>

									</div>


								</div>
							</div>

		</form>
	</div>
</div>
</body>
</html>