<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>Master Configuration</title>

<!-- My JS -->

<script th:src="@{/js/Master/MGl/gl-view.js}"></script>

</head>
<body layout:fragment="content">
<div ng-app="master2App" class="content-wrapper">
   	<div class="wrapper" ng-controller="master2Ctrl">
			<div class="sidebar-nav">
				<div class="nav-canvas">
					<div class="nav-sm nav nav-stacked"></div>
				</div>
			</div>
			<div class="panel panel-custom head-panel">
				<div class="panel panel-custom head-panel">
									<div class="panel-heading"> 
										<h2>
											<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
											<span>บัญชีแยกประเภท</span>
										</h2>
									</div>
									<div class="panel-body">
									
									
										<!-- criteria search -->
										<div class="form-group">
											<!-- row2 -->
											<div class="row">
												<div class="col-md-3 text-right ">บัญชี G/L :</div>
												<div class="col-md-3">
													<input type="text" class="form-control" ng-model="criteria.glCode"  />
												</div>
												<div class="col-md-2 text-right">บัญชีแยกประเภท :</div>
												<div class="col-md-3">
													<input type="text" class="form-control" ng-model="criteria.glName"  />
												</div>
											</div>
											<!-- row4 -->
											<div class="row">
												<div class="col-md-3 text-right ">วันที่เริ่มใช้งาน
													จาก :</div>
												<datepicker-dir class="col-md-3 col-sm-3 col-xs-3"
													ng-model="criteria.startDateFrom" format-date="dd/MM/yyyy"></datepicker-dir>
												<div class="col-md-2 text-right">ถึง :</div>
												<datepicker-dir class="col-md-3 col-sm-3 col-xs-3"
													ng-model="criteria.startDateTo" format-date="dd/MM/yyyy"></datepicker-dir>
											</div>
											<!-- row5 -->
											<div class="row">
												<div class="col-md-3 text-right ">วันที่สิ้นสุด จาก :</div>
												<datepicker-dir class="col-md-3 col-sm-3 col-xs-3"
													ng-model="criteria.endDateFrom" format-date="dd/MM/yyyy"></datepicker-dir>
												<div class="col-md-2 text-right">ถึง :</div>
												<datepicker-dir class="col-md-3 col-sm-3 col-xs-3"
													ng-model="criteria.endDateTo" format-date="dd/MM/yyyy"></datepicker-dir>
											</div>											
											<div class="row">
												<div class="col-md-3 text-right ">สถานะ:</div>
												<div class="col-md-3">
													<select class="form-control" ng-model="criteria.status">
														<option value="">--กรุณาเลือก--</option>
														<option value="0">รอยืนยัน</option>
														<option value="1">ใช้งาน</option>
														<option value="2">ระงับการใช้งาน</option>
														<option value="3">ยกเลิก</option>
													</select>
												</div>
												<div class="col-md-2 text-right"></div>
												<div class="col-md-3"></div>
											</div>


										</div>									
									
										<!-- button search -->
										<div class="form-group">
											<!-- row7 -->
											<div class="row">
												<div class="col-md-6 text-right">
													<button type="button" id="searchBtn" class="btn btn-primary" ng-click="doSearch()" >
														<span class="glyphicon glyphicon-search"></span> ค้นหา
													</button>
												</div>
												<div class="col-md-6 ">
													<button type="button" id="searchBtn" class="btn btn-primary" ng-click="clearData()">
														<span class="glyphicon glyphicon-refresh"></span> ล้างข้อมูล
													</button>
												</div>
											</div>
										</div>
									
																		
										<!-- Search Results -->									
										<div class="form-group">
											<!-- Panel 1 -->
<!-- 											<uib-accordion close-others="false">
												<div uib-accordion-group="" class="panel-default"
													heading="GL" is-open="true"
													is-disabled="false"> -->
													
													<div class="row">
														<div class="col-md-12 text-right ">
															<button type="button" id="newBtn" class="btn btn-primary" ng-click="goCreateNew()">
																<span class="glyphicon glyphicon-plus"></span> เพิ่มรายการ
															</button>
														</div>
													</div>													
													<div class="row">
														<div class="box-body table-responsive col-md-12">
															<table id="example2" class="table table-bordered table-hover">
																<thead>
																	<tr>
<!-- 																		<th>Id</th> -->
																		<th width="15%">บัญชี G/L</th>
																		<th>บัญชีแยกประเภท</th>
																		<th width="15%">วันที่เริ่มต้น</th>
																		<th width="15%">วันที่สิ้นสุด</th>
																		<th width="15%">สถานะ</th>
																		<th width="10%"></th>
																	</tr>
																</thead>
																<tbody>
																	<tr ng-repeat="d in data2List.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
<!-- 																	<tr ng-repeat="d in data2List"> -->
<!-- 																		<td><span ng-bind="d.glId"></span></td> -->
																		<td><span ng-bind="d.glCode"></span></td>
																		<td><span ng-bind="d.glName"></span></td>
																		<td><span ng-bind="d.startDate | date:'dd/MM/yyyy'"></span></td>
																		<td><span ng-bind="d.endDate | date:'dd/MM/yyyy'"></span></td>
																		<td><span ng-if="d.status=='0'">รอยืนยัน</span>
																			<span ng-if="d.status=='1'">ใช้งาน</span> 
																			<span ng-if="d.status=='2'">ระงับการใช้งาน</span>
																			<span ng-if="d.status=='3'">ยกเลิก</span> 
																		</td>
																		<td class="text-center text-nowrap">
																			<a ng-href="./gl-edit/{{d.glId}}"><span class="glyphicon-ring glyphicon-blue glyphicon glyphicon-edit" role="button"></span></a>
																			<span ng-click="updateStatusCancel(d.glId)" class="glyphicon-ring glyphicon-red glyphicon glyphicon-trash" role="button"></span>
																		</td>
																	</tr>
																</tbody>
															</table>
														</div>														
													</div>
													
													<!-- Pagination -->
													<div class="row">
														<div class="col-md-12 text-right">
    															<ul uib-pagination="" total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></ul>
														</div>
													</div>
													
<!-- 												</div>												
											</uib-accordion> -->
											
										</div>

									</div>
				</div>
			</div>
	</div>
</div>		
</body>
</html>