<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main-template">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- My JS -->
    <script th:src="@{/js/admin/user-permission-group.js}"></script>
    <title>จัดการสิทธิ์ผู้ใช้งาน</title>
</head>
<body layout:fragment="content">
<div ng-app="userPermissionGroupApp" class="content-wrapper">
    <div class="wrapper" ng-controller="userPermissionGroupCtrl">


        <form name="userPermissionGroupForm" id="popupSelectContainer">

                            <div class="panel panel-custom head-panel">
                                <div class="panel-heading">
                                    <h2 class="panel-title">
                                        <span class="glyphicon glyphicon-list-alt"></span> <span>จัดการสิทธิ์ผู้ใช้งาน</span>
                                    </h2>
                                </div>

                                <div class="panel-body">
                                    <div class="panel-default">


                                        <!-- ADDRESS -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">ค้นหาผู้ใช้งาน</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">
                                                    <!-- row1 -->
                                                    <div class="row row-no-padding">

                                                        <div class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">เลขประจำตัวประชาชน :</div>
                                                        <div class="col-sm-8 col-md-9">
                                                            <input class="form-control" ng-model="data.citizen"/>
<!--                                                             <div style="display:flex;display:-webkit-flex;">
                                                                <input class="form-control" style="-webkit-flex: 1;flex: 1;"
                                                                       ng-model="data.citizen"/>
                                                                <span style="margin:10px;cursor:pointer;" class="glyphicon glyphicon-search"  ng-click="searchUser()"></span>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                    

                                                    
                                                    
                                                    <!--<div class="row">-->
                                                        <!--<center>-->
                                                            <!--<button type="button" id="searchUser"-->
                                                                    <!--class="btn btn-primary btn-style" ng-click="searchUser()">-->
                                                                <!--<span class="glyphicon glyphicon-search"></span> ค้นหา-->
                                                            <!--</button>-->
                                                        <!--</center>-->
                                                    <!--</div>-->
                                                    <div class="row row-no-padding">

                                                        <div class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">ชื่อผู้ใช้ :</div>
                                                        <div class="col-sm-8 col-md-9">
                                                            <div class="form-control" style="background:#eeeeee;cursor:not-allowed;">
                                                                <span ng-bind="data.user.name"></span>&nbsp;<span ng-bind="data.user.lname"></span>
                                                            </div>

                                                        </div>
                                                    </div>

													<div class="row">
														<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
 															<button type="button" id="searchBtnPerm"
																	class="btn btn-info btn-style" ng-click="searchUser()">
																<span class="glyphicon glyphicon-search"></span> ค้นหา
															</button>

															<button type="button" id="clearBtn"
																	class="btn gray-light btn-style" ng-click="clearData()">
																<span class="glyphicon glyphicon-refresh"></span>
																ล้างข้อมูล
															</button>
														</div>
													</div>


                                                    <!--<div class="row">-->
                                                        <!--<div class="col-md-6 text-right">-->
                                                            <!--<button type="button" id="searchBtn"-->
                                                                    <!--class="btn btn-info" ng-click="searchBilling()">-->
                                                                <!--<span class="glyphicon glyphicon-search"></span> ค้นหา-->
                                                            <!--</button>-->
                                                        <!--</div>-->
                                                        <!--<div class="col-md-6 ">-->
                                                            <!--<button type="button" id="searchBtn"-->
                                                                    <!--class="btn gray-light">-->
                                                                <!--<span class="glyphicon glyphicon-refresh"></span>-->
                                                                <!--ล้างข้อมูล-->
                                                            <!--</button>-->
                                                        <!--</div>-->
                                                    <!--</div>-->




                                                </div>
                                            </div>
                                        </div>

                                        <!-- ADDRESS -->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">ค้นหากลุ่มสิทธิ์</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="form-group">



                                                    <!-- row1 -->
                                                    <div class="row row-no-padding">

                                                        <div class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">รหัสกลุ่มสิทธิ์ :</div>
                                                        <div class="col-sm-8 col-md-9">
                                                            <input class="form-control" ng-model="data.code"/>
                                                            
<!--                                                             <div style="display:flex;display:-webkit-flex;">
                                                                <input class="form-control" style="-webkit-flex: 1;flex: 1;"
                                                                       ng-model="data.code"/>
                                                                <span style="margin:10px;cursor:pointer;" class="glyphicon glyphicon-search"  ng-click="searchPermissionGroup()"></span>
                                                            </div>-->

                                                        </div>
                                                    </div>

                                                    <!-- row2 -->
                                                    <div class="row row-no-padding">

                                                        <div class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">ชื่อกลุ่มสิทธิ์ :</div>
                                                        <div class="col-sm-8 col-md-9">
                                                            <input class="form-control"
                                                                   ng-model="data.name"/>
                                                        </div>
                                                    </div>

                                                    <!-- row3 -->
                                                    <div class="row row-no-padding">
                                                        <div class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">สถานะ :</div>
                                                        <div class="col-sm-8 col-md-3">
                                                            <select class="form-control col-sm-3"
                                                                    ng-model="data.status"
                                                                    ng-options="list.status as list.statusName for list in data.statusList">
                                                                <option value="">--กรุณาเลือก--</option>
                                                            </select>
                                                        </div>

                                                    </div>



                                                    <div class="row row-no-padding">
														<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                                        
                          									<button type="button" id="searchBtnPerm"
																	class="btn btn-info btn-style" ng-click="searchPermissionGroup()">
																<span class="glyphicon glyphicon-search"></span> ค้นหา
															</button>
                                                        
                                                            <button type="button" id="clearBtn"
                                                            class="btn gray-light btn-style" ng-click="clearData()">
                                                                <span class="glyphicon glyphicon-refresh"></span>
                                                            ล้างข้อมูล
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12">
                                                <div class="col-xs-12 col-sm-6">
                                                    <span class="md-headline">ตารางแสดงกลุ่มสิทธิ์</span>
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <div class="row">
                                                        <div class="col-xs-5 col-sm-4 text-right">
                                                            <span>แสดงหน้าละ&nbsp;</span>
                                                        </div>
                                                        <div class="col-xs-4 col-sm-4">
                                                            <select class="form-control" ng-model="perPages"
                                                                    ng-change="pageChanged()"
                                                                    ng-options="selectedItem as selectedItem for selectedItem in values">
                                                            </select>
                                                        </div>
                                                        <div class="col-xs-3 col-sm-2">
                                                            <span>&nbsp;รายการ</span>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="box-body table-responsive">
                                                <table id="example2"
                                                       class="table table-bordered table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th class="text-center"><input type="checkbox" ng-click="checkAll(all)" ng-checked="isCheckAll()" ng-model="all"/> ทั้งหมด</th>
                                                        <th>รหัสกลุ่มสิทธิ์</th>
                                                        <th>ชื่อกลุ่มสิทธิ์</th>
                                                        <th>คำอธิบาย</th>
                                                        <th>สถานะ</th>
                                                        <th>ดำเนินการ</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="perm in sliceFavoriteList">
                                                        <td class="text-center"><span><input type="checkbox" ng-checked="data.check.indexOf(perm.mPermissionGroupId) > -1" ng-click="toggleSelect(perm.mPermissionGroupId)" name="selected[]" value="{{perm.mPermissionGroupId}}"/></span></td>
                                                        <td class="text-center"><span
                                                                ng-bind="perm.mPermissionGroupCode"></span></td>
                                                        <td><span ng-bind="perm.mPermissionGroupName"></span></td>
                                                        <td><span ng-bind="perm.description"></span></td>
                                                        <td class="text-right"><span
                                                                ng-bind="perm.statusName"></span></td>

                                                        <td class="text-center">

                                                            <a  class="cmd-icon cmd-view" th:href="@{/admin/permission-group/edit}+'?id={{perm.mPermissionGroupId}}'"><span class="fa fa-edit"></span></a>
                                                            <a  class="cmd-icon cmd-view pointer" ng-click="delPerm()"><span class="fa fa-trash"></span></a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>

                                        <div layout="row" layout-xs="column" class="ng-scope layout-xs-column layout-row" layout-align="space-between center">
                                            <div layout="column">
                                                <pre>ผลการค้นหาทั้งหมด {{totalItems}} </pre>
                                            </div>
                                            <div layout="column">
                                                <ul uib-pagination="" total-items="totalItems"
                                                    ng-model="currentPage" max-size="5" class="pagination-sm"
                                                    items-per-page="perPages" boundary-links="true"
                                                    num-pages="numPages" ng-change="pageChanged()"></ul>
                                            </div>
                                        </div>
                                        <br />


                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                                                <button type="button" id="save"
                                                        class="btn btn-success btn-style" ng-click="updatePerms()">
                                                    <span class="glyphicon glyphicon-floppy-save"></span> บันทึก
                                                </button>

                                                <a id="add" th:href="@{/admin/permission-group/add/}"
                                                        class="btn btn-success">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                    เพิ่มกลุ่มสิทธิ์
                                                </a>
                                            </div>
                                        </div>

                                    </div>


                                </div>
                            </div>


        </form>
    </div>
</div>
</body>
</html>