<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=e" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>

	<!-- ROW 1 -->
	<div class="row">
		<div class="col-xs-12 col-md-12 col-lg-12">
			<div class="col-xs-4 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-left">
				บ้านเลขที่ <span class="red">*</span> :
			</div>
			<div class="col-xs-8 col-sm-3 col-md-2 col-xs-pull-1 col-sm-pull-0 col-md-pull-1 " ng-class="{'has-error':(addr.no==''|| addr.no==null) &amp;&amp; isSubmit &amp;&amp; !dis}">
				<input type="text" class="form-control" ng-required="!dis" name="no"
					ng-model="addr.no" ng-disabled="dis" />
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right col-md-pull-1  ">
				หมู่บ้าน/อาคาร/ห้องที่ <span class="red">*</span> :
			</div>
			<div class="col-xs-8 col-sm-3 col-md-2  col-md-pull-1 " ng-class="{'has-error':(addr.village==''|| addr.village==null) &amp;&amp; isSubmit &amp;&amp; !dis}">
				<input type="text" class="form-control" ng-required="!dis" name="addr.village"
					ng-model="addr.village" ng-disabled="dis" />
			</div>
			<div class="col-xs-12 col-sm-12 visible-xs visible-sm"></div>
			<div class="col-xs-4 col-sm-3 col-md-1 text-xs-left text-sm-right text-md-right">
				หมู่ที่ <span class="red">*</span> :
			</div>
			<div class="col-xs-8 col-sm-3 col-md-1 col-xs-pull-1 col-sm-pull-0 col-md-pull-0" ng-class="{'has-error' : (addr.moo == '' || addr.moo == null) &amp;&amp; isSubmit &amp;&amp; !dis}">
				<input type="text" class="form-control" ng-required="!dis"
					ng-model="addr.moo" ng-disabled="dis" />
			</div>
			<!-- 		<div class="col-md-1 text-right "> -->
			<!-- 			ตรอก <span class="red">*</span> : -->
			<!-- 		</div> -->
			<!-- 		<div class="col-md-2"> -->
			<!-- 			<input type="text" class="form-control" ng-required="!dis" -->
			<!-- 				ng-model="addr.lane" ng-disabled="dis" /> -->
			<!-- 		</div> -->
		</div>
	</div>

	<!-- ROW 2 -->
	<div class="row">
		<div class="col-md-12">
			<div class="col-xs-12 col-sm-3 col-md-1 text-xs-left text-sm-right text-md-right">
				ซอย <span class="red">*</span> :
			</div>
			<div class="col-xs-12 col-sm-3 col-md-2" ng-class="{'has-error' : (addr.soi == '' || addr.soi == null) &amp;&amp; isSubmit &amp;&amp; !dis}">
				<input type="text" class="form-control" ng-required="!dis"
					ng-model="addr.soi" ng-disabled="dis" />
			</div>
			<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right">
				ถนน <span class="red">*</span> :
			</div>
			<div class="col-xs-12 col-sm-3 col-md-2" ng-class="{'has-error' : (addr.road == '' || addr.road == null) &amp;&amp; isSubmit &amp;&amp; !dis}">
				<input type="text" class="form-control" ng-required="!dis"
					ng-model="addr.road" ng-disabled="dis" />
			</div>
			<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">
				จังหวัด <span class="red">*</span> :
			</div>
			<div class="col-sm-9 col-md-2" ng-class="{'has-error' : (addr.provinceId == '' || addr.provinceId == null) &amp;&amp; isSubmit &amp;&amp; !dis}">
				<!-- 			<input type="text" class="form-control" ng-required="!dis" ng-model="addr.province"  ng-disabled="dis"/> -->

				<select class="form-control" placeholder="กรุณาเลือก"
					name="province" ng-model="addr.provinceId" ng-init="loadProvince()"
					ng-change="loadDistrict(addr.provinceId)" ng-required="!dis"
					ng-disabled="dis">
					<option ng-value="province.id" ng-repeat="province in provinceList">{{province.nameTH}}</option>
				</select>
			</div>
		</div>
	</div>

	<!-- ROW 3 -->
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right  col-md-pull-1 ">
				เขต/อำเภอ <span class="red">*</span> :
			</div>
			<div class="col-sm-9 col-md-2 col-md-pull-1 " ng-class="{'has-error' : (addr.amphurId == '' || addr.amphurId == null) &amp;&amp; isSubmit &amp;&amp; !dis}">
				<!-- 			<input type="text" class="form-control" ng-required="!dis" -->
				<!-- 				ng-model="addr.amphur" ng-disabled="dis" /> -->
				<select class="form-control" placeholder="กรุณาเลือก"
					name="district" ng-model="addr.amphurId"
					ng-change="loadSubdistrict(addr.amphurId)" ng-required="!dis"
					ng-disabled="dis">
					<option ng-value="district.id" ng-repeat="district in districtList">{{district.nameTH}}</option>
				</select>

			</div>
			<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right col-md-pull-1 ">
				แขวง/ตำบล <span class="red">*</span> :
			</div>
			<div class="col-sm-9 col-md-2 col-md-pull-1 " ng-class="{'has-error' : (addr.tambonId == '' || addr.tambonId == null) &amp;&amp; isSubmit &amp;&amp; !dis}">
				<!-- 			<input type="text" class="form-control" ng-required="!dis" -->
				<!-- 				ng-model="addr.tambon" ng-disabled="dis" /> -->
				<select class="form-control" placeholder="กรุณาเลือก"
					name="subdistrict" ng-model="addr.tambonId" ng-required="!dis"
					ng-disabled="dis">
					<option ng-value="subdistrict.id"
						ng-repeat="subdistrict in subdistrictList">{{subdistrict.nameTH}}</option>
				</select>
			</div>
			<div class="col-xs-5 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right  col-md-pull-1 ">
				รหัสไปรษณีย์ <span class="red">*</span> :
			</div>
			<div class="col-xs-7 col-sm-4 col-md-2 col-xs-pull-1 col-sm-pull-0 col-md-pull-1" ng-class="{'has-error' : (addr.posCode == '' || addr.posCode == null) &amp;&amp; isSubmit &amp;&amp; !dis}">
				<input type="text" class="form-control" ng-required="!dis"
					ng-model="addr.posCode" ng-disabled="dis" />
			</div>
		</div>
	</div>
</html>