<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>ข้อมูลส่วนตัว</title>

<!-- My JS -->
<script th:src="@{/js/profile/citizenProfile.js}"></script>
</head>
<body>
	<section layout:fragment="content">
		<div class="sidebar-nav">
			<div class="nav-canvas">
				<div class="nav-sm nav nav-stacked"></div>
			</div>
		</div>
		<div ng-app="profileCitizenApp">
			<div ng-controller="profileCitizenCtrl">
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<div class="container col-sm-12 col-md-12 col-xs-12">
								<div class="panel panel-custom">
									<div class="panel-heading"> 
										<h2 class="panel-title">ข้อมูลส่วนตัว</h2>
										<!-- <h2 class="panel-title" th:if="${mode} eq 'VIEW'">ดูข้อมูลผู้ใช้งาน</h2>
										<h2 class="panel-title" th:if="${mode} eq 'EDIT'">แก้ไขข้อมูลผู้ใช้งาน</h2> -->
									</div>
									<div class="panel-body">
										<div class="form-group">
											<!-- Panel 1 -->
											<uib-accordion close-others="false">
												<div uib-accordion-group="" class="panel-default"
													heading="ข้อมูลผู้ใช้งาน" is-open="true"
													is-disabled="false">
													<!-- ROW 1	-->
													<div class="row" style="min-height:30px">
														<div class="col-md-3 text-right ">ประเภทผู้ใช้งาน :</div>
														<div class="col-md-3">นิติบุคคล</div>
														<div class="col-md-2 text-right ">เลขทะเบียนนิติบุคคล :</div>
														<div class="col-md-3">
															<span ng-bind="userBean.citizenid" />
														</div>
													</div>
													<!-- ROW 2	-->
													<div class="row" style="min-height:30px">
														<div class="col-md-3 text-right ">ชื่อนิติบุคคล(ภาษาไทย) :</div>
														<div class="col-md-3">
															<span ng-bind="userBean.fnameTH" />
														</div>
														<div class="col-md-2 text-right ">ชื่อนิติบุคคล(ภาษาอังกฤษ) :</div>
														<div class="col-md-3">
															<span ng-bind="userBean.fnameEN" />
														</div>
													</div>
													<!-- ROW 3	-->
													<div class="row" style="min-height:50px">
														<div class="col-md-3 text-right ">สถานะนิติบุคคล :</div>
														<div class="col-md-3">
															<span ng-bind="userBean.companyStatus" />
														</div>
													</div>
													<!-- ROW 4	-->
													<div class="row" style="min-height:30px">
														<div class="col-md-3" style="left: 20px; color:#53B3EB;">ที่อยู่สถานประกอบการ</div>
													</div>
													<!-- ROW 5	-->
													<div class="row" style="min-height:30px">
														<div class="col-md-1 text-right ">บ้านเลขที่ :</div>
														<div class="col-md-1">
															<input type="text" ng-model="userBean.fnameEN" 
																	ng-value="userBean.fnameEN" name="fnameEN" id="fnameEN" 
																	class="form-control" placeholder="บ้านเลขที่" readonly="readonly" />
														</div>
														<div class="col-md-1 text-right ">หมู่ที่ :</div>
														<div class="col-md-1">
															<input type="text" ng-model="userBean.fnameEN" 
																	ng-value="userBean.fnameEN" name="fnameEN" id="fnameEN" 
																	class="form-control" placeholder="หมู่ที่ " readonly="readonly" />
														</div>
														<div class="col-md-1 text-right ">ห้องที่ :</div>
														<div class="col-md-1">
															<input type="text" ng-model="userBean.fnameEN" 
																	ng-value="userBean.fnameEN" name="fnameEN" id="fnameEN" 
																	class="form-control" placeholder="ห้องที่" readonly="readonly" />
														</div>
														<div class="col-md-1 text-right ">ซอย  :</div>
														<div class="col-md-2">
															<input type="text" ng-model="userBean.fnameEN" 
																	ng-value="userBean.fnameEN" name="fnameEN" id="fnameEN" 
																	class="form-control" placeholder="ซอย" readonly="readonly" />
														</div>
														<div class="col-md-1 text-right ">ถนน  :</div>
														<div class="col-md-2">
															<input type="text" ng-model="userBean.fnameEN" 
																	ng-value="userBean.fnameEN" name="fnameEN" id="fnameEN" 
																	class="form-control" placeholder="ถนน" readonly="readonly" />
														</div>
													</div>
													
													<!-- ROW 6	-->
													<div class="row" style="min-height:50px">
														<div class="col-md-1 text-right ">จังหวัด  :</div>
														<div class="col-md-3">
															<select class="form-control" readonly="readonly">
																<option>จังหวัด</option>
															</select>
														</div>
														<div class="col-md-1 text-right ">อำภอ/เขต:</div>
														<div class="col-md-3">
															<select class="form-control" readonly="readonly">
																<option>อำภอ/เขต</option>
															</select>
														</div>
														<div class="col-md-1 text-right ">ดำบล/แขวง  :</div>
														<div class="col-md-3">
															<select class="form-control" readonly="readonly">
																<option>ดำบล/แขวง</option>
															</select>
														</div>
													</div>
													
													<!-- ROW 7	-->
													<div class="row" style="min-height:80px">
														<div class="col-md-1 text-right ">รหัสไปรษณีย์  :</div>
														<div class="col-md-1">
															<input type="text" ng-model="userBean.fnameEN" 
																	ng-value="userBean.fnameEN" name="fnameEN" id="fnameEN" 
																	class="form-control" placeholder="รหัสไปรษณีย์" readonly="readonly" />
														</div>
													</div>
													
													<!-- ROW 9	-->
													<div class="row" style="min-height:30px; vertical-align:middle;">
														<div class="col-md-5" style="left: 20px;">
															<font style="color:#53B3EB;">ที่อยู่ในการจัดส่งเอกสาร</font> 
															<input id="checkBox" type="checkbox"></input> ที่อยู่เดียวกับสถานประกอบการ
														</div>
													</div>
													<!-- ROW 10	-->
													<div class="row" style="min-height:30px">
														<div class="col-md-1 text-right ">บ้านเลขที่ :</div>
														<div class="col-md-1">
															<input type="text" ng-model="userBean.email" ng-value="userBean.email" name="email" id="email" class="form-control" placeholder="email" />
														</div>
														<div class="col-md-2 text-right ">หมู่บ้าน/อาคาร/ห้องที่ :</div>
														<div class="col-md-2">
															<input type="text" ng-model="userBean.email" ng-value="userBean.email" name="email" id="email" class="form-control" placeholder="email" />
														</div>
														<div class="col-md-1 text-right ">หมู่ที่ :</div>
														<div class="col-md-1">
															<input type="text" ng-model="userBean.email" ng-value="userBean.email" name="email" id="email" class="form-control" placeholder="email" />
														</div>
														<div class="col-md-1 text-right ">ตรอก  :</div>
														<div class="col-md-1">
															<input type="text" ng-model="userBean.email" ng-value="userBean.email" name="email" id="email" class="form-control" placeholder="email" />
														</div>
													</div>
													
													<!-- ROW 7	-->
													<div class="row" style="min-height:30px">
														<div class="col-md-1 text-right ">ซอย  :</div>
														<div class="col-md-1">
															<input type="text" ng-model="userBean.email" ng-value="userBean.email" name="email" id="email" class="form-control" placeholder="email" />
														</div>
														<div class="col-md-2 text-right ">ถนน:</div>
														<div class="col-md-1">
															<input type="text" ng-model="userBean.email" ng-value="userBean.email" name="email" id="email" class="form-control" placeholder="email" />
														</div>
														<div class="col-md-3 text-right ">จังหวัด  :</div>
														<div class="col-md-3">
															<select class="form-control">
																<option></option>
															</select>
														</div>
													</div>
													
													<!-- ROW 8	-->
													<div class="row" style="min-height:50px">
														<div class="col-md-1 text-right ">เขต/อำเภอ  :</div>
														<div class="col-md-2">
															<select class="form-control">
																<option></option>
															</select>
														</div>
														<div class="col-md-2 text-right ">แขวง/ตำบล :</div>
														<div class="col-md-2">
															<select class="form-control">
																<option></option>
															</select>
														</div>
														<div class="col-md-2 text-right ">รหัสไปรษณีย์  :</div>
														<div class="col-md-1">
															<input type="text" ng-model="userBean.email" ng-value="userBean.email" name="email" id="email" class="form-control" placeholder="email" />
														</div>
													</div>
												</div>
												
											</uib-accordion>
											
											<!-- Panel 2 -->
											<uib-accordion close-others="false">
												<div uib-accordion-group="" class="panel-default"
													heading="ข้อมูลผู้ใช้งานแทนนิติบุคคล" is-open="true"
													is-disabled="false">												
													<!-- ROW 1	-->
													<div class="row" style="min-height:30px">
														<div class="col-md-3 text-right ">ประเภทผู้ใช้งาน :</div>
														<div class="col-md-3">
															<div class="col-md-3">ประชาชน </div>
														</div>
														<div class="col-md-2 text-right ">รหัสประจำตัวประชาชน :</div>
														<div class="col-md-3">
															<span ng-bind="userBean.citizenid" />
															<!-- <div class="col-md-3" th:include="include/formUtil :: textInput(fieldName='user.userName')"></div> -->
														</div>
													</div>
													<!-- ROW 2	-->
													<div class="row" style="min-height:30px">
														<div class="col-md-3 text-right ">คำนำหน้า(ภาษาไทย) :</div>
														<div class="col-md-3">
															<span ng-bind="userBean.titleNameTH" />
															<!-- <div class="col-md-3" th:include="include/formUtil :: textInput(fieldName='user.userId')"></div> -->
														</div>
														<div class="col-md-2 text-right ">ชื่อจริง(ภาษาไทย) :</div>
														<div class="col-md-3">
															<span ng-bind="userBean.fnameTH" />
															<!-- <div class="col-md-3" th:include="include/formUtil :: textInput(fieldName='user.userName')"></div> -->
														</div>
													</div>
													<!-- ROW 3	-->
													<div class="row" style="min-height:30px">
														<div class="col-md-3 text-right ">ชื่อกลาง(ภาษาไทย) :</div>
														<div class="col-md-3">
															<span ng-bind="userBean.mnameTH" />
															<!-- <div class="col-md-3" th:include="include/formUtil :: textInput(fieldName='user.userId')"></div> -->
														</div>
														<div class="col-md-2 text-right ">นามสกุล(ภาษาไทย) :</div>
														<div class="col-md-3">
															<span ng-bind="userBean.lnameTH" />
															<!-- <div class="col-md-3" th:include="include/formUtil :: textInput(fieldName='user.userName')"></div> -->
														</div>
													</div>
													<!-- ROW 4	-->
													<div class="row" style="min-height:30px">
														<div class="col-md-3 text-right ">คำนำหน้า(ภาษาอังกฤษ) :</div>
														<div class="col-md-3">
															<span ng-bind="userBean.titleNameEN" />
															<!-- <div class="col-md-3" th:include="include/formUtil :: textInput(fieldName='user.userId')"></div> -->
														</div>
														<div class="col-md-2 text-right ">ชื่อจริง(ภาษาอังกฤษ) :</div>
														<div class="col-md-3">
															<span ng-bind="userBean.fnameEN" />
															<!-- <div class="col-md-3" th:include="include/formUtil :: textInput(fieldName='user.userName')"></div> -->
														</div>
													</div>
													<!-- ROW 5	-->
													<div class="row" style="min-height:30px">
														<div class="col-md-3 text-right ">ชื่อกลาง(ภาษาอังกฤษ) :</div>
														<div class="col-md-3">
															<span ng-bind="userBean.mnameEN" />
															<!-- <div class="col-md-3" th:include="include/formUtil :: textInput(fieldName='user.userId')"></div> -->
														</div>
														<div class="col-md-2 text-right ">นามสกุล(ภาษาอังกฤษ) :</div>
														<div class="col-md-3">
															<span ng-bind="userBean.lnameEN" />
															<!-- <div class="col-md-3" th:include="include/formUtil :: textInput(fieldName='user.userName')"></div> -->
														</div>
													</div>
													<!-- ROW 6	-->
													<div class="row" style="min-height:30px">
														<div class="col-md-3 text-right ">วันเกิด :</div>
														<div class="col-md-3">
															<!-- <div class="col-md-3" th:include="include/formUtil :: textInput(fieldName='user.birthdate')"></div> -->
															<span ng-bind="userBean.birthDateStr" />
														</div>
														<div class="col-md-2 text-right ">อายุ :</div>
														<div class="col-md-3">
															<span ng-bind="userBean.age" />
															<!-- <div class="col-md-3" th:include="include/formUtil :: textInput(fieldName='user.userName')"></div> -->
														</div>
													</div>
													<!-- ROW 7	-->
													<div class="row" style="min-height:30px">
														<div class="col-md-3 text-right ">อีเมล:</div>
														<div class="col-md-3">
															<input type="text" ng-model="userBean.email" ng-value="userBean.email" name="email" id="email" class="form-control" placeholder="email" />
														</div>
														<div class="col-md-2 text-right ">เบอร์โทรศัพท์เคลื่อนที่ :</div>
														<div class="col-md-3">
															<input type="text" ng-model="userBean.mobile" ng-value="userBean.mobile" name="mobile" id="mobile" class="form-control" placeholder="mobile number" />
														</div>
													</div>
												</div>
											</uib-accordion>
											
											<!-- Panel 3 -->
											<uib-accordion close-others="false">
												<div uib-accordion-group="" class="panel-default"
													heading="การยืนยันตัวตน" is-open="true"
													is-disabled="false">
													
													<!-- ROW 1	-->
													<div class="row" style="min-height:30px">
														<div class="col-md-3 text-right ">กรุณากรอกสิ่งที่ท่านเห็น :</div>
														<div class="col-md-3">
															<input type="text" name="captcha" id="captcha" class="form-control" placeholder="CAPTCHA" />
														</div>
													</div>
													<!-- ROW 2	-->
													<div class="row" style="min-height:80px">
														<div class="col-md-3 text-right "></div>
														<div class="col-md-3">
															<img id="imgCaptcha" style="width: 165px;height: 46px;" src="../images/u16477.png" />
															<img id="imgCaptcha" style="width: 74px;height: 43px;" src="../images/u16478.png" />
														</div>
													</div>
													<!-- ROW 3	-->
													<div class="row" style="min-height:30px">
														<div class="col-md-6 text-right">
															<button type="button" id="saveBtn" class="btn btn-success">
																<span class="glyphicon glyphicon-floppy-disk"></span> บันทึก
															</button>
														</div>
														<div class="col-md-6 text-left">
															<button type="button" id="clearBtn" class="btn gray-light">
																<span class="glyphicon glyphicon-refresh"></span> ล้างข้อมูล
															</button>
														</div>
													</div>
			
												</div>
												
											</uib-accordion>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>