<th:block xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd">
	<div class="row">
		<div id="headerMsg" th:class="${message?.message} != null? 'col-md-12':'hidden col-md-12'">
			<p th:class="${message?.success}? 'bg-success text-success panel-round validate-message-panel':'bg-danger text-danger panel-round validate-message-panel'">
				<i th:class="${message?.success}? 'hidden glyphicon glyphicon-exclamation-sign':'glyphicon glyphicon-exclamation-sign'"></i>
				<i th:class="${message?.success}? 'glyphicon glyphicon-ok-circle':'hidden glyphicon glyphicon-ok-circle'"></i>
				<span th:text="${message?.message}"></span>
			</p>
		</div>
		<div th:if="${not #lists.isEmpty(message?.messageList)}" id="headerMsgList" th:class="${message?.messageList} != null? 'col-md-12':'hidden col-md-12'">
			<div th:class="${message?.success}? 'bg-success text-success panel-round validate-message-panel':'bg-danger text-danger panel-round validate-message-panel'">
				<div th:each="messageStr : ${message?.messageList}">
					<i th:class="${message?.success}? 'hidden glyphicon glyphicon-exclamation-sign':'glyphicon glyphicon-exclamation-sign'"></i>
					<i th:class="${message?.success}? 'glyphicon glyphicon-ok-circle':'hidden glyphicon glyphicon-ok-circle'"></i>
					<span th:text="${messageStr}"></span>
				</div>
			</div>
		</div>
	</div>
	
	<div th:if="${#fields.hasErrors('*')}" class="bg-danger text-danger panel-round validate-message-panel">
		<div th:each="err : ${#fields.errors('*')}">
			<i class="glyphicon glyphicon-exclamation-sign"></i>
			<span th:text="${err}">Input is incorrect</span>
		</div>
	</div>
</th:block>
