<div class="alert alert-warning" role="alert">
	<strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> ข้อกำหนดในการตั้งรหัสผ่าน</strong> 
	<ul>
		<li>มีอักขระอย่างน้อย 8 ตัว และไม่เกิน 20 ตัว ให้มีผสมกันทั้งตัวเลขและตัวอักษรภาษาอังกฤษ</li>
		<li>สามารถใช้อักขระพิเศษได้ดังนี้ @$%^&amp;*_. </li>
	</ul>
</div>