<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=e" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

</head>
<body>
	<div class="modal-content modal-login modal-background" >
		<div class="modal-body">
		
			<h2 class="login-modal-text col-md-12 text-center">ล๊อคอินเข้าสู่ระบบ</h2>
			<div class="row">
				<div class="form-group">
					<div class="col-sm-2 col-md-2">
						<label class="login-modal-text">รหัสผู้ใช้งาน</label>
					</div>
					<div class="col-sm-10 col-md-10">
						<input type="text" name="username" value="" class="form-control"
							placeholder="กรุณากรอกรหัสประจำตัวประชาชน 13 หลัก/ รหัสนิติบุคคล 13 หลัก"
							required="required" autocomplete="off" aria-required="true">
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-2 col-md-2">
						<label class="login-modal-text">รหัสผ่าน</label>
						
					</div>
					<div class="col-sm-10 col-md-10">
						<input type="password" name="password" value=""
							class="form-control" placeholder="กรุณากรอกรหัสผ่าน"
							required="required" autocomplete="off" aria-required="true">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-12">
						<div class="col-sm-2 col-md-2"></div>
						<div class="col-xs-6 col-sm-5 col-md-5 text-xs-left">
<!-- 							<button class="btn btn-primary btn-login" ng-click="login()">Login</button> -->
							<input type="submit" class="btn-style btn-login" name="button" id="button" value="เข้าสู่ระบบ" ng-click="login()"/>
						</div>
						<div class="col-xs-6 col-sm-5 col-md-5">
							<a href="#" class="pull-right" style=" margin-right: 25px;"><u class="login-modal-text">ลืมรหัสผ่าน</u></a>
						</div>
					</div>
				</div>

			</div>
			<div class="modal-footer">
				<div class="form-group">
					<div class="col-xs-6 col-sm-6 col-md-6 text-left">
						<h3><a href="../registerController/register?type=1" target="_blank"><span class="login-modal-text">ไม่ได้เป็นสมาชิก ?</span></a> </h3>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<button class="btn btn-non-login btn-style" ng-click="registerPopup($event)">
							ดำเนินการต่อโดยไม่ต้องล๊อคอิน</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>