<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=e" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<div class="modal-header">
	<input type="checkbox" ng-model="userRegistered"
		ng-click="loadUserdata(userRegistered)" /> <span>ข้อมูลผู้ชำระเดียวกับข้อมูลที่ลงทะเบียนไว้</span>
</div>
<div class="modal-body">
	<form ng-cloak name="registerForm"  novalidate>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-2">
					<label>กลุ่มผู้ใช้งาน : </label>
				</div>
				<div class="col-md-3">
					<div>
						<md-radio-group ng-model="user.userType" layout="row"
							layout-align="space-around end"> <md-radio-button
							ng-repeat="type in userTypeList" ng-value="type.id">
						<span>{{type.value}}</span> </md-radio-button> </md-radio-group>
					</div>
				</div>
				
			</div>
			<div class="col-md-12">
				<div class="col-md-4">
					<label>รหัสบัตรประชาชน/เลขที่หนังสือเดินทาง <span
						style="color: red;">*</span>
					</label>
				</div>
				<div class="col-md-4 col-md-pull-1">
<!-- 					ng-class="{'has-error':registerForm.citizenid.$invalid && isSubmit}" -->

					<input type="text" class="form-control" name="citizenid"
						ng-model="user.citizenid" >
				</div>
					<div class="col-md-5"></div>

			</div>
			<div class="col-md-12" >
				<div class="col-md-1" >
					<label>ชื่อ <span style="color: red;">*</span>
					</label>
				</div>
				<div class="col-md-4" ng-class="{'has-error':registerForm.firstName.$invalid && isSubmit}">
					<input type="text" class="form-control" name="firstName"
						ng-model="user.firstName" required>
				</div>
				<div class="col-md-1">
					<label>สกุล <span style="color: red;">*</span>
					</label>
				</div>
				<div class="col-md-4" ng-class="{'has-error':registerForm.lastName.$invalid && isSubmit}">
					<input type="text" class="form-control" name="lastName"
						ng-model="user.lastName" required>
				</div>
			</div>
			<div class="col-md-12">

					<div class="col-md-2">
						<label>บ้านเลขที่ <span style="color: red;">*</span>
						</label>
					</div>
					<div class="col-md-4 col-md-pull-1" ng-class="{'has-error':registerForm.no.$invalid && isSubmit}">
						<input class="form-control" type="text" name="no"
							ng-model="user.no" required>
					</div>

			
					<div class="col-md-2 col-md-pull-1">
						<label>หมู่บ้าน/ห้องที่/อาคาร </label>
					</div>
					<div class="col-md-4 col-md-pull-1">
						<input class="form-control" type="text" name="village"
							ng-model="user.village">
					</div>
				
			</div>
			<div class="col-md-12">
				<div class="col-md-1">
					<label>หมู่ </label>
				</div>
				<div class="col-md-2">
					<input class="form-control" type="text" name="moo"
						ng-model="user.moo">
				</div>
				<div class="col-md-1">
					<label>ตรอก </label>
				</div>
				<div class="col-md-3">
					<input class="form-control" type="text"
						ng-model="user.buildingName">
				</div>
				<div class="col-md-1">
					<label>ซอย </label>
				</div>
				<div class="col-md-3">
					<input class="form-control" type="text" ng-model="user.soi">
				</div>

			</div>
			<div class="col-md-12">
					<div class="col-md-1">
						<label>ถนน </label>
					</div>
					<div class="col-md-4">
						<input class="form-control" type="text" ng-model="user.road">
					</div>
					<div class="col-md-2">
						<label>จังหวัด <span style="color: red;">*</span></label>
					</div>
					<div class="col-md-4 col-md-pull-1" ng-class="{'has-error':registerForm.province.$invalid && isSubmit}">
						<select class="form-control" placeholder="กรุณาเลือก"
							name="province" ng-model="user.provinceId"
							ng-init="loadProvince()"
							ng-change="loadDistrict(user.provinceId)" ng-required="true">
							<option ng-value="province.id"
								ng-repeat="province in provinceList">{{province.nameTH}}</option>
						</select>
					
				</div>
			</div>
			<div class="col-md-12">
				
					<div class="col-md-2">
						<label>เขต/อำเภอ <span style="color: red;">*</span></label>
					</div>
					<div class="col-md-4 col-md-pull-1" ng-class="{'has-error':registerForm.district.$invalid && isSubmit}">
						<select class="form-control" placeholder="กรุณาเลือก"
							name="district" ng-model="user.districtId"
							ng-change="loadSubdistrict(user.districtId)" ng-required="true">
							<option ng-value="district.id"
								ng-repeat="district in districtList">{{district.nameTH}}</option>
						</select>
					</div>
				
				
					<div class="col-md-2 col-md-pull-1">
						<label>แขวง/ตำบล <span style="color: red;">*</span></label>
					</div>
					<div class="col-md-4 col-md-pull-2" ng-class="{'has-error':registerForm.subdistrict.$invalid && isSubmit}">
						<select class="form-control" placeholder="กรุณาเลือก"
							name="subdistrict" ng-model="user.subdistrictId"
							ng-required="true">
							<option ng-value="subdistrict.id"
								ng-repeat="subdistrict in subdistrictList">{{subdistrict.nameTH}}</option>
						</select>
					</div>
				
			</div>
			<div class="col-md-12">
					<div class="col-md-4">
						<label>รหัสไปรษณีย์ <span style="color: red;">*</span></label>
					</div>
						<div class="col-md-3" ng-class="{'has-error':registerForm.postcode.$invalid && isSubmit}">
							<input type="text=" class="col-md-2 col-md-pull-12 form-control" name="postcode"
								ng-model="user.postcode" required  maxlength="5" minlength="5" ng-pattern="regexNumber">
						</div>
			</div>
			<div class="col-md-12">
					<div class="col-md-1">
						<label>อีเมล <span style="color: red;">*</span></label>
					</div>
					<div class="col-md-3" ng-class="{'has-error':registerForm.email.$invalid && isSubmit}">
						<input class="form-control" type="email" name="email"
							ng-model="user.email" required>
					</div>
					<div class="col-md-3">
						<label>เบอร์โทรศัพท์เคลื่อนที่ <span style="color: red;">*</span>
						</label>
					</div>
					<div class="col-md-3 col-md-pull-1" ng-class="{'has-error':registerForm.telephone.$invalid && isSubmit}">
						<input type="text" class="form-control" name="telephone"
							ng-model="user.telephone" required  maxlength="10" ng-pattern="regexNumber">
					</div>
			</div>
			<div>
				<div class=" text-right">
					<button type="submit" form="registerForm" ng-click="submit(registerForm,user)" class="btn btn-success btn-style">ดำเนินการต่อ</button>
				</div>
			</div>


		</div>
	</form>
</div>
</html>