<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=e" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
	<md-dialog>
	<form ng-cloak>
		<md-dialog-content layout="row" layout-align="center center" flex> <img ng-src="data:image/png;base64,{{imageObj.url}}" />
		</md-dialog-content>
		<md-dialog-content layout="row" layout-align="end center" flex>
		<button class="btn btn-primary btn-style" ng-href="data:image/png;base64,{{imageObj.url}}"
			download="{{imageObj.name}}.png" ng-click="cancel()">ตกลง</button></md-dialog-content>
	</form>
	</md-dialog>
</body>
</html>