<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>กรมบัญชีกลาง</title>
      <meta name="description" content=""/>
      <meta name="keywords" content=""/>
      <script th:src="@{/js/payment/payment.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/payment/payment.css}" />
   
   </head>
<body layout:fragment="content">
<div ng-app="paymentApp" class="content-wrapper">
   <div class="wrapper" ng-controller="paymentMainCtrl">
            <!-- Main content -->
           
				<form name="paymentForm" id="popupSelectContainer">

								<div class="panel panel-custom head-panel">
									<div class="panel-heading">
										<h2 class="panel-title">
											<span class="glyphicon glyphicon-list-alt" ></span>
											<span ng-bind="headerStep"></span>
										</h2>
									</div>
									<div class="panel-body" ng-hide="tab == 4">
										<div class="wizard-progress wizard-progress-lg">
											<div class="steps-progress">
												<div class="progress-indicator"
													ng-style="{'width':steps[tab].progress}"></div>
											</div>
											<ul class="wizard-steps">

												<li ng-class="{'active': tab == 0,'completed': tab > 0}"><a
													href=""><span>1</span>เลือกรายการชำระ</a></li>
												<li ng-class="{'active': tab == 1,'completed': tab > 1}"><a
													href=""><span>2</span>ยืนยันรายการชำระเงิน</a></li>
												<li ng-class="{'active': tab == 2,'completed': tab > 2}"><a
													href=""><span>3</span>เลือกช่องทางการชำระ</a></li>
												<li ng-class="{'active': tab == 3,'completed': tab > 3}"><a
													href=""><span>4</span>ผลการชำระ</a></li>
											</ul>
										</div>
									</div>
									<div class="panel-body" layout="row"
										layout-align="center center" ng-hide="tab == 3">
										<div layout="row" flex="90"
											layout-align="space-between center" layout-wrap=""
											ng-hide="tab == 2">
											<div layout="column">
												<span class="badge"
													ng-style="favoriteSelectedList.length > 0 ? {'background-color': '#efd258'} : {'background-color': ''} ;"
													ng-bind="favoriteSelectedList.length"></span> <i
													class="fa fa fa-star fa-2x " style="color: #efd258;"
													ng-show="favoriteSelectedList.length > 0"
													ng-click="clicktab(4)" aria-hidden="true"></i> <i
													class="fa fa-star-o fa-2x "
													ng-show="favoriteSelectedList.length == 0"
													ng-click="clicktab(4)" aria-hidden="true"></i>
											</div>
											<div layout="column">
												<span class="badge" ng-bind="invoiceItemSelectedList.length"></span>
												<i class="fa fa-shopping-cart fa-2x " ng-click=""
													aria-hidden="true"></i>

											</div>

										</div>

									</div>
									<form>
										<div ng-view=""></div>
										<div layout="row" layout-xs="column" layout-wrap=""
											layout-align="center center">
											<div layout="row" flex="90">
												<button type="button" id="searchBtn" class="btn btn-success btn-style"
													ng-click="previous()"
													ng-hide="tab == 0 || tab == 2 || tab == 3|| tab == 4">ย้อนกลับ</button>
												<div layout="row" layout-align="end center" flex="">
													<button type="button" id="searchBtn" class="btn btn-success btn-style"
														ng-click="next()"
														ng-hide="tab == 2 || tab == 3 || tab == 4">ดำเนินการต่อ</button>
												</div>
											</div>
										</div>

									</form>
								</div>
						




			</form>

            <!-- /.content -->
         </div>
      </div>
 

      
   </body>

</html>

