<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=e" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>รายการรับชำระ</title>
</head>

		<md-content layout="row" flex layout-align="center center">
		<div flex="100" layout-xs="column" layout-sm="column" layout="row">
			<div flex layout="column">
				<md-card layout-padding>
				<div>

					<span class="md-subheadline">
						กรุณายืนยันว่าคุณได้ศึกษาและยอมรับใน <a href="">ข้อกำหนดและเงื่อนไขการใช้บริการ</a>
						และ <a href="">นโยบายอื่นๆ</a> เพื่อดำเนินการต่อ
						เมื่อได้รับการยืนยันการชำระค่าบริการแล้วจะไม่สามารถยกเลิกได้
					</span>
				</div>
				<br>
				<br>
				<div>
					<span>การปฏิเสธความรับผิดชอบ :
						หากพิจารณาแล้วเห็นว่าการชำระเงินของท่านทำโดยการฉ้อโกง
						หรือไม่ถูกต้องตามกฎหมาย</span>
				</div>
				<br>
				<br>
				<div>
					<md-checkbox md-no-ink ng-model="ruleConfirm" class="md-primary"></md-checkbox>
					<span>ข้าพเจ้าได้ศึกษาและยอมรับในข้อกำหนดและเงื่อนไขการชำระค่าบริการ
						ตามที่กรมบัญชีกลางกำหนดแล้ว</span>
				</div>
				</md-card>
				<md-card> <md-toolbar>
				<div class="md-toolbar-tools"
					md-colors="{{formatStyle(toggleCreditTab)}}">
					<md-checkbox md-no-ink ng-model="toggleCreditTab"
						class="md-primary" ng-click="tabClearOther(toggleCreditTab)"></md-checkbox>
					<span>บัตรเครดิต/บัตรเดบิต</span>
				</div>
				<md-content layout-padding ng-if="toggleCreditTab"> <span>ยอดรายการชำระเงินทั้งหมด</span>
				<div layout="column" layout-wrap layout-align="center start">
					<div class="md-headline">
						<span
							ng-bind="invoice.totalAmount | number:2"></span>
						<span>&nbsp;&nbsp;บาท</span>
					</div>
				</div>
				<div flex-offset="15" layout="column">
					<div flex>
						<span>กรุณาเลือกประเภทบัตรเครดิต/บัตรเดบิต</span>
					</div>

				</div>
			
				<div flex-offset="15" flex>

					<md-radio-group ng-model="data.creditTab" layout="row">
					<md-radio-button ng-repeat="rad in creditList" ng-value="rad.id">
					<img ng-src="{{rad.url | trusted}}"></img> </md-radio-button> </md-radio-group>
				</div>
				</md-content> </md-toolbar> <md-toolbar>
				<div class="md-toolbar-tools"
					md-colors="{{formatStyle(toggleCounterTab)}}">
					<md-checkbox md-no-ink ng-model="toggleCounterTab"
						class="md-primary" ng-click="tabClearOther(toggleCounterTab)"></md-checkbox>
					<span>ชำระเงินที่เคาเตอร์</span>
				</div>
				</md-toolbar>
				<md-content layout-padding ng-if="toggleCounterTab"> <span>ยอดรายการชำระเงินทั้งหมด</span>
				<div layout="column" layout-wrap layout-align="center start">
					<div class="md-headline">
						<span
							ng-bind="invoice.totalAmount | number:2"></span>
						<span>&nbsp;&nbsp;บาท</span>
					</div>
				</div>
				<div flex-offset="15" flex>

					<md-radio-group ng-model="data.counterTab" layout="row"
						layout-align="space-around end"> <md-radio-button
						ng-repeat="rad in counterList" ng-value="rad.id" ng-click="imagePopup(rad.id)">
					<div layout="column" layout-align="center center">
						<i class="{{rad.url}}"></i>
					</div>
					<div layout="column" layout-align="center center">
						<span>{{rad.title}}</span>
					</div>
					</md-radio-button> </md-radio-group>
				</div>
				</md-content> <md-toolbar>
				<div class="md-toolbar-tools"
					md-colors="{{formatStyle(toggleBookTab)}}">
					<md-checkbox md-no-ink ng-model="toggleBookTab" class="md-primary"
						ng-click="tabClearOther(toggleBookTab)"></md-checkbox>
					<span>หักบัญชี</span>
				</div>
				</md-toolbar>
				<md-content layout-padding ng-if="toggleBookTab"> <span>ยอดรายการชำระเงินทั้งหมด</span>
				<div layout="column" layout-wrap layout-align="center start">
					<div class="md-headline">
						<span
							ng-bind="invoice.totalAmount | number:2"></span>
						<span>&nbsp;&nbsp;บาท</span>
					</div>
				</div>
				<div flex-offset="15" flex>
					<span>กรุณาเลือกธนาคารที่ต้องการ</span>

					
					<md-select placeholder="กรุณาเลือกธนาคารที่ต้องการ" ng-model="data.bank"
						md-on-open="loadBanks()" style="width:200px;"> <md-option
						ng-value="bank.id" ng-repeat="bank in bankList">{{bank.desc}}</md-option>
					</md-select>
				</div>
				</md-content> </md-card>
			</div>
			<md-card flex="25" flex-xs="100" flex-sm="100" layout-padding layout="column">
			<div layout="row" layout-align="center center">
				<div flex>
					<div layout="column">
						<span class="md-headline">สรุปรายการชำระเงิน</span>
					</div>
					<div layout="column">
						<span class="md-subheadline" ng-bind="invoice.invoiceNo"></span>
					</div>
				</div>
				<div layout="column" layout-align="center center">
					<div flex="none">
						<i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
					</div>
					<div flex>
						<a href="" target="_blank">ข้อมูลผู้ชำระเงิน</a>
					</div>
				</div>
			</div>
				{{data}}
			<div layout="column" flex="100">
				<div ng-repeat="item in invoice.items">
					<div flex>
						<span ng-bind="item.catalogName"></span>
					</div>
					<div layout="row" layout-align="end center">
						<span ng-bind="item.amount  | number:2"></span> <span>&nbsp;&nbsp;บาท</span>
					</div>

				</div>
				<div layout="column" layout-align="end end" flex="100">
					<div layout="column" layout-align="end end" flex="none">
						<div flex>
							<span>จำนวนเงินรวม</span>
						</div>
						<div flex>
							<span class="md-headline"
								ng-bind="invoice.totalAmount | number:2"></span>
							<span class="md-headline">&nbsp;&nbsp;บาท</span>
						</div>
						<div flex>
							<button class="btn btn-success btn-style" ng-click="paymentProcess(data)">
							ชำระเงิน</button>
						</div>
					</div>

				</div>

			</div>
			</md-card>
			
		</div>


		</md-content>



</html>
