<!DOCTYPE html>
<html >
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>รายการรับชำระ</title>

<!-- My JS -->
<script th:src="@{/js/payment/payment.js}"></script>

<link rel="stylesheet" type="text/css"
	th:href="@{/css/payment/payment.css}" />

</head>
<body>
<!-- 	<div  ng-app="paymentApp"> -->

<!-- 		<div ng-controller="paymentSuccessCtrl"> -->

									<div class="panel panel-primary">
										<div class="panel-body">
											<div class="col-sm-12 col-md-12 text-center">

												<div class="row">
													<div class="col-sm-12 col-md-12">
														<i class="fa fa-check-circle-o fa-5x" aria-hidden="true"
															style="color: green;"></i>
													</div>
													<div class="col-sm-12 col-md-12">
													<p>ชำระเงินเรียบร้อยแล้ว (SUCCESS)</p>
													</div>
													<div class="col-sm-12 col-md-12">
														<button ng-click="gotoMain()" class="btn btn-success btn-style">กลับหน้าหลัก</button>
													</div>



												</div>
											</div>
										</div>
									</div>
								

<!-- 		</div> -->
<!-- 	</div> -->

</body>
</html>
