<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=e" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>รายการรับชำระ</title>
</head>


<div class="row">
	<div class="col-sm-12 col-md-12 col-xs-12">
		<div flex="100" layout="row" layout-wrap layout-align="center center">
			<div flex="80">
				<span class="md-subheadline">ตารางสรุปรายการรับชำระ</span>
			</div>
			<div flex="80" ng-repeat="item in invoiceItemSelectedList ">
				<md-card layout="row"> <md-card-title flex="50"
					layout-align="center center"> <md-card-title-text>
				<span class="md-headline" ng-bind="item.catalogName"></span> </md-card-title-text> </md-card-title> <md-card-title
					layout="column">
				<div layout="row">
					<div flex layout="row" layout-align="end end">
						<span class="md-headline" ng-bind="item.amount  | number:2"></span>
						<span class="md-headline">&nbsp;&nbsp;บาท</span>
					</div>
					&nbsp;&nbsp;
					<span class="glyphicon-ring glyphicon-red">
						<span 
							ng-click="delInvoiceSelect(item)"> <i
							class="fa fa-trash"></i> </span></span>
				</div>
				<md-card-title-text layout="row" layout-align="end center">
				<span class="md-subheadline" md-colors="{color :'red'}"
					ng-bind="(item.breakReason || item.breakDate) ? item.breakReason + ' ' + (item.breakDate | date : 'dd MMM yyyy' : 'UTC') : ''"></span>
				</md-card-title-text> </md-card-title> </md-card>
			</div>
			<div flex="80" layout="row" layout-align="end center">
				<span class="md-headline">จำนวนเงินรวม &nbsp;&nbsp;</span><span
					class="md-headline"
					ng-bind="invoiceItemSelectedList | sumOfAmount:'amount' | number:2"></span>
				<span class="md-headline">&nbsp;&nbsp;บาท</span>
			</div>
			<div flex="60" layout-wrap layout-margin>
				<div class="text-center">
				
					<md-checkbox md-no-ink ng-model="$root.confirmPayment" class="md-primary"></md-checkbox>
					<span class="md-subheadline">
						กรุณาตรวจสอบและยืนยันการชำระเงินให้ถูกต้องก่อนเข้าสู่ขั้นตอนการเลือกชำระเงิน
						หากท่านยืนยันรายการแล้ว ระบบจะสร้างใบแจ้งการชำระเงินให้ท่าน
						และไม่สามารถเข้าสู่ขั้นตอนการเลือกชำระรายการเพิ่มได้ </span>
				</div>
			</div>
		</div>



	</div>
</div>

</html>
