<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout="row" layout-align="center center">
		<div flex="90">
			<div class="panel panel-primary">
				<div class="panel-body">
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6">
								<span class="md-headline">ตารางแสดงรายการโปรด</span>
							</div>
							<div class="col-sm-6">
								<div class="row">
									<div class="col-sm-6 text-right">
										<span>แสดงหน้าละ&nbsp;</span>
									</div>
									<div class="col-sm-3">
										<select class="form-control" ng-model="perPages"
											ng-change="pageChanged()"
											ng-options="selectedItem as selectedItem for selectedItem in values">
										</select>
									</div>
									<div class="col-sm-3">
										<span>&nbsp;รายการ</span>
									</div>
								</div>


							</div>
						</div>


						<div class="box-body table-responsive">
							<table id="example2" class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>#</th>
										<th>รหัส Catalog - รายการรับชำระ</th>
										<th>ชื่อกรม</th>
										<th>จำนวนเงิน</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="favorite in sliceFavoriteList">
										<td class="text-center"><span ng-bind="{{($index+1) + (currentPage - 1) * perPages }}"></span></td>
										<td><span
											ng-bind="favorite.catalogCode +'-' +favorite.catalogName"></span></td>
										<td><span ng-bind="favorite.departmentName"></span></td>
										<td class="text-right"><span ng-bind="favorite.amount"></span></td>
										<td class="text-center"><span><i
												class="fa fa-shopping-cart " aria-hidden="true"></i></span> <span><i
												class="fa fa-star" aria-hidden="true"></i></span></td>
									</tr>
								</tbody>
							</table>

						</div>
						<div layout="row" layout-align="space-between center">
							<div layout="column">
								<pre>ผลการค้นหาทั้งหมด {{totalItems}}  รายการ (แสดงรายการที่ {{from+1}} ถึง {{to}} )  </pre>
							</div>
							<div layout="column">
								<ul uib-pagination="" total-items="totalItems"
									ng-model="currentPage" max-size="5" class="pagination-sm"
									items-per-page="perPages" boundary-links="true"
									num-pages="numPages" ng-change="pageChanged()"></ul>
							</div>
						</div>
						<div layout="row" layout-align="space-around center">
							<div layout="column">
								<button class="btn btn-primary" ng-click="saveFavorite(favoriteSelectedList)">
								บันทึก</button>
							</div>
							<div layout="column">
								<button class="btn btn-primary" ng-click="gotoConfirmtab()">
								ชำระค่าบริการ</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>