<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>รายการรับชำระ</title>
</head>

	<div class="form-group">
			<!-- ROW 1	-->
			<div class="row row-no-padding row-no-margin">
				<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right">หน่วยงาน </div>
				<div class="col-sm-3 col-md-2">
					<select class="form-control col-sm-3" ng-model="data.departmentId"
						ng-options="list.id as list.desc for list in deptList">
						<option value="">--กรุณาเลือก--</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-2 col-md-1 text-xs-left text-sm-right text-md-right">หมวดบริการ </div>
				<div class="col-sm-3 col-md-2">
					<select class="form-control col-md-3"  ng-change="getCatalogByCatType(data.catalogTypeId);" 
						ng-model="data.catalogTypeId" ng-options="list.id as list.desc for list in getCatalogTypeList">
						<option value="">--กรุณาเลือก--</option>
					</select>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-1 text-xs-left text-sm-right text-md-right">รายการรับชำระ</div>
				<div class="col-xs-10 col-sm-7 col-md-2">
				<select class="form-control col-md-3"
					ng-model="data.catalogId" ng-options="list.id as list.desc for list in getCatalogList">
					<option value="">--กรุณาเลือก--</option>
				</select>
				</div>
					
<!-- 				<div class="col-md-2"> -->
<!-- 					<input class="form-control col-md-3" ng-model="data.catalogName" /> -->
<!-- 				</div> -->
				<span class="glyphicon glyphicon-search" ng-click="search(data)"></span>
			
		</div>

	</div>
		<div class="row">
	<div class="col-sm-12 col-md-12 col-xs-12">
		<div layout-xs="column" class="ng-scope layout-xs-column layout-row" layout-align="space-between center" layout="row" layout-wrap>
			<div flex="5" flex-sm="7" class="flex-sm-10 flex-5 hide-xs " layout="row" layout-wrap layout-align="end center">
				<md-button class="md-icon-button" ng-disabled="currentPage == 0"
					ng-click="currentPage = currentPage - 1"> <md-icon
					md-font-icon="fa fa-arrow-circle-o-left fa-2x"></md-icon> </md-button>
			</div>
			<div flex="90" flex-sm="7" class="flex-sm-80 flex-90" layout="row" layout-wrap>
				<div flex="20" flex-xs="100" class="flex-xs-100 flex-sm-50 flex-20" layout="column"
					ng-repeat="invoiceItem in invoiceItemList | startFrom:currentPage*pageSize | limitTo:pageSize">
					<md-card style="height:100%"> <md-card-title>
					<md-card-title-text> <span class="md-headline"
						ng-bind="invoiceItem.catalogName"></span> </md-card-title-text> <md-card-title-text
						layout="row" layout-align="end start" flex="10">
					<span ng-show="!invoiceItem.favorite"
						class="md-title fa fa-star-o "
						ng-click="addFavoriteSelected(invoiceItem)"></span> <span
						ng-show="invoiceItem.favorite"
						class="md-title fa fa-star " style="color: #efd258;"
						ng-click="delFavoriteSelected(invoiceItem)"></span> </md-card-title-text> </md-card-title> <md-card-title
						layout="row" layout-align="end end"> <md-card-title-text>
					<span class="md-subhead" md-colors="{color :'red'}"
						ng-bind="(invoiceItem.conditionText) ? invoiceItem.conditionText  : ''"></span>
					<div class="md-headline">
						<span ng-bind="invoiceItem.amount | number:2"> </span><span>&nbsp;&nbsp;บาท</span>
					</div>
					</md-card-title-text> <md-card-title-text layout="row" layout-align="end end" flex="10">
					<span class="md-title fa fa-cart-plus" ng-style="checkInvoiceSelected(invoiceItem)?{color:'#efd258'}:{color:'black'}  "
						ng-click="clickCart(invoiceItem)"></span> </md-card-title-text> </md-card-title> </md-card>
				</div>
			</div>
			<div flex="5" flex-sm="7" class="flex-sm-10 flex-5 hide-xs"  layout="row" layout-wrap layout-align="start center">
				<md-button class="md-icon-button"
					ng-disabled="currentPage >= invoiceItemList.length/pageSize - 1 "
					ng-click="currentPage = currentPage + 1"> <md-icon
					md-font-icon="fa fa-arrow-circle-o-right fa-2x"></md-icon> </md-button>
			</div>
</div>
</div>
</div>

</html>
