<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">

<head>
<!-- 	   <link rel="shortcut icon"  th:href="@{/favicon.ico}" type="image/x-icon" /> -->
	   <link th:href="@{/favicon.ico}" rel="shortcut icon"/>
<!-- 	    <link href="/images/branding/product/ico/googleg_lodp.ico" rel="shortcut icon"/> -->
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>กรมบัญชีกลาง</title>
      <meta name="description" content=""/>
      <meta name="keywords" content=""/>

   
<!-- My JS -->
<script th:src="@{/js/payment/payment-list.js}"></script>
<title>ประวัติการชำระเงิน</title>
</head>
<body layout:fragment="content">

	
	<div ng-app="paymentApp" class="content-wrapper">
   <div class="wrapper" ng-controller="paymentListCtrl">


			<form name="paymentListForm" id="popupSelectContainer">
								<div class="panel panel-custom head-panel">
									<div class="panel-heading">
										<h2 class="panel-title">
											<span class="glyphicon glyphicon-list-alt" ></span>
											<span>รายการรอชำระ</span> 
										</h2>
									</div>
			
<!-- 				<div class="panel panel-custom"> -->
<!-- 					<div class="panel-heading"> -->
<!-- 						<div class="panel-title"> -->
<!-- 							<span>รายการรอชำระ</span> -->
<!-- 						</div> -->
<!-- 					</div> -->

					<div class="panel-body">
						<div class="panel-default">
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6">
									<span class="md-headline">ตารางแสดงรายการที่ถึงกำหนดชำระ</span>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6">
										<div class="col-xs-6 col-sm-4 col-md-6 text-right">
											<span>แสดงหน้าละ&nbsp;</span>
										</div>
										<div class="col-xs-3 col-sm-4 col-md-3">
											<select class="form-control" ng-model="perPages"
												ng-change="pageChanged()"
												ng-options="selectedItem as selectedItem for selectedItem in values">
											</select>
										</div>
										<div class="col-xs-1 col-sm-2 col-sm-3">
											<span>&nbsp;รายการ</span>
										</div>


								</div>
							</div>
							<div class="box-body table-responsive ">
								<table id="example2" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th class="text-center">#
											</th>
											<th nowrap="" class="text-center">
												<a href="" ng-click="orderFunction('invoiceNo')"> 
													<span th:text="เลขที่ใบแจ้งชำระเงิน"></span>
														<span ng-show="checkField('invoiceNo')"> <span
															ng-show="!reverseSort"
															class="glyphicon glyphicon-triangle-top"></span> <span
															ng-show="reverseSort"
															class="glyphicon glyphicon-triangle-bottom"></span>
														</span>
												</a>
											</th>
											<th nowrap="" class="text-center">
											<a href="" ng-click="orderFunction('ref1')"> 
													<span >เลขที่อ้างอิง(Ref.)1</span>
														<span ng-show="checkField('ref1')"> <span
															ng-show="!reverseSort"
															class="glyphicon glyphicon-triangle-top"></span> <span
															ng-show="reverseSort"
															class="glyphicon glyphicon-triangle-bottom"></span>
														</span>
												</a>
											
											</th>
											<th nowrap="" class="text-center">
											<a href="" ng-click="orderFunction('catalogCode')"> 
													<span >รหัส - รายการรับชำระ</span>
														<span ng-show="checkField('catalogCode')"> <span
															ng-show="!reverseSort"
															class="glyphicon glyphicon-triangle-top"></span> <span
															ng-show="reverseSort"
															class="glyphicon glyphicon-triangle-bottom"></span>
														</span>
												</a>
											</th>
											<th class="text-center">
											<a href="" ng-click="orderFunction('departmentName')"> 
													<span >หน่วยงาน</span>
														<span ng-show="checkField('departmentName')"> <span
															ng-show="!reverseSort"
															class="glyphicon glyphicon-triangle-top"></span> <span
															ng-show="reverseSort"
															class="glyphicon glyphicon-triangle-bottom"></span>
														</span>
												</a>
											
											</th>
											<th class="text-center">
											<a href="" ng-click="orderFunction('totalAmount')"> 
													<span >จำนวนเงิน</span>
														<span ng-show="checkField('totalAmount')"> <span
															ng-show="!reverseSort"
															class="glyphicon glyphicon-triangle-top"></span> <span
															ng-show="reverseSort"
															class="glyphicon glyphicon-triangle-bottom"></span>
														</span>
												</a>
											</th>
											<th class="text-center">
											<a href="" ng-click="orderFunction('endDate')"> 
													<span >วันที่ถึงกำหนดชำระ</span>
														<span ng-show="checkField('endDate ')"> <span
															ng-show="!reverseSort"
															class="glyphicon glyphicon-triangle-top"></span> <span
															ng-show="reverseSort"
															class="glyphicon glyphicon-triangle-bottom"></span>
														</span>
												</a>
											</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="data in sliceData | orderBy:orderByField:reverseSort track by $index">
											<td class="text-center"><span>{{($index+1) +
													(currentPage - 1) * perPages }}</span></td>

											<td class="text-center"  nowrap="" ><span ng-bind="data.invoiceNo"></span></td>
											<td class="text-center"  nowrap=""><span ng-bind="data.ref1"></span></td>
											<td class="text-center" nowrap=""><span
												ng-bind="data.catalogCode + '-' + data.catalogName"></span></td>
											<td class="text-center" nowrap=""><span
												ng-bind="data.departmentName"></span></td>
											<td class="text-right" nowrap=""><span
												ng-bind="data.totalAmount | number:2"></span></td>
											<td class="text-center" nowrap=""><span
												ng-bind="data.endDateStr"></span></td>
											<td class="text-center text-nowrap ">
													<span class="glyphicon-ring glyphicon-green">
													<span ng-click="imagePopup(1,data.invoiceId,$event)" ><i
													class="fa fa-print"></i></span></span>&nbsp;
													<span class="glyphicon-ring glyphicon-orange">
													<span ng-click="imagePopup(2,data.invoiceId,$event)"><i
													class="fa fa-qrcode"></i></span></span>&nbsp;
													<span class="glyphicon-ring glyphicon-blue">
													<span ng-click="imagePopup(3,data.invoiceId,$event)"><i
													class="fa fa-barcode"></i></span></span>&nbsp;
													<span class="glyphicon-ring glyphicon-brown">
													<span ng-click="imagePopup(4,data.invoiceId,$event)"><i
													class="fa fa-money"></i></span></span></td>
										</tr>
									</tbody>
								</table>

							</div>
							<div layout="row" layout-xs="column" class="ng-scope layout-xs-column layout-row" layout-align="space-between center">
								<div layout="column">
									<pre>ผลการค้นหาทั้งหมด {{totalItems}} </pre>
								</div>
								<div layout="column">
									<ul uib-pagination="" total-items="totalItems"
										ng-model="currentPage" max-size="5" class="pagination-sm"
										items-per-page="perPages" boundary-links="true"
										num-pages="numPages" ng-change="pageChanged()"></ul>
								</div>
							</div>
							<br />

						</div>


					</div>
</div>

			</form>
		</div>
	</div>
</body>
</html>