<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>Manage Invoice</title>

<!-- My JS -->
<script th:src="@{/js/manageInvoice/ctl70000-search.js}"></script>
</head>
<body layout:fragment="content">
	<div ng-app="ctl70000SearchApp" class="content-wrapper">
		<div class="wrapper" ng-controller="ctl70000Ctrl as $ctrl">

			<div class="sidebar-nav">
				<div class="nav-canvas">
					<div class="nav-sm nav nav-stacked"></div>
				</div>
			</div>

			<div class="panel panel-custom head-panel">
				<div class="panel-heading">
					<h2 class="panel-title">
						<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
						รายการใบแจ้งการชำระ
					</h2>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<!-- ROW 1	-->
						<div class="row row-no-padding">
							<div
								class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">หน่วยงาน
								:</div>
							<div class="col-sm-8 col-md-3">
								<select class="form-control col-md-3"
									ng-model="data.departmentId"
									ng-options="list.id as list.desc for list in deptList"									
									ng-change="getDisbursementUnitList(data.departmentId)">
									<option value="">--กรุณาเลือก--</option>
								</select>
							</div>
							<div
								class="col-xs-12 col-sm-4 col-md-2 text-xs-left text-sm-right text-md-right ">หน่วยเบิกจ่าย
								:</div>
							<div class="col-sm-8 col-md-3">
								<select class="form-control col-md-3"
									ng-model="data.disbursementUnitId"
									ng-options="list.id as list.desc2 for list in disbursementUnitList"
									ng-change="getCostCenterList(data.disbursementUnitId)">
									<option value="">--กรุณาเลือก--</option>
								</select>
							</div>
						</div>
						<!-- ROW 2	-->
						<div class="row row-no-padding">
							<div
								class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">ศูนย์ต้นทุน
								:</div>
							<div class="col-sm-8 col-md-3">
								<select class="form-control" ng-model="data.costCenterId"
									ng-options="list.id as list.desc2 for list in costCenterList">
									<option value="">--กรุณาเลือก--</option>
								</select>
							</div>
							<div
								class="col-xs-12 col-sm-4 col-md-2 text-xs-left text-sm-right text-md-right ">สถานะ
								:</div>
							<div class="col-sm-8 col-md-3">
								<select class="form-control" ng-model="data.status">
									<option value="">--กรุณาเลือก--</option>
									<option value="0">รอชำระ</option>
									<option value="1">ยืนยันการชำระ</option>
									<option value="3">ยกเลิก</option>
									<option value="5">ชำระเงินออนไลน์</option>
									<option value="6">ชำระยอดเงินไม่ถูกต้อง</option>
								</select>
							</div>
						</div>
						<!-- ROW 3	-->
						<div class="row row-no-padding">
							<div
								class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">เลขที่ใบแจ้งการชำระ
								:</div>
							<div class="col-sm-8 col-md-3">
								<input type="text" class="form-control" required="required"
									ng-model="data.invoiceNo" />
							</div>
							<div
								class="col-xs-12 col-sm-4 col-md-2 text-xs-left text-sm-right text-md-right ">เลขที่อ้างอิง(Ref)
								1 :</div>
							<div class="col-sm-8 col-md-3">
								<input type="text" class="form-control" required="required"
									ng-model="data.ref1" />
							</div>
						</div>
						<!-- ROW 4	-->
						<div class="row row-no-padding">
							<div
								class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">ช่วงวันที่สร้าง
								จาก :</div>
							<datepicker-dir class="col-md-3 col-sm-8 col-xs-11"
								ng-model="data.startDate" format-date="dd/MM/yyyy"></datepicker-dir>
							<div
								class="col-xs-12 col-sm-4 col-md-2 text-xs-left text-sm-right text-md-right">ถึง
								:</div>
							<datepicker-dir class="col-md-3 col-sm-8 col-xs-11"
								ng-model="data.endDate" format-date="dd/MM/yyyy"></datepicker-dir>
						</div>
						<!-- ROW 5	-->
						<div class="row row-no-padding">
							<div
								class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">เลขประจำตัวประชาชน/เลขนิติบุคคล/เลขหนังสือเดินทาง/เลขประจำตัวผู้เสียภาษี
								:</div>
							<div class="col-sm-8 col-md-3">
								<input type="text" class="form-control" required="required"
									ng-model="data.citizenNo" />

							</div>
							<div class="col-sm-12 visible-sm"></div>
							<div
								class="col-xs-12 col-sm-4 col-md-2 text-xs-left text-sm-right text-md-right ">ชื่อนามสกุล
								/ นิติบุคคล / คณะบุคคล :</div>
							<div class="col-sm-8 col-md-3">
								<input type="text" class="form-control" required="required"
									ng-model="data.name" />
							</div>
						</div>
						<!-- ROW 6	-->
						<div class="row row-no-padding">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
								<button type="button" id="searchBtn"
									class="btn btn-primary btn-style"
									ng-click="$ctrl.search();currentPage = 1;">
									<span class="glyphicon glyphicon-search"></span> ค้นหา
								</button>

								<button type="button" id="searchBtn"
									class="btn btn-primary btn-style"
									ng-click="$ctrl.clearSearch()">
									<span class="glyphicon glyphicon-refresh"></span> ล้างข้อมูล
								</button>
							</div>
						</div>

						<!-- ROW 7	-->
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6 text-xs-center">
								<button type="button" id="searchBtn"
									class="btn btn-primary btn-style"
									ng-click="exportExcel(exportList)">
									<span class="glyphicon glyphicon-print"></span> Export Excel
									File
								</button>
								<button type="button" id="searchBtn"
									ng-click="getMultiInvoiceRpt(invoiceList)"
									class="btn btn-primary btn-style">
									<span class="glyphicon glyphicon-print"></span> พิมพ์ใบแจ้ง
								</button>
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6">
								<div class="col-xs-6 col-sm-4 col-md-6 text-right">
									<span>แสดงหน้าละ&nbsp;</span>
								</div>
								<div class="col-xs-3 col-sm-4 col-md-3">
									<select class="form-control" ng-model="perPages"
										ng-change="pageChanged()"
										ng-options="selectedItem as selectedItem for selectedItem in values">
									</select>
								</div>
								<div class="col-xs-1 col-sm-2 col-sm-3">
									<span>&nbsp;รายการ</span>
								</div>
							</div>
							
						</div>
						<!-- TABLE -->
						<div class="box-body table-responsive">
							<table class="table table-bordered table-hover">
								<thead>
									<tr class="text-center">
										<th width="2%" class="text-center"><input type="checkbox"
											ng-click="setSelectAll(sliceData)" ng-model="selectAll" /></th>
										<th width="10%" class="text-center"><a href=""
											ng-click="orderFunction('invoiceNo')"> <span>เลขที่<br />ใบแจ้งการชำระ
											</span> <span ng-show="checkField('invoiceNo')"> <span
													ng-show="!reverseSort"
													class="glyphicon glyphicon-triangle-top"></span> <span
													ng-show="reverseSort"
													class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a></th>
										<th width="10%" class="text-center"><a href=""
											ng-click="orderFunction('ref1')"> <span>เลขที่อ้างอิง<br />(Ref)
													1
											</span> <span ng-show="checkField('ref1')"> <span
													ng-show="!reverseSort"
													class="glyphicon glyphicon-triangle-top"></span> <span
													ng-show="reverseSort"
													class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a></th>
										<th width="19%" class="text-center"><a href=""
											ng-click="orderFunction('name')"> <span>ชื่อ -
													นามสกุล /<br />นิติบุคคล /คณะบุคคล
											</span> <span ng-show="checkField('name')"> <span
													ng-show="!reverseSort"
													class="glyphicon glyphicon-triangle-top"></span> <span
													ng-show="reverseSort"
													class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a></th>
										<th width="17%" class="text-center"><a href=""
											ng-click="orderFunction('citizenNo')"> <span>รหัสประจำตัวประชาชน
													/<br />นิติบุคคล /เลขหนังสือ<br />เดินทาง
													/เลขประจำตัวผู้เสียภาษี
											</span> <span ng-show="checkField('citizenNo')"> <span
													ng-show="!reverseSort"
													class="glyphicon glyphicon-triangle-top"></span> <span
													ng-show="reverseSort"
													class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a></th>
										<th width="8%" class="text-center"><a href=""
											ng-click="orderFunction('totalAmount')"> <span>จำนวนเงิน</span>
												<span ng-show="checkField('totalAmount')"> <span
													ng-show="!reverseSort"
													class="glyphicon glyphicon-triangle-top"></span> <span
													ng-show="reverseSort"
													class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a></th>
										<th width="8%" class="text-center"><a href=""
											ng-click="orderFunction('startDate')"> <span>วันที่<br />เริ่มต้นชำระ
											</span> <span ng-show="checkField('startDate')"> <span
													ng-show="!reverseSort"
													class="glyphicon glyphicon-triangle-top"></span> <span
													ng-show="reverseSort"
													class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a></th>
										<th width="8%" class="text-center"><a href=""
											ng-click="orderFunction('endDate')"> <span>วันที่ครบ<br />กำหนดชำระ
											</span> <span ng-show="checkField('endDate')"> <span
													ng-show="!reverseSort"
													class="glyphicon glyphicon-triangle-top"></span> <span
													ng-show="reverseSort"
													class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a></th>
										<th width="8%" class="text-center"><a href=""
											ng-click="orderFunction('status')"> <span>สถานะ</span> <span
												ng-show="checkField('status')"> <span
													ng-show="!reverseSort"
													class="glyphicon glyphicon-triangle-top"></span> <span
													ng-show="reverseSort"
													class="glyphicon glyphicon-triangle-bottom"></span>
											</span>
										</a></th>
										<th width="10%" class="text-center"></th>
									</tr>
								</thead>
								<tbody>
									<tr
										ng-repeat="x in sliceData | orderBy:orderByField:reverseSort track by $index ">
										<td><input type="checkbox" ng-model="checkList[$index]"
											ng-checked="isInvoiceContains(x['id'])"
											ng-click="selectInvoice(x)" /></td>
										<td>{{x.invoiceNo}}</td>
										<td>{{x.ref1}}</td>
										<td>{{x.name}}</td>
										<td>{{x.citizenNo}}</td>
										<td class="text-right">{{x.totalAmount | number:2}}</td>
										<td>{{x.startDate | date:'dd/MM/yyyy'}}</td>
										<td>{{x.endDate | date:'dd/MM/yyyy'}}</td>
										<td><span ng-if="x.status=='0'">รอชำระ</span><span
											ng-if="x.status=='1'">ยืนยันการชำระ</span> <span
											ng-if="x.status=='3'">ยกเลิก</span><span
											ng-if="x.status=='5'">ชำระเงินออนไลน์</span> <span
											ng-if="x.status=='6'">ชำระยอดเงินไม่ถูกต้อง</span></td>

										<td class="text-center text-nowrap"><span
											class="glyphicon-ring glyphicon-green glyphicon glyphicon-print"
											ng-click="$ctrl.prinvInvoice(x.id)" role="button"></span> <span
											class="glyphicon-ring glyphicon-blue glyphicon glyphicon-edit"
											role="button" ng-click="editPage(x.id)"> </span> <span
											ng-click="cancelInvoice(x.id)"
											class="glyphicon-ring glyphicon-red glyphicon glyphicon-trash"
											role="button"></span></td>
									</tr>
									<tr ng-if="data3List.length == 0">
										<td colspan="10" class="text-center">ไม่มีข้อมูล</td>
									</tr>
								</tbody>
							</table>

						</div>
						<!-- PAGINATION -->
						<div layout="row" layout-xs="column"
							class="ng-scope layout-xs-column layout-row"
							layout-align="space-between center">
							<div layout="column">
								<!-- 								<pre>ผลการค้นหาทั้งหมด {{totalItems}} </pre> -->
							</div>
							<div layout="column">
								<ul uib-pagination="" total-items="totalItems"
									ng-model="currentPage" max-size="5" class="pagination-sm"
									items-per-page="perPages" boundary-links="true"
									num-pages="numPages" ng-change="pageChanged()"></ul>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-xs-12 col-md-12 text-center ">
								<a href="../manageInvoice/create"><button type="button"
										id="searchBtn" class="btn btn-success btn-style">
										<span class="glyphicon glyphicon-floppy-save"></span> เพิ่ม
									</button></a>
								<button type="button" class="btn btn-danger btn-style"
									ng-click="deleteList(invoiceList);">
									<span class="glyphicon glyphicon-trash"></span> ลบ
								</button>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</body>
</html>