<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=e" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<form ng-cloak name="invoiceItemForm" novalidate autocomplete="off">
	<div class="panel panel-custom">
		<div class="panel-heading">
			<h3 class="panel-title" id="modal-title">
				<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
				รายการรับชำระเงิน
			</h3>
		</div>
		<div class="panel-body" id="modal-body">
			<div class="form-group">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div
							class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">
							หมวดบริการ <span class="red">*</span> :
						</div>
						<div class="col-xs-12 col-sm-5 col-md-5"
							ng-class="{'has-error':invoiceItemForm.mCatalogId.$invalid && $ctrl.isSubmit}">
							<select class="form-control" ng-model="$ctrl.data.mCatalogId" ng-init="$ctrl.getCatalogList($ctrl.data.mCatalogId)"
								name="mCatalogId" ng-change="$ctrl.getCatalogList($ctrl.data.mCatalogId)"
								ng-options="list.id as list.desc for list in $ctrl.mCatalogList"
								ng-required="true">
								<option value="">--กรุณาเลือก--</option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div
							class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">
							รายการรับชำระ <span class="red">*</span> :
						</div>
						<div class="col-xs-12 col-sm-4 col-md-4">
							<angucomplete id="ex1" placeholder="กรุณาระบุ" pause="100" name="catalogName"
							ng-class="{'has-error':(invoiceItemForm.catalogName.$invalid || $ctrl.data.catalogId==null ) && $ctrl.isSubmit}"
													selectedobject="$ctrl.catalog" localdata="$ctrl.catalogList"
													searchfields="desc" titlefield="desc" minlength="1"
													inputclass="form-control form-control-small"
													ng-required="true"/>
<!-- 							<input type="text" class="form-control" name="catalogName" -->
<!-- 								ng-model="$ctrl.data.catalogName" -->
<!-- 								ng-keydown="$ctrl.onKeyDownHandler();" -->
<!-- 								ng-keyup="$ctrl.onKeyUpHandler();" ng-required="true" /> -->
						</div>
<!-- 						<div class="col-xs-12 col-sm-3 col-md-3"> -->
<!-- 							<span class="red" ng-if="$ctrl.data.catalogId == null">ไม่พบข้อมูลการรับชำระ </span>{{$ctrl.catalog.originalObject}}  -->
<!-- 						</div> -->
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div
							class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">รายละเอียดเพิ่มเติม
							:</div>
						<div class="col-xs-12 col-sm-7 col-md-7">
							<input type="text" class="form-control"
								ng-model="$ctrl.data.itemName" />

						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div
							class="col-xs-3 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">
							จำนวนเงิน <span class="red">*</span> :
						</div>
						<div class="col-xs-4 col-sm-3 col-md-3"
							ng-class="{'has-error':(invoiceItemForm.amount.$invalid ) && $ctrl.isSubmit}">
							<input type="text" ng-pattern="regexNumber" class="form-control text-right" 
								name="amount" ng-model="$ctrl.data.amount"
								ng-disabled="amountDis" ng-required="true" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- FOOTER	-->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
				<button type="submit" id="saveBtn" class="btn btn-success btn-style"
					ng-click="$ctrl.ok(invoiceItemForm)">
					<span class="glyphicon glyphicon-floppy-disk"></span> บันทึก
				</button>

				<button type="button" id="cancelBtn" class="btn btn-danger btn-style"
					ng-click="$ctrl.cancel()">
					<span class="glyphicon glyphicon-remove-sign"></span> ยกเลิก
				</button>
			</div>
		</div>
	</div>
</form>
<br />
</html>