
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>Create Invoice</title>

<!-- My JS -->
<script th:src="@{/js/manageInvoice/ctl80000-create.js}"></script>
<script th:src="@{/js/common/address.js}"></script>
<script th:inline="javascript">
	var invoice = [[${invoice}]];
</script>
</head>
<body layout:fragment="content">
	<div ng-app="ctl80000App" class="content-wrapper">
		<div class="wrapper" ng-controller="ctl80000Ctrl as $ctrl">
			<form name="invoiceForm">
				<div class="sidebar-nav">
					<div class="nav-canvas">
						<div class="nav-sm nav nav-stacked"></div>
					</div>
				</div>

				<div class="panel panel-custom head-panel">
					<div class="panel-heading">
						<h2 class="panel-title">
							<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
							ข้อมูลใบแจ้งชำระเงิน
						</h2>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<uib-accordion close-others="false"> <!-- PANAL 1 -->
							<div uib-accordion-group="" class="panel-default"
								heading="ข้อมูลผู้ชำระเงิน" is-open="true" is-disabled="false">
								<!-- ROW 1	-->
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-4 row-no-padding">
										<div
											class="col-xs-12 col-sm-4 col-md-5 text-xs-left text-sm-right text-md-right ">
											ประเภทบุคคล <span class="red">*</span> :
										</div>
										<div class="col-sm-8 col-md-7"
											ng-class="{'has-error':invoiceForm.persTypeId.$invalid &amp;&amp; isSubmit}">
											 <select class="form-control col-md-3"
												ng-change="disToggle()" ng-model="data.persTypeId"
												ng-options="list.id as list.desc for list in persTypeList">

											</select>
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-8 row-no-padding">
										<div
											class="col-xs-12 col-sm-4 col-md-6 text-xs-left text-sm-right text-md-right ">
											เลขประจำตัวประชาชน/เลขนิติบุคคล <br/>/เลขหนังสือเดินทาง/เลขประจำตัวผู้เสียภาษี <span class="red">*</span> :
										</div>
										<div class="col-sm-8 col-md-6" style="display:flex;"
											ng-class="{'has-error':invoiceForm.citizenNo.$invalid &amp;&amp; isSubmit}">
											<input type="text" class="form-control"	name="citizenNo" required="required" ng-model="data.citizenNo" ></input>
												 &nbsp;<span class="glyphicon glyphicon-search" ng-click="getUserCitizen(data.citizenNo)"></span>
										</div>
									</div>
								</div>

								<!-- ROW 2	-->
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-4 row-no-padding">
										<div
											class="col-xs-12 col-sm-4 col-md-5 text-xs-left text-sm-right text-md-right ">คำนำหน้า :</div>
										<div class="col-sm-8 col-md-4">
											<select class="form-control" ng-model="data.titleId"
												ng-options="list.id as list.desc for list in titleList"
												ng-disabled="dis.pers">
											</select>
										</div>
									</div>
								</div>

								<!-- ROW 3	-->
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-4 row-no-padding">
										<div
											class="col-xs-12 col-sm-4 col-md-5 text-xs-left text-sm-right text-md-right ">ชื่อจริง :</div>
										<div class="col-sm-8 col-md-7">
											<input type="text" class="form-control" ng-required="!dis.pers"
												ng-model="data.firstName" ng-disabled="dis.pers" />
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-4 row-no-padding">
										<div
											class="col-xs-12 col-sm-4 col-md-4 text-xs-left text-sm-right text-md-right ">ชื่อกลาง :</div>
										<div class="col-sm-8 col-md-8">
											<input type="text" class="form-control"
												ng-model="data.midName" ng-disabled="dis.pers" />
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-4 row-no-padding">
										<div
											class="col-xs-12 col-sm-4 col-md-4 text-xs-left text-sm-right text-md-right ">นามสกุล :</div>
										<div class="col-sm-8 col-md-8">
											<input type="text" class="form-control"
												ng-model="data.lastName" ng-disabled="dis.pers" />
										</div>
									</div>
								</div>

								<!-- ROW 4	-->
								<!-- 							<div class="row"> -->
								<!-- 								<div class="col-xs-12 col-sm-12 col-md-4"> -->
								<!-- 									<div class="col-xs-12 col-sm-4 col-md-5 text-xs-left text-sm-right text-md-right ">คำนำหน้า -->
								<!-- 										(ภาษาอังกฤษ) :</div> -->
								<!-- 									<div class="col-sm-8 col-md-7"> -->
								<!-- 										<select class="form-control col-md-3" -->
								<!-- 											ng-model="data.titleEnId" -->
								<!-- 											ng-options="list.id as list.desc2 for list in titleList" -->
								<!-- 											ng-disabled="dis.pers"> -->
								<!-- 										</select> -->
								<!-- 									</div> -->
								<!-- 								</div> -->
								<!-- 							</div> -->

								<!-- ROW 5	-->
								<!-- 							<div class="row"> -->
								<!-- 								<div class="col-xs-12 col-sm-12 col-md-4"> -->
								<!-- 									<div class="col-xs-12 col-sm-4 col-md-5 text-xs-left text-sm-right text-md-right ">ชื่อจริง -->
								<!-- 										(ภาษาอังกฤษ) :</div> -->
								<!-- 									<div class="col-sm-8 col-md-7"> -->
								<!-- 										<input type="text" class="form-control" -->
								<!-- 											ng-init="data.firstNameEn ='Wachudi'" required="required" -->
								<!-- 											ng-model="data.firstNameEn" ng-disabled="dis.pers" /> -->
								<!-- 									</div> -->
								<!-- 								</div> -->
								<!-- 								<div class="col-xs-12 col-sm-12 col-md-4"> -->
								<!-- 									<div class="col-xs-12 col-sm-4 col-md-5 text-xs-left text-sm-right text-md-right ">ชื่อกลาง -->
								<!-- 										(ภาษาอังกฤษ) :</div> -->
								<!-- 									<div class="col-sm-8 col-md-7"> -->
								<!-- 										<input type="text" class="form-control" -->
								<!-- 											ng-init="data.midNameEn ='P'" required="required" -->
								<!-- 											ng-model="data.midNameEn" ng-disabled="dis.pers" /> -->
								<!-- 									</div> -->
								<!-- 								</div> -->
								<!-- 								<div class="col-xs-12 col-sm-12 col-md-4"> -->
								<!-- 									<div class="col-xs-12 col-sm-4 col-md-5 text-xs-left text-sm-right text-md-right  ">นามสกุล -->
								<!-- 										(ภาษาอังกฤษ) :</div> -->
								<!-- 									<div class="col-sm-8 col-md-7"> -->
								<!-- 										<input type="text" class="form-control" -->
								<!-- 											ng-init="data.lastNameEn ='Pramook'" required="required" -->
								<!-- 											ng-model="data.lastNameEn" ng-disabled="dis.pers" /> -->
								<!-- 									</div> -->
								<!-- 								</div> -->
								<!-- 							</div> -->

								<!-- ROW 6	-->
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-4 row-no-padding">
										<div
											class="col-xs-12 col-sm-4 col-md-5 text-xs-left text-sm-right text-md-right  ">ชื่อนิติบุคคล
											:</div>
										<div class="col-sm-8 col-md-7">
											<input type="text" class="form-control" ng-required="!dis.comp"
												ng-model="data.compName" ng-disabled="dis.comp" />
										</div>
									</div>
								</div>

								<!-- ROW 7-->
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-4 row-no-padding">
										<div
											class="col-xs-12 col-sm-4 col-md-5 text-xs-left text-sm-right text-md-right  ">ชื่อคณะบุคคล
											:</div>
										<div class="col-sm-8 col-md-7">
											<input type="text" class="form-control" ng-required="!dis.group"
												ng-model="data.groupName" ng-disabled="dis.group" />
										</div>
									</div>
								</div>

								<!-- ROW 8	-->
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-4 row-no-padding">
										<div
											class="col-xs-12 col-sm-4 col-md-5 text-xs-left text-sm-right text-md-right  ">
											เบอร์โทรศัพท์เคลื่อนที่ :</div>
										<div class="col-sm-8 col-md-7">
											<input type="text" class="form-control" ng-model="data.mobile" />
										</div>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-4 row-no-padding">
										<div
											class="col-xs-12 col-sm-4 col-md-4 text-xs-left text-sm-right text-md-right  ">อีเมล
											:</div>
										<div class="col-sm-8 col-md-8">
											<input type="email" class="form-control" ng-model="data.email" />
										</div>
									</div>
								</div>

								<!-- ADDRESS -->
								<div class="panel panel-default">
									<div class="panel-heading">
										<h3 class="panel-title">ข้อมูลที่อยู่</h3>
									</div>
									<div class="panel-body">
										<div class="form-group">
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12">
													<h4>ที่อยู่ปัจจุบัน</h4>
												</div>
											</div>
											<my-address disabled="false" addr="data.addrHome"
												is-submit="isSubmit"></my-address>
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12 ">
													<h4>
														ที่อยู่ในการจัดส่งเอกสาร <input class="form-check-input"
															type="checkbox" ng-model="data.homeIsBill"
															ng-change="homeIsBill()"></input> <span
															class="text-muted">ที่อยู่เดียวกับที่อยู่ตามปัจจุบัน</span>
													</h4>
												</div>
											</div>
											<my-address disabled="addrBillDis" addr="data.addrBilling"
												is-submit="isSubmit"></my-address>

										</div>
									</div>
								</div>
								<br />

							</div>

							<!-- PANAL 2 -->
							<div uib-accordion-group="" class="panel-default"
								heading="ข้อมูลรายการรับชำระและค่าบริการ" is-open="true"
								is-disabled="false">
								<!-- ROW 1	-->
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-6 row-no-padding">
										<div
											class="col-xs-12 col-sm-3 col-md-5 text-xs-left text-sm-right text-md-right ">วันที่เริ่มต้นชำระ
											 <span class="red">*</span> :</div>
										<datepicker-dir class="col-xs-11 col-sm-8 col-md-7"
											ng-required="true" name="startDate"
											ng-class="{'has-error':invoiceForm.startDate.$invalid &amp;&amp; isSubmit}"
											ng-model="data.startDate" format-date="dd/MM/yyyy"></datepicker-dir>
									</div>
								</div>
								<!-- ROW 2	-->
								<div class="row">
									<div class="col-xs-12 col-sm-12 col-md-6 row-no-padding">
										<div
											class="col-xs-12 col-sm-3 col-md-5 text-xs-left text-sm-right text-md-right ">วันที่ครบกำหนดชำระ
											:</div>
										<datepicker-dir class="col-xs-11 col-sm-8 col-md-7" name="endDate"
											ng-model="data.endDate" format-date="dd/MM/yyyy"></datepicker-dir>
									</div>
									<div class="col-md-3 text-right">
										<button type="button" id="searchBtn"
											class="btn btn-success btn-style"
											ng-click="$ctrl.open(null,'lg')">
											<span class="glyphicon glyphicon-plus"></span> เพิ่มรายการ
										</button>

									</div>
								</div>

								<!-- TABLE -->
								<div class="col-md-9">
									<div class="box-body table-responsive">
										<table class="table table-bordered table-hover">
											<thead>
												<tr class="text-center">
													<td width="8%">ลำดับที่</td>
													<td width="60%">รายการรับชำระ</td>
													<td width="20%">จำนวนเงิน (บาท)</td>
													<td width="12%"></td>

												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="x in data.items track by $index">
													<td class="text-center">{{$index+1}}</td>
													<td>{{x.catalogName}}</td>
													<td class="text-right">{{x.amount|number :2}}</td>
													<td class="text-center text-nowrap"><span
														class="glyphicon-ring glyphicon-blue"><span
															class="glyphicon glyphicon-edit"
															ng-click="$ctrl.open($index,'lg')"></span></span> <span
														class="glyphicon-ring glyphicon-red"><span
															class="glyphicon glyphicon-trash" ng-click="deleteItem($index)"></span></span></td>
												</tr>
												<tr ng-if="data.items.length == 0">
													<td colspan="4" class="text-center">ไม่มีข้อมูล</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<!-- TOTAL -->
								<div class="row ">
									<div class="col-xs-7 col-sm-8 col-md-6 text-right">รวมทั้งสิ้น
										(บาท)</div>
									<div class="col-xs-4 col-sm-3 col-md-2">
										<input type="text" class="form-control text-right"
											disabled="disabled" value="{{data.totalAmount|number :2}}" />
									</div>
								</div>
							</div>
							</uib-accordion>
							<!-- FOOTER	-->
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
									<button type="button" id="saveBtn"
										class="btn btn-success btn-style" ng-click="save(invoiceForm)">
										<span class="glyphicon glyphicon-floppy-disk"></span> บันทึก
									</button>

									<button type="button" id="cancelBtn"
										class="btn btn-danger btn-style" ng-click="cancel()">
										<span class="glyphicon glyphicon-remove-sign"></span> ยกเลิก
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>

		</div>
		<script type="text/ng-template" id="ctl80001.html">
				<div ng-include="'ctl80001-item'"></div>
		    </script>



	</div>

</body>
</html>