<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>Create Invoice</title>

<!-- My JS -->
<script th:src="@{/js/manageInvoice/ctl80000-create.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/payment/payment.css}" />
</head>
<body>
	<section layout:fragment="content">
		<div class="sidebar-nav">
			<div class="nav-canvas">
				<div class="nav-sm nav nav-stacked"></div>
			</div>
		</div>
		<div ng-app="ctl80000App">

			<div ng-controller="invoiceSuccessCtrl">
				<div class="row">
					<div class="container">
						<div class="row">
							<div class="col-md-12 text-center">
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-primary">
											<div class="panel-body">
												<div class="col-md-12 text-center">

													<div class="row">
														<div class="col-md-12">
															<i class="fa fa-check-circle-o fa-5x" aria-hidden="true"
																style="color: green;"></i>
														</div>
														<div class="col-md-12">
															<p>บันทึกสำเร็จ (SUCCESS)</p>
														</div>
														<div class="col-md-12">
															<a href="../manageInvoice/search"><button class="btn btn-primary" >กลับหน้าหลัก</button></a>
														</div>



													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>


						</div>
					</div>
				</div>
			</div>
		</div>

	</section>
</body>
</html>
