<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template2">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>ลืมรหัสผ่าน</title>

<!-- My JS -->

<script th:src="@{/js/register/forgot.js}"></script>


</head>
<body>

	<section layout:fragment="content">
		<div class="sidebar-nav">
			<div class="nav-canvas">
				<div class="nav-sm nav nav-stacked"></div>
			</div>
		</div>
		<div ng-app="forgotApp">
			<div ng-controller="forgotCtrl">

								<div class="panel panel-custom">
									<div class="panel-heading"> 
										<h2 class="panel-title">ลืมรหัสผ่าน</h2>
									</div>
									<div class="panel-body">
										<form id="form" name="form" >
											<div class="form-group">
												<!-- Panel 1 -->
											
												
												<uib-accordion close-others="false">

														<!-- ROW 1	-->

														<div class="row row-no-padding" style="min-height:30px">
															<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">รหัสอยู่ใช้ :</div>
															<div class="col-sm-4 col-md-3">
																<input type="text" ng-model="data.citizenid" 
																	name="citizenid" id="citizenid" class="form-control" placeholder="เลขประจำตัวประชาชน 13 หลัก/ รหัสนิติบุลคล13 หลัก" />
															</div>
														</div>
														<!-- ROW 2-	-->
														<div class="row row-no-padding" style="min-height:30px">
															<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">อีเมล :</div>
															<div class="col-sm-4 col-md-3">
																<input type="text" ng-model="data.email"
																	name="mobile" id="email" class="form-control" placeholder="" />
															</div>
														</div>
														<!-- ROW 3	-->
														<div class="row row-no-padding" style="min-height:30px">
															<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
																<button type="submit" ng-click="forgot()" id="saveBtn" class="btn btn-success btn-style">
																	<span class="glyphicon glyphicon-floppy-disk"></span>ลืมรหัสผ่าน
																</button>

																<button type="button" id="clearBtn" class="btn btn-danger btn-style">
																	<span class="glyphicon glyphicon-refresh"></span> ล้างข้อมูล
																</button>
															</div>
														</div>

										

												</uib-accordion>
											</div>
										</form>
									</div>
								</div>
							
			</div>
		</div>
	</section>
<script type="text/javascript" th:utext="'var ctx = \'' + ${@baseUrlService.baseUrl} + '\';'" ></script>
</body>
</html>