<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template2">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=e" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

</head>
<body>
	<div class="modal-content" >
		<div class="modal-body">
			<uib-accordion close-others="false">
												<div uib-accordion-group="" class="panel-default"
													heading="การยืนยันตัวตน" is-open="true"
													is-disabled="false">
													
													<!-- ROW 1	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-5 col-md-5 text-xs-left text-sm-right text-md-right">เลขที่อ้างอิง :</div>
														<div class="col-sm-4 col-md-3">5R3V
														</div>
													</div><!-- ROW 1	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-5 col-md-5 text-xs-left text-sm-right text-md-right">รหัสรัษาความปลอดภัย SMS-OTP :</div>
														<div class="col-sm-6 col-md-6">
															<input type="password" name="pwd" id="pwd" ng-model="forgot.passwordOtp" class="form-control" placeholder="รหัส-OTP" />
														</div>
													</div>
													<!-- ROW 3	-->
													<div class="row" style="min-height:30px">
														<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
															<button type="button" id="saveBtn" class="btn btn-success btn-style" ng-click="forgot(data)">
																<span class="glyphicon glyphicon-floppy-disk"></span>ส่ง OTP
															</button>
														</div>
													</div>
			
												</div>
												
											</uib-accordion>
	
		</div>
	</div>
</body>
</html>