<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		 xmlns:th="http://www.thymeleaf.org"
		 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>505</title>

	<!-- My CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	<style>
	@font-face {
    font-family: 'THSarabunNew';
    src: url('css/fonts/THSarabunNew/THSarabunNew.eot'), url('css/fonts/THSarabunNew/THSarabunNew.ttf')
		 format('truetype'), url('css/fonts/THSarabunNew/THSarabunNew.svg') format('svg');
    font-weight: normal;
    font-style: normal;
	}
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 500;
    font-style: normal;
    font-family: THSarabunNew;
		line-height: 1.1;
}
		body{
			background-color: #f8f8f8;  background-image: url('images/404_bg.png');
			background-repeat: no-repeat;  background-position: right;
			background-position-y: 15%;		background-position-x: 150%;
    	background-size: 900px;
			font-family: THSarabunNew;
		}
		.center {
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
    display: block;
    text-align: center;
		}
		.text-center {
    text-align: center;
	}
	h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 5px;
	}
	h4, .h4, h5, .h5, h6, .h6 {
	    margin-top: 10px;
	    margin-bottom: 10px;
	}
	a:link, a:visited, a:hover, a:active {
    text-decoration: none;
	}
	a {
	    color: #2fa4e7;
	}
	a:hover,a:focus {
	  color: #23527c;
	  text-decoration: none;
	}
	img {
    vertical-align: middle;
}
	</style>
</head>
<div class="container">
	<div class="center" style="margin-top: 100px;
    width: 550px;
    background-color: #fff;
		padding: 50px;
		border-radius: 20px;
		border: solid 1px #d8d8d8;
    box-shadow: 20px 20px 50px 0px rgba(0, 0, 0, 0.15);">
		<img style="width: 20%;" src="/e-payment-web/images/mark.svg">
		<h2 style="color: #666;font-size: 35px;font-weight: bold;">ขออภัย เกิดข้อผิดพลาด</h2>
		<h4 style="color: #666;font-size: 24px;">กรุณาตรวจสอบลิงค์อีกครั้ง หรือ
			<a href="/e-payment-web/" >กลับสู่หน้าหลัก</a>
		</h4>
	</div>
</div>

</body>
</html>
