<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<title>ดูประวัติการใช้งาน</title>

<script>
	/* <![CDATA[ */
		
		
		$(document).ready(function() {
			
			var form = $('#searchForm');
			var logAccessSearch = 'logAccessSearch';
			var logAccessSearchResult = 'logAccessSearchResult';
			var dataList = $('#dataList');
			var isDocumentReady = true;
			var table;
			
			
			var timeOption = {format: 'HH:mm', showClear:true};
			
			$('#startTimePicker').datetimepicker(timeOption);
			$('#endTimePicker').datetimepicker(timeOption);
			
			
			init();

			$('#searchBtn').on('click', function() {
				search();
			});
			
			function search()
			{
				var params = form.serialize();
				var dataTableOption = PagingUtil.getDefaultOption();
				
				$.extend(dataTableOption, {
					order: [[1, 'desc']],
					ajaxSource: ctx + 'admin/log-access/search?' + params,
					columns: [
					          {data: 'userName', className: ''},
					          {data: 'accessDate', className: 'dt-body-center'},
					          {data: 'clientIp', className: ''},
					          {data: 'action', className: 'dt-body-center'},
					          {data: 'url', className: ''},
					          {data: 'executeTime', className: 'dt-body-center'},
					          {data: 'status', className: 'dt-body-center'}
					],
					createdRow: function (row, data, index) {
						
			        },
			        stateSave: true,
					stateSaveCallback: function(settings, data) {
						WS.session.setJSON(logAccessSearchResult, data);
						isDocumentReady = false;
					},
					stateLoadCallback: function(settings) {
						if(isDocumentReady) {
							return WS.session.getJSON(logAccessSearchResult);
						}
						return false;
					}
				});
				
				WS.session.set(logAccessSearch, params);
				
				dataList.DataTable(dataTableOption);
			};
			
			function init() 
			{
				var params = WS.session.get(logAccessSearch);
				if(params) 
				{
	 				form.deserialize(params);
					search();
				} 
				else 
				{
					dataList.DataTable(PagingUtil.getStaticOption());
					isDocumentReady = false;
				}
			}
			
			
		});
		
		
	/* ]]> */
	
	
</script>

</head>

<body>
	
	<section layout:fragment="content">
		
		<div class="panel panel-custom">
	         <div class="panel-heading">
	            	<div class="panel-title">
						<i class="fa fa-desktop"></i>  
						<span>ดูประวัติการใช้งาน</span>
			       	</div>
	         </div>
		     <div class="panel-body">
		     	 <form id="searchForm" role="form" th:object="${logAccessSearchBean}">

			         	 <div class="row">
		                     <div class="col-md-6">
		                         <div class="row form-group">
		                             <label class="col-md-6 text-right" th:include="include/formUtil :: label(label='ชื่อผู้ใช้งาน (Username)')"></label>
		                             <div class="col-md-6" th:include="include/formUtil :: textInput(fieldName='userName')"></div> 
		                         </div>
		                     </div>
		                     <div class="col-md-6">
		                         <div class="row form-group">
		                         	<label class="col-md-2 text-right" th:include="include/formUtil :: label(label='Action')"></label>
		                         	<div class="col-md-6">
			                         	<select class="form-control" data-select2-url="" th:field="*{action}">
											<option value="all">ทั้งหมด</option>
											<option th:each="catalog:${@catalogUtil.get('MLogAction')}" th:value="${catalog.actionId}" th:text="${catalog.actionName}"></option>
										</select>
		                         	</div>
		                         </div>
		                     </div>
	                     </div>
		                 <div class="row">   
		                     <div class="col-md-6">
		                         <div class="row form-group">
		                             <label class="col-md-6 text-right" th:include="include/formUtil :: label(label='วันที่เริ่มต้น')"></label>
		                             <div class="col-md-3" th:include="include/formUtil :: dateInput(fieldName='startDate')"></div>
		                             <div class="col-md-3">
		                             	<div class="input-append date input-group">
											<input class="form-control" id="startTimePicker" th:field="*{startTime}" />
											<label class="input-group-addon add-on" for="startTimePicker">
										       <i class="fa fa-clock-o" aria-hidden="true"></i>
										    </label>   
										</div>
		                             </div> 
		                         </div>
		                     </div>
		                     <div class="col-md-6">
		                         <div class="row form-group">
		                         	<label class="col-md-2 text-right" th:include="include/formUtil :: label(label='ถึงวันที่')"></label>
		                         	<div class="col-md-3" th:include="include/formUtil :: dateInput(fieldName='endDate')"></div>
		                         	 <div class="col-md-3">
		                             	<div class="input-append date input-group">
											<input class="form-control" id="endTimePicker" th:field="*{endTime}" />
											<label class="input-group-addon add-on" for="endTimePicker">
										       <i class="fa fa-clock-o" aria-hidden="true"></i>
										    </label>   
										</div>
		                             </div>
		                         </div>
		                     </div>
	                     </div>
		                     
	                     <div class="row">   
		                     <div class="col-md-6">
		                         <div class="row form-group">
		                            <label class="col-md-6 text-right" th:include="include/formUtil :: label(label='URL')"></label>
		                            <div class="col-md-6" th:include="include/formUtil :: textInput(fieldName='url')"></div>
		                         </div>
		                     </div>
		                     <div class="col-md-6">
		                         <div class="row form-group">
		                         	<label class="col-md-2 text-right" th:include="include/formUtil :: label(label='Client IP')"></label>
		                         	<div class="col-md-6" th:include="include/formUtil :: textInput(fieldName='ipAddress')"></div>
		                         </div>
		                     </div>
	                     </div>
					
		                 <div class="row">
							<div class="col-md-12 text-center">
								<button class="btn btn-primary" type="button" id="searchBtn">
									<span class="glyphicon glyphicon-search"></span>
									<span th:text="#{button.caption.search}">search</span>
								</button>
								<button class="btn btn-default" type="reset" id="resetBtn">
									<span class="glyphicon glyphicon-refresh"></span>
									<span th:text="#{button.caption.reset}">clear</span>
								</button>
							</div>
						 </div>
	              </form>
	              <br/>              
			      <table id="dataList" class="table table-striped table-bordered">
			        <thead>
						<tr>
							<th class="text-center">Username</th>
							<th class="text-center">Access Date</th>
							<th class="text-center">Client IP</th>
							<th class="text-center">Action</th>
							<th class="text-center">URL</th>
							<th class="text-center">Execute Time (Sec)</th>
							<th class="text-center">Status</th>
						</tr>
					</thead>
			      </table>
		     </div>
	    </div>
		
	</section>
	
</body>
</html>