<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      <head>
      	<script th:inline="javascript" th:fragment="enableAjaxSubmit">
//<![CDATA[
var ctx = /*[[@{/}]]*/ '';
var csrfHeaderName = /*[[${{_csrf?.headerName?:""}}]]*/ '';
var csrfParameterName = /*[[${{_csrf?.parameterName?:""}}]]*/ '';
var csrfToken = /*[[${{_csrf?.token?:""}}]]*/ '';
(function(){
var oldBeforeSend = $.ajaxSetup()['beforeSend'];
function csrfExcludedMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}
$(document).ajaxSend(function(event,jqXHR,settings){
	if (!csrfExcludedMethod(settings.type) && sameOrigin(settings.url)) {
    	if (settings.data[csrfParameterName] === undefined) {
    		if (csrfHeaderName) jqXHR.setRequestHeader(csrfHeaderName, csrfToken);
    	}
    }
});
})();
//]]>
      	</script>
      </head>
</html>