<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
<form>

<th:block th:fragment="textField">
	<span th:text="*{{__${@thymeleafUtil.makeOptionalEL(fieldName)}__?:'-'}}"></span> <span th:if="${addon ne null}" th:text="${{addon}}"></span>
</th:block>

<th:block th:fragment="errorField">
	<div class="help-block" data-error-group="" th:if="${#fields.hasErrors(fieldName)}">
		<span th:each="err:${#fields.errors(fieldName)}" th:text="${{err}}"></span>
	</div>
</th:block>

<th:block th:fragment="label">
<th:block th:if="${mode ne 'VIEW'}">
	<label class="control-label"><span th:text="${{label}}"></span><span th:if="${required eq true}" class="required">*</span><span> :</span></label>
</th:block>
<th:block th:if="${mode eq 'VIEW'}">
<label class="control-label">
	<span th:text="${{label}}"></span><span> :</span>
</label>
</th:block>
</th:block>

<th:block th:fragment="dateInput">
<th:block th:if="${mode ne 'VIEW'}">
	<div class="input-append date input-group" data-toggle="th-datepicker">
		<input class="form-control" th:field="*{__${fieldName}__}" th:required="${required eq true}" /> <span class="input-group-addon add-on"><span
			class="glyphicon glyphicon-calendar"></span></span>
	</div>
	<th:block th:include="include/formUtil::errorField"></th:block>
</th:block>
<th:block th:if="${mode eq 'VIEW'}" th:include="include/formUtil::textField"></th:block>
</th:block>

<th:block th:fragment="textInput">
<th:block th:if="${mode ne 'VIEW'}">
	<input class="form-control" th:field="*{__${fieldName}__}" th:required="${required eq true}" ws:autorule="*{__${fieldName}__}" th:if="${addon eq null}"/>
	<div class="input-group" th:if="${addon ne null}">
		<input class="form-control" th:field="*{__${fieldName}__}" th:required="${required eq true}" ws:autorule="*{__${fieldName}__}"/>
		<span class="input-group-addon input-group-addon-text" th:text="${{addon}}"></span>
	</div>
	<th:block th:include="include/formUtil::errorField"></th:block>
</th:block>
<th:block th:if="${mode eq 'VIEW'}" th:include="include/formUtil::textField"></th:block>
</th:block>

<th:block th:fragment="textArea">
<th:block th:if="${mode ne 'VIEW'}">
	<textarea class="form-control" rows="5" th:field="*{__${fieldName}__}" th:required="${required eq true}" ws:autorule="*{__${fieldName}__}"></textarea>
	<th:block th:include="include/formUtil::errorField"></th:block>
</th:block>
<th:block th:if="${mode eq 'VIEW'}">
	<pre th:text="*{{__${@thymeleafUtil.makeOptionalEL(fieldName)}__?:'-'}}"></pre>
</th:block>
</th:block>
<!-- พรุ้งทำต่อ -->
<th:block th:fragment="textAreaArrar">
<th:block th:if="${mode ne 'VIEW'}">
	<textarea class="form-control" rows="5" th:field="*{__${fieldName}__}" th:required="${required eq true}" ws:autorule="*{__${fieldName}__}"></textarea>
	<th:block th:include="include/formUtil::errorField"></th:block>
</th:block>
<th:block th:if="${mode eq 'VIEW'}">
	<pre th:text="*{{__${@thymeleafUtil.makeOptionalEL(fieldName)}__?:'-'}}"></pre>
</th:block>
</th:block>


<th:block th:fragment="masterSelect2">
<th:block th:if="${mode ne 'VIEW'}">
	<select class="form-control" th:field="*{__${fieldName}__.__${catalogValue}__}" th:required="${required eq true}" data-select2-url="" th:attr="data-select2-placeholder=${placeholder?:null}">
		<option value="-1" th:selected="selected" data-rule-option="invalid" th:if="${required}" th:text="${placeholder?:'โปรดระบุ'}"></option>
		<option value="-1" th:selected="selected" th:unless="${required}" th:text="${placeholder?:'โปรดระบุ'}"></option>
		<option th:each="catalog:${@catalogUtil.get(catalogName)}" th:value="${{catalog.__${catalogValue}__}}" th:text="${{catalog.__${catalogText}__}}"></option>
	</select>
	<th:block th:include="include/formUtil::errorField"></th:block>
</th:block>
<th:block th:if="${mode eq 'VIEW'}">
	<th:block th:with="masterId=*{__${@thymeleafUtil.makeOptionalEL(fieldName+'.'+catalogValue)}__}">
		<span th:if="${@thymeleafUtil.checkNull(masterId)}">-</span>
		<span th:unless="${@thymeleafUtil.checkNull(masterId)}" th:text="${@catalogUtil.getObject(catalogName,masterId).__${catalogText}__}"></span>
	</th:block>
</th:block>
</th:block>

<th:block th:fragment="masterSelect2MFormSearch">
<th:block>
	<select class="form-control" th:id="${id}" th:name="${name}" data-select2-url="">
        <option value="" th:selected="selected">ทั้งหมด</option>
        <th:block th:each="parent:*{__${list}__}">
        	<option th:value="${parent.formId}" th:text="${parent.formName}" th:if="${parent.childs eq null or parent.childs.size()==0}"></option>
            <optgroup th:label="${parent.formName}" th:if="${parent.childs ne null and parent.childs.size()>0}">
				<option th:each="child:${parent.childs}" th:value="${{child.formId}}" th:text="${child.formName}"></option>
			</optgroup>
		</th:block>
	</select>
</th:block>
</th:block>

<th:block th:fragment="nullableMasterSelect2">
<th:block th:if="${mode ne 'VIEW'}">
	<select class="form-control" th:field="*{{__${fieldName}__}}" th:required="${required eq true}" data-select2-url="">
		<option value="" th:selected="selected" data-rule-option="invalid" th:if="${required}">โปรดระบุ</option>
		<option value="" th:selected="selected" th:unless="${required}">โปรดระบุ</option>
		<option th:each="catalog:${@catalogUtil.get(catalogName)}" th:value="${{catalog}}" th:text="${{catalog.__${catalogText}__}}"></option>
	</select>
	<th:block th:include="include/formUtil::errorField"></th:block>
</th:block>
<th:block th:if="${mode eq 'VIEW'}">
	<span th:text="*{{__${@thymeleafUtil.makeOptionalEL(fieldName+'.'+catalogText)}__?:'-'}}"></span>
</th:block>
</th:block>

<th:block th:fragment="selectList">
<th:block th:if="${mode ne 'VIEW'}">
	<select class="form-control" th:field="*{__${fieldName}__}" th:required="${required eq true}" data-select2-url="">
		<option value="-1" th:selected="selected" data-rule-option="invalid" th:if="${required}">โปรดระบุ</option>
		<option value="-1" th:selected="selected" th:unless="${required}">โปรดระบุ</option>
		<option th:each="data : ${list}" th:value="${{data}}" th:text="${{data.__${fieldText}__}}"></option>
	</select>
</th:block>
<th:block th:if="${mode eq 'VIEW'}">
	<span
		th:text="*{{__${@thymeleafUtil.makeOptionalEL(fieldName + '.' + fieldText)}__?:'-'}}"></span>
	<span th:if="${addon ne null}" th:text="${{addon}}"></span>
</th:block>
</th:block>
<th:block th:fragment="selectListMultiple">
<th:block th:if="${mode ne 'VIEW'}">
	<select class="form-control" th:field="*{__${fieldName}__}" th:required="${required eq true}" data-select2-url="" Multiple="multiple">
		<option th:each="data : ${list}" th:value="${{data}}" th:text="${{data.__${fieldText}__}}"></option>
	</select>
</th:block>
<th:block th:if="${mode eq 'VIEW'}">
	<span
		th:text="*{{__${@thymeleafUtil.makeOptionalEL(fieldName + '.' + fieldText)}__?:'-'}}"></span>
	<span th:if="${addon ne null}" th:text="${{addon}}"></span>
</th:block>
</th:block>

<th:block th:fragment="selectListSetDefault">
<th:block th:if="${mode ne 'VIEW'}">
	<select class="form-control" th:field="*{__${fieldName}__}" data-select2-url="">
		<option value="" th:selected="selected" data-rule-option="invalid"
			th:if="${required}">โปรดระบุ</option>
		<option 
			th:each="data : ${list}" th:value="${{data.__${fieldvalue}__}}"
			th:text="${{data.__${fieldText}__}}" ></option>
		
	</select>
</th:block>
<th:block th:if="${mode eq 'VIEW'}">
	<span
		th:text="*{{__${@thymeleafUtil.makeOptionalEL(fieldName + '.' + fieldText)}__?:'-'}}"></span>
	<span th:if="${addon ne null}" th:text="${{addon}}"></span>
</th:block>
</th:block>

<th:block th:fragment="masterSelect2Multiple">
<th:block th:if="${mode ne 'VIEW'}">
	<select class="form-control" th:field="*{__${fieldName}__.__${catalogValue}__}" th:required="${required eq true}" multiple="multiple" data-select2-url="">
		<option th:each="catalog:${@catalogUtil.get(catalogName)}" th:value="${{catalog.__${catalogValue}__}}" th:text="${{catalog.__${catalogText}__}}"></option>
	</select>
	<th:block th:include="include/formUtil::errorField"></th:block>
</th:block>
<th:block th:if="${mode eq 'VIEW'}">
	<th:block th:with="masterId=*{__${@thymeleafUtil.makeOptionalEL(fieldName+'.'+catalogValue)}__}">
		<span th:if="${masterId eq null or masterId le 0}">-</span>
		<span th:unless="${masterId eq null or ${masterId eq '-1'} or ${masterId eq '0'}" th:text="${@catalogUtil.getObject(catalogName,masterId).__${catalogText}__}"></span>
	</th:block>
</th:block>
</th:block>

<th:block th:fragment="masterSelect">
<th:block th:if="${mode ne 'VIEW'}">
	<select class="form-control" th:field="*{__${fieldName}__.__${catalogValue}__}" th:required="${required eq true}" data-select2-url="">
		<option value="-1" th:selected="selected" data-rule-option="invalid" th:if="${required}">โปรดระบุ</option>
		<option value="-1" th:selected="selected" th:unless="${required}">โปรดระบุ</option>
		<option th:each="catalog:${@catalogUtil.get(catalogName)}" th:value="${{catalog.__${catalogValue}__}}" th:text="${{catalog.__${catalogText}__}}"></option>
	</select>
	<th:block th:include="include/formUtil::errorField"></th:block>
</th:block>
<th:block th:if="${mode eq 'VIEW'}">
	<th:block th:with="masterId=*{__${@thymeleafUtil.makeOptionalEL(fieldName+'.'+catalogValue)}__}">
		<span th:if="${masterId eq null or masterId eq -1}">-</span>
		<span th:unless="${masterId eq null or masterId eq -1}" th:text="${@catalogUtil.getObject(catalogName,masterId).__${catalogText}__}"></span>
	</th:block>
</th:block>
</th:block>


<th:block th:fragment="nullableMasterSelect">
<th:block th:if="${mode ne 'VIEW'}">
	<select class="form-control" th:field="*{{__${fieldName}__}}" th:required="${required eq true}" data-select2-url="">
		<option value="" th:selected="selected" data-rule-option="invalid" th:if="${required}">โปรดระบุ</option>
		<option value="" th:selected="selected" th:unless="${required}">โปรดระบุ</option>
		<option th:each="catalog:${@catalogUtil.get(catalogName)}" th:value="${{catalog}}" th:text="${{catalog.__${catalogText}__}}"></option>
	</select>
	<th:block th:include="include/formUtil::errorField"></th:block>
</th:block>
<th:block th:if="${mode eq 'VIEW'}">
	<span th:text="*{{__${@thymeleafUtil.makeOptionalEL(fieldName+'.'+catalogValue)}__?:'-'}}"></span>
</th:block>
</th:block>

<th:block th:fragment="provinceSelect2">
<th:block th:if="${mode ne 'VIEW'}">
	<th:block th:if="${fieldName eq null}">
		<select class="form-control" th:field="*{MProvince.provinceId}" th:required="${required eq true}" th:onchange="|provinceSelect2OnChange($(this).val())|" th:id="provinceSlc">
			<option value="-1" th:selected="selected" data-rule-option="invalid" th:if="${required}">โปรดระบุ</option>
			<option value="-1" th:selected="selected" th:unless="${required}">โปรดระบุ</option>
			<option th:each="catalog:${@catalogUtil.get('MProvince')}" th:value="${{catalog.provinceId}}" th:text="${{catalog.provinceName}}"></option>
		</select>
		<th:block th:include="include/formUtil::errorField(fieldName='MProvince')"></th:block>
	</th:block>
	<th:block th:unless="${fieldName eq null}">
		<select class="form-control" th:field="*{__${fieldName}__.MProvince.provinceId}" th:required="${required eq true}" th:onchange="|provinceSelect2OnChange($(this).val())|" th:id="provinceSlc">
			<option value="-1" th:selected="selected" data-rule-option="invalid" th:if="${required}">โปรดระบุ</option>
			<option value="-1" th:selected="selected" th:unless="${required}">โปรดระบุ</option>
			<option th:each="catalog:${@catalogUtil.get('MProvince')}" th:value="${{catalog.provinceId}}" th:text="${{catalog.provinceName}}"></option>
		</select>
		<th:block th:include="include/formUtil::errorField"></th:block>
	</th:block>
	<script>initialSelect2('provinceSlc');</script>	
</th:block>
<th:block th:if="${mode eq 'VIEW'}">
	<th:block th:if="${fieldName eq null}">
		<th:block th:with="masterId=*{__${@thymeleafUtil.makeOptionalEL('MProvince.provinceId')}__}">
			<span th:if="${masterId eq null or masterId le 0}">-</span>
			<span th:unless="${masterId eq null or masterId le 0}" th:text="${@catalogUtil.getObject('MProvince',masterId).provinceName}"></span>
		</th:block>
	</th:block>
	<th:block th:unless="${fieldName eq null}">
		<th:block th:with="masterId=*{__${@thymeleafUtil.makeOptionalEL(fieldName+'.MProvince.provinceId')}__}">
			<span th:if="${masterId eq null or masterId le 0}">-</span>
			<span th:unless="${masterId eq null or masterId le 0}" th:text="${@catalogUtil.getObject('MProvince',masterId).provinceName}"></span>
		</th:block>
	</th:block>
</th:block>
</th:block>

<th:block th:fragment="districtSelect2">
<th:block th:if="${mode ne 'VIEW'}">
	<th:block th:if="${fieldName eq null}">
		<select class="form-control" th:field="*{MDistrict.districtId}" th:required="${required eq true}" th:onchange="|districtSelect2OnChange($(this).val())|" th:id="districtSlc"></select>
		<th:block th:include="include/formUtil::errorField(fieldName='MDistrict')"></th:block>	
		<script th:inline="javascript">
		/*<![CDATA[*/
			if($("#provinceSlc").length != 0){
				if(!isNull($("#provinceSlc").val())){
					initDistrictSelect2($("#provinceSlc").val(),[[*{MDistrict.districtId}]]);
				}else initialSelect2('districtSlc');
			}else initialSelect2('districtSlc');
		/*]]>*/
		</script>
	</th:block>
	<th:block th:unless="${fieldName eq null}">
		<select class="form-control" th:field="*{__${fieldName}__.MDistrict.districtId}" th:required="${required eq true}" th:onchange="|districtSelect2OnChange($(this).val())|" th:id="districtSlc"></select>
		<th:block th:include="include/formUtil::errorField"></th:block>	
		<script th:inline="javascript">
		/*<![CDATA[*/
			if($("#provinceSlc").length != 0){
				if(!isNull($("#provinceSlc").val())){
					initDistrictSelect2($("#provinceSlc").val(),[[*{__${fieldName}__.MDistrict.districtId}]]);
				}else initialSelect2('districtSlc');
			}else initialSelect2('districtSlc');
		/*]]>*/
		</script>
	</th:block>
</th:block>
<th:block th:if="${mode eq 'VIEW'}">
	<th:block th:if="${fieldName eq null}">
		<th:block th:with="masterId=*{__${@thymeleafUtil.makeOptionalEL('MDistrict.districtId')}__}">
			<span th:if="${masterId eq null or masterId le 0}">-</span>
			<span th:unless="${masterId eq null or masterId le 0}" th:text="*{MDistrict.districtName}"></span>
		</th:block>
	</th:block>
	<th:block th:unless="${fieldName eq null}">
		<th:block th:with="masterId=*{__${@thymeleafUtil.makeOptionalEL(fieldName+'.MDistrict.districtId')}__}">
			<span th:if="${masterId eq null or masterId le 0}">-</span>
			<span th:unless="${masterId eq null or masterId le 0}" th:text="*{__${fieldName}__.MDistrict.districtName}"></span>
		</th:block>
	</th:block>
	
</th:block>
</th:block>

<th:block th:fragment="subDistrictSelect2">
<th:block th:if="${mode ne 'VIEW'}">
	<th:block th:if="${fieldName eq null}">
		<select class="form-control" th:field="*{MSubdistrict.subdistrictId}" th:required="${required eq true}" th:id="subDistrictSlc"></select>
		<th:block th:include="include/formUtil::errorField(fieldName='MSubdistrict')"></th:block>
		<script th:inline="javascript">
		/*<![CDATA[*/
			if($("#districtSlc").length != 0){
				var districtId = [[*{MDistrict.districtId}]];
				if(!isNull(districtId) && districtId > 0){
					initSubDistrictSelect2(districtId,[[*{MSubdistrict.subdistrictId}]]);
				}else initialSelect2('subDistrictSlc');
			}else initialSelect2('subDistrictSlc');
		/*]]>*/
		</script>
	</th:block>
	<th:block th:unless="${fieldName eq null}">
		<select class="form-control" th:field="*{__${fieldName}__.MSubdistrict.subdistrictId}" th:required="${required eq true}" th:id="subDistrictSlc"></select>
		<th:block th:include="include/formUtil::errorField"></th:block>
		<script th:inline="javascript">
		/*<![CDATA[*/
			if($("#districtSlc").length != 0){
				var districtId = [[*{__${fieldName}__.MDistrict.districtId}]];
				if(!isNull(districtId) && districtId > 0){
					initSubDistrictSelect2(districtId,[[*{__${fieldName}__.MSubdistrict.subdistrictId}]]);
				}else initialSelect2('subDistrictSlc');
			}else initialSelect2('subDistrictSlc');
		/*]]>*/
		</script>
	</th:block>
</th:block>
<th:block th:if="${mode eq 'VIEW'}">
	<th:block th:if="${fieldName eq null}">
		<th:block th:with="masterId=*{__${@thymeleafUtil.makeOptionalEL('MSubdistrict.subdistrictId')}__}">
			<span th:if="${masterId eq null or masterId le 0}">-</span>
			<span th:unless="${masterId eq null or masterId le 0}" th:text="*{MSubdistrict.subdistrictName}"></span>
		</th:block>
	</th:block>
	<th:block th:unless="${fieldName eq null}">
		<th:block th:with="masterId=*{__${@thymeleafUtil.makeOptionalEL(fieldName+'.MSubdistrict.subdistrictId')}__}">
			<span th:if="${masterId eq null or masterId le 0}">-</span>
			<span th:unless="${masterId eq null or masterId le 0}" th:text="*{__${fieldName}__.MSubdistrict.subdistrictName}"></span>
		</th:block>
	</th:block>
</th:block>
</th:block>


<th:block th:fragment="provinceSelect2WithId">
<th:block th:if="${mode ne 'VIEW'}">
	<th:block th:if="${fieldName eq null}">
		<select class="form-control" th:field="*{MProvince.provinceId}" th:required="${required eq true}" th:onchange="|provinceSelect2OnChangeWithId($(this).val(),${districtId},${subDistrictId})|" th:id="${provinceId}">
			<option value="-1" th:selected="selected" data-rule-option="invalid" th:if="${required}">โปรดระบุ</option>
			<option value="-1" th:selected="selected" th:unless="${required}">โปรดระบุ</option>
			<option th:each="catalog:${@catalogUtil.get('MProvince')}" th:value="${{catalog.provinceId}}" th:text="${{catalog.provinceName}}"></option>
		</select>
		<th:block th:include="include/formUtil::errorField(fieldName='MProvince')"></th:block>
	</th:block>
	<th:block th:unless="${fieldName eq null}">
		<select class="form-control" th:field="*{__${fieldName}__.MProvince.provinceId}" th:required="${required eq true}" th:onchange="|provinceSelect2OnChangeWithId($(this).val(),${districtId},${subDistrictId})|" th:id="${provinceId}">
			<option value="-1" th:selected="selected" data-rule-option="invalid" th:if="${required}">โปรดระบุ</option>
			<option value="-1" th:selected="selected" th:unless="${required}">โปรดระบุ</option>
			<option th:each="catalog:${@catalogUtil.get('MProvince')}" th:value="${{catalog.provinceId}}" th:text="${{catalog.provinceName}}"></option>
		</select>
		<th:block th:include="include/formUtil::errorField"></th:block>
	</th:block>
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function() {
			var provinceId = [[${provinceId}]];	
			initialSelect2(provinceId);	
		});
		/*]]>*/
	</script>
		
</th:block>
<th:block th:if="${mode eq 'VIEW'}">
	<th:block th:if="${fieldName eq null}">
		<th:block th:with="masterId=*{__${@thymeleafUtil.makeOptionalEL('MProvince.provinceId')}__}">
			<span th:if="${masterId eq null or masterId le 0}">-</span>
			<span th:unless="${masterId eq null or masterId le 0}" th:text="${@catalogUtil.getObject('MProvince',masterId).provinceName}"></span>
		</th:block>
	</th:block>
	<th:block th:unless="${fieldName eq null}">
		<th:block th:with="masterId=*{__${@thymeleafUtil.makeOptionalEL(fieldName+'.MProvince.provinceId')}__}">
			<span th:if="${masterId eq null or masterId le 0}">-</span>
			<span th:unless="${masterId eq null or masterId le 0}" th:text="${@catalogUtil.getObject('MProvince',masterId).provinceName}"></span>
		</th:block>
	</th:block>
</th:block>
</th:block>

<th:block th:fragment="districtSelect2WithId">
<th:block th:if="${mode ne 'VIEW'}">
	<th:block th:if="${fieldName eq null}">
		<select class="form-control" th:field="*{MDistrict.districtId}" th:required="${required eq true}" th:onchange="|districtSelect2OnChangeWithId($(this).val(),${subDistrictId})|" th:id="${districtId}"></select>
		<th:block th:include="include/formUtil::errorField(fieldName='MDistrict')"></th:block>	
		<script th:inline="javascript">
		/*<![CDATA[*/
			$(document).ready(function() {
				var provinceId = [[${provinceId}]];
				var districtId = [[${districtId}]];
				var provinceIdEle = $('#'+provinceId);
				if(provinceIdEle.length != 0){
					if(!isNull(provinceIdEle.val())){
						initDistrictSelect2WithId(provinceIdEle.val(),districtId,[[*{MDistrict.districtId}]]);
					}else initialSelect2(districtId);
				}else initialSelect2(districtId);
			});
		/*]]>*/
		</script>
	</th:block>
	<th:block th:unless="${fieldName eq null}">
		<select class="form-control" th:field="*{__${fieldName}__.MDistrict.districtId}" th:required="${required eq true}" th:onchange="|districtSelect2OnChangeWithId($(this).val(),${subDistrictId})|" th:id="${districtId}"></select>
		<th:block th:include="include/formUtil::errorField"></th:block>	
		<script th:inline="javascript">
		/*<![CDATA[*/
			$(document).ready(function() {
				var provinceId = [[${provinceId}]];
				var districtId = [[${districtId}]];
				var provinceIdEle = $('#'+provinceId);
				if(provinceIdEle.length != 0){
					if(!isNull(provinceIdEle.val())){
						initDistrictSelect2WithId(provinceIdEle.val(),districtId,[[*{__${fieldName}__.MDistrict.districtId}]]);
					}else initialSelect2(districtId);
				}else initialSelect2(districtId);
			});
		/*]]>*/
		</script>
	</th:block>
</th:block>
<th:block th:if="${mode eq 'VIEW'}">
	<th:block th:if="${fieldName eq null}">
		<th:block th:with="masterId=*{__${@thymeleafUtil.makeOptionalEL('MDistrict.districtId')}__}">
			<span th:if="${masterId eq null or masterId le 0}">-</span>
			<span th:unless="${masterId eq null or masterId le 0}" th:text="*{MDistrict.districtName}"></span>
		</th:block>
	</th:block>
	<th:block th:unless="${fieldName eq null}">
		<th:block th:with="masterId=*{__${@thymeleafUtil.makeOptionalEL(fieldName+'.MDistrict.districtId')}__}">
			<span th:if="${masterId eq null or masterId le 0}">-</span>
			<span th:unless="${masterId eq null or masterId le 0}" th:text="*{__${fieldName}__.MDistrict.districtName}"></span>
		</th:block>
	</th:block>
	
</th:block>
</th:block>

<th:block th:fragment="subDistrictSelect2WithId">
<th:block th:if="${mode ne 'VIEW'}">
	<th:block th:if="${fieldName eq null}">
		<select class="form-control" th:field="*{MSubdistrict.subdistrictId}" th:required="${required eq true}" th:id="${subDistrictId}"></select>
		<th:block th:include="include/formUtil::errorField(fieldName='MSubdistrict')"></th:block>
		<script th:inline="javascript">
		/*<![CDATA[*/
			$(document).ready(function() {
				var districtIdTmp = [[${districtId}]];
				var subDistrictId = [[${subDistrictId}]];
				var districtIdEle = $('#'+districtIdTmp);
				if(districtIdEle.length != 0){
					var districtId = [[*{MDistrict.districtId}]];
					if(!isNull(districtId) && districtId > 0){
						initSubDistrictSelect2WithId(districtId,subDistrictId,[[*{MSubdistrict.subdistrictId}]]);
					}else initialSelect2(subDistrictId);
				}else initialSelect2(subDistrictId);
			});
		/*]]>*/
		</script>
	</th:block>
	<th:block th:unless="${fieldName eq null}">
		<select class="form-control" th:field="*{__${fieldName}__.MSubdistrict.subdistrictId}" th:required="${required eq true}" th:id="${subDistrictId}"></select>
		<th:block th:include="include/formUtil::errorField"></th:block>
		<script th:inline="javascript">
		/*<![CDATA[*/
			$(document).ready(function() {
				var districtIdTmp = [[${districtId}]];
				var subDistrictId = [[${subDistrictId}]];
				var districtIdEle = $('#'+districtIdTmp);
				if(districtIdEle.length != 0){
					var districtId = [[*{__${fieldName}__.MDistrict.districtId}]];
					if(!isNull(districtId) && districtId > 0){
						initSubDistrictSelect2WithId(districtId,subDistrictId,[[*{__${fieldName}__.MSubdistrict.subdistrictId}]]);
					}else initialSelect2(subDistrictId);
				}else initialSelect2(subDistrictId);
			});
		/*]]>*/
		</script>
	</th:block>
</th:block>
<th:block th:if="${mode eq 'VIEW'}">
	<th:block th:if="${fieldName eq null}">
		<th:block th:with="masterId=*{__${@thymeleafUtil.makeOptionalEL('MSubdistrict.subdistrictId')}__}">
			<span th:if="${masterId eq null or masterId le 0}">-</span>
			<span th:unless="${masterId eq null or masterId le 0}" th:text="*{MSubdistrict.subdistrictName}"></span>
		</th:block>
	</th:block>
	<th:block th:unless="${fieldName eq null}">
		<th:block th:with="masterId=*{__${@thymeleafUtil.makeOptionalEL(fieldName+'.MSubdistrict.subdistrictId')}__}">
			<span th:if="${masterId eq null or masterId le 0}">-</span>
			<span th:unless="${masterId eq null or masterId le 0}" th:text="*{__${fieldName}__.MSubdistrict.subdistrictName}"></span>
		</th:block>
	</th:block>
</th:block>
</th:block>

<th:block th:fragment="masterSelect2Org">
<th:block th:if="${mode ne 'VIEW'}">
	<select class="form-control" th:field="*{__${fieldName}__}" th:required="${required eq true}" th:attr="data-select2-url=@{/organization/getOrganization},data-select2-placeholder=${placeholder?:null}">
		<option th:if="*{__${fieldName}__ ne null}" th:value="*{{__${fieldName}__}}" th:text="*{{__${fieldName}__.orgName}}"></option>
	</select>
	<th:block th:include="include/formUtil::errorField"></th:block>
</th:block>
<th:block th:if="${mode eq 'VIEW'}">
	<span th:text="*{{__${@thymeleafUtil.makeOptionalEL(fieldName + '.orgName')}__?:'-'}}"></span>
</th:block>
</th:block>

<th:block th:fragment="masterSelect2OrgAll">
<th:block th:if="${mode ne 'VIEW'}">
	<select class="form-control" th:field="*{__${fieldName}__}" th:required="${required eq true}" th:attr="data-select2-url=@{/organization/getOrganizationAdmin},data-select2-placeholder=${placeholder?:null}">
		<option th:if="*{__${fieldName}__ ne null}" th:value="*{{__${fieldName}__}}" th:text="*{{__${fieldName}__.orgName}}"></option>
	</select>
	<th:block th:include="include/formUtil::errorField"></th:block>
</th:block>
<th:block th:if="${mode eq 'VIEW'}">
	<span th:text="*{{__${@thymeleafUtil.makeOptionalEL(fieldName + '.orgName')}__?:'-'}}"></span>
</th:block>
</th:block>

<th:block th:fragment="masterSelect2OrgIncludeInActive">
<th:block th:if="${mode ne 'VIEW'}">
	<select class="form-control" th:field="*{__${fieldName}__}" th:required="${required eq true}" th:attr="data-select2-url=@{/organization/getOrganizationIncludeInActive},data-select2-placeholder=${placeholder?:null}">
		<option th:if="*{__${fieldName}__ ne null}" th:value="*{{__${fieldName}__}}" th:text="*{{__${fieldName}__.orgName}}"></option>
	</select>
	<th:block th:include="include/formUtil::errorField"></th:block>
</th:block>
<th:block th:if="${mode eq 'VIEW'}">
	<span th:text="*{{__${@thymeleafUtil.makeOptionalEL(fieldName + '.orgName')}__?:'-'}}"></span>
</th:block>
</th:block>

<th:block th:fragment="masterSelect2OrgParentOnly">
<th:block th:if="${mode ne 'VIEW'}">
	<select class="form-control" th:field="*{__${fieldName}__}" th:required="${required eq true}" th:attr="data-select2-url=@{/organization/getOrganizationParentOnly},data-select2-placeholder=${placeholder?:null}">
		<option value="-1" th:selected="selected">ทั้งหมด</option>
		<option th:if="*{__${fieldName}__ ne null}" th:value="*{{__${fieldName}__}}" th:text="*{{__${fieldName}__.orgName}}"></option>
	</select>
	<th:block th:include="include/formUtil::errorField"></th:block>
</th:block>
</th:block>

<th:block th:fragment="select2Ajax">
<th:block th:if="${mode ne 'VIEW'}">
	<select class="form-control" th:field="*{__${fieldName}__}" th:required="${required eq true}">
		<option th:if="*{__${fieldName}__} ne null" th:value="*{{__${fieldName}__}}" th:text="*{{__${fieldName}__.__${fieldText}__}}"></option>
	</select>
</th:block>
<th:block th:if="${mode eq 'VIEW'}">
	<span th:text="*{{__${@thymeleafUtil.makeOptionalEL(fieldName + '.' + fieldText)}__?:'-'}}"></span>
	<span th:if="${addon ne null}" th:text="${{addon}}"></span>
</th:block>
</th:block>

<th:block th:fragment="select2AjaxMultiple">
<th:block th:if="${mode ne 'VIEW'}">
	<select class="form-control" th:field="*{__${fieldName}__}" th:required="${required eq true}" multiple="multiple">
		<option th:each="data : *{__${fieldName}__}" th:value="${{data}}" th:text="${{data.__${fieldText}__}}"></option>
	</select>
</th:block>
<th:block th:if="${mode eq 'VIEW'}">
	<div th:if="*{__${@thymeleafUtil.makeOptionalEL(fieldName)}__ ne null}" th:each="data : *{__${@thymeleafUtil.makeOptionalEL(fieldName)}__}">
		<span  th:text="${{data.__${fieldText}__}}"></span>
		<span th:if="${addon ne null}" th:text="${{addon}}"></span>
	</div>
</th:block>
</th:block>

<th:block th:fragment="statusColorBox">
	<th:block th:with="masterId=*{__${@thymeleafUtil.makeOptionalEL(fieldName+'.status')}__}">
		<span th:if="${masterId eq null or masterId eq ''}">-</span>
		<th:block th:unless="${masterId eq null or masterId eq ''}" th:switch="${masterId}">
			<th:block th:case="S"><span class="label label-terminate" th:text="*{__${@thymeleafUtil.makeOptionalEL(fieldName+'.statusDesc')}__}"></span></th:block>
			<th:block th:case="D"><span class="label label-terminate" th:text="*{__${@thymeleafUtil.makeOptionalEL(fieldName+'.statusDesc')}__}"></span></th:block>
			<th:block th:case="W"><span class="label label-waiting" th:text="*{__${@thymeleafUtil.makeOptionalEL(fieldName+'.statusDesc')}__}"></span></th:block>
			<th:block th:case="R"><span class="label label-reject" th:text="*{__${@thymeleafUtil.makeOptionalEL(fieldName+'.statusDesc')}__}"></span></th:block>
			<th:block th:case="A"><span class="label label-approved" th:text="*{__${@thymeleafUtil.makeOptionalEL(fieldName+'.statusDesc')}__}"></span></th:block>
			<th:block th:case="DE"><span class="label label-draft" th:text="*{__${@thymeleafUtil.makeOptionalEL(fieldName+'.statusDesc')}__}"></span></th:block>
		</th:block>
		
	</th:block>
</th:block>

<th:block th:fragment="pageAction">
	<div class="text-center panel-body">
		<th:block th:with=" statusId = *{__${@thymeleafUtil.makeOptionalEL(fieldName+'.status')}__}">
			<th:block th:if="${ actionMode ne 'VIEW' and ( statusId eq null or statusId ne 'W' )}">
			<span style="padding-right:8px;"><button th:unless="${approveFlag}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#pageActionModal" th:attr="statusId='S'"><span class="glyphicon glyphicon-floppy-disk"></span><span th:text="#{button.caption.save}"></span></button></span>
			<span style="padding-right:8px;"><button th:if="${approveFlag}" type="button" class="btn btn-primary" onclick="$('#actionStatus').val('D');$(this).closest('form').submit();"><span class="glyphicon glyphicon-floppy-disk"></span><span th:text="#{button.caption.save}"></span></button></span>
			<span style="padding-right:8px;"><button th:if="${approveFlag}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#pageActionModal" th:attr="statusId='W'"><span class="glyphicon glyphicon-file"></span><span th:text="#{button.caption.send}"></span></button></span>
			<span style="padding-right:8px;"><a th:if="${ cancelLink ne null and cancelLink ne '' }" class="btn btn-default" th:href="${cancelLink}"><span class="glyphicon glyphicon-remove-sign"></span><span th:text="#{button.caption.cancel}"></span></a></span>	
		</th:block>
		<th:block th:if="${ actionMode ne 'VIEW' and statusId ne null and statusId eq 'W' }">
			<span style="padding-right:8px;"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#pageActionModal" th:attr="statusId='A'"><span class="glyphicon glyphicon-check"></span><span th:text="#{button.caption.confirm}"></span></button></span>
			<span style="padding-right:8px;"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#pageActionModal" th:attr="statusId='R'"><span class="glyphicon glyphicon-remove-sign"></span><span th:text="#{button.caption.reject}"></span></button></span>
        </th:block>
          	<span style="padding-right:8px;"><a th:if="${ actionMode eq 'VIEW' and statusId ne null and statusId eq 'W' and sendApproveLink ne null and sendApproveLink ne '' }" class="btn btn-info" th:href="${sendApproveLink}"><span class="fa fa-flag"></span>&nbsp;<span th:text="#{button.caption.check}"></span></a></span>
		</th:block>
		<input id="actionStatus" type="hidden" th:field="*{__${fieldName}__.status}"/>
	</div>
	<div class="modal fade" id="pageActionModal" tabindex="-1" role="dialog" aria-labelledby="pageActionModalLabel" aria-hidden="true">
		<div class="modal-content modal-dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title" id="pageActionModalLabel" th:utext="#{dialog.page.action.header(${'&lt;span class=statusHeaderName&gt;&lt;/span&gt;'})}"></h3>
			</div>
			<div class="modal-body">
  				<span th:utext = "#{dialog.page.action.detail(${'&lt;span class=statusName&gt;&lt;/span&gt;'})}"></span>
			</div>
			<div class="modal-footer">
				<button id="actionButton" type="button" class="btn" onclick="$(this).closest('.modal').modal('hide');$(this).closest('form').submit();">
               		<span id="iconButton" class="glyphicon"></span>
               		<span class="statusName"></span>
               	</button>
        		<button type="button" class="btn btn-default" data-dismiss="modal">
        			<span class="glyphicon glyphicon-remove-sign"></span>
        			<span th:text="#{button.caption.cancel}">cancel</span>
        		</button>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		$(document).ready(function() {
			$('#pageActionModal').on('show.bs.modal', function(e){
				var statusId = $(e.relatedTarget).attr('statusId');
				var statusName='',headerText='',iconClass='',buttonClass='';
				switch(statusId){
			    	case 'S': statusName='บันทึก'; headerText='บันทึก'; iconClass='glyphicon-floppy-disk';buttonClass='btn-primary';break;
			    	case 'W': statusName='ส่งตรวจสอบ'; headerText='ส่งตรวจสอบ'; iconClass='glyphicon-file';buttonClass='btn-primary';break;
			    	case 'A': statusName='ยืนยัน'; headerText='ตรวจสอบ'; iconClass='glyphicon-check';buttonClass='btn-success';break;
			    	case 'R': statusName='ปฏิเสธ'; headerText='ตรวจสอบ'; iconClass='glyphicon-remove-circle';buttonClass='btn-danger';break;
			    }
				
				$("#pageActionModal").find(".statusName").text(statusName);
				$(".statusHeaderName").text(headerText);
				$("#iconButton").attr('class','glyphicon '+iconClass);
				$("#actionButton").attr('class','btn '+buttonClass);
				$("#actionStatus").val(statusId);
			});
		});
	</script>	
</th:block>


<th:block th:fragment="pageActionWithPermission">
	<div class="text-center panel-body">
			<th:block th:with=" statusId = *{__${@thymeleafUtil.makeOptionalEL(fieldName+'.status')}__}">
			<th:block th:if="${ actionMode ne 'VIEW' and ( statusId eq null or statusId ne 'W' )}">
				<span style="padding-right:8px;" th:if="!${approveFlag} and ${formPermission ne null or formPermission.edit}"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pageActionTestModal" th:attr="statusId='S'"><span class="glyphicon glyphicon-floppy-disk"></span><span th:text="#{button.caption.save}"></span></button></span>
				<span style="padding-right:8px;" th:if="${approveFlag} and ${formPermission ne null and formPermission.edit}"><button type="button" class="btn btn-primary" onclick="$('#actionStatus').val('D');showMessageConfirm('D');$(this).closest('form').submit();"><span class="glyphicon glyphicon-floppy-disk"></span><span th:text="#{button.caption.save}"></span></button></span>
				<span style="padding-right:8px;" th:if="${approveFlag} and ${formPermission ne null and formPermission.edit}"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#pageActionTestModal" th:attr="statusId='W'"><span class="glyphicon glyphicon-file"></span><span th:text="#{button.caption.send}"></span></button></span>
				<span style="padding-right:8px;" th:if="${ cancelLink ne null and cancelLink ne '' }"><a class="btn btn-default" th:href="${cancelLink}"><span class="glyphicon glyphicon-remove-sign"></span><span th:text="#{button.caption.cancel}"></span></a></span>
			</th:block>
			<th:block th:if="${ actionMode ne 'VIEW' and statusId ne null and statusId eq 'W' }  and ${formPermission ne null and formPermission.approve}">
				<span style="padding-right:8px;"><button type="button" class="btn btn-success" data-toggle="modal" data-target="#pageActionTestModal" th:attr="statusId='A'"><span class="glyphicon glyphicon-check"></span><span th:text="#{button.caption.confirm}"></span></button></span>
				<span style="padding-right:8px;"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#pageActionTestModal" th:attr="statusId='R'"><span class="glyphicon glyphicon-remove-sign"></span><span th:text="#{button.caption.reject}"></span></button></span>
          	</th:block>
          		<span style="padding-right:8px;" th:if="${ actionMode eq 'VIEW' and statusId ne null and statusId eq 'W' and sendApproveLink ne null and sendApproveLink ne '' }  and ${formPermission ne null and formPermission.approve}"><a class="btn btn-info" th:href="${sendApproveLink}"><span class="fa fa-flag"></span>&nbsp;<span th:text="#{button.caption.check}"></span></a></span>
	</th:block>	
		<input id="actionStatus" type="hidden" th:field="*{__${fieldName}__.status}"/>
	</div>
	
	<div class="modal fade" id="pageActionTestModal" tabindex="-1" role="dialog" aria-labelledby="pageActionModalLabel" aria-hidden="true">
		<div class="modal-content modal-dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title" id="pageActionTestModalLabel" th:utext="#{dialog.page.action.header(${'&lt;span class=statusHeaderName&gt;&lt;/span&gt;'})}"></h3>
			</div>
			<div class="modal-body">
  				<span id="normalCase" th:utext = "#{dialog.page.action.detail(${'&lt;span class=statusName&gt;&lt;/span&gt;'})}"></span>
  				<div id="rejectCase" class="row" style="padding:0px 12px;">
                    <div class="col-md-12">
                        <div class="row form-group">
                        	<div class="col-md-6">
                        		<div style="display: inline-block; max-width: 100%; margin-bottom: 5px; font-weight: bold;">
                        			เหตุผลในการปฏิเสธข้อมูล<span class="required">*</span> :
                        		</div>
                        	</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row form-group" th:if="${statusComment ne null}">
                            <textarea class="form-control col-md-12" rows="3" th:field="*{__${statusComment}__}" required="required" ws:autorule="*{__${statusComment}__}"></textarea>
                        </div>
                    </div>
                </div>
			</div>
			<div class="modal-footer">
				<button id="actionButton" type="button" class="btn" onclick="$(this).closest('.modal').modal('hide');$(this).closest('form').submit();">
               		<span id="iconButton" class="glyphicon"></span>
               		<span class="statusName"></span>
               	</button>
               	<button id="rejectButton" type="button" class="btn btn-danger" onclick="$(this).closest('form').submit();">
               		<span class="glyphicon glyphicon-remove-sign"></span>
               		<span>ปฏิเสธ</span>
               	</button>
        		<button type="button" class="btn btn-default" data-dismiss="modal">
        			<span class="glyphicon glyphicon-remove-sign"></span>
        			<span th:text="#{button.caption.cancel}">cancel</span>
        		</button>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		$(document).ready(function() {
			$('#pageActionTestModal').on('show.bs.modal', function(e){
				var statusId = $(e.relatedTarget).attr('statusId');
				var statusName='',headerText='',iconClass='',buttonClass='';
				switch(statusId){
			    	case 'S': statusName='บันทึก'; headerText='บันทึก'; iconClass='glyphicon-floppy-disk';buttonClass='btn-primary';break;
			    	case 'W': statusName='ส่งตรวจสอบ'; headerText='ส่งตรวจสอบ'; iconClass='glyphicon-file';buttonClass='btn-primary';break;
			    	case 'A': statusName='ยืนยัน'; headerText='ตรวจสอบ'; iconClass='glyphicon-check';buttonClass='btn-success';break;
			    	case 'R': statusName='ปฏิเสธ'; headerText='ตรวจสอบ'; iconClass='glyphicon-remove-circle';buttonClass='btn-danger';break;
			    }
				showMessageConfirm(statusId);
				$("#pageActionTestModal").find(".statusName").text(statusName);
				$(".statusHeaderName").text(headerText);
				$("#iconButton").attr('class','glyphicon '+iconClass);
				$("#actionButton").attr('class','btn '+buttonClass);
				$("#actionStatus").val(statusId);
			});
		});
	</script>	
</th:block>

</form>
</body>
</html>