<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title th:text="#{rpt.20002.title}"></title>

<!-- My JS -->
<script th:src="@{/js/report/rpt-20002/rpt-20002.js}"></script>



</head>
<body layout:fragment="content">
<div ng-app="Rpt-20002" class="content-wrapper">
   <div class="wrapper" ng-controller="rpt-20002-main">
		<section class="panel form-wizard" id="w4">
			<div class="panel-custom head-panel">
				<div class="panel-heading">
					<div class="panel-title">
						<h4 th:text="#{rpt.20002.header}"></h4>
					</div>
				</div>

				<div class="panel-body" layout="row" layout-align="center center">
					<div class="container-fluid">
						<div class="col-sm-8 col-sm-offset-2">
							<form class="form-horizontal" ng-submit="exportPdf(criteria)">

								<div class="form-group row-no-padding">
									<label class="control-label col-sm-3" for="email">ช่วงวันที่ใช้งาน : </label>
									<div class="col-sm-3">
										<p class="input-group">
											<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.startDate" is-open="popup_D1.opened" datepicker-options="dateOptions_D1" ng-required="true" close-text="Close" />
											<span class="input-group-btn">
												<button type="button" class="btn btn-default" ng-click="open_popup_D1()"><i class="glyphicon glyphicon-calendar"></i></button>
											</span>
										</p>
									</div>
									<label class="control-label col-sm-3" for="email">ถึงวันที่ : </label>
									<div class="col-sm-3">
										<p class="input-group">
											<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="criteria.endDate" is-open="popup_D2.opened" datepicker-options="dateOptions_D2" ng-required="true" close-text="Close" />
											<span class="input-group-btn">
												<button type="button" class="btn btn-default" ng-click="open_popup_D2()"><i class="glyphicon glyphicon-calendar"></i></button>
											</span>
										</p>
									</div>
								</div>


								<div class="form-group row-no-padding">
									<label class="control-label col-sm-3" for="email">ประเภทผู้ใช้งาน :</label>
									<div class="col-sm-5">
										<select class="form-control" ng-model="criteria.employeeTypeId">
											<option value="">--ทั้งหมด--</option>
											<option value="1">ประชาชน</option>
											<option value="2">นิติบุคคล</option>
											<option value="3">ส่วนราชการ</option>
										</select>
									</div>
								</div>

								<div class="form-group row-no-padding">
									<label class="control-label col-sm-3" for="email">สถานะการอนุมัติ  (สำหรับส่วนราชการ) : </label>
									<div class="col-sm-3">
										<select class="form-control" ng-model="criteria.statusId">
											<option value="">--ทั้งหมด--</option>
											<option value="1">รออนุมัติ</option>
											<option value="2">อนุมัติแล้ว</option>
											<option value="3">ไม่อนุมัติ</option>
										</select>
									</div>
									<label class="control-label col-sm-3" for="email">สถานะการใช้งาน : </label>
									<div class="col-sm-3">
										<select class="form-control" ng-model="criteria.workTypeId">
											<option value="">--ทั้งหมด--</option>
											<option value="1">เปิดใช้งาน</option>
											<option value="2">ปิดใช้งาน</option>
										</select>
									</div>
								</div>

								<div class="form-group row-no-padding">
									<label class="control-label col-sm-3" for="email">รหัสประจำตัวประชาชน/รหัสนิติบุคคล :</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="criteria.employeeId" placeholder="กรุณากรอกรหัสประจำตัวประชาชน/รหัสนิติบุคคล" />
									</div>
								</div>

								
								<div class="form-group row-no-padding">
									<label class="col-sm-4 control-label"></label>
									<div class="col-sm-8">
										<label class="radio-inline">
											<input type="radio" ng-model="criteria.reportType" value="PDF" />PDF
										</label> 
										<label class="radio-inline"> 
											<input type="radio" ng-model="criteria.reportType"  value="EXCEL"/>EXCEL
										</label>
									</div>
								</div>
			

								<div class="form-group">
									<div class="col-sm-12 text-center text-nowrap">
										<button type="submit" class="btn btn-primary btn-style"><i class="glyphicon glyphicon-search"></i> ออกรายงาน</button>
										<button type="reset" class="btn btn-primary btn-style"><i class="glyphicon glyphicon-refresh"></i> ล้างข้อมูล</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	</div>

</body>
</html>
