.history .title {
	color: #2fa4e7;
}
.history .left-arrow {
	width: 0; 
  	height: 0; 
  	border-top: 20px solid transparent;
  	border-bottom: 20px solid transparent; 
  	border-right:20px solid #2fa4e7;
}
.history .line {
	margin-left: 15px; 
	border-left: 1px solid #2fa4e7;
}
.history .left-content {
	margin: 10px 0px 10px 20px;
    width: 128px;
    height: 46px;
    background-color: #2fa4e7;
    position: relative;
    color: #FFF;
}
.history .left-content:after {
    content: '';
    position: absolute;
    top: 0px;
    left: -35px;
    width: 0;
    height: 0;
    border: 23px solid transparent;
    border-right: 12px solid #2fa4e7;
}
.history .right-content {
	margin: 10px 0px 10px 0px;
}
.history .right-content .box {
	line-height: 46px;
	border: 1px solid #2fa4e7;
}
.popover {
	max-width:350px;
}
.popover-content {
	color: #000;
	padding: 15px;
	height: auto !important;
}
.glyphicon.glyphicon-one-fine-dot:before {
	position: relative;
	top: 5px;
	left: -12px;
    content: "\25cf";
    font-size: 2em;
    color: #fff;
    text-shadow: 1px 0 0 #2fa4e7, -1px 0 0 #2fa4e7, 0 1px 0 #2fa4e7, 0 -1px 0 #2fa4e7, 1px 1px #2fa4e7, -1px -1px 0 #2fa4e7, 1px -1px 0 #2fa4e7, -1px 1px 0 #2fa4e7;
    
}