<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<script th:src="@{/lib/chartjs/Chart.min.js}"></script>
<script th:src="@{/lib/jquery/jquery.easing.min.js}"></script>
<script th:src="@{/lib/animate-number/jquery.animateNumber.min.js}"></script>
<!-- <script th:src="@{/js/case-report.js}"></script> -->

<!-- swiper -->
<link rel="stylesheet" th:href="@{/lib/swiper/3.4.0/css/swiper.min.css}"/>
	<script th:src="@{/lib/swiper/3.4.0/js/swiper.min.js}"></script>
	<script th:src="@{/lib/swiper/3.4.0/js/swiper.jquery.min.js}"></script>

<script th:inline="javascript">
	/* <![CDATA[ */
		
		var comma_separator_number_step = $.animateNumber.numberStepFactories.separator(',');
		
		var durationAnimate = 1500;

		var color1 = "#6892C5";
		var color2 = "#CC6961";
		var color3 = "#ADC26E";
		var color4 = "#967BB2";
		var color5 = "#58A0B5";
		var color6 = "#F2A662";
		var color7 = "#324669";
		var color8 = "#4E2728";

		Chart.defaults.global.defaultFontFamily = "THSarabunNew";
		Chart.defaults.global.defaultFontSize = 18;
		Chart.defaults.global.legend.position = 'bottom';
		Chart.defaults.global.tooltips.callbacks.label = function(tooltipItem, data) {
			  var dataset = data.datasets[tooltipItem.datasetIndex];
			  var datasetLabel = dataset.label || '';
			  return datasetLabel + ": " + dataset.data[tooltipItem.index].toLocaleString();
		};


		$(document).ready(function() {

			var chartStatDamageCivilData = JSON.parse([[${chartStatDamageCivilData}]]);
			
			var myChartStatDamageCivil = new Chart($('#chartStatDamageCivil'), {
			    type: 'bar',
			    data: chartStatDamageCivilData,
			    options: {
			        scales: {
			            yAxes: [{
			                ticks: {
			                    beginAtZero:true
			                }
			            }]
			        }
			    }
			});


			// click on chart
			/* $('#chartStatDamageCivil').on('click', function(evt){
			    var activePoints = myChartStatDamageCivil.getElementAtEvent(evt);
			    // => activePoints is an array of points on the canvas that are at the same position as the click event.
			    console.log(activePoints);
			}); */

			var chartStatWorkData = JSON.parse([[${chartStatWorkData}]]);
			new Chart($('#chartStatWork'), {
			    type: 'line',
			    data: chartStatWorkData,
			    options: {
			        scales: {
			            xAxes: [{
			                display: true
			            }],
			            yAxes: [{
			                ticks: {
			                    beginAtZero:true
			                }
			            }]
			        }
			    }
			});

			var chartStatCaseData = JSON.parse([[${chartStatCaseData}]]);
			new Chart($('#chartStatCase'), {
			    type: 'line',
			    data: chartStatCaseData,
			    options: {
			        scales: {
			            xAxes: [{
			                display: true
			            }],
			            yAxes: [{
			                ticks: {
			                    beginAtZero:true
			                }
			            }]
			        }
			    }
			});

			var chartStatLoanEducationData = JSON.parse([[${chartStatLoanEducationData}]]);
			
			new Chart($('#chartStatLoanEducation'),{
			    type: 'pie',
			    data: chartStatLoanEducationData,
			    options: {
			        tooltips: {
			            callbacks: {
			                label: function(tooltipItem, data) {
			                    var allData = data.datasets[tooltipItem.datasetIndex].data;
			                    var tooltipLabel = data.labels[tooltipItem.index];
			                    var tooltipData = allData[tooltipItem.index];
			                    var total = 0;
			                    for (var i in allData) {
			                        total += allData[i];
			                    }
			                    var tooltipPercentage = Math.round((tooltipData / total) * 100);
			                    return tooltipLabel + ': ' + tooltipData + ' (' + tooltipPercentage + '%)';
			                }
			            }
			        }
			    }
			});

			var chartStatLoanEducationBreakData = JSON.parse([[${chartStatLoanEducationBreakData}]]);
			
			new Chart($('#chartStatLoanEducationBreak'),{
			    type: 'doughnut',
			    data: chartStatLoanEducationBreakData,
			    options: {
			        tooltips: {
			            callbacks: {
			                label: function(tooltipItem, data) {
			                    var allData = data.datasets[tooltipItem.datasetIndex].data;
			                    var tooltipLabel = data.labels[tooltipItem.index];
			                    var tooltipData = allData[tooltipItem.index];
			                    var total = 0;
			                    for (var i in allData) {
			                        total += allData[i];
			                    }
			                    var tooltipPercentage = Math.round((tooltipData / total) * 100);
			                    return tooltipLabel + ': ' + tooltipData.toLocaleString() + ' (' + tooltipPercentage + '%)';
			                }
			            }
			        }
			    }
			});

		});

	/* ]]> */
</script>

<style>

	.dashboard-box .well {
		color: #FFF;
		min-height: 86px;
		margin: 15px 0;
		padding: 0;
		-moz-box-shadow:3px 3px 3px #aaa;
		-webkit-box-shadow:3px 3px 3px #aaa;
		box-shadow:3px 3px 3px #aaa;
	}


	.dashboard-box .left-side {
		width: 33.33333333%;
		min-height: 86px;
		float:left;
		padding: 15px 0 0 0;
	}

	.dashboard-box .right-side {
		width: 66.66666666%;
		min-height: 86px;
		float: right;
	}

	.dashboard-box .left-side i {
		font-size: 36px;
	}

	.dashboard-box .left-side .title {
		font-size: 24px;
	}

	.dashboard-box .right-side .description {
		margin: 5px 0 0 5px;
		font-size: 18px;
	}

	.dashboard-box .right-side .number {
		font-size: 46px;
	}

	.dashboard-box .right-side .addon {
		margin: 0 5px 0 0;
		font-size: 16px;
	}

	.dashboard-box .left-blue {
		background-color: #0069A0;
	}

	.dashboard-box .right-blue {
		background-color: #027EBD;
	}

	.dashboard-box .left-orange {
		background-color: #CE9060;
	}

	.dashboard-box .right-orange {
		background-color: #EDA874;
	}

	.dashboard-box .left-purple {
		background-color: #5945A3;
	}

	.dashboard-box .right-purple {
		background-color: #7562BA;
	}

	.dashboard-box .left-cyan {
		background-color: #25977B;
	}

	.dashboard-box .right-cyan {
		background-color: #30BE9C;
	}




</style>

<title>Dashboard</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="sidebar-nav">
            <div class="nav-canvas">
                <div class="nav-sm nav nav-stacked"></div>
			</div>
		</div>

		<div class="row">
		  <div class="col-md-12">
		    <div class="row dashboard-box">
		      <div class="col-md-3">
		        <div class="well">
		          	<div class="text-center left-blue left-side">
		          		<img th:src="@{/images/icon-menu/icon-violation.svg}"/>
		          		<div class="title">ละเมิด</div>
		          	</div>
		          	<div class="text-center right-blue right-side">
		          		<div class="text-left description">สำนวนระหว่างการพิจารณา</div>
		          		<div class="text-right addon">สำนวน</div>
		          	</div>
		        </div>
		      </div>
		      <div class="col-md-3">
		        <div class="well">
		          	<div class="text-center left-orange left-side">
		          		<img th:src="@{/images/icon-menu/icon-civil.svg}"/>
		          		<div class="title">แพ่ง</div>
		          	</div>
		          	<div class="text-center right-orange right-side">
		          		<div class="text-left description">คดีที่อยู่ระหว่างการพิจารณา</div>
		          		<div class="text-right addon">คดี</div>
		          	</div>
		        </div>
		      </div>
		      <div class="col-md-3">
		        <div class="well">
		          	<div class="text-center left-purple left-side">
		          		<img th:src="@{/images/icon-menu/icon-education.svg}"/>
		          		<div class="title">ลาศึกษา</div>
		          	</div>
		          	<div class="text-center right-purple right-side">
		          		<div class="text-left description">งานลาศึกษา</div>
		          		<div class="text-right addon">เรื่อง</div>
		          	</div>
		        </div>
		      </div>
		      <div class="col-md-3">
		        <div class="well">
		          	<div class="text-center left-cyan left-side">
		          		<img th:src="@{/images/icon-menu/icon-debt.svg}"/>
		          		<div class="title">ลูกหนี้</div>
		          	</div>
		          	<div class="text-center right-cyan right-side">
		          		<div class="text-left description">จำนวนลูกหนี้</div>
		          		<div class="text-right addon">ราย</div>
		          	</div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>

		<div class="row">
			<div class="col-md-8">
				
			</div>
			<div class="col-md-4" id="caseReportSection">
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">

				<div class="panel panel-custom">
				    <div class="panel-heading">
				       <div class="panel-title">
							<i class="fa fa-desktop"></i>
							<span>สถิติงานในระบบความรับผิดทางละเมิดและแพ่ง รายเดือน</span>
				       </div>
					   <div class="box-icon">
				            <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
				       </div>
				    </div>
				 	<div class="panel-body panel-collapse in">
				 		<canvas id="chartStatWork" width="400" height="100"></canvas>
				 	</div>
				 </div>

			</div>
		</div>
		<div class="row">
			<div class="col-md-12">

				<div class="panel panel-custom">
				    <div class="panel-heading">
				       <div class="panel-title">
							<i class="fa fa-desktop"></i>
							<span>สถิติค่าเสียหายตามมติคณะกรรมการพิจารณาความรับผิดทางแพ่ง</span>
				       </div>
					   <div class="box-icon">
				            <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
				       </div>
				    </div>
				 	<div class="panel-body panel-collapse in">
				 		<canvas id="chartStatDamageCivil" width="400" height="200"></canvas>
				 	</div>
				 </div>

			</div>
		</div>
		<div class="row">
			<div class="col-md-12">

				<div class="panel panel-custom">
				    <div class="panel-heading">
				       <div class="panel-title">
							<i class="fa fa-desktop"></i>
							<span>สถิติจำนวนคดีตามมติคณะกรรมการพิจารณาความรับผิดทางแพ่ง</span>
				       </div>
					   <div class="box-icon">
				            <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
				       </div>
				    </div>
				 	<div class="panel-body panel-collapse in">
				 		<canvas id="chartStatCase" width="400" height="100"></canvas>
				 	</div>
				 </div>

			</div>
		</div>
		<div class="row">
			<div class="col-md-6">

				<div class="panel panel-custom">
				    <div class="panel-heading">
				       <div class="panel-title">
							<i class="fa fa-desktop"></i>
							<span>สถิติสัญญารับทุน/ลาศึกษา</span>
				       </div>
					   <div class="box-icon">
				            <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
				       </div>
				    </div>
				 	<div class="panel-body panel-collapse in">
				 		<canvas id="chartStatLoanEducation" width="400" height="200"></canvas>
				 	</div>
				 </div>

			</div>
			<div class="col-md-6">

				<div class="panel panel-custom">
				    <div class="panel-heading">
				       <div class="panel-title">
							<i class="fa fa-desktop"></i>
							<span>สถิติการเรียกชดใช้ กรณีผิดสัญญารับทุน/ลาศึกษา</span>
				       </div>
					   <div class="box-icon">
				            <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
				       </div>
				    </div>
				 	<div class="panel-body panel-collapse in">
				 		<canvas id="chartStatLoanEducationBreak" width="400" height="200"></canvas>
				 	</div>
				 </div>

			</div>
		</div>
	</section>
</body>
</html>
