<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>Example</title>

<!-- My JS -->

<script th:src="@{/js/Master/MAccountDeposit/account-deposit-create.js}"></script>

</head>
<body layout:fragment="content">
<div ng-app="master2App" class="content-wrapper">
   	<div class="wrapper" ng-controller="master2Ctrl">
			<div class="sidebar-nav">
				<div class="nav-canvas">
					<div class="nav-sm nav nav-stacked"></div>
				</div>
			</div>
			<div class="panel panel-custom head-panel">
				<div class="panel panel-custom head-panel">
					<div class="panel panel-custom">				
							<div class="panel-heading">
								<h2 class="panel-title">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
									<span>บัญชีเงินฝาก</span>
								</h2>
							</div>
							<div class="panel-body" layout="row" layout-align="center center">
								<div class="container-fluid">
									<div uib-accordion-group="" class="panel-default"
										heading="เพิ่มข้อมูล" is-open="true" is-disabled="false">
										<div class="col-sm-10 col-sm-offset-1">
											<div class="form-group">
			
			
															<form class="form-horizontal" ng-submit="create()">
																<div class="row" style="display:none">
																	<div class="col-md-3 text-right ">Id:</div>
																	<div class="col-md-7">
																		<input type="text" class="form-control" required="required" ng-model="obj.accountDepositId" />
																	</div>
																</div>
																<div class="row">
																	<div class="col-md-3 text-right ">รหัสบัญชีเงินฝากคลัง:</div>
																	<div class="col-md-7">
																		<input type="text" class="form-control" required="required" ng-model="obj.accountCode" />
																	</div>
																</div>
																<div class="row">
																	<div class="col-md-3 text-right ">ชื่อบัญชีเงินฝากคลัง:</div>
																	<div class="col-md-7">
																		<input type="text" class="form-control" required="required" ng-model="obj.accountName" />
																	</div>
																</div>
																<div class="row">
																	<div class="col-md-3 text-right ">เจ้าของบัญชีเงินฝากคลัง:</div>
																	<div class="col-md-7">
																		<input type="text" class="form-control" required="required" ng-model="obj.owner" />
																	</div>
																</div>
																<div class="row">
																	<div class="col-md-3 text-right ">อ้างอิงเพิ่มเติม:</div>
																	<div class="col-md-7">
																		<input type="text" class="form-control" ng-model="obj.remark" />
																	</div>
																</div>
																<div class="row">
																	<div class="col-md-3 text-right ">วันที่เริ่มใช้งาน:</div>
																	<div class="col-md-4">
																		<datepicker-dir  ng-model="obj.startDate" format-date="dd/MM/yyyy"  ></datepicker-dir>
																	</div>
																</div>
																<div class="row">
																	<div class="col-md-3 text-right ">วันที่สิ้นสุดการใช้งาน:</div>
																	<div class="col-md-4">
																		<datepicker-dir  ng-model="obj.endDate" format-date="dd/MM/yyyy"  ></datepicker-dir>
																	</div>
																</div>
			 													<div class="row">
																	<div class="col-md-3 text-right ">สถานะ:</div>
																	<div class="col-md-7">
																		<select class="form-control" ng-model="obj.status">
																			<option value="">--กรุณาเลือก--</option>
																			<option value="0">รอยืนยัน</option>
																			<option value="1">ใช้งาน</option>
																			<option value="2">ระงับการใช้งาน</option>
																			<option value="3">ยกเลิก</option>
																		</select>
																	</div>
																</div>
																<div class="row">
																	<div class="col-md-3 text-right "></div>
																	<div class="col-md-7">
																		<button type="submit" id="saveBtn"
																			class="btn btn-primary">
																			<span class="glyphicon glyphicon-floppy-disk"></span> บันทึก
																		</button>
									
																		<button type="button" id="cancelBtn"
																			class="btn btn-danger btn-style" ng-click="cancel()">
																			<span class="glyphicon glyphicon-remove-sign"></span> ยกเลิก
																		</button>
																	</div>
																</div>
															</form>
			
			
			
			
			
			
			
			
											</div>
										</div>
									</div>
								</div>
							</div>

					</div>
				</div>
			</div>
	</div>
</div>
</body>
</html>