@font-face {
	font-family: 'THSarabunNew-Bold';
	src: url('THSarabunNew-Bold.eot');
	src: local('☺'), url('THSarabunNew-Bold.woff') format('woff'), url('THSarabunNew-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}