<div class="panel panel-custom">
	<div class="panel-heading">
		<div class="panel-title">
			<i class="fa fa-desktop"></i> <span>ข้อมูลผู้ใช้งาน</span>
		</div>
	</div>
	<div class="panel-body">
		<div class="text-center">
			กรุณาเลือกผู้ใช้งาน หรือ เพิ่มผู้ใช้งานใหม่
		</div>
	</div>
</div>