<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<title>ค้นหาหน่วยงาน</title>
	
	<script th:inline="javascript">
	/*<![CDATA[*/
	
	var organizationSession = "organizationSession";
	var organizationTableSession = "organiztionTableSession";
	var isDocumentReady = true;
	
	$(document).ready(function(){
		
		var orgSession = WS.session.getJSON(organizationSession);
		
		$('#moveOrgSlc').hide();
		
		initialize();
		
		function initialize() {
			
			if(orgSession != null) {
				data = {orgId: orgSession.orgId, action: orgSession.action};
			} else {
				data = {action: 'init'};
			}
			
			$.ajax({
				  type: "POST",
				  url: ctx + 'admin/organization/getTable',
				  data: data,
				  success: function(response) {
					  $('#organizationTable').html(response);
					  if (orgSession != null) {
						  showOrganizationSearchReset(orgSession.action);
					  } else {
						  $('#organizationReset').hide();
					  }
				  }
			});			
		}
		
		
		$('#deleteConfirm').on('click', function(e) {
			$.ajax({
				  type: "POST",
				  url: ctx + 'admin/organization/delete',
				  data: $('#deleteOrganizationForm').serialize(),
				  success: function(response) {
					  $('#deleteOrganizationModal').modal('hide');
					  if (response) {
						  $('.msg-organization-error').attr('class', 'row form-group msg-organization-error hidden');
						  var session = WS.session.getJSON(organizationSession);
						  search(session);
					  } else {
						  $('#msg-organization-error-text').text("ไม่สามารถลบได้ เนื่องจากหน่วยงานมีการใช้งานในส่วนอื่น");
						  $('.msg-organization-error').attr('class', 'row form-group msg-organization-error');
					  }
					  
				  }
			});
		});
		
		$('#moveConfirm').on('click', function(e) {
			if ($('#moveOrganizationForm').valid()) {
				var moveType = $('#moveOrganizationForm').find('input[type=radio][name=moveTypeRadio]:checked').val();
				var data = $('#moveOrganizationForm').serialize();
				if (moveType > 0) {
					var moveToId = $('#organizationMoveSlc').val();
					data += '&moveToId=' + moveToId;
				}
				$.ajax({
					  type: "POST",
					  url: ctx + 'admin/organization/move',
					  data: data,
					  success: function(response) {
						  $('#moveOrganizationModal').modal('hide');
						  if (response) {
							  $('.msg-organization-error').attr('class', 'row form-group msg-organization-error hidden');
							  var orgId = $('#organizationSlc').val();
							  if (orgId != null) {
								var li = $('#organizationRoute>ol>li').last();
								$(li).find('a').trigger('click');
							  } else {
								var session = WS.session.getJSON(organizationSession);
								search(session);
							  }
						  } else {
							  $('#msg-organization-error-text').text("ไม่สามารถย้ายได้ เนื่องจากหน่วยงานที่ต้องการจะย้ายมีส่วนเกี่ยวข้องกับหน่วยงานที่จะย้ายไป");
							  $('.msg-organization-error').attr('class', 'row form-group msg-organization-error');
						  }
						  
					  }
				});
			}
		});
		
		$('input[name=moveTypeRadio][type=radio]').on('change', function(e) {
			if ($(this).val() > 0) {
				$('#moveOrgSlc').fadeIn(500);
				$('#organizationMoveSlc').prop('disabled', false);
			} else {
				$('#moveOrgSlc').fadeOut(500);
				$('#organizationMoveSlc').prop('disabled', true);
			}
		});
		
		$('#moveOrganizationModal').on('hidden.bs.modal', function() {
			var moveForm = $('#moveOrganizationForm');
			moveForm[0].reset();
			$(moveForm).find('input[name=moveTypeRadio][type=radio][value=0]').trigger('change');
			$('#organizationMoveSlc').val(null).trigger("change");
			$('#organizationMoveSlc').empty();
		});
	});
	
	function getTable(orgId, orgName, action) {
		if (action == 'home') {
			WS.session.remove(organizationSession);
		} else {
			WS.session.setJSON(organizationSession, {orgId: orgId, orgName: orgName, action: action});
		}
		
		$.ajax({
			  type: "POST",
			  url: ctx + 'admin/organization/getTable',
			  data: {orgId: orgId, action: action},
			  success: function(response) {
				  $('#organizationTable').html(response);
				  showOrganizationSearchReset(action);
			  }
		});
	}
	
	function showOrganizationSearchReset(action) {
		if (action == 'search') {
		 	$('#organizationReset').show();
		} else {
		 	$('#organizationReset').hide();
		}
	}
	
	/*]]>*/
	</script>
	
</head>

<body>
	<section layout:fragment="content">
		<div class="btn-group-add">
			<a th:if="${#lists.contains(session.userSession.perms, T(th.go.cgd.epayment.constant.PermissionConstant.ADMIN).ORGANIZATION_ADD)}" class="btn btn-add" th:href="@{/admin/organization/add}" data-tooltip="tooltip" data-placement="top" title="เพิ่มหน่วยงาน"><span class="glyphicon glyphicon-plus"></span></a>
		</div>
		<div id="organizationTable" class="panel panel-custom">
			
		</div>
		<div class="modal" id="deleteOrganizationModal" th:if="${#lists.contains(session.userSession.perms, T(th.go.cgd.epayment.constant.PermissionConstant.ADMIN).ORGANIZATION_DELETE)}">
			<div class="modal-dialog">
				<div class="modal-content">
					<form id="deleteOrganizationForm" method="POST">					
						<div class="modal-header">
							<button type="button" class="btn btn-primary" data-dismiss="modal">&times;</button>
							<h3 class="modal-title">ยืนยันการลบข้อมูล</h3>
						</div>
						<div class="modal-body">
							คุณต้องการลบข้อมูลหน่วยงาน <span class="delete-organization-name"></span> ?
						</div>
						<div class="modal-footer">
							<button type="button" id="deleteConfirm" class="btn btn-primary"><i class="glyphicon glyphicon-trash"></i> ลบ</button>
							<button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> ยกเลิก</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="modal" id="moveOrganizationModal" th:if="${#lists.contains(session.userSession.perms, T(th.go.cgd.epayment.constant.PermissionConstant.ADMIN).ORGANIZATION_EDIT)}">
			<div class="modal-dialog">
				<div class="modal-content">
					<form id="moveOrganizationForm" method="POST" data-toggle="validator">					
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h3 class="modal-title">ย้ายหน่วยงาน</h3>
						</div>
						<div class="modal-body">
							<div class="text-center">ต้องการย้ายหน่วยงานไปเป็น</div>
							<div class="row form-group">
								<div class="col-md-5 text-right">
									<label>
								      <input type="radio" name="moveTypeRadio" value="0" checked="checked" /> หน่วยงานต้นสังกัด
								    </label>
							    </div>
							    <div class="col-md-2">
							    	<div class="text-center">
							    		<label>หรือ</label>
							    	</div>
							    </div>
							    <div class="col-md-5 text-left">
									<label>
								      <input type="radio" name="moveTypeRadio" value="1" /> หน่วยงานย่อยของหน่วยงาน
								    </label>
							    </div>
							    <div id="moveOrgSlc" class="row form-group">
							    	<div class="col-md-6 col-md-offset-3">
						    			<select class="form-control" id="organizationMoveSlc" th:attr="data-select2-url=@{/organization/getOrganizationIncludeInActive}" name="orgnizationMoveSlc" required="required"></select>
							    	</div>
							    </div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" id="moveConfirm" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> ยืนยัน</button>
							<button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove-sign"></i> ยกเลิก</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>

</html>