<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>

<title>บันทึกหน่วยงาน</title>


<script>
	/* <![CDATA[ */
		$(document).ready(function() {
			if ($('#provinceSlc').val() == -1) {
				$('#provinceSlc').val('').trigger('change');
			}
		});
	/* ]]> */
</script>

</head>

<body>
	<section layout:fragment="content">
		<div class="panel panel-custom">
			<div class="panel-heading">
				<div class="panel-title">
					<i class="fa fa-file-text"></i> <span>บันทึกข้อมูลหน่วยงาน</span>
				</div>
				<div class="box-icon">
					<a href="#" class="btn btn-minimize btn-round btn-default"><i
						class="glyphicon glyphicon-chevron-up"></i></a>
				</div>
			</div>
			<div class="panel-body panel-collapse in">
				<form th:action="@{/admin/organization/save}" method="POST" th:object="${organizationObj}" data-toggle="validator">
					<div th:include="views/common/message"></div>
					<input type="hidden" th:field="*{orgId}" />
					<div class="row">
						<h4 class="col-md-6 text-left control-label" >รายละเอียด</h4>
					</div>
					<hr class="dotted" />					
					
					<div class="row">
						<div class="col-md-11">
													
							<div class="row">
			                    <div class="col-md-6">
			                        <div class="row form-group" th:with="required=true">
			                            <label class="col-md-6 text-right" th:include="include/formUtil :: label(label='ประเภทหน่วยงาน')"></label>
			                            <div class="col-md-6" id="orgTypeSelect" th:include="include/formUtil :: masterSelect2(fieldName='MOrgType',catalogName='MOrgType', catalogValue='orgTypeId',catalogText='orgTypeName')"></div>
			                        </div>
			                    </div>
			                    <div class="col-md-6">
			                        <div class="row form-group" th:with="required=false">
			                        	<label class="col-md-4 text-right" th:include="include/formUtil :: label(label='หน่วยงานต้นสังกัด')"></label>
		                                <div class="col-md-6" th:include="include/formUtil :: masterSelect2OrgIncludeInActive(fieldName='organization')"></div>
			                        </div>
			                    </div>
			                </div>
						
							 <div class="row">
		                        <div class="col-md-12">
		                            <div class="row form-group" th:with="required=true">
		                                <label class="col-md-3 text-right" th:include="include/formUtil :: label(label='ชื่อหน่วยงาน')"></label>
		                                <div class="col-md-8" th:include="include/formUtil :: textInput(fieldName='orgName')"></div>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="row">
			                    <div class="col-md-6">
			                        <div class="row form-group">
			                            <label class="col-md-6 text-right" th:include="include/formUtil :: label(label='GFMIS Code')"></label>
			                            <div class="col-md-6" th:include="include/formUtil :: textInput(fieldName='gfmisCode')"></div>
			                        </div>
			                    </div>
			                    <div class="col-md-6">
			                        <div class="row form-group">
			                        	<label class="col-md-4 text-right" th:include="include/formUtil :: label(label='GFMIS Budget')"></label>
										<div class="col-md-6" th:include="include/formUtil :: textInput(fieldName='gfmisBudget')"></div>
			                        </div>
			                    </div>
			                </div>
							
							<div class="row">
								<div class="col-md-6">
			                        <div class="row form-group" th:with="required=false">
			                            <label class="col-md-6 text-right" th:include="include/formUtil :: label(label='รหัสหน่วยงาน')"></label>
			                            <div class="col-md-6" th:include="include/formUtil :: textInput(fieldName='orgCode')"></div>
			                        </div>
			                    </div>
			                    <div class="col-md-6">
			                        <div class="row form-group" th:with="required=true">
			                            <label class="col-md-4 text-right" th:include="include/formUtil :: label(label='สถานะ')"></label>
			                            <div class="col-md-6">
			                            	<label th:each="stat : ${MStatus}" th:if="${mode} ne 'VIEW'">
			                            		<input type="radio" th:field="*{mStatus.status}" th:value="${stat.status}" /> <span style="font-weight: normal" th:text="${stat.statusName}"></span>
			                            	</label>
			                            	<span th:if="${mode} eq 'VIEW'" th:text="*{mStatus.statusName}"></span>
			                            </div>
			                        </div>
			                    </div>
			                </div>
							
						</div>
					</div>
					
					<div class="row">
						<h4 class="col-md-6 text-left control-label" >ที่ตั้ง</h4>
					</div>
					<hr class="dotted" />
					
					<div class="row">
						<div class="col-md-11">
						
							<div class="row">
		                        <div class="col-md-12">
		                            <div class="row form-group">
		                                <label class="col-md-3 text-right" th:include="include/formUtil :: label(label='ที่อยู่')"></label>
		                                <div class="col-md-8" th:include="include/formUtil :: textInput(fieldName='address')"></div>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="row">
			                    <div class="col-md-6">
			                        <div class="row form-group">
			                            <label class="col-md-6 text-right" th:include="include/formUtil :: label(label='จังหวัด')"></label>
			                            <div class="col-md-6" th:include="include/formUtil :: provinceSelect2"></div>
			                        </div>
			                    </div>
			                    <div class="col-md-6">
			                        <div class="row form-group">
			                        	<label class="col-md-4 text-right" th:include="include/formUtil :: label(label='เขต/อำเภอ')"></label>
										<div class="col-md-6" th:include="include/formUtil :: districtSelect2"></div>
			                        </div>
			                    </div>
			                </div>
			                <div class="row">
			                    <div class="col-md-6">
			                        <div class="row form-group">
			                            <label class="col-md-6 text-right" th:include="include/formUtil :: label(label='แขวง/ตำบล')"></label>
			                            <div class="col-md-6" th:include="include/formUtil :: subDistrictSelect2"></div>
			                        </div>
			                    </div>
			                    <div class="col-md-6">
			                        <div class="row form-group">
			                        	<label class="col-md-4 text-right" th:include="include/formUtil :: label(label='รหัสไปรษณีย์')"></label>
										<div class="col-md-6" th:include="include/formUtil :: textInput(fieldName='zipCode')" data-format="integer" data-validation-rules="validatePostalCode"></div>
			                        </div>
			                    </div>
			                </div>
						
						</div>
					</div>
					
	                <br />
	                <div class="row">
	                	<div class="col-md-12">
	                		<div class="row form-group">
			                	<div class="text-center">
				      				<button th:if="${mode} ne 'VIEW'" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> บันทึก</button>
				      				<a th:if="${mode} eq 'VIEW' AND ${#lists.contains(session.userSession.perms, T(th.go.cgd.epayment.constant.PermissionConstant.ADMIN).ORGANIZATION_EDIT)}" th:href="@{/admin/organization/edit/} + *{orgId}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> แก้ไข</a>
				      				<a th:href="@{/admin/organization}" th:class="(${mode} eq 'VIEW') ? 'btn btn-primary' : 'btn btn-default'"><span th:class="(${mode} eq 'VIEW') ? 'glyphicon glyphicon-chevron-left' : 'glyphicon glyphicon-remove-sign'"></span><span th:text="(${mode} eq 'VIEW') ? ' ย้อนกลับ' : ' ยกเลิก'"></span></a>
				      			</div>
	                		</div>
		      			</div>
		      		</div>
				</form>
			</div>
		</div>
	</section>
</body>

</html>