<script th:inline="javascript">
	/*<![CDATA[*/
	var dataList = $('#dataList');
	var canEdit = [[${#lists.contains(session.userSession.perms, T(th.go.cgd.epayment.constant.PermissionConstant.ADMIN).ORGANIZATION_EDIT)}]];
	var canDelete = [[${#lists.contains(session.userSession.perms, T(th.go.cgd.epayment.constant.PermissionConstant.ADMIN).ORGANIZATION_DELETE)}]];
	
	
	$(document).ready(function(){
		
		var orgSession = WS.session.getJSON(organizationSession);
		
		if (orgSession != null && orgSession.action == 'search') {
			var option1 = new Option(orgSession.orgName, orgSession.orgId, true);
			$('#organizationSlc').append(option1);
			$('#organizationSlc').trigger('change');			
		}
		

		init();
		
		function init() 
		{
			if(orgSession != null) 
			{
				search(orgSession);
			} else if (orgSession == null) {
				search(null);
			} else {
				dataList.DataTable(PagingUtil.getStaticOption());
				isDocumentReady = false;
			}
		}
		
		
		
		$("#checkAll").change(function () {
		    $("#dataList input[type=checkbox]").prop('checked', $(this).prop("checked"));
		});
		
		$(document).on('click','.cmd-del',function(e) {
			var orgId = $(e.target).closest('.cmd-del').attr('data-id');
			var orgName = $(e.target).closest('.cmd-del').attr('data-name');
			var input = $('<input>').attr('type','hidden').attr('name','deleteId').val(orgId);
			$('#deleteOrganizationModal').find('.delete-organization-name').text(orgName);
			$('#deleteOrganizationForm').find('input').remove();
			$('#deleteOrganizationForm').append(input);
			$('#deleteOrganizationModal').modal('show');
		});
		
		$(document).on('click','.back-to-org-home',function(e) {
			getTable(null, null, 'home');
		});
		
		$("#organizationSearch").on('click', function(e) {
			var orgId = $('#organizationSlc').val();
			if (orgId != null) {
				$('.msg-organization-error').attr('class', 'row form-group msg-organization-error hidden');
				var orgName = $( "#organizationSlc option:selected" ).text();
				getTable(orgId, orgName, 'search');
			} else {
				$('#msg-organization-error-text').text("กรุณาเลือกหน่วยงานที่จะค้นหา");
				$('.msg-organization-error').attr('class', 'row form-group msg-organization-error');
			}
		});
		
		$("#organizationReset").on('click', function(e) {
			$('.msg-organization-error').attr('class', 'row form-group msg-organization-error hidden');
			var orgId = $('#organizationSlc').val();
			if (orgId != null) {
				var li = $('#organizationRoute>ol>li').first();
				$(li).find('a').trigger('click');
			}
		});
		
		$('#deleteAll').on('click', function(e) {
			var isChecked = checkCbox();
			
			if (isChecked) {
				var allId = getValueFromCheckbox();
				$('.msg-organization-error').attr('class', 'row form-group msg-organization-error hidden');
				$('#deleteOrganizationModal').find('.delete-organization-name').text("ทั้งหมดที่เลือก");
				$('#deleteOrganizationForm').find('input').remove();
				for (var index in allId) {
					var input = $('<input>').attr('type','hidden').attr('name','deleteId').val(allId[index]);
					$('#deleteOrganizationForm').append(input);
				}
				$('#deleteOrganizationModal').modal('show');
			} else {
				$('#msg-organization-error-text').text("กรุณาเลือกอย่างน้อยหนึ่งหน่วยงาน");
				$('.msg-organization-error').attr('class', 'row form-group msg-organization-error');
			}
		});
		
		$('#moveAll').on('click', function(e) {
			var isChecked = checkCbox();
			
			if (isChecked) {
				var allId = getValueFromCheckbox();
				$('.msg-organization-error').attr('class', 'row form-group msg-organization-error hidden');
				$('#moveOrganizationForm').find('input[type=hidden]').remove();
				for (var index in allId) {
					var input = $('<input>').attr('type','hidden').attr('name','moveId').val(allId[index]);
					$('#moveOrganizationForm').append(input);
				}
				var moveType = $('#moveOrganizationForm').find('input[type=radio][name=moveTypeRadio]:checked').val();
				$('#organizationMoveSlc').prop('disabled', !(moveType > 0));
				$('#moveOrganizationModal').modal('show');
			} else {
				$('#msg-organization-error-text').text("กรุณาเลือกอย่างน้อยหนึ่งหน่วยงาน");
				$('.msg-organization-error').attr('class', 'row form-group msg-organization-error');
			}
		});
		
	});
	
	function checkCbox() {
		var isChecked = false;
		$('#dataList input[type=checkbox][name=orgId]').each(function(e) {
			if ($(this).prop('checked')) {
				isChecked = true;
				return false;
			}
		});
		return isChecked;
	}
	
	function getValueFromCheckbox() {
		var allId = [];
		$('#dataList input[type=checkbox][name=orgId]').each(function(e) {
			if ($(this).prop('checked')) {
				allId.push($(this).val());
			}
		});
		return allId;
	}
	
	function search(orgSession) {	
		var url;
		
		if (orgSession != null) {
			if (orgSession.action == 'click') {
				url = ctx + 'admin/organization/dataTable?orgId=' + orgSession.orgId;
			} else if (orgSession.action == 'search') {
				url = ctx + 'admin/organization/dataTable?orgSearchId=' + orgSession.orgId;
			}
		} else {
			url = ctx + 'admin/organization/dataTable';
		}
		
		var dataTableOption = PagingUtil.getDefaultOption();
		
		$.extend(dataTableOption, {
			order: [[0, 'asc']],
			ajaxSource: url,
			columns: [
			          {sortable:false, data: 'orgId', render: function(data, type, row, meta) {
			        	  var temp = $('<div>')
			        	  $('<input type="checkbox" name="orgId">').appendTo(temp).val(data);
			        	  return temp.html();
			          }, className: 'dt-body-center'},
			          {data: 'orgName', render: function(data, type, row, meta) {
			        	  var div = $('<div>');
			        	  var temp;
			        	  if (row.hasChild > 0) {
			        		temp = $('<a>'); 
			        	  } else {
			        		 temp = $('<span>');
			        	  }
			        	  $(temp).text(data);
			        	  $(div).append(temp);
			        	  return div.html();
			          }, className: ''},
			          {data: 'orgTypeName', className: ''},
			          {data: 'statusName', className: 'dt-body-center'},
			          {sortable:false, data: null, render: function(data, type, row, meta) {
			        	  var temp = $('<div>');
			        	  $('<a class="cmd-icon cmd-view"><span class="fa fa-info"></span></a>').attr('href', ctx + 'admin/organization/view/' + row.orgId).appendTo(temp);
			        	  
			        	  if (canEdit) {			        		  
			        	  	$('<a class="cmd-icon cmd-edit"><span class="fa fa-edit"></span></a>').attr('href', ctx + 'admin/organization/edit/' + row.orgId).appendTo(temp);
			        	  }
			        	  
			        	  if (canDelete) {			        		  
				        	  $('<a class="cmd-icon cmd-del pointer"><span class="fa fa-trash-o"></span></a>').attr('data-id', row.orgId).attr('data-name', row.orgName).appendTo(temp);
			        	  }
			        	  
			        	  return temp.html();
			          }, className: 'dt-body-center'}
			       ],
			createdRow: function(row, data, dataIndex) {
				if (data.hasChild > 0) {
					$('td:lt(3):gt(0)', row).addClass('pointer').on('click', function(e) {
						getTable(data.orgId, data.orgName, 'click');
					});
				}
			},
	        stateSave: true,
			stateSaveCallback: function(settings, data) {
				WS.session.setJSON(organizationTableSession, data);
				isDocumentReady = false;
			},
			stateLoadCallback: function(settings) {
				if(isDocumentReady) {
					return WS.session.getJSON(organizationTableSession);
				}
				return false;
			}
		});
		
		dataList.DataTable(dataTableOption);
	};
	
	/*]]>*/
	</script>

<div class="panel-heading">
	<div class="panel-title">
		<i class="fa fa-desktop"></i> <span>ตั้งค่าหน่วยงาน</span>
	</div>
	<div class="box-icon">
		<a href="#" class="btn btn-minimize btn-round btn-default"><i
			class="glyphicon glyphicon-chevron-up"></i></a>
	</div>
</div>
<div class="panel-body panel-collapse in">
	<div class="panel panel-default">
		<div class="panel-heading" style="height: auto">
			<div id="organizationRoute" class="panel-title">
				<ol th:if="${organizationRoute == null}" class="breadcrumb" style="margin:0; padding: 0;">
					<li>หน่วยงาน</li>
				</ol>
				<ol th:if="${organizationRoute != null}" class="breadcrumb" style="margin:0; padding: 0;">
				  <li><a class="back-to-org-home pointer">หน่วยงาน</a></li>
				  <div th:each="orgRoute, Stat : ${organizationRoute}" th:remove="tag">
				  	<div th:if="${action} != 'search'" th:remove="tag">
					  	<li th:if="!${Stat.last}">
					  		<a class="pointer" th:onclick="'getTable(\'' + ${orgRoute.orgId} + '\',\'' + ${orgRoute.orgName} +  '\',\'click\')'" th:text="${orgRoute.orgName}"></a>
					  	</li>
					   	<li th:if="${Stat.last}" class="active" th:text="${orgRoute.orgName}"></li>
				   	</div>
				   	<div th:if="${action} == 'search'" th:remove="tag">
					   	<li th:if="!${Stat.last}">
						  	<a class="pointer" th:onclick="'getTable(\'' + ${orgRoute.orgId} + '\',\'' + ${orgRoute.orgName} +  '\',\'click\')'" th:text="${orgRoute.orgName}"></a>
						 </li>
					 </div>
				  </div>
				</ol>
			</div>
		</div>
		<div class="panel-body">
			<div class="row form-group msg-organization-error hidden">
				<div class="col-md-12">
					<p class="bg-danger text-danger panel-round">
					<i class="glyphicon glyphicon-exclamation-sign"></i>
						<span id="msg-organization-error-text"></span>
					</p>
				</div>
			</div>
			<div class="row form-group">
             	<label class="col-md-2 text-right" th:include="include/formUtil :: label(label='ค้นหา')"></label>
                <div class="col-md-7">
                	<select class="form-control" id="organizationSlc" th:attr="data-select2-url=@{/organization/getOrganizationIncludeInActive}" name="organizationSearchSelection"></select>
                </div>
                <div class="col-md-3">
                	<button type="button" class="btn btn-primary" id="organizationSearch">
	                	<span class="glyphicon glyphicon-search"></span> ค้นหา
	                </button>
	                <button class="btn btn-default" type="button" id="organizationReset">
						<span class="glyphicon glyphicon-refresh"></span> ล้างข้อมูล
					</button>
                </div>
             </div>
			<table id="dataList" class="table table-striped table-bordered">
				<thead>
					<tr>
						<th class="text-center">
							<input id="checkAll" type="checkbox" name="checkAll" />
						</th>
						<th>ชื่อหน่วยงาน</th>
						<th>ประเภทหน่วยงาน</th>
						<th>สถานะ</th>
						<th class="text-center"></th>
					</tr>
				</thead>
			</table>
			<div class="clear-fix dataTable-tailing">
				<div class="left">
					<span th:if="${#lists.contains(session.userSession.perms, T(th.go.cgd.epayment.constant.PermissionConstant.ADMIN).ORGANIZATION_EDIT)}" class="pointer" id="moveAll" ><i class="glyphicon glyphicon-move"></i> ย้ายทั้งหมด</span>
					<span th:if="${#lists.contains(session.userSession.perms, T(th.go.cgd.epayment.constant.PermissionConstant.ADMIN).ORGANIZATION_DELETE)}" class="pointer" id="deleteAll"><i class="glyphicon glyphicon-trash"></i> ลบทั้งหมด</span>
				</div>
			</div>
		</div>
	</div>
</div>