<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<!-- My JS -->
<script th:src="@{/js/paymentHistory/payment-history.js}"></script>
<title>ประวัติการชำระเงิน</title>
</head>
<body layout:fragment="content">
	<div ng-app="paymentHistoryApp" class="content-wrapper">
   <div class="wrapper" ng-controller="paymentHistoryCtrl">


			<form name="paymentHistoryForm" id="popupSelectContainer">

								<div class="panel panel-custom head-panel">
									<div class="panel-heading">
										<h2 class="panel-title">
											<span class="glyphicon glyphicon-list-alt"></span> <span>ประวัติการชำระเงิน</span>
										</h2>
									</div>

									<div class="panel-body">
										<div class="panel-default">


											<!-- ADDRESS -->
											<div class="panel panel-default">
												<div class="panel-heading">
													<h3 class="panel-title">ค้นหารายการ</h3>
												</div>
												<div class="panel-body">
													<div class="form-group">
														<!-- row1 -->
														<div class="row row-no-padding">

															<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">ตั้งแต่วันที่ :</div>
															<datepicker-dir class="col-xs-11 col-md-3 col-sm-3"
																ng-model="data.startDate" format-date="dd/MM/yyyy"></datepicker-dir>
															<div class="col-xs-12 col-sm-2 col-md-1 text-xs-left text-sm-right text-md-right ">ถึงวันที่ :</div>
															<datepicker-dir class="col-xs-11 col-md-3 col-sm-3"
																ng-model="data.endDate" format-date="dd/MM/yyyy"></datepicker-dir>
														</div>
														<!-- row2 -->
														<div class="row row-no-padding">
															<div class="col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right">หน่วยงาน :</div>
														
															<div class="col-sm-3 col-md-3">
																<select class="form-control col-sm-3"
																	ng-model="data.departmentId"
																	ng-options="list.id as list.desc for list in deptList">
																	<option value="">--กรุณาเลือก--</option>
																</select>
															</div>

														</div>
														<!-- row3 -->
														<div class="row row-no-padding">
															<div class="col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right">หมวดบริการ :</div>
															<div class="col-sm-3 col-md-3">
																<select class="form-control col-md-3"
																	ng-change="getCatalogByCatType(data.catalogTypeId);"
																	ng-model="data.catalogTypeId"
																	ng-options="list.id as list.desc for list in getCatalogTypeList">
																	<option value="">--กรุณาเลือก--</option>
																</select>
															</div>
														</div>
														<!-- row4 -->
														<div class="row row-no-padding">
															<div class="col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right">ชื่อรายการรับชำระ
																:</div>
															<div class="col-sm-3 col-md-3">
																<select class="form-control col-md-3"
																	ng-model="data.catalogId"
																	ng-options="list.id as list.desc for list in getCatalogList">
																	<option value="">--กรุณาเลือก--</option>
																</select>
															</div>
														</div>
														
													    
														<div class="row row-no-padding">
															<div class="col-xs-12 col-md-12 text-center">
																<button type="button" id="searchBtn"
																	class="btn btn-primary btn-style" ng-click="searchBilling()">
																	<span class="glyphicon glyphicon-search"></span> ค้นหา
																</button>

																<button type="button" id="searchBtn"
																	class="btn btn-primary btn-style">
																	<span class="glyphicon glyphicon-refresh"></span>
																	ล้างข้อมูล
																</button>
															</div>
															
															
														</div>




													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-xs-12 col-sm-6 col-md-6">
													<span class="md-headline">ตารางแสดงประวัติชำระ</span>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-6">
														<div class="col-xs-6 col-sm-4 col-md-6 text-right">
															<span>แสดงหน้าละ&nbsp;</span>
														</div>
														<div class="col-xs-3 col-sm-4 col-md-3">
															<select class="form-control" ng-model="perPages"
																ng-change="pageChanged()"
																ng-options="selectedItem as selectedItem for selectedItem in values">
															</select>
														</div>
														<div class="col-xs-1 col-sm-2 col-sm-3">
															<span>&nbsp;รายการ</span>
														</div>


												</div>
											</div>
											<div class="box-body table-responsive">
												<table id="example2"
													class="table table-bordered table-hover">
													<thead>
														<tr>
															<th class="text-center">#</th>
															<th class="text-center">วันที่ชำระ</th>
															<th class="text-center">เลขที่ใบแจ้งการชำระเงิน</th>
															<th class="text-center">เลขที่ใบเสร็จรับเงิน</th>
															<th class="text-center">จำนวนเงิน</th>
															<th class="text-center">พิมใบเสร็จ</th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="favorite in sliceFavoriteList">
															<td class="text-center"><span>{{($index+1) +
																	(currentPage - 1) * perPages }}</span></td>
															<td class="text-center"><span
																ng-bind="favorite.createdDate | date :'dd/MM/yyyy'"></span></td>
															<td><span ng-bind="favorite.invoiceNo"></span></td>
															<td><span ng-bind="favorite.billingNo"></span></td>
															<td class="text-right"><span
																ng-bind="favorite.totalAmount | number:2"></span></td>

															<td class="text-center"><span class="glyphicon-ring glyphicon-green"><span ng-click="reportInvoice(favorite.invoiceId)" ><i
																	class="fa fa-print" aria-hidden="true"></i></span></span></td>
														</tr>
													</tbody>
												</table>

											</div>
											<div layout="row" layout-xs="column" class="ng-scope layout-xs-column layout-row" layout-align="space-between center">
												<div layout="column">
													<pre>ผลการค้นหาทั้งหมด {{totalItems}} </pre>
												</div>
												<div layout="column">
													<ul uib-pagination="" total-items="totalItems"
														ng-model="currentPage" max-size="5" class="pagination-sm"
														items-per-page="perPages" boundary-links="true"
														num-pages="numPages" ng-change="pageChanged()"></ul>
												</div>
											</div>
											<br />

										</div>


									</div>
								</div>

			</form>
		</div>
	</div>
</body>
</html>