<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main-template">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- My JS -->
    <script th:src="@{/js/admin/map-perm-program.js}"></script>
    <title>จัดการกลุ่มสิทธิ์</title>
</head>
<body layout:fragment="content">
<div ng-app="mapPermProgramApp" class="content-wrapper">
    <div class="wrapper" ng-controller="mapPermProgramCtrl">
        <div style="-webkit-flex: 1;flex: 1;">
            <div class="col-xs-12 col-md-3 col-sm-12 permis-list-left no-padding-xs no-padding-sm">
                <div class="panel panel-custom head-panel">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <span class="glyphicon glyphicon-list-alt"></span> <span>รายการกลุ่มสิทธิ์</span>
                        </h2>
                    </div>
                    <ul>
                        <li ng-repeat="data in data.permList">
                            <span ng-bind="data.mPermissionGroupName" ng-click="getPerm(data.mPermissionGroupId)"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 permis-list-right no-padding-xs no-padding-sm">
                <form name="userPermissionGroupForm" id="popupSelectContainer">

                    <div class="panel panel-custom head-panel-md">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <span class="glyphicon glyphicon-list-alt"></span> <span>จัดการกลุ่มสิทธิ์</span>
                            </h2>
                        </div>

                        <div class="panel-body">
                            <div class="panel-default">

                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">ข้อมูลกลุ่มสิทธิ์</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">


                                            <!-- row1 -->
                                            <div class="row row-no-padding">

                                                <div class="col-xs-3 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right">รหัสกลุ่มสิทธิ์ :</div>
                                                <div class="col-xs-9 col-sm-9 col-md-9">
                                                    <div class="form-control" style="background:#eeeeee;cursor:not-allowed;">
                                                        <span ng-bind="data.code"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- row1 -->
                                            <div class="row row-no-padding">

                                                <div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right">ชื่อกลุ่มสิทธิ์ :</div>
                                                <div class="col-xs-12 col-sm-9 col-md-9">
                                                    <div class="form-control" style="background:#eeeeee;cursor:not-allowed;">
                                                        <span ng-bind="data.name"></span>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>


                                <!-- ADDRESS -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">ค้นหาฟังก์ชัน</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">



                                            <!-- row1 -->
                                            <div class="row row-no-padding">

                                                <div class="col-xs-3 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right">รหัสโปรแกรม :</div>
                                                <div class="col-xs-9 col-sm-9 col-md-9">
                                                        <input class="form-control" ng-model="data.code2"/>
                                                </div>
                                            </div>

                                            <!-- row2 -->
                                            <div class="row row-no-padding">

                                                <div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right">ชื่อโปรแกรม :</div>
                                                <div class="col-sm-9 col-md-9">
                                                    <input class="form-control"
                                                           ng-model="data.name2"/>
                                                </div>
                                            </div>

                                            <!-- row3 -->
                                            <div class="row row-no-padding">
                                                <div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right">สถานะ :</div>
                                                <div class="col-sm-3 col-md-3">
                                                    <select class="form-control col-sm-3"
                                                            ng-model="data.status2"
                                                            ng-options="list as list.statusName for list in data.statusList">
                                                        <option value="">--กรุณาเลือก--</option>
                                                    </select>
                                                </div>
                                            </div>



                                            <div class="row">
                                                <!--<div class="col-md-6 text-right">-->
                                                <!--<button type="button" id="searchBtnPerm"-->
                                                <!--class="btn btn-info btn-style" ng-click="searchProgram()">-->
                                                <!--<span class="glyphicon glyphicon-search"></span> ค้นหา-->
                                                <!--</button>-->
                                                <!--</div>-->
                                                <!--<div class="col-md-6 ">-->
                                                <center>
	                                                 <button type="button" id="searchBtnPerm"
	                                                class="btn btn-info btn-style" ng-click="searchProgram()">
	                                                <span class="glyphicon glyphicon-search"></span> ค้นหา
	                                                </button>

                                                    <button type="button" id="clearBtn"
                                                            class="btn gray-light btn-style" ng-click="clearData()">
                                                        <span class="glyphicon glyphicon-refresh"></span> ล้างข้อมูล
                                                    </button>
                                                </center>
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <span class="md-headline">ตารางแสดงโปรแกรม</span>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="col-sm-12">
                                            <div class="col-xs-4 col-sm-6 text-right">
                                                <span>แสดงหน้าละ&nbsp;</span>
                                            </div>
                                            <div class="col-xs-4 col-sm-4">
                                                <select class="form-control" ng-model="perPages"
                                                        ng-options="selectedItem as selectedItem for selectedItem in values">
                                                </select>
                                            </div>
                                            <div class="col-xs-2 col-sm-3">
                                                <span>&nbsp;รายการ</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-body table-responsive">
                                    <table id="example2" style="width:120% !important;max-width:120% !important;"
                                           class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th class="text-center"><input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-change="checkAll(all)" ng-model="all"/> ทั้งหมด</th>
                                            <th class="text-center">ดู</th>
                                            <th class="text-center">แก้ไข</th>
                                            <th class="text-center">PDF</th>
                                            <th class="text-center">EXCEL</th>
                                            <th class="text-center">รหัสโปรแกรม</th>
                                            <th class="text-center">ชื่อโปรแกรม</th>
                                            <th class="text-center">คำอธิบาย</th>
                                            <th class="text-center">สถานะ</th>
<!--                                             <th class="text-center">ดำเนินการ</th> -->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="perm in data.programList | filter:{programCode: data.code2, programName: data.name2, statusName: data.status2.statusName} | limitTo:perPages: (currentPage - 1) * perPages | orderBy:'programCode'">
                                            <td class="text-center"><span><input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model="perm.isSelected" /></span></td>
                                            <td class="text-center"><input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model="perm.isView"/></td>
                                            <td class="text-center"><input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model="perm.isEdit"/></td>
                                            <td class="text-center"><input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model="perm.isPdf"/></td>
                                            <td class="text-center"><input type="checkbox" ng-true-value="'Y'" ng-false-value="'N'" ng-model="perm.isExcel"/></td>
                                            <td class="text-center"><span
                                                    ng-bind="perm.programCode"></span></td>
                                            <td><span ng-bind="perm.programName"></span></td>
                                            <td><span ng-bind="perm.description"></span></td>
                                            <td class="text-right"><span
                                                    ng-bind="perm.statusName"></span></td>

<!--                                             <td class="text-center"> -->
<!--                                                 <a  class="cmd-icon cmd-view" th:href="@{/admin/program/view/}+'?id={{perm.programId}}'"><span class="glyphicon-ring glyphicon-blue"><span class="fa fa-edit"></span></span></a> -->
<!--                                                 <a  class="cmd-icon cmd-view pointer" ng-click="delPerm()"><span class="glyphicon-ring glyphicon-red"><span class="fa fa-trash"></span></span></a> -->
<!--                                             </td> -->
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                                <div layout="row" layout-align="space-between center">
                                    <div layout="column">
                                        <pre>ผลการค้นหาทั้งหมด {{totalItems}} </pre>
                                    </div>
                                    <div layout="column">
                                        <ul uib-pagination="" total-items="totalItems"
                                            ng-model="currentPage" max-size="5" class="pagination-sm"
                                            items-per-page="perPages" boundary-links="true"
                                            num-pages="numPages" ></ul>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 text-center">
                                        <button type="button" id="save" ng-if="data.programList.length > 0"
                                                class="btn btn-success btn-style" ng-click="save(data.id, data.programList)">
                                            <span class="glyphicon glyphicon-floppy-disk"></span> บันทึก
                                        </button>

<!--                                         <a id="add" th:href="@{/admin/permission-group/view/}" -->
<!--                                            class="btn btn-success"> -->
<!--                                             <i class="glyphicon glyphicon-plus"></i> เพิ่มโปรแกรม -->
<!--                                         </a> -->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>