#pageNotesHost {
    font-size: 12px;
    color:#4a4a4a;
    height: 100%;
}

#pageNotesHostBtn a {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/page_notes/styles/images/notes_on.png?token=f671bf518630630f457703c65239f9a6');
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/page_notes/styles/images/notes_on.svg?token=5c51709b78731fe2a891450c5a64d206'),linear-gradient(transparent, transparent);
}

.hashover #pageNotesHostBtn a:hover {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/page_notes/styles/images/notes_hover.png?token=20d600f0ce43dc33d6f724de0fe6732e');
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/page_notes/styles/images/notes_hover.svg?token=a2738fdd62baeb74fea3d771ea564277'),linear-gradient(transparent, transparent);
}

#pageNotesHostBtn a.selected, #pageNotesHostBtn a.selected:hover {
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/page_notes/styles/images/notes_off.png?token=cde64fcd9b99b1dd2751521702d1bf6d');
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/page_notes/styles/images/notes_off.svg?token=a96acfb6269b58b93906d26eacafcd22'),linear-gradient(transparent, transparent);
}

#footnotesButton {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/page_notes/styles/images/footnotes.png?token=6901e5d9f8477bd74866c97e560dcd38') no-repeat center center;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/page_notes/styles/images/footnotes.svg?token=36be0a01c4b10e822d1addc03fd97d63') no-repeat center center,linear-gradient(transparent, transparent);
}

#footnotesButton:hover {
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/page_notes/styles/images/footnotes_hover.png?token=71b62f5eb47696673cf4d80055a45f7c') no-repeat center center;
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/page_notes/styles/images/footnotes_hover.svg?token=153d1240869c208a01ddb715cb29502b') no-repeat center center,linear-gradient(transparent, transparent);
}

#footnotesButton.sitemapToolbarButtonSelected, #footnotesButton.sitemapToolbarButtonSelected:hover {
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/page_notes/styles/images/footnotes_on.png?token=15cb603078a61dc047169e703ff1127e') no-repeat center center;
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/page_notes/styles/images/footnotes_on.svg?token=5ef96858ab1ab86acf0fdf16fa8b5093') no-repeat center center,linear-gradient(transparent, transparent);
}

.nextPageButton {
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/page_notes/styles/images/forward.png?token=b8d82e60dd36812e56ea0385fb38eb91') no-repeat center center;
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/page_notes/styles/images/forward.svg?token=518bf16734ffdc61e85adc59c78587a1') no-repeat center center,linear-gradient(transparent, transparent);    
}

.nextPageButton:hover {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/page_notes/styles/images/forward_hover.png?token=3bd66646769c85b3e0c8be154f5db8f6') no-repeat center center;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/page_notes/styles/images/forward_hover.svg?token=106bf9a82d50468f859b5c99b4366f7a') no-repeat center center,linear-gradient(transparent, transparent);    
}

.prevPageButton {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/page_notes/styles/images/back.png?token=c58b4df9182eb242fa33cfab3ec9a7f8') no-repeat center center;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/page_notes/styles/images/back.svg?token=9eca78b735bca76dd23ec8579dc99f34') no-repeat center center,linear-gradient(transparent, transparent);    
}

.prevPageButton:hover {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/page_notes/styles/images/back_hover.png?token=cbf5e8ff6502e6f814f3a3e6262664bd') no-repeat center center;
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/page_notes/styles/images/back_hover.svg?token=663fa72963b6005c6d4966b071d3944a') no-repeat center center,linear-gradient(transparent, transparent);    
}

#pageNotesScrollContainer 
{
    overflow: auto;
    width: 100%;
    /*height: 100%;*/
    -webkit-overflow-scrolling: touch;
}    

#pageNotesContainer 
{
    /*padding: 10px 10px 10px 12px;*/
}

#pageNotesContent 
{
	overflow: visible;
}

.pageNoteContainer 
{
    padding: 10px;
}

.pageNoteName 
{
    font-family: 'Trebuchet MS';
	font-size: 14px;
    font-weight: bold;
	margin-bottom: 5px;
	/*text-decoration: underline;*/
	white-space: nowrap;
}

.pageNote 
{
    line-height: 21px;
	/*margin-bottom: 20px;*/
}

.widgetNoteContainer {
    padding: 10px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.widgetNoteContainerSelected {
    background-color: white;
    border-bottom: 1px solid #c2c2c2;
    border-top: 1px solid #c2c2c2;
}

/*.widgetNoteContainer:hover {
    background-color: white;
    //border-bottom: 1px solid #c2c2c2;
    //border-top: 1px solid #c2c2c2;
}*/

.widgetNoteFootnote {
    display: inline-block;
    /*vertical-align: top;
    margin: 2px 5px 10px 0px;
    padding: 1px 6px;
    font-size: 10px;
    color: #ffffff;
    background-color: #0a6cd6;*/
    width: 13px;
    height: 12px;
    padding-top: 1px;
    text-align: center;
    background-color: #138CDD;
    /*-moz-box-shadow: 1px 1px 3px #aaa;
    -webkit-box-shadow: 1px 1px 3px #aaa;
    box-shadow: 1px 1px 3px #aaa;*/
    font-size: 0px;
    margin-right: 8px;
}

div.annnoteline {
    display: inline-block;
    width: 9px;
    height: 1px;
    border-bottom: 1px solid white;
    margin-top: 1px;
}

.widgetNoteLabel {
    display: inline-block;
    vertical-align: top;
    font-family: 'Trebuchet MS';
	font-size: 14px;
    font-weight: bold;
	margin-bottom: 5px;    
}

.noteLink {
    text-decoration: inherit;
    color: inherit;
}

.noteLink:hover {
    background-color: white;
}