
#sitemapHost {
    font-size: 12px;
    color:#4a4a4a;
    height: 100%;
}

#sitemapHostBtn a {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/sitemap_on.png?token=4ab2d27cff7bcb84e180adf6ff731fb7');
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/sitemap_on.svg?token=43e51b8e2811eac9b8859959a193ac0a'),linear-gradient(transparent, transparent);
}

.hashover #sitemapHostBtn a:hover {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/sitemap_hover.png?token=e4a4464497fd428f7f37421d9e499c0e');
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/sitemap_hover.svg?token=931f6d2ff8d0bdeaf8f221bcd631dc26'),linear-gradient(transparent, transparent);
}

#sitemapHostBtn a.selected, #sitemapHostBtn a.selected:hover {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/sitemap_off.png?token=ef462ecf1f7063fb6918148e3ebe3425');
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/sitemap_off.svg?token=bd36006da82d89512dd9a301d940eb11'),linear-gradient(transparent, transparent);
}

#sitemapHost .pageButtonHeader {
    top: -27px;
}

#sitemapTreeContainer {
    overflow: auto;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.sitemapTree {
    margin: 0px 0px 10px 0px;
    overflow:visible;
}

.sitemapTree ul {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
}

.sitemapPlusMinusLink 
{
}

.sitemapMinus 
{
	vertical-align:middle;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/minus.gif?token=f68d3c0c947dc762578b83d13bc4dcc2');
    background-repeat: no-repeat;
	margin-right: 3px;	
	margin-bottom: 1px;
    height:9px;
    width:9px;
    display:inline-block;
}

.sitemapPlus 
{
	vertical-align:middle;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/plus.gif?token=64fcc6efdbee3d05d3fa73b57f860197');
    background-repeat: no-repeat;
	margin-right: 3px;	
	margin-bottom: 1px;
	height:9px;
    width:9px;
    display:inline-block;
}

.sitemapPageLink 
{
    margin-left: 0px;
}

.sitemapPageIcon 
{
	margin: 0px 0px -3px 4px;
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/page.png?token=fa28c7a7641c2d788cb048f74fb6d5fe') no-repeat center center;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/page.svg?token=4bbe1a101ad82abec3eab419ef049344') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapFlowIcon
{
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/flow.png?token=d91d1db60ca60f9dd2fbe83e2eb0029f') no-repeat center center;
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/flow.svg?token=a7aa319fbbb45d26cb448dfc45cd0dfa') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapFolderIcon
{
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/folder_closed.png?token=394dc55fd1a6b9d5cd52a38b81aedacb') no-repeat center center;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/folder_closed.svg?token=09317e02bb4332076ee09f826be632cf') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapFolderOpenIcon
{
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/folder_open.png?token=6d197770499dc7879442f4b1dbcc9ac5') no-repeat center center;
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/folder_open.svg?token=d136ba8edcb45dca704ad33a913ee9cf') no-repeat center center, linear-gradient(transparent,transparent);
}

.sitemapPageName 
{
    margin-left: 7px;
}

.sitemapNode 
{
    /*margin:4px 0px 4px 0px;*/
    white-space:nowrap;
}

.sitemapPageLinkContainer {
    /*display: inline-block;*/
    margin-left: 0px;
    padding: 4px 0px 4px 0px;
}
/*
.sitemapNode div
{
	padding-top: 1px; 
	padding-bottom: 3px;
    padding-left: 20px;
	height: 14px;
}
*/

.sitemapExpandableNode 
{
	margin-left: 0px;
}

.sitemapHighlight 
{
    /*display: inline-block;*/
	background-color : #C8E0F0;
    font-weight: bold;
}

.sitemapGreyedName
{
	color: #AAA;
}


.pluginNameHeader
{
    font-family: 'Trebuchet MS';
	font-size: 12px;
    letter-spacing: 1px;
	/*font-weight: bold;*/
	white-space: nowrap;
    margin-bottom: 5px;
}

.pageNameHeader
{
    font-family: 'Trebuchet MS';
    /*display: inline-block;*/
    /*float: left;*/
	font-size: 15px;
	font-weight: bold;
	/*height: 23px;*/
    padding-right: 77px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pageButtonHeader
{
    float: right;
    position: relative;
    /*width: 72px;*/
	height: 24px;
    top: -22px;
    margin-bottom: -24px;
}

.sitemapHeader
{
    padding-top: 27px;
    border-bottom: 1px solid #d9d9d9;
    min-width: 110px;
}

.sitemapToolbar {
    margin: 0px 5px 14px 12px;
}

.sitemapToolbarButton
{
    float: left;
    width: 22px;
    height: 22px;
    border: 1px solid transparent;
}

#linksButton {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/share.png?token=9c9cab756f55c1040b6f77c9ec5b748a') no-repeat center center;
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/share.svg?token=b7afaab5bfc9e8091abc8a4ff22d0e3f') no-repeat center center, linear-gradient(transparent,transparent);
}

#linksButton:hover {
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/share_hover.png?token=5c6373ea8714102662e17547eaa0f85c') no-repeat center center;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/share_hover.svg?token=cf25d088ec3651a2c3cbc81eac93b546') no-repeat center center, linear-gradient(transparent,transparent);
}

#linksButton.sitemapToolbarButtonSelected, .hashover #linksButton.sitemapToolbarButtonSelected:hover {
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/share_on.png?token=82b9eaca7e434610d5d423791426d8ae') no-repeat center center;
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/share_on.svg?token=963cd4ab17f15b934cedebc5138fb830') no-repeat center center, linear-gradient(transparent,transparent);
}

#adaptiveButton {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/views.png?token=fb50ddb60c8bdf60f8dc5978e3eb8077') no-repeat center center;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/views.svg?token=f3ec3328474c0bafba6ac1500629226e') no-repeat center center, linear-gradient(transparent,transparent);
}

#adaptiveButton:hover {
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/views_hover.png?token=6bfb89b4ea11e5e797e4e564250128f4') no-repeat center center;
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/views_hover.svg?token=c30132da950a604d14ad3ad7539506c4') no-repeat center center, linear-gradient(transparent,transparent);
}

#adaptiveButton.sitemapToolbarButtonSelected, #adaptiveButton.sitemapToolbarButtonSelected:hover {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/views_on.png?token=2473a0439f6bf2818b9d55ed99c5d7cb') no-repeat center center;
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/views_on.svg?token=391debb3993fd55086090494d09666f1') no-repeat center center, linear-gradient(transparent,transparent);
}

#highlightInteractiveButton {
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/hotspots.png?token=397456548da62478bc82abc87136f19a') no-repeat center center;
    background: url('http://d2v8ggac1o0f6z.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/hotspots.svg?token=c333ff66d560746b98c3792b7cca4453') no-repeat center center, linear-gradient(transparent,transparent);
    margin-top: 1px;
}

#highlightInteractiveButton:hover {
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/hotspots_hover.png?token=e109c3ddd133b291ea9de5cd62dcdf88') no-repeat center center;
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/hotspots_hover.svg?token=cb3383e5947bed3d1dbd3234302b1dc8') no-repeat center center, linear-gradient(transparent,transparent);
}

#highlightInteractiveButton.sitemapToolbarButtonSelected, #highlightInteractiveButton.sitemapToolbarButtonSelected:hover {
    background: url('http://d26uhratvi024l.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/hotspots_on.png?token=29da4d1fc3a28c7e37b037f22930e737') no-repeat center center;
    background: url('http://d2t44wh9rnwl5y.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/hotspots_on.svg?token=c4a04c2d73669c81f21150e5c0232393') no-repeat center center, linear-gradient(transparent,transparent);
}

/*#variablesButton {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/229_variables_16.png?token=0717d28362a69fd677b92202582bcc71') no-repeat center center;
}*/

#searchButton {
    background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/232_search_16.png?token=e79951ea37cdb3527eea52e0c5c50168') no-repeat center center;
}

.sitemapLinkContainer
{
	margin-top: 8px;
	padding-right: 5px;
	/*font-size: 12px;*/
}

.sitemapLinkField 
{
	width: 100%;
	font-size: 12px;
	margin-top: 3px;
    padding: 5px;
}

.sitemapRadioSelected {
    font-weight: bold;
}

.sitemapOptionContainer
{
	margin-top: 8px;
	padding-right: 5px;
	/*font-size: 12px;*/
}

#sitemapOptionsDiv
{
	margin-top: 10px;
	/*margin-left: 16px;*/
}

#viewSelectDiv
{
    padding: 2px 0px 0px 0px;
	/*margin-left: 5px;*/
}

#viewSelect
{
	width: 70%;
}

.sitemapUrlOption
{
	padding-bottom: 8px;
}

.optionLabel
{
	font-size: 12px;
}

.sitemapPopupContainer
{
    display: none;
    position: absolute;
	background-color: #F4F4F4;
	border: 1px solid #B9B9B9;
	padding: 5px 5px 5px 5px;
	margin: 5px 0px 0px 5px;
    z-index: 1;
}

#sitemapLinksContainer {
    border-top: 1px solid #d9d9d9;
    padding: 10px;
    margin-left: 0px;
    /*line-height: 18px;*/
}

#adaptiveViewsContainer {
    border-top: 1px solid #d9d9d9;
    padding: 10px;
    margin-left: 0px;
    line-height: 18px;
}

.adaptiveViewOption
{
	padding: 2px;
}

.adaptiveViewOption:hover
{ 
	background-color: rgb(204,235,248);
	cursor: pointer;
}

.currentAdaptiveView {
    font-weight: bold;
}

.adaptiveCheckboxDiv {
	height: 15px;
	width: 15px;
	float: left;
}

.checkedAdaptive {
	background: url('http://dxlfb468n8ekd.cloudfront.net/gsc/2ELILS/42/49/9d/42499d551bba45e1bf2952b76c1d75b0/plugins/sitemap/styles/images/adaptivecheck.png?token=5589069c051b686cd1fc80a774efee5b') no-repeat center center;
}

/*#variablesContainer 
{
	max-height: 350px;
	overflow: auto;
}*/

/*#variablesClearLink 
{
	color: #069;
	left: 5px;
}*/

#searchDiv {
    padding: 8px 12px 11px 12px;
}

#searchBox {
    width: 100%;
    border: none;
    border-top: 1px solid #d9d9d9;
    /*border-bottom: 1px solid #d9d9d9;*/
    padding: 5px;
    font-size: 12px;
}

.searchBoxHint 
{
	color: #8f949a;
	/*font-style: italic;*/
}

#sitemapLinksPageName
{
	font-weight: bold;
}

#sitemapOptionsHeader
{
	font-weight: bold;
}