body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:742px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  height:415px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-top:0px;
  border-radius:4px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u16449 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:732px;
  height:415px;
  font-size:14px;
  text-align:left;
}
#u16449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(221, 221, 221, 1);
  border-bottom:0px;
  border-radius:4px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 2px rgba(0, 0, 0, 0.349019607843137);
  font-family:'TH Sarabun New Bold', 'TH Sarabun New Regular', 'TH Sarabun New';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u16450 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:732px;
  height:28px;
  font-family:'TH Sarabun New Bold', 'TH Sarabun New Regular', 'TH Sarabun New';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u16450_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:3px;
  width:715px;
  word-wrap:break-word;
}
#u16451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TH Sarabun New Bold', 'TH Sarabun New Regular', 'TH Sarabun New';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u16451 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:84px;
  width:47px;
  height:26px;
  font-family:'TH Sarabun New Bold', 'TH Sarabun New Regular', 'TH Sarabun New';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u16451_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u16452 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:84px;
  width:164px;
  height:25px;
}
#u16452_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  font-family:'TH Sarabun New';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TH Sarabun New Bold', 'TH Sarabun New Regular', 'TH Sarabun New';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u16453 {
  border-width:0px;
  position:absolute;
  left:373px;
  top:83px;
  width:143px;
  height:26px;
  font-family:'TH Sarabun New Bold', 'TH Sarabun New Regular', 'TH Sarabun New';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u16453_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u16454 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:83px;
  width:164px;
  height:25px;
}
#u16454_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  font-family:'TH Sarabun New';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TH Sarabun New Bold', 'TH Sarabun New Regular', 'TH Sarabun New';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u16455 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:46px;
  width:149px;
  height:26px;
  font-family:'TH Sarabun New Bold', 'TH Sarabun New Regular', 'TH Sarabun New';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u16455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u16456 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:45px;
  width:164px;
  height:25px;
}
#u16456_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  font-family:'TH Sarabun New';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(91, 192, 222, 1) 0%, rgba(91, 192, 222, 1) 0%, rgba(42, 171, 210, 1) 100%, rgba(42, 171, 210, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(91, 192, 222, 1) 0%, rgba(91, 192, 222, 1) 0%, rgba(42, 171, 210, 1) 100%, rgba(42, 171, 210, 1) 100%);
  background:linear-gradient(180deg, rgba(91, 192, 222, 1) 0%, rgba(91, 192, 222, 1) 0%, rgba(42, 171, 210, 1) 100%, rgba(42, 171, 210, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  font-family:'TH Sarabun New';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:24px;
}
#u16457 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:353px;
  width:103px;
  height:34px;
  font-family:'TH Sarabun New';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:24px;
}
#u16457_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(61, 179, 214, 1) 0%, rgba(61, 179, 214, 1) 0%, rgba(42, 171, 210, 1) 100%, rgba(42, 171, 210, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(61, 179, 214, 1) 0%, rgba(61, 179, 214, 1) 0%, rgba(42, 171, 210, 1) 100%, rgba(42, 171, 210, 1) 100%);
  background:linear-gradient(180deg, rgba(61, 179, 214, 1) 0%, rgba(61, 179, 214, 1) 0%, rgba(42, 171, 210, 1) 100%, rgba(42, 171, 210, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 154, 188, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.149019607843137) inset;
  font-family:'TH Sarabun New';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:24px;
}
#u16457.mouseOver {
}
#u16457_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
  background:inherit;
  background-color:rgba(42, 171, 210, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(40, 164, 201, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  font-family:'TH Sarabun New';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  line-height:24px;
}
#u16457.mouseDown {
}
#u16457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:99px;
  word-wrap:break-word;
  text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
  -moz-text-shadow:0px -1px 0px rgba(0, 0, 0, 0.2);
}
#u16458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u16458 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:361px;
  width:13px;
  height:19px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#ffffff;
  text-align:left;
}
#u16458_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u16459_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(253, 253, 253, 1) 0%, rgba(253, 253, 253, 1) 0%, rgba(224, 224, 224, 1) 100%, rgba(224, 224, 224, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(253, 253, 253, 1) 0%, rgba(253, 253, 253, 1) 0%, rgba(224, 224, 224, 1) 100%, rgba(224, 224, 224, 1) 100%);
  background:linear-gradient(180deg, rgba(253, 253, 253, 1) 0%, rgba(253, 253, 253, 1) 0%, rgba(224, 224, 224, 1) 100%, rgba(224, 224, 224, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  font-family:'TH Sarabun New';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:24px;
}
#u16459 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:353px;
  width:78px;
  height:34px;
  font-family:'TH Sarabun New';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:24px;
}
#u16459_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
  background:-webkit-linear-gradient(270deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(224, 224, 224, 1) 100%, rgba(224, 224, 224, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(224, 224, 224, 1) 100%, rgba(224, 224, 224, 1) 100%);
  background:linear-gradient(180deg, rgba(243, 243, 243, 1) 0%, rgba(243, 243, 243, 1) 0%, rgba(224, 224, 224, 1) 100%, rgba(224, 224, 224, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(173, 173, 173, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 1px 0px 0px rgba(255, 255, 255, 0.117647058823529) inset;
  font-family:'TH Sarabun New';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:24px;
}
#u16459.mouseOver {
}
#u16459_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
  background:inherit;
  background-color:rgba(224, 224, 224, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(219, 219, 219, 1);
  border-radius:4px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  box-shadow:0px 1px 1px rgba(0, 0, 0, 0.0666666666666667), 0px 3px 5px 0px rgba(0, 0, 0, 0.117647058823529) inset;
  font-family:'TH Sarabun New';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  line-height:24px;
}
#u16459.mouseDown {
}
#u16459_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:74px;
  word-wrap:break-word;
  text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
  -moz-text-shadow:0px 1px 0px rgba(255, 255, 255, 1);
}
#u16460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u16460 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:361px;
  width:13px;
  height:19px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u16460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u16461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TH Sarabun New Bold', 'TH Sarabun New Regular', 'TH Sarabun New';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u16461 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:228px;
  width:139px;
  height:26px;
  font-family:'TH Sarabun New Bold', 'TH Sarabun New Regular', 'TH Sarabun New';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u16461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u16462 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:227px;
  width:164px;
  height:25px;
}
#u16462_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  font-family:'TH Sarabun New';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16463 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:119px;
  width:100px;
  height:44px;
  font-family:'TH Sarabun New';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u16463_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u16463_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16464 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:119px;
  width:100px;
  height:22px;
  font-family:'TH Sarabun New';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u16464_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u16464_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u16465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TH Sarabun New Bold', 'TH Sarabun New Regular', 'TH Sarabun New';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u16465 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:119px;
  width:168px;
  height:26px;
  font-family:'TH Sarabun New Bold', 'TH Sarabun New Regular', 'TH Sarabun New';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u16465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u16466 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:308px;
  width:180px;
  height:44px;
  font-family:'TH Sarabun New';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u16466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u16466_input {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
}
#u16467 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TH Sarabun New Bold', 'TH Sarabun New Regular', 'TH Sarabun New';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u16468 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:45px;
  width:107px;
  height:26px;
  font-family:'TH Sarabun New Bold', 'TH Sarabun New Regular', 'TH Sarabun New';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u16468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u16469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16470 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:45px;
  width:164px;
  height:25px;
}
#u16470_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  font-family:'TH Sarabun New';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u16471 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:49px;
  width:13px;
  height:19px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u16471_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u16472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TH Sarabun New Bold', 'TH Sarabun New Regular', 'TH Sarabun New';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u16472 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:156px;
  width:55px;
  height:26px;
  font-family:'TH Sarabun New Bold', 'TH Sarabun New Regular', 'TH Sarabun New';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u16472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u16473 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:155px;
  width:164px;
  height:25px;
}
#u16473_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  font-family:'TH Sarabun New';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'TH Sarabun New Bold', 'TH Sarabun New Regular', 'TH Sarabun New';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u16474 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:191px;
  width:87px;
  height:26px;
  font-family:'TH Sarabun New Bold', 'TH Sarabun New Regular', 'TH Sarabun New';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u16474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u16475 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:190px;
  width:164px;
  height:25px;
}
#u16475_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  font-family:'TH Sarabun New';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:46px;
}
#u16477 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:262px;
  width:165px;
  height:46px;
}
#u16477_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:43px;
}
#u16478 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:264px;
  width:74px;
  height:43px;
}
#u16478_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
