@font-face {
    font-family: 'THSarabunNew-Bold';
        src: url('https://fontlibrary.org/assets/fonts/thsarabun-new/946dac475cf5ab7efd797f2e021244e7/bdd8eb542ab9aa84e5809edb230f07cc/THSarabunNewBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'THSarabunNew-BoldItalic';
        src: url('https://fontlibrary.org/assets/fonts/thsarabun-new/946dac475cf5ab7efd797f2e021244e7/0b381613886ea1af245b0a8120019ecb/THSarabunNewBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
      }

@font-face {
    font-family: 'THSarabunNew-Italic';
        src: url('https://fontlibrary.org/assets/fonts/thsarabun-new/946dac475cf5ab7efd797f2e021244e7/05a052030bb61432929f643579b82ce1/THSarabunNewItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'THSarabunNew';
        src: url('https://fontlibrary.org/assets/fonts/thsarabun-new/946dac475cf5ab7efd797f2e021244e7/45905ce12b4739c794a5ebdaee506202/THSarabunNewRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'TH Sarabun New Bold';
        src: url('https://fontlibrary.org/assets/fonts/thsarabun-new/946dac475cf5ab7efd797f2e021244e7/bdd8eb542ab9aa84e5809edb230f07cc/THSarabunNewBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'TH Sarabun New Bold Italic';
        src: url('https://fontlibrary.org/assets/fonts/thsarabun-new/946dac475cf5ab7efd797f2e021244e7/0b381613886ea1af245b0a8120019ecb/THSarabunNewBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
      }

@font-face {
    font-family: 'TH Sarabun New Italic';
        src: url('https://fontlibrary.org/assets/fonts/thsarabun-new/946dac475cf5ab7efd797f2e021244e7/05a052030bb61432929f643579b82ce1/THSarabunNewItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'TH Sarabun New';
        src: url('https://fontlibrary.org/assets/fonts/thsarabun-new/946dac475cf5ab7efd797f2e021244e7/45905ce12b4739c794a5ebdaee506202/THSarabunNewRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }
