<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=e" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<form ng-cloak name="uploadForm" novalidate>
	<div class="panel panel-custom">
		<div class="panel-heading">
			<h3 class="panel-title" id="modal-title">
				<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
				เพิ่มข้อมูลใบแจ้งการชำระ
			</h3>
		</div>
		<div class="panel-body" id="modal-body">
			<div class="form-group">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div
							class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">
							Upload File <span class="red">*</span> :
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6"
							ng-class="{'has-error':uploadForm.title.$invalid && isSubmit}">
							<input ng-model="title" type="text" class="form-control"
								name="title" ng-required="true" disabled>
						</div>
						<div class="col-xs-12 col-sm-1 col-md-1">
							<file-field class="btn btn-success btn-style " style="margin:0px"
								ng-model="fileUpload" >เพิ่ม</file-field>
						</div>

					</div>
				</div>
				<div class="row">
				
					<div class="col-xs-12 col-sm-12 col-md-12 text-center" ng-if="fileType"><span class="red">รูปแบบเอกสาร (Format) ไม่ถุกต้อง</span></div>
					<div class="col-xs-12 col-sm-12 col-md-12 text-center" ng-if="error"><span class="red">ไม่สามารถนำเข้าข้อมูลได้</span></div>
				</div>
			</div>
		</div>
		<!-- FOOTER	-->
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
				<button type="submit" id="saveBtn" class="btn btn-success btn-style"
					ng-click="ok(uploadForm)">
					<span class="glyphicon glyphicon-floppy-disk"></span> บันทึก
				</button>

				<button type="button" id="cancelBtn"
					class="btn btn-danger btn-style" ng-click="cancel()">
					<span class="glyphicon glyphicon-remove-sign"></span> ยกเลิก
				</button>
			</div>
		</div>
	</div>
</form>
<br />
</html>