<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>Import Invoice</title>

<!-- My JS -->
<script th:src="@{/js/manageInvoice/import-invoice/import-invoice.js}"></script>

</head>

<body layout:fragment="content">
	<div ng-app="Import-Invoice" class="content-wrapper">
		<div class="wrapper" ng-controller="import-invoice-main">
			<div class="sidebar-nav">
				<div class="nav-canvas">
					<div class="nav-sm nav nav-stacked"></div>
				</div>
			</div>
			<div class="panel panel-custom head-panel">
				<div class="panel-heading">
					<h2 class="panel-title">
						<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
						นำเข้าข้อมูลใบแจ้งการชำระ
					</h2>
				</div>

				<div class="panel-body">
					<div class="form-group">
						<form class="form-horizontal" action="">
							<div class="row row-no-padding">
								<div
									class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">หน่่วยงาน
									:</div>
								<div class="col-sm-8 col-md-3">
									<select id="firstname" class="form-control" name="firstname"
										title="Enter first name" placeholder="First name"
										ng-disabled="true">
										<option></option>
									</select>
								</div>
								<div
									class="col-xs-12 col-sm-4 col-md-2 text-xs-left text-sm-right text-md-right ">หน่วยเบิกจ่าย
									:</div>
								<div class="col-sm-8 col-md-3">
									<select id="firstname" class="form-control" name="firstname"
										title="Enter first name" placeholder="First name"
										ng-disabled="true">
										<option></option>
									</select>
								</div>
							</div>
							<!--/form-group-->
							<div class="row row-no-padding">
								<div
									class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">ศูนย์ต้นทุน
									:</div>
								<div class="col-sm-8 col-md-3">
									<select id="firstname" class="form-control" name="firstname"
										title="Enter first name" placeholder="First name"
										ng-disabled="true">
										<option></option>
									</select>
								</div>
							</div>
							<!--/form-group-->
							<div class="row row-no-padding">
								<div
									class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">รหัสนำเข้า
									:</div>
								<div class="col-sm-8 col-md-3">
									<input id="firstname" class="form-control " type="text"
										name="firstname" title="Enter first name" ng-model="cri.code"
										placeholder="First name" />
								</div>
							</div>
							<!--/form-group-->
							<div class="row row-no-padding">
								<div
									class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">ชื่อไฟล์นำเข้า
									:</div>
								<div class="col-sm-8 col-md-8">
									<input id="firstname" class="form-control " type="text"
										name="firstname" title="Enter first name"
										ng-model="cri.fileName" placeholder="First name" />
								</div>
							</div>
							<!--/form-group-->

							<div class="row row-no-padding">
								<div
									class="col-xs-12 col-sm-4 col-md-3 text-xs-left text-sm-right text-md-right ">วันที่ยืนยันรายการ
									:</div>
								<datepicker-dir class="col-md-3 col-sm-8 col-xs-11"
									ng-model="cri.confirmDateFrom" format-date="dd/MM/yyyy"></datepicker-dir>
								<div
									class="col-xs-12 col-sm-4 col-md-2 text-xs-left text-sm-right text-md-right">ถึง
									:</div>
								<datepicker-dir class="col-md-3 col-sm-8 col-xs-11"
									ng-model="cri.confirmDateTo" format-date="dd/MM/yyyy"></datepicker-dir>
							</div>

							<div class="row row-no-padding">
								<div class="col-md-12 text-center">
									<button type="button" class="btn btn-primary"
										ng-click="search(cri)">
										<i class="glyphicon glyphicon-search"></i> ค้นหา
									</button>
									<button type="reset" class="btn btn-primary" ng-click="clear()">
										<i class="glyphicon glyphicon-refresh"></i> ล้างข้อมูล
									</button>
								</div>
							</div>
						</form>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6 text-xs-center"></div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="col-xs-6 col-sm-4 col-md-6 text-right">
								<span>แสดงหน้าละ&nbsp;</span>
							</div>
							<div class="col-xs-3 col-sm-4 col-md-3">
								<select class="form-control" ng-model="perPages"
									ng-change="pageChanged()"
									ng-options="selectedItem as selectedItem for selectedItem in values">
								</select>
							</div>
							<div class="col-xs-1 col-sm-2 col-sm-3">
								<span>&nbsp;รายการ</span>
							</div>
						</div>
					</div>
					<div class="box-body table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
								<tr class="text-center">
									<th width="2%" class="text-center">ลำดับ</th>
									<th width="10%" class="text-center">รหัสนำเข้าข้อมูล</th>
									<th width="10%" class="text-center">ชื่อไฟล์นำเข้า</th>
									<th width="8%" class="text-center">จำนวนรายการ</th>
									<th width="8%" class="text-center">วันที่ยืนยันรายการ</th>
									<th width="10%" class="text-center">วันที่ยกเลิกรายการ</th>
									<th width="10%" class="text-center"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="x in sliceData track by $index ">
									<td class="text-center">{{((currentPage-1)*perPages)+$index+1}}</td>
									<td>{{x.code}}</td>
									<td>{{x.fileName}}</td>
									<td class="text-center">{{x.total| number}}</td>
									<td class="text-center">{{x.confirmDate |
										date:'dd/MM/yyyy'}}</td>
									<td class="text-center">{{x.cancelDate |
										date:'dd/MM/yyyy'}}</td>
									<td><button
											ng-if="(x.confirmDate == null || x.confirmDate =='') &amp;&amp; (x.cancelDate == null || x.cancelDate =='')"
											type="button" class="btn btn-success btn-style"
											style="margin: 0" ng-click="confirm(x.code)">
											ยืนยันรายการ</button>
											<span 	ng-if="(x.confirmDate == null || x.confirmDate =='') &amp;&amp; (x.cancelDate == null || x.cancelDate =='')"
											ng-click="deleteLoader(x.code)"
											class="glyphicon-ring glyphicon-red glyphicon glyphicon-trash"
											role="button"></span>
										<button
											ng-if="(x.confirmDate != null &amp;&amp; x.confirmDate !='') &amp;&amp; (x.cancelDate == null || x.cancelDate =='')"
											type="button" class="btn btn-danger btn-style"
											style="margin: 0" ng-click="cancel(x.code)">
											ยกเลิกรายการ</button>
											
											</td>
								</tr>
								<tr ng-if="resultList.length == 0">
									<td colspan="7" class="text-center">ไม่มีข้อมูล</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- PAGINATION -->
					<div layout="row" layout-xs="column"
						class="ng-scope layout-xs-column layout-row"
						layout-align="space-between center">
						<div layout="column">
							<!-- 								<pre>ผลการค้นหาทั้งหมด {{totalItems}} </pre> -->
						</div>
						<div layout="column">
							<ul uib-pagination="" total-items="totalItems"
								ng-model="currentPage" max-size="5" class="pagination-sm"
								items-per-page="perPages" boundary-links="true"
								num-pages="numPages" ng-change="pageChanged()"></ul>
						</div>
					</div>
				</div>

				<div class="row text-center">
					<button type="submit" class="btn btn-success" ng-click="add('md')">
						<i class="glyphicon glyphicon-open"></i> นำเข้าข้อมูล
					</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
