<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>Monitor Real time</title>

<!-- My JS -->
<script th:src="@{/js/monitorRealTime/monitor-search.js}"></script>
</head>
<body layout:fragment="content">
<div ng-app="ctl10000SearchApp" class="content-wrapper">
   <div class="wrapper" ng-controller="ctl10000SearchCtrl">

		<div class="sidebar-nav">
			<div class="nav-canvas">
				<div class="nav-sm nav nav-stacked"></div>
			</div>
		</div>

								<div class="panel panel-custom head-panel">
								<div class="panel-heading"> <h2 class="panel-title">Monitor Real time</h2></div>
									<div class="panel-body">
									
										<!-- criteria search -->
										<div class="form-group">

											<!-- row4 -->
											<div class="row row-no-padding">
												<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">วันที่เริ่มใช้งาน
													จาก :</div>
												<datepicker-dir class="col-xs-11 col-sm-3 col-md-3 col-sm-3"
													ng-model="criteria.createdDateFrom" format-date="dd/MM/yyyy"></datepicker-dir>
												<div class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right">ถึง :</div>
												<datepicker-dir class="col-xs-11 col-sm-3 col-md-3 col-sm-3"
													ng-model="criteria.createdDateTo" format-date="dd/MM/yyyy"></datepicker-dir>
											</div>
											<!-- row3 -->
											<div class="row row-no-padding">
												<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">กรม :</div>
												<div class="col-sm-3 col-md-3">
													<select class="form-control" ng-model="criteria.department"
														ng-options="list.id as list.desc for list in mRevenueTypeList">
														<option value="">--กรุณาเลือก--</option>
													</select>
												</div>
												<div class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right">หน่วยเบิกจ่าย :</div>
												<div class="col-sm-3 col-md-3">
													<select class="form-control" ng-model="criteria.department"
														ng-options="list.id as list.desc for list in mRevenueTypeList">
														<option value="">--กรุณาเลือก--</option>
													</select>
												</div>
											</div>
											<!-- row3 -->
											<div class="row row-no-padding">
												<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">ผู้ทำการสร้างบิล  :</div>
												<div class="col-sm-3 col-md-3">
													<select class="form-control" ng-model="criteria.department"
														ng-options="list.id as list.desc for list in mRevenueTypeList">
														<option value="">--กรุณาเลือก--</option>
													</select>
												</div>
												<div class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right">ศูนย์ต้นทุน :</div>
												<div class="col-sm-3 col-md-3">
													<select class="form-control" ng-model="criteria.costCenterId"
														ng-options="list.id as list.desc for list in mCostCenterList">
														<option value="">--กรุณาเลือก--</option>
													</select>
												</div>
											</div>
											<!-- row3 -->
											<div class="row row-no-padding">
												<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">ชื่อผู้ชำระ  :</div>
												<div class="col-sm-3 col-md-3">
													<input type="text" class="form-control" required="required"
															ng-model="criteria.firstName" />												</div>
												<div class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right ">เลขที่อ้างอิง (Ref.1) :</div>
												<div class="col-sm-3 col-md-3">
													<input type="text" class="form-control" required="required"
															ng-model="criteria.ref1" />												</div>
												</div>
											</div>
											<!-- row3 -->
											<div class="row row-no-padding">
												<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">สถานะใบแจ้งการชำระเงิน :</div>
												<div class="col-sm-3 col-md-3">
													<select class="form-control" ng-model="criteria.status">
														<option value="">--กรุณาเลือก--</option>
														<option value="0">รอชำระ</option>
														<option value="1">ยืนยันการชำระ</option>
														<option value="3">ยกเลิก</option>
														<option value="5">ชำระเงินออนไลน์</option>
														<option value="6">ชำระยอดเงินไม่ถูกต้อง</option>
													</select>
												</div>
												<div class="col-md-2 text-right"></div>
												<div class="col-md-3">
												</div>
											</div>
											
										
										
										<!-- button search -->
										<div class="form-group">
											<!-- row7 -->
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
													<button type="button" id="searchBtn" class="btn btn-primary btn-style" ng-click="search();">
														<span class="glyphicon glyphicon-search"></span> ค้นหา
													</button>

													<button type="button" id="searchBtn" class="btn btn-primary btn-style">
														<span class="glyphicon glyphicon-refresh"></span> ล้างข้อมูล
													</button>
												</div>
											</div>
										</div>
										
										<!--  -->
										<div class="form-group">
											<!-- row8 -->
											<div class="row">
												<div class="col-md-6 text-left ">
													<button type="button" id="searchBtn" class="btn btn-primary btn-style">
														<span class="glyphicon glyphicon-print"></span> Export Excel File
													</button>
												</div>
												<div class="col-md-6">
													<div class="col-md-7 text-right">
														<span>แสดงหน้าละ&nbsp;</span>
													</div>
													<div class="col-md-3">
														<select class="form-control" ng-model="perPages"
																ng-change="pageChanged()"
																ng-options="selectedItem as selectedItem for selectedItem in values">
														</select>
													</div>
													<div class="col-md-2">
														<span>&nbsp;รายการ</span>
													</div>											
												
												</div>
												
											</div>
										</div>
										
										<!-- search result -->
										<div class="form-group">
											<div class="row">
												<div class="box-body table-responsive col-md-12">
													<table id="example2" class="table table-bordered table-hover">
														<thead>
															<tr>
																<th><input id="checkBox" type="checkbox"></input></th>
																<th>เลขที่อ้างอิง (Ref.) 1</th>
																<th>ชื่อผู้ชำระ</th>
																<th>ช่องทางการรับชำระ</th>
																<th>วันที่รับชำระ</th>
																<th>ศูนย์ต้นทุน</th>
																<th>รายการรับชำระ</th>
																<th>จำนวนเงิน</th>
																<th>สถานะใบแจ้งการชำระเงิน</th>
																
															</tr>
														</thead>
														<tbody>
															<tr ng-repeat="data in sliceData2List">
																<td><input id="checkBox" type="checkbox"></input></td>
																<td>{{data.ref1}}</td>
																<td>{{data.firstName}} {{data.lastName}}</td>
																<td>{{data.paymentChannelName}}</td>
																<td>{{data.createdDate | date :'dd/MM/yyyy'}}</td>
																<td>{{data.costCenterCode}}</td>
																<td>{{data.catalogCode + ' ' + data.catalogName }}</td>
																<td class="text-right">{{data.amount | number:2}}</td>
																<td class="text-center">
																	<span ng-if="data.status=='0'">รอชำระ</span>
																	<span ng-if="data.status=='1'">ยืนยันการชำระ</span> 
																	<span ng-if="data.status=='3'">ยกเลิก</span>
																	<span ng-if="data.status=='5'">ชำระเงินออนไลน์</span> 
																	<span ng-if="data.status=='6'">ชำระยอดเงินไม่ถูกต้อง</span>																	
																</td>
															</tr>
														</tbody>
													</table>
												</div>								
											</div>
											
											<div class="row">
												<div class="col-xs-10 col-sm-6 col-md-6 col-lg-5 col-xs-push-1 col-sm-push-0 col-md-push-0 text-xs-center text-sm-right text-md-right">
													<pre>ผลการค้นหาทั้งหมด {{totalItems}}  รายการ (แสดงรายการที่ {{from+1}} ถึง {{to}} )  </pre>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-xs-center text-sm-right text-md-right">
													<ul uib-pagination="" total-items="totalItems"
														ng-model="currentPage" max-size="5" class="pagination-sm"
														items-per-page="perPages" boundary-links="true"
														num-pages="numPages" ng-change="pageChanged()"></ul>
												</div>
											</div>
																						
<!-- 											Pagination
											<div class="row">
												<div class="col-md-12 text-right">
													<ul uib-pagination="" total-items="bigTotalItems"
													ng-model="bigCurrentPage" max-size="maxSize"
													class="pagination-sm" boundary-links="true"
													num-pages="numPages"></ul>

											
												</div>
											</div> -->
											
											
											</div>
											
										</div>
									</div>
								
				</div>
			</div>

</body>
</html>