@font-face {
	font-family: 'THSarabunNew';
	src: url('THSarabunNew.eot');
	src: local('☺'), url('THSarabunNew.woff') format('woff'), url('THSarabunNew.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}