#ttmsUnderlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	-webkit-opacity: 0.3;
	-moz-opacity: 0.3;
	opacity: .30;
	filter: alpha(opacity=30);
	z-index: 9998;
}
#ttmsLightbox {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 124px;
	height: 124px;
	margin-top: -62px;
	margin-left: -62px;
	text-align: center;
	z-index: 9999;
	background-color: #fff;
	border-radius: 15px;
	color: #fff;
}
#ttmsLightbox .loading {
	margin-bottom: 10px;
	height: 124px;
	width: 124px;
	background: url(../images/loading.gif) no-repeat center;
	background-size: cover;
}