@CHARSET "UTF-8";
*{
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	word-break: normal, Thai;
}
/******************************
 * detect new element by css3 *
 ******************************/
@-moz-keyframes nodeInserted {
    from {
        outline-color: #fff;
    }
    to {
        outline-color: #000;
    }
}
@-webkit-keyframes nodeInserted {
    from {
        outline-color: #fff;
    }
    to {
        outline-color: #000;
    }
}
@-ms-keyframes nodeInserted {
    from {
        outline-color: #fff;
    }
    to {
        outline-color: #000;
    }
}
@-o-keyframes nodeInserted {
    from {
        outline-color: #fff;
    }
    to {
        outline-color: #000;
    }
}
@keyframes nodeInserted {
    from {
        outline-color: #fff;
    }
    to {
        outline-color: #000;
    }
}
*{
    -o-animation-duration: 0.01s;
    -ms-animation-duration: 0.01s;
    -moz-animation-duration: 0.01s;
    -webkit-animation-duration: 0.01s;
	animation-duration: 0.01s;
    -o-animation-name: nodeInserted;
    -ms-animation-name: nodeInserted;
    -moz-animation-name: nodeInserted;
    -webkit-animation-name: nodeInserted;
    animation-name: nodeInserted;
}
/*****************
 *  MASTER STYLE *
 *****************/
body{
	font-size: 20px;
	line-height: 1.0;
	font-family: THSarabunNew;
	color: #555555;
	background-color: #ffffff;
	margin: 0 auto;
	height:fit-content;
}
.box {
    margin-top: 10px;
    margin-bottom: 10px;
	padding: 10px 10px 10px 10px;
	border: 1px solid #ccc;
	border-radius: 1%;
}
.box-inner {
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
    -moz-box-shadow: 0 0 10px rgba(189, 189, 189, 0.4);
}
.box-header {
    border: none;
    padding-top: 5px;
    border-bottom: 1px solid #DEDEDE;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    height: 35px;
    min-height: 35px !important;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 16px;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#1a000000', GradientType=0);

}
.box-header h2 {
    font-size: 22px;
    width: auto;
    clear: none;
    float: left;
    line-height: 25px;
    white-space: nowrap;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}
.box-header h3 {
    font-size: 20px;
    width: auto;
    clear: none;
    float: left;
    line-height: 25px;
    white-space: nowrap;
}
.box-header h2 > i {
    margin-top: 1px;
    font-size: 18px;
}
.box-header h3 > i {
    margin-top: 1px;
    font-size: 16px;
}
.box-header i > img {
	width: 23px;
	height: 20px;
	margin-top: -5px;
}
.box-icon {
    float: right;
}
.box-icon .btn{
    clear: none;
    float: left;
    margin: 0 2px;
    height: 20px;
    width: 5px;
    margin-top: 1px;
}
.box-icon .btn .glyphicon {
	margin-left: -6px;
	top: -5px;
}
.box-content {
    padding: 15px;
}
.btn-round {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    font-size: 12px;
    padding-top: 4px;
}
.btn-group-add {
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 999;
}
.btn.btn-add {
	background-color: #db4437;
	height: 56px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 56px;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	box-sizing: content-box;
	cursor: pointer;
	outline: none;
	padding: 0;
	/* pointer-events: auto; */
	position: relative;
	-webkit-transform: scale(1) rotate(360deg);
	transform: scale(1) rotate(360deg);
	-webkit-transition: -webkit-transform 150ms cubic-bezier(.4,0,1,1);
	transition: transform 150ms cubic-bezier(.4,0,1,1);
	border: none;
	border-radius: 50%;
	-webkit-user-drag: none;
}
.btn.btn-add:active {
	background-color: #8a1e1c;
	box-shadow: 0;
}
.btn-group-add .btn.btn-add span {
	font-size: 18px;
	color: #ffffff;
	margin-top: 16px;
	margin-left: 3px;
}
.center {
	margin-left: auto !important;
	margin-right: auto !important;
	float: none !important;
	display: block;
	text-align: center;
}
.data-table-button {
	position: absolute;
	z-index: 1;
}
.red {
  color: #B94846;
}
/* label.error, label.myerror,.has-error .help-block {
	color: #A94442;
	position: absolute;
	top: 1px;
	left: 18px;
	pointer-events: none;
	font-size: 16px;
	z-index: 3;
} */
/*
	region override bootstrap error
*/
.has-error .control-label{
	color: #555555;
}
/*
	end region override bootstrap error
*/
.input-group label.error, .input-group label.myerror {
	z-index: 100;
	left: 3px;
}
input.error, select.error, input.myerror, select.myerror {
	border: 1px solid #A94442;
}
.required {
	color: red;
}
.form-90 {
	width: 90%;
	display: inline;
}
footer.site-footer {
	font: 18px/1.5 THSarabunNew;
  	margin: 20px 0 20px 0;
  	text-align: center;
}
.breadcrumb{
	background-color: #f6f7f9;
}
.navigate.breadcrumb {
	margin-bottom: 10px;
	margin-top: 0px;
}
.breadcrumb.breadcrumb-title {
	background-color: #d9edf7;
	border-color: #bce8f1;
    color: #317eac;
    font-size: 22px;
    font-weight: bold;
}
.label {
	font-size: 85%;
}
.label-status {
	display: block;
}
.label-approved {
	background-color: #00CC00;
	/* padding: .2em .6em .1em; */
    padding: .1em .3em .1em;
    border: 1px solid #00b700;
}
.label-approved.label-bail-paid{
	background-color: #006600;
	padding: .2em .6em .1em;
}
.label-checked {
	background-color: #F0AD4E;
	padding: .2em .6em .1em;
}
.label-reject {
	background-color: #c71c22;
	padding: .2em .6em .1em;
}
.label-waiting {
	background-color: #dd5600;
	padding: .2em .6em .1em;
}
.label-draft {
	background-color: #aaaaaa;
}
.label-terminate {
	background-color: #0099FF;
	padding: .2em .6em .1em;
}
.label-terminate.label-bail-paid{
	background-color: #003366;
	padding: .2em .6em .1em;
}
.panel-round {
    padding: 8px 8px;
  	border-radius: 4px;
}
.pointer {
	cursor: pointer;
}
.move {
	cursor: move;
}
code, kbd, pre, samp {
    font-family: THSarabunNew;
    font-size: 20px;
}
pre {
	border: 0;
	border-radius: 0;
	background-color: transparent;
	color: inherit;
	line-height: inherit;
	padding: 0;
	overflow: visible;
	white-space: pre-wrap;
}
.seperator {
	background-color: #dcdcdc !important;
}
.seperator-box {
	margin-left: 15px;
	margin-right: 15px;
	border: 1px solid #dddddd;
}
.btn-file {
    position: relative;
    overflow: hidden;
    padding: 3px 12px 4px;
    height: 34px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
/************************
 *  OVERRIDE BOOTSTRAP  *
 ************************/
/* 
.btn {
	font-size: 18px;
}
.btn.btn-lg {
	font-size: 22px;
	line-height: 1.0;
}
.btn .glyphicon {
	font-size: 14px;
}
.btn.btn-lg span {
	font-size: 16px;
}
.btn-default {
	background-image: linear-gradient(#fff, #fff 60%, #f5f5f5);
	border-bottom: 1px solid #e6e6e6;
	color: #555555;
	background-color: #ffffff;
	border-color: rgba(0,0,0,0.1);
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #555555;
    background-color: #e6e6e6;
    border-color: rgba(0, 0, 0, 0.1);
}
.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
    background-color: #ffffff;
    border-color: rgba(0, 0, 0, 0.1);
}
.btn-default .badge {
    color: #ffffff;
    background-color: #555555;
}
.btn-text {
	border: none;
	background: none;
}
.btn-primary {
	background-image: linear-gradient(#0069A0, #0069A0 60%, #0069A0);
	border-bottom: 1px solid #178acc;
	color: #ffffff;
	background-color: #0069A0;
	border-color: #0069A0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #178acc;
    border-color: #1684c2;
}
.btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #0069A0;
    border-color: #0069A0;
}
.btn-primary .badge {
    color: #0069A0;
    background-color: #ffffff;
}
.btn-success {
	background-image: linear-gradient(#88c149, #73a839 60%, #699934);
	border-bottom: 1px solid #59822c;
	color: #ffffff;
	background-color: #73a839;
	border-color: #73a839;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    color: #ffffff;
    background-color: #59822c;
    border-color: #547a29;
}
.btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
    background-color: #73a839;
    border-color: #73a839;
}
.btn-success .badge {
    color: #73a839;
    background-color: #ffffff;
}
.btn-danger {
	background-image: linear-gradient(#e12b31, #c71c22 60%, #b5191f);
	border-bottom: 1px solid #9a161a;
	color: #ffffff;
	background-color: #c71c22;
	border-color: #c71c22;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
    color: #ffffff;
    background-color: #9a161a;
    border-color: #911419;
}
.btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
    background-image: none;
}
.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active {
    background-color: #c71c22;
    border-color: #c71c22;
}
.btn-danger .badge {
    color: #c71c22;
    background-color: #ffffff;
}
.btn-warning {
  background-image: linear-gradient(#ff6707, #dd5600 60%, #c94e00);
  border-bottom: 1px solid #aa4200;
  color: #ffffff;
  background-color: #dd5600;
  border-color: #dd5600;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning {
    color: #ffffff;
    background-color: #aa4200;
    border-color: #a03e00;
}
.btn-warning:active, .btn-warning.active, .open>.dropdown-toggle.btn-warning {
    background-image: none;
}
.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active {
    background-color: #dd5600;
    border-color: #dd5600;
}
.btn-warning .badge {
    color: #dd5600;
    background-color: #ffffff;
}
.btn-info {
  background-image: linear-gradient(#2a69a5, #2f689e 60%, #376490);
  border-bottom: 1px solid #022241;
  color: #ffffff;
  background-color: #033c73;
  border-color: #1369bd;
}
.btn-info:active, .btn-info.active, .open>.dropdown-toggle.btn-info {
    background-image: none;
}
.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active {
    background-color: #033c73;
    border-color: #033c73;
}
.btn-info .badge {
    color: #033c73;
    background-color: #ffffff;
} */
.input-group-lg > .form-control {
	font-size: 22px;
}
.input-group-lg > .input-group-addon {
	line-height: 1.0;
}
.input-group-addon.input-group-addon-text {
	font-size: 18px;
}
.dropdown-menu {
	font-size: inherit;
}
.dropdown:hover {
    color: #ffffff;
    background-color: #178acc;
    border-color: #1684c2;
}
a {
	color: #0069A0;
}
.text-right {
	/* font-family: THSarabunNew-Bold; */
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	/* font-family: THSarabunNew-Bold; */
	color: #0069A0;
	font-weight: 900;
    font-style: normal;
}
h1, .h1 {
  font-size: 42px;
}
h2, .h2 {
  font-size: 36px;
}
h3, .h3 {
  font-size: 30px;
  font-weight: bold;
}
h4, .h4 {
  font-size: 24px;
}
h5, .h5 {
  font-size: 20px;
}
h6, .h6 {
  font-size: 18px;
}
h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 10px;
	margin-bottom: 5px;
}
.tooltip {
	font-family: THSarabunNew;
	font-size: 18px;
}
.btn-group-add .tooltip {
	font-size: 20px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    line-height: 1;
}
table.dataTable tfoot th, table.dataTable tfoot td {
    padding: 8px 10px;
}
table > tbody > tr > td
{
	vertical-align: middle;
}
/********************
 *    LOGIN STYLE   *
 ******************** */
/* .login {
	color: #1900ce;
	background-image: url(../images/login_page/login_bg.jpg);
	background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
} */
.login:after {
  content: "";
  /* background: url(../images/login_page/login_bg.jpg); */
  /* background-size: cover; */
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.login .well {
	background-color: #ffffff;
	border-radius: 20px;
	margin-top: 70px;
}

@media screen and (max-width: 991px) {
	.login .well {
		background-color: transparent;
		border: 0;
		box-shadow: none;
		margin-top: 30px;
	}
}
.login hgroup {
	margin-top: -15px;
	margin-bottom: 20px;
}
.login hgroup h1,.login hgroup h2{
	color: #317eac;
}
.login hgroup h1 {
	line-height: 1.5;
	font-size: 40px;
	font-family: THSarabunNew-Bold;
}
.login hgroup h2{
	font-size: 27px;
  	margin: -17px 0px 5px;
  	text-transform: uppercase;
}
/* end login page */
/************************
 *		HEADING MENU	*
 ************************/
.navbar {
	/* background-image: -webkit-linear-gradient(#54b4eb, #0069A0 60%, #1d9ce5);
	background-image: -o-linear-gradient(#54b4eb, #0069A0 60%, #1d9ce5);
	background-image: linear-gradient(#54b4eb, #0069A0 60%, #1d9ce5); */
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
	border-bottom: 1px solid #178acc;
	filter: none;
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,0.1);
	box-shadow: 0 1px 10px rgba(0,0,0,0.1);
}
.navbar-default {
	background-color: #0069A0;
	border-color: #1995dc;
	height: 58px;
}
.navbar-nav.top-menu {
	padding-right: 0;
	padding-left: 0;
}
.navbar-nav.top-menu > li > a {
	padding: 8px 8px;
	height: 57px;
}
.navbar-nav > li > a > img {
/* 	width: 20px;
	height: 16px; */
	margin-top: -5px;
	padding-right: 2px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
}
.navbar-default .navbar-toggle {
	border-color: #178acc;
}
.navbar-default .navbar-toggle:hover
	, .navbar-default .navbar-toggle:focus
	, .navbar-default li.dropdown a:hover
	, .navbar-default .navbar-nav > .open > a
	, .navbar-default .navbar-nav > .open > a:hover
	, .navbar-default .btn-group.open .dropdown-menu > li > a:hover
	, .navbar-default .navbar-nav > .open > a:focus{
    background-color: #027EBD;
    font-family: THSarabunNew-Bold;
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}

.navbar-default .btn-group {
	margin: 17px 0px 0 5px;
}

.navbar-default .navbar-brand {
	letter-spacing: -3px;
	font-size: 35px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-default .navbar-brand span {
	color: #ffffff;
}
.navbar-default .navbar-brand span.bluestyle {
	color: #10408E;
}
@media only screen and (max-width: 860px) {
.navbar-toggle {
	margin-left: 5px;
	margin-top: 20px;
}
.navbar-nav .open .dropdown-menu {
	background-color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    background-color: #178acc;
    font-family: THSarabunNew-Bold;
    color: #ffffff;
}
}
.navbar-search {
	margin-left: 10px;
	margin-top: 7px;
}
.top-menu > li > a {
	font-family: THSarabunNew-Bold;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu > .dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
    display:block;
}
.dropdown-submenu > a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:10px;
    margin-right:-10px;
}
.dropdown-submenu:hover > a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
/* end head menu */
/*************************
 *		MODAL STYLE		 *
 *************************/

/* end modal style */
/*************************
 *		JSTREE STYLE	 *
 *************************/
.jstree {
	font-size: 18px;
}
/* end jstree style */
/*************************
 *		TABLE STYLE		 *
 *************************/
.table {
	margin-top: 15px;
}
.table a span {
	/* font-size: 16px; */
}
table.dataTable thead th, table.dataTable thead td {
	padding: 4px;
}
.table.dataTable thead th, table.dataTable thead td,
	.table.dataTable.no-footer {
	border-bottom: 1px solid #dddddd;
}
.table thead th {
	/* font-family: THSarabunNew-Bold; */
}
.dataTables_wrapper .dataTables_length {
	float: right;
}
.dataTables_wrapper .dataTables_length label {
	font-weight: normal;
}
.dataTables_wrapper .dataTables_length , .dataTables_wrapper .dataTables_info{
	/* font-family: THSarabunNew-Bold; */
}
.dataTables_length select {
	display: inline-block;
	width: auto;
	vertical-align: middle;
	font-size: 20px;
	height: 28px;
 	line-height: 1.42857143;
 	color: #555555;
 	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 6px 6px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
	.dataTables_wrapper .dataTables_paginate .paginate_button,
	.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
	.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
	/* border: 1px solid #c5c5c5; */
}
.table-bordered > thead > tr > th
	, .table-bordered > tbody > tr > th
	, .table-bordered > tfoot > tr > th
	, .table-bordered > thead > tr > td
	, .table-bordered > tbody > tr > td
	, .table-bordered > tfoot > tr > td {
  border: 0;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  vertical-align: middle;
}
.table-bordered > thead > tr > th:last-child
	, .table-bordered > tbody > tr > th:last-child
	, .table-bordered > tfoot > tr > th:last-child
	, .table-bordered > thead > tr > td:last-child
	, .table-bordered > tbody > tr > td:last-child
	, .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.dataTables_wrapper .dataTables_paginate {
	border-radius: 4px;
}
.dataTables_wrapper .dataTables_paginate > a:first-child {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.dataTables_wrapper .dataTables_paginate > a:last-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
	margin-left: 0;
	color: #0069A0 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: #333 !important;
	border: 1px solid #cacaca;
	background-color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
	background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
	background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
	background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
	background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
	background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
}
.cmd-icon {
	/* padding-left:5px; */
	padding-right:3px;
	text-align: center;
	/* color: #2c749f; */
}
.cmd-icon span {
	font-size: 14px;
	color: #ffffff;
	padding: 6px 6px;
	width: 30px;
	height: 30px;
	border-radius: 20px 20px;
	margin-right: 1px;
}

.cmd-icon.cmd-view span {
	background-color: #43A85A;
	font-size: 18px;
	box-shadow: rgba(233, 233, 233, 0.3) 1px 1px 1px inset;
    border: 1px solid rgba(63, 136, 69, 0.5);
    background-image: linear-gradient(#72bb78, #4faa56, #3f8845);
}

.cmd-icon.cmd-export span {
	background-color: #0885bb;
	font-size: 18px;
	box-shadow: rgba(233, 233, 233, 0.3) 1px 1px 1px inset;
    border: 1px solid rgba(63, 136, 69, 0.5);
    background-image: linear-gradient(#5794af, #0885bb, #0d6388);
}

.cmd-icon.cmd-edit span {
	background-color: #F09E45;
	font-size: 18px;
	box-shadow: rgba(233, 233, 233, 0.3) 1px 1px 1px inset;
    border: 1px solid rgba(188, 125, 42, 0.5);
    background-image: linear-gradient(#efb05d, #eb9c35, #bc7d2a);
}
.cmd-icon.cmd-edit {
	color: #006633;
}
.cmd-icon.cmd-del span {
	background-color: #D23F40;
	font-size: 18px;
	box-shadow: rgba(233, 233, 233, 0.3) 1px 1px 1px inset;
    border: 1px solid rgba(163, 47, 48, 0.5);
    background-image: linear-gradient(#d66263, #cc3b3c, #a32f30);
}
.cmd-icon.cmd-del {
	color: #cc0033;
}
.cmd-icon.cmd-print span {
	background-color: #040066;
	font-size: 18px;
}
.cmd-icon.cmd-print {
	color: #040066;
}
.cmd-icon.cmd-edit-pw span {
	background-color: #797979;
	font-size: 18px;
}
.cmd-icon.cmd-edit-pw {
	color: #797979;
}
.cmd-icon.cmd-blue span {
	background-color: #F09E45;
	font-size: 18px;
	box-shadow: rgba(233, 233, 233, 0.3) 1px 1px 1px inset;
    border: 1px solid rgba(54, 105, 152, 0.5);
    background-image: linear-gradient(#699ccb, #4383be, #366998);
}

/* end table style */
/************************
 *		PANEL STYLE 	*
 ************************/
.panel-title {
	font-size: 20px;
	font-weight: bold;
	color: #555555;
	display: inline;
}
.panel-heading {
	padding: 4px 15px;
}
.panel.panel-space .panel-body .RoomDiv span {
	font-size: 18px;
	color: #555555;
}
/* end panel style */
/************************
 *		HOME STYLE		*
 ************************/
.box-news .box-content ul > li > div, .box-noti .box-content ul > li > div {
	font-size: 18px;
}
/* end home style */
/************************
 *		TAB STYLE		*
 ************************/
.tab-content {
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}
.tab-content {
	padding: 15px 5px;
}
/* end tabs style */
/************************
 *	LOADING DIALOG		*
 ************************/
 #cgdUnderlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	-webkit-opacity: 0.3;
	-moz-opacity: 0.3;
	opacity: .30;
	filter: alpha(opacity=30);
	z-index: 9998;
}
#cgdLightbox {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 193px;
	height: 187px;
	margin-top: -62px;
	margin-left: -62px;
	text-align: center;
	z-index: 9999;
	background-color: #fff;
	border-radius: 15px;
	color: #fff;
}
#cgdLightbox .loading {
	margin-bottom: 10px;
	height: 187px;
	width: 193px;
	background: url(../images/loading.gif) no-repeat center;
	background-size: cover;
	border-radius: 15px;
	border: 3px solid rgba(119, 119, 119, 0.09);
}
/* END LOADING DIALOG */
.homebanner img {
	width: 100%;
}
.page-wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -142px;
}
.page-wrap:after {
	content: "";
	display: block;
}
.content .panel-primary > .panel-heading {
	background-color: #3AA6DD;
}
.row-form .table{
	margin:0 auto;
	margin-bottom:30px;
}

.hide {
	display: none;
}

.show {
	display: inherit;
}

.margin-row {
	margin-bottom:10px;
}

.top-buffer {
	margin-top:20px;
}

.news-content .top-grid {
	background-image: url("../img/header.png");
	width: 1102px;
	height: 193px;
	margin-bottom: 30px;
}

.news-content .right-grid:before {
	content: '';
	width: 0;
	height: 120%;
	position: absolute;
	border: 1px solid #82679F;
	top: 0;
	margin-left: -80px;
}

.news-content h1 {
	color: #4D0D8A;
	font-size: 2em;
	float: left;
}

.news-content img {
	float: left;
}

.circle {
	margin-left: 120px;
	margin-top: 60px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: #fff;
	border: 3px solid #4D0D8A;
	text-align: center;
}

.circle2 {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background: #4D0D8A;
}

.left{
	float:left;
}
.right{
	float:right;
}
.row-form{
	margin-bottom:40px;
}
.row-form div{
	text-align: center;
}
.textbox-time{
	width: 40px;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
    line-height: 1.42857143;
    height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
}
.textbox-small{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.intable-center td,.intable-center th {

	text-align: center;
}

.space:before{
	content:" "
}
td.edit{
  width: 30%;
}
a.edit-btn,a.edit-btn:hover{
	color:#5cb85c;
}
a.del-btn,a.del-btn:hover{
	color:#d9534f;
}

.free-space{
	padding:30px;
}
.daterrors{
	display:none;
	color: #a94442;
}
.disable{
	color:gray;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.customer-color {
	display: inline-block;
	width: 1em;
	height: 1em;
	border-style: solid;
	border-width: 1px;
	margin: 0px 1em 0px 0px;
}

.expiry-date-color {
	color: red;
}

.remark-color {
	color: #178acc;
}

.space-not-full a{
	color: #CC3333;
	text-decoration: none;
}

.space-full a{
	color: #555555;
	text-decoration: none;
}
.a-button>span.glyphicon{
	margin-right:5px;
}
.float-block::after{
	content: "";
	display: block;
	clear: both;
}
.left-over{
	  margin-left: -25px;
}
.control-label.right{
	margin-top:5px;
}
.panel.panel-ttms {
	border: 0;
}
.panel-ttms > .panel-heading {
	color: #ffffff;
	background-color: #2bb7ff;
	border-color: #fff;
	padding: 8px 15px;
	margin-bottom: 0px;
	border-radius: 4px;
	position: relative;
	font-weight: bold;
}
.panel-ttms > .panel-heading > div {
	display: inline;
}
.panel-ttms > .panel-heading > .title-command {
	float: right;
	padding-left: 5px
}
.panel-ttms > .panel-heading > .title-command > .btn {
	padding: 4px 12px;
	margin-top: -6px;
}
.panel-ttms .panel-heading a {
	color: #ffffff;
}
.panel-ttms .panel-heading a span {
	font-size: 14px;
	padding: 2px 2px;
}
.panel-ttms {
	border-color: transparent;
	box-shadow: 0 5px 7px #d5d5d6;
}
.panel-ttms > .panel-heading .centerV{
	position: absolute;
	top: 50%;
	transform: translateY(-50%)
}

.input-append.date-with-add-on .form-control{
}
.input-append.date-with-add-on .add-on.glyphicon{
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
}
.table td>.form-group{
	position:relative;
}
.form-grid .form-group {
	display: block;
	margin-bottom: 5px;
}
.form-grid .form-group .help-block.with-errors {
	margin-top: 0px;
	margin-bottom: 0px;
}
.form-grid .form-group .help-block.with-errors ul.list-unstyled{
	margin-top: 5px;
	margin-bottom: 10px;
}
.form-group {
	margin-bottom: 5px;
}

.form-control {
	font-size: 15px;
}

.panel-clear-padding-left {
	padding-left:0px;
}


/* home page */
.news{
	width: 100%;
	margin-top: 10px;
	overflow: hidden;
	font: 20px/2 THSarabunNew-Bold;
}
.news h3{
	font: 34px/1.5 THSarabunNew-Bold;
	color: #0276a0;
	margin: 5px 0 0 80px;
	padding-left: 10px;
}
.news ul{
	margin-top: 5px;
}
.news li{
	border-bottom: #d2cdc4 1px solid;
	padding-left: 83px;
}
.news li span {
	padding-left: 5px;
	font-size: 15px;
}
.news a{
	font-size: 18px;
  	color: #333333;
  	text-decoration: none;
}
.news a:link{
}
.news a:hover{
	color: #2bb7ff;
}
.icn-news{
	background: url(../images/icon_home/icn_news.png) no-repeat;
	background-position: left;
}
.icn-next a{
	font: 15px/1.4 THSarabunNew-Bold;
	text-decoration: none;
	float: right;
}
.icn-next-blue a{
	color: #0276a0;
	margin: 12px -70px 0 0;
}
.icn-next img{
	float: right;
	margin: 10px 70px 5px 0;
}
.box3clo{
	width: 376px;
	margin: 10px 20px 0 0;
	float: left;
	font: 16px/1.5 THSarabunNew-Bold;
}
.box3clo:nth-child(3n+1) {
  margin: 10px 0px 0 0;
}
.box3clo h4{
	margin: 15px 0 0 8px;
	float: left;
}
.box3clo ul{
	margin-top: 5px;
}
.box3clo li{
}
.box3clo a{
	font: 18px/1.5 THSarabunNew-Bold;
	color: #333333;
	text-decoration: none;
	margin-bottom: 2px;
}
.box3clo li{
	border-bottom: #d2cdc4 1px solid;
	padding-left: 20px;
}
.box3clo li div {
	font-size: 15px;
}
.box3clo li:last-child a{
	border:none;
}
.box3clo a:link{
}
.box3clo a:hover{
	color: #2bb7ff;
}
.box-radius > img {
	margin: 5px 0 5px 25px;
  	float: left;
}
.pay-color{
	font: 22px/1.5 THSarabunNew-Bold;
	color: #fd6500;
	overflow: hidden;
}
.icn-next-or a{
	color: #fd6500;
	margin: 4px 0 0 12px;
	float: left;
}
.icn-next-or img{
	margin: 5px -5px 5px 285px;
	float: left;
}
.doc-color{
	color: #cc0033;
}
.icn-next-red a{
	color: #cc0033;
	margin: 4px 0 0 12px;
	float: left;
}
.icn-next-red img{
	margin: 5px -5px 5px 285px;
	float: left;
}
.stationry-color{
	color: #00b598;
}
.icn-next-greenpt a{
	color: #00b598;
	margin: 4px 0 0 12px;
	float: left;
}
.icn-next-greenpt img{
	margin: 5px -5px 5px 285px;
	float: left;
}
.fman-color{
	color: #034484;
}
.icn-next-nav a{
	color: #034484;
	margin: 4px 0 0 12px;
	float: left;
}
.icn-next-nav img{
	margin: 5px -5px 5px 285px;
	float: left;
}
.com-color{
	color: #038741;
}
.icn-next-green a{
	color: #038741;
	margin: 4px 0 0 12px;
	float: left;
}
.icn-next-green img{
	margin: 5px -5px 5px 285px;
	float: left;
}
.box-radius{
	background-color: #ffffff;
	border: none;
	border-radius: 5px;
	box-shadow: 0 5px 7px #d5d5d6;
}
.box-radius ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.box-radius h4 {
	font-size: 22px;
}

.content.homepage {
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
/* end home page */
.datepicker.dropdown-menu {
	font-size: 18px;
}
.title-box{
	color: #2bb7ff;
}
.title-box i{
	display: inline;
}
.title-box h4{
	display: inline;
	font: 25px/1.5 THSarabunNew-Bold;
	margin: 10px 0 0 8px;
}
div.pager {
    text-align: center;
    margin: 1em 0;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #dddddd;
    color: #fff;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #337ab7;
}

div.popover {
    /* max-width:900px; */
    width: 900px;
}

.sidebar-nav {
    min-height: 0;
    box-shadow: 0 0 10px #BDBDBD;
    border-radius: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
    max-height: none;
    background-color: #ffffff;
}

.sidebar-nav .nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 20px;
    font-weight: bold;
    line-height: 18px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.main-menu > li > a {
    border: 1px solid rgba(221, 221, 221, 0.46);
}

.main-menu > li {
    margin-top: 0 !important;
}

.navbar {
    border-radius: 0;
}

ul.main-menu li:hover {
    margin-left: 8px;
}

ul.main-menu li.active {
    /* margin-left: 8px; */
    margin-left: 0px;
}

ul.main-menu li.nav-header:hover {
    margin-left: 0;
}

ul.main-menu li:not(.nav-header) {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus{
	color:#ffffff;
	background-color:#178acc;
}

.ch-container {
    padding: 0 8px;
}

.nav-sm {
    display: none;
}

/* Mobile */
@media only screen and (max-width: 860px) {

	.customize-parent {
		display: none !important;
	}

	.minimize-menu {
		display: none !important;
	}

	.maximize-menu {
		display: block !important;
	}

    .navbar-brand {
        font-family: THSarabunNew;
        letter-spacing: 2px;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
        width: 40%;
        font-size: 14px;
    }

    .nav-sm {
        display: block;
        margin-bottom: 10px;
/*         border-bottom: solid white 1px;
 */        padding-bottom: 10px;
    }

    .sidebar-nav .nav-canvas {
        top: -64px;
        left: -90%;
        position: absolute;
        width: 180px;
        z-index: 2;
        background: rgba(0, 0, 0, 0.8);
        margin: 0 !important;
        border-radius: 0 0 20px 0;
        padding-bottom: 10px;
        will-change: left;
    }

    .sidebar-nav.active .nav-canvas {
        left: -20px;
    /*     border-right: solid 1px white;
        border-bottom: solid 1px white; */
    }

    .sidebar-nav {
        position: relative;
        z-index: 3;
        margin: 0 !important;
        padding: 0;
    }

    .nav-canvas {
        -webkit-transition: .2s;
        -moz-transition: .2s;
        -ms-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }

    .sidebar-nav a {
        border: none !important;
        color: white;
    }

    #for-is-ajax {
        color: white;
        margin-top: 15px;
    }

    .main-menu .nav-header {
        color: white;
    }

    ul.main-menu li:hover {
        margin-left: inherit;
    }

    ul.main-menu li.active {
        margin-left: inherit;
    }

    .nav-sm li.dropdown a:hover
    {
    	background-color: #027EBD;
	    color: #ffffff;
    }

    .nav-sm li.dropdown a:not(:hover)
    {
    	background:none;
    }

    .nav-sm li.dropdown ul.dropdown-menu {
    	background: rgba(0, 0, 0, 10);
    	width: 179px;
    	/* margin-left: 110px; */
	    /* margin-left: 140px;
    	margin-top: -65px; */
    }

    .nav-sm li.dropdown ul.dropdown-menu li a {
    	color: #ffffff;
    }

	.nav-sm li.dropdown ul.dropdown-menu li a:hover{
    	background-color: #178acc;
	    color: #ffffff;
    }

    .navbar-default .navbar-toggle:focus {
        background-color: inherit;
    }

    .nav-pills li a:not(:hover)
    {
    	background:none;
    }

    .nav-pills li a:hover{
		color:#ffffff;
		background-color:#178acc;
	}

    .navbar-toggle {
        margin-left: 5px;
        /*margin-right: 15px;*/
				margin-top: 20px;
    }

    .powered-by {
        text-align: center;
    }

    .copyright {
        text-align: center;
    }

    .table-wrapper .pinned {
        box-shadow: 0 0 20px black;
    }
}

.time-notif{
	color: #999D9E;
}

.popover-content {
  height: 300px;
  overflow-y: scroll;
  padding: 0px;
}

.popover-footer{
    padding: 6px 14px;
    background-color: #f7f7f7;
    border-top: 1px solid #ebebeb;
    text-align: center;
}

.popover-link{
	border-bottom: 1px ridge #CCC;
	cursor: pointer;
	padding: 5px;
}
.popover-link:hover{
	background-color: #e6e6e6;
}

.popover-link-readed{
	border-bottom: 1px ridge #CCC;
	cursor: pointer;
	padding: 5px;
	opacity: 0.5;
}

.btn-group-add-comment {
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 999;
}

.btn-group-add-comment .btn.btn-add-comment span {
	font-size: 18px;
	color: #ffffff;
	margin-top: 16px;
	margin-left: 3px;
}

.btn.btn-add-comment {
	background-color: #0069A0;
	height: 56px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 56px;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	box-sizing: content-box;
	cursor: pointer;
	outline: none;
	padding: 0;
	/* pointer-events: auto; */
	position: relative;
	border: none;
	border-radius: 50%;
	-webkit-user-drag: none;
}
.dotted{
	    border-bottom: 1px dotted #dcdcdc;
}
h4.dotted{
	padding-bottom: 4px;
    margin-bottom: 6px;
}
hr.dotted{
	    border-bottom: none;
	    border-top: 1px dotted #dcdcdc;
	    margin-top:6px;
	    margin-bottom:10px;
}
.input-quick-search {
    background-color: transparent;
    border: 0px solid;
    height: 60px;
    font-size: 40px;
    padding-left: 15px;
    outline: none;
    width: 90%;
}
.modal-body-quick-search {
	padding-left: 15px;
}
.notification {
    top: 2px;
    right: 10px;
    position: absolute;
    z-index: 999;
    height: 16px;
    padding: 0 5px;
    color: white !important;
    text-shadow: 0 1px hsla(0, 0%, 0%, 0.25);
    border-width: 1px;
    font-size: 16px;
    border-style: solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), inset 0 1px rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.08), inset 0 1px hsla(0, 100%, 100%, 0.3);

}
.notification.red {
	border-color: #B40404;
    background-color: #ff0000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(0, 100%, 50%)), color-stop(100%, hsl(0, 91%, 30%)));
    background-image: -webkit-linear-gradient(top, hsl(0, 100%, 50%), hsl(0, 91%, 30%));
    background-image: -moz-linear-gradient(top, hsl(0, 100%, 50%), hsl(0, 91%, 30%));
    background-image: -ms-linear-gradient(top, hsl(0, 100%, 50%), hsl(0, 91%, 30%));
    background-image: -o-linear-gradient(top, hsl(0, 100%, 50%), hsl(0, 91%, 30%));
    background-image: linear-gradient(top, hsl(0, 100%, 50%), hsl(0, 91%, 30%));
}

.customize-sub-menu {
    transition: all .5s;
    -webkit-transition: all .5s; // Chrome
    -moz-transition: all .5s; // Mozilla
    -o-transition: all .5s; // Opera
    -animation: all .5s;
}


.ui-notify {
	/* -webkit-animation: fadein 2s; Safari, Chrome and Opera > 12.1
       -moz-animation: fadein 2s; Firefox < 16
        -ms-animation: fadein 2s; Internet Explorer
         -o-animation: fadein 2s; Opera < 12.1
            animation: fadein 2s; */

	position: fixed;
	bottom: 15px;
	right: -10px;
	z-index:9999;
	cursor:pointer;
	display:none;
}

.show-notify {
	display:block;
	transform: translateX(100%);
    -webkit-animation: slide-in 8s;
    moz-animation: slide-in 8s;
    -o-animation: slide-in 8s;
    animation: slide-in 8s;
}
.close-notify {
	-webkit-animation: slide-out 1s 1 ease forwards;
	-moz-animation: slide-out 1s 1 ease forwards;
	-o-animation: slide-out 1s 1 ease forwards;
	-animation: slide-out 1s 1 ease forwards;
}

.sub-menu-slide {
	-webkit-animation: fadein 1s 1;
	-moz-animation: fadein 1s 1;
	-o-animation: fadein 1s 1;
    animation: fadein 1s 1;
}

/* Firefox < 16 */
@-moz-keyframes slide-in {
	0% {transform: translateX(100%);right: 15px;}
    14.28% {transform: translateX(0%);right: 15px;}
    85.71% {transform: translateX(0%);right: 15px;}
    100% {transform: translateX(100%);right: 0px;}
}
@-moz-keyframes slide-out {
	0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes slide-in {
    0% {transform: translateX(100%);right: 15px;}
    14.28% {transform: translateX(0%);right: 15px;}
    85.71% {transform: translateX(0%);right: 15px;}
    100% {transform: translateX(100%);right: 0px;}
}
@-webkit-keyframes slide-out {
	0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}
/* Internet Explorer */
@-ms-keyframes slide-in {
	0% {transform: translateX(100%);right: 15px;}
    14.28% {transform: translateX(0%);right: 15px;}
    85.71% {transform: translateX(0%);right: 15px;}
    100% {transform: translateX(100%);right: 0px;}
}
@-ms-keyframes slide-out {
	0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}
/* Opera < 12.1 */
@-o-keyframes slide-in {
	0% {transform: translateX(100%);right: 15px;}
    14.28% {transform: translateX(0%);right: 15px;}
    85.71% {transform: translateX(0%);right: 15px;}
    100% {transform: translateX(100%);right: 0px;}
}
@-o-keyframes slide-out {
	0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.ui-notify:not(.no-hover):hover  {
   background:#000;
   background:rgba(0,0,0,0.8);
   -moz-box-shadow: 0 0 6px #000;
   -webkit-box-shadow: 0 0 6px #000;
   box-shadow: 0 0 6px #000;
   border-radius:8px;
   -webkit-animation-play-state: paused;
   -moz-animation-play-state: paused;
   -o-animation-play-state: paused;
   animation-play-state: paused;
}

.ui-notify-message { padding:15px; margin-bottom:15px; -moz-border-radius:6px; -webkit-border-radius:8px; border-radius:8px }
.ui-notify-message h1 { font-size:18px; margin:0; padding:0 }
.ui-notify-message p { margin:3px 0; padding:0; line-height:18px}
.ui-notify-message:last-child { margin-bottom:0 }
.ui-notify-message-style { background:#000; background:rgba(0,0,0,0.5); -moz-box-shadow: 0 0 6px #000; -webkit-box-shadow: 0 0 6px #000; box-shadow: 0 0 6px #000; }
.ui-notify-message-style h1 { color:#fff; font-weight:bold }
.ui-notify-message-style p { color:#fff }
.ui-notify-close { color:#fff; text-decoration:underline }
.ui-notify-cross { margin-top:-4px; float:right; cursor:pointer; text-decoration:none; font-size:12px; font-weight:bold; text-shadow:0 1px 1px #fff; padding:2px } */
.ui-notify-cross:hover { color:#ffffab }
.ui-notify-cross:active{position:relative; top:1px;}
.ui-notify-link:hover {text-decoration:none;}

.tooltip.right {
	position: fixed;
	right: 120px;
}

.box-main {
	background-color:rgb(242,242,242);
	margin-top: -5px;
}

.title-bold {
	color:#317EAC;
	font-weight:900;
	font-style: normal;
}
.title-big-bold {
	color:#0069A0;
	font-weight:900;
	font-style: normal;
	font-size: 24px;
	margin-left: -11px;
}

.upload_logo {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 17px;
    left: 8px;
}

.invalid-file
{
    color: #A94442;
    position: absolute;
    pointer-events: none;
    font-size: 16px;
}

.main-bg
{
	/* background-image: url("../images/main_bg.png"); */
    /* background-repeat: repeat; */
    background-color: #e9ebee
}

.panel-custom {
   	border-color: #dcdcdc;
}

.panel-custom > .panel-heading {
    color: #fff;
    background-color: #0069A0;
    border-color: #dcdcdc;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0);
    /* background-image: linear-gradient(#0069A0, #0069A0 60%, #1d9ce5); */
}

.panel-custom > .panel-heading > .box-icon > a > i.glyphicon {
	color: #0069A0;
}

.panel-custom > .panel-heading > .panel-title {
    font-weight: bold;
    color: #ffffff;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 14px;
    border: 1px solid transparent;
}

@media screen and (min-width: 1024px) {
	.search-more {
		width:5.5em;
		display:inline-block;
		padding-top: 10px;
	}
}
@media screen and (max-width: 1199px) {
	.search-more {
		width:4.3em;
		display:inline-block;
		padding-top: 10px;
	}
}

/* table {
    table-layout: fixed;
    word-wrap: break-word;
} */

.history .title {
	color: #0069A0;
}
.history .left-arrow {
	width: 0;
  	height: 0;
  	border-top: 20px solid transparent;
  	border-bottom: 20px solid transparent;
  	border-right:20px solid #0069A0;
}
.history .line {
	margin-left: 15px;
	border-left: 1px solid #0069A0;
}
.history .left-content {
	margin: 10px 0px 10px 20px;
    width: 150px;
    height: 46px;
    background-color: #0069A0;
    position: relative;
    color: #FFF;
}
.history .left-content:after {
    content: '';
    position: absolute;
    top: 0px;
    left: -35px;
    width: 0;
    height: 0;
    border: 23px solid transparent;
    border-right: 12px solid #0069A0;
}
.history .right-content {
	margin: 10px 0px 10px 0px;
}
.history .right-content .box {
	line-height: 46px;
	border: 1px solid #0069A0;
}
.popover {
	font-family: THSarabunNew;
	max-width:350px;
}
.popover-content {
	color: #000;
	padding: 10px 0 10px 0;
	height: auto !important;
	overflow-y: auto;
}
.glyphicon.glyphicon-one-fine-dot:before {
	position: relative;
	top: 5px;
	left: -12px;
    content: "\25cf";
    font-size: 2em;
    color: #fff;
    text-shadow: 1px 0 0 #0069A0, -1px 0 0 #0069A0, 0 1px 0 #0069A0, 0 -1px 0 #0069A0, 1px 1px #0069A0, -1px -1px 0 #0069A0, 1px -1px 0 #0069A0, -1px 1px 0 #0069A0;
}

.header-action {
	padding-right:30px;
}

.label-task-A {
	background-color: #999999;
}
.label-task-N {
	background-color: #2e7bb2;
}
.label-task-P {
	background-color: #51c1db;
}
.label-task-W {
	background-color: #ff986e;
}
.label-task-C {
	background-color: #51b867;
}

.has-error .cke{
	border-color: #a94442;
}

.has-error .select2-selection {
	border-color: #a94442;
}

.has-error .select2-selection .select2-selection__arrow {
	background: #f2dede;
}

.has-error .select2-selection .select2-selection__clear {
	color: #a94442;
}

.has-error .select2-container--classic .select2-selection--single .select2-selection__arrow b
{
    border-color: #a94442 transparent transparent transparent;
}

.container-other-menu
{
    padding-top: 10px;
    padding-right: 20px;
}

.other-menu, .other-menu:hover, .other-menu:focus
{
	color: #ffffff;
	cursor: pointer;
}
.text-condition {
	color:#b4aaaa
}
.task-file-upload .plupload_wrapper {
	min-width: initial;
}

.task-file-upload .ui-widget-header.plupload_header {
	display: none;
}

.task-file-upload .plupload_content.plupload_dropbox {
	top: 28px;
}


.select2-container--classic .select2-selection--single .select2-selection__rendered {
    line-height: 35px;
}
/* .mainHead {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0);
    height: 40px;
	background-image: linear-gradient(#54b4eb, #0069A0 60%, #1d9ce5);
	border-bottom: 1px solid #178acc;
	line-height: 35px;
	} */
.panel-heading{
    height: 40px;
}
.panel-custom .panel-heading .panel-title {
    line-height: 35px;
	}
.panel-custom .panel-heading .panel-title i{
	top: 3px;
    position: relative;
    margin-right: 3px;
}
.navbar {
   min-height: 75px;
}
.navbar-nav.top-menu > li > a {
   padding: 13px 10px;
   height: 74px;
   min-width: 70px;
}
.form-search{
	margin-top: 10px;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
.navbar-default .top-menu > li > a:focus{
	color: #fff;
}
.txt-gray{
	color: #333;
}
.bold{
	font-weight: bold;
}

.tabs-form > li > a {
   padding: 5px 15px;
}
/* .panel-body > ul > li > a{
	padding: 5px 15px;
} */

.panel-body h4{
	margin-bottom: 0px;
	margin-top: 0px;
}
.box-icon {
   top: 3px;
   right: -5px;
   position: relative;
}

/*SideMenu*/
.nav-pills > li > a > i {
	top: 3px;
	position: relative;
	margin-right: 3px;
}
.side-container{
  padding: 10px 0px;
  background-color: #eeeeee;
  margin: 0px;
}
.side-topic{
	position: relative;
  top: 3px;
}
.side-title{
	right: 13px;
  font-size: 22px;
  font-weight: bold;
  color: #555;
}
.side-btn{
  padding: 0px 10px;
}
.btn-disable{
    color: #aaa;
    background-color: #ccc;
}
.btn-top-active{
	background-color: #178acc;
	color: #fff;
}
.btn-active{
	background-color: #0069A0;
	color: #fff;
}
.sidebar-nav {
    min-width: 70px;
}


.select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #444;
}

/* modal */
.modal-header {
    padding: 15px 25px 8px 25px;
}
.modal-body{
    padding: 15px 25px;
}
.modal-footer {
    padding: 10px 25px;
}
.modal-header .close {
    margin-top: -7px;
    font-size: 30px;
}


.news-body-rm {
    padding: 0px 5px 0px 0px;
}
.news-detail-rm {
    margin-top: 7px;
    color: #555555;
    text-overflow: ellipsis;
    max-height: 8em;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 20px;
}
.txt-des-rm {
    font-size: 16px;
    color: #888;
}

.select2-selection--multiple .select2-selection__rendered {
	width: 100%;
}

.select2-selection--multiple .select2-selection__rendered .select2-search .select2-search--inline {
	width: 100%;
}

.select2-selection--multiple .select2-selection__rendered .select2-search .select2-search--inline .select2-search__field{
	width: 100% !IMPORTANT;
}

.news-body{
	padding: 15px 5px 0px 5px;
}
.news-detail{
	margin-top: 5px;
	color: #555555;
	text-overflow: ellipsis;
	height: 2em;
	overflow: hidden;
	margin-bottom: 10px;
	font-size: 20px;
}
.txt-topic{
	font-size: 24px;
	color: #0069A0;
	font-weight: bold;
	margin-bottom: 10px;
}
.txt-des{
	font-size: 16px;
	color: #888;
	padding-left: 5px;
}

/* news-detail */
.txt-des-detail {
    font-size: 16px;
    color: #888;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.news-body-detail{
    padding: 10px 30px 50px 30px;
    overflow-x: hidden;
    overflow-y: visible;
}
.news-body-detail img{
	max-width: 100%;
	object-fit: contain;
}
.tag-link{
	font-size: 18px;
	color: #0069A0;
	font-weight: bold;
}

.news-block {
	margin: 20px 0px;
}

.table>thead>tr>th {
	text-align: center;
}

textarea.form-control,pre{
	margin-bottom: 5px;
}

.dataTable-tailing {
	margin-top : -1.8em;
	display: block;
	position: relative;
	z-index: 1;
}

.plupload_view_list .plupload_file_size, .plupload_view_list .plupload_file_status, .plupload_filelist_footer .plupload_file_size, .plupload_filelist_footer .plupload_file_status {
    text-align: right;
    width: 100px;
}

.plupload_view_list div.plupload_file_status {
    right: 130px;
}

.plupload_button.plupload_start {
	display:none;
}

@media (min-width: 1200px){
	.container {
    	width: 1200px;
	}
}

.form-group .col-xs-1,
.form-group .col-sm-1,
.form-group .col-md-1,
.form-group .col-lg-1,
.form-group .col-xs-2,
.form-group .col-sm-2,
.form-group .col-md-2,
.form-group .col-lg-2,
.form-group .col-xs-3,
.form-group .col-sm-3,
.form-group .col-md-3,
.form-group .col-lg-3,
.form-group .col-xs-4,
.form-group .col-sm-4,
.form-group .col-md-4,
.form-group .col-lg-4,
.form-group .col-xs-5,
.form-group .col-sm-5,
.form-group .col-md-5,
.form-group .col-lg-5,
.form-group .col-xs-6,
.form-group .col-sm-6,
.form-group .col-md-6,
.form-group .col-lg-6,
.form-group .col-xs-7,
.form-group .col-sm-7,
.form-group .col-md-7,
.form-group .col-lg-7,
.form-group .col-xs-8,
.form-group .col-sm-8,
.form-group .col-md-8,
.form-group .col-lg-8,
.form-group .col-xs-9,
.form-group .col-sm-9,
.form-group .col-md-9,
.form-group .col-lg-9,
.form-group .col-xs-10,
.form-group .col-sm-10,
.form-group .col-md-10,
.form-group .col-lg-10,
.form-group .col-xs-11,
.form-group .col-sm-11,
.form-group .col-md-11,
.form-group .col-lg-11/* ,
.form-group .col-xs-12,
.form-group .col-sm-12,
.form-group .col-md-12,
.form-group .col-lg-12  */{
    position: relative;
    min-height: 1px;
    padding-right: 3px;
    padding-left: 3px;
}


@media (max-width: 860px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
   .navbar-nav .open .dropdown-menu {
       position: static;
       float: none;
       width: auto;
       margin-top: 0;
       background-color: transparent;
       border: 0;
       -webkit-box-shadow: none;
       box-shadow: none;
    }

	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
	    margin-right: -15px;
	    margin-left: -15px;
	}
}

@media only screen and (max-width: 767px) {
	.navbar-toggle {
		margin-left: 5px;
		margin-right: 0px;
		margin-top: 20px;
	}
}


/* swiper */
.swiper-button-next, .swiper-button-prev {
	width: 35px !important;
    height: 61px !important;
    top: 30% !important;
	}
.swiper-button-prev {
    background-image: url("../images/swiper-button-prev.svg") !important;
		left: 0px !important;
		background-size: 35px 61px !important;
		}
.swiper-button-next {
  background-image: url("../images/swiper-button-next.svg") !important;
	right: 0px !important;
    background-size: 35px 61px !important;
}
.swiper-container {
	width: 100%;
}
.swiper-slide {
	font-size: 18px;
	background: #fff;
	padding-bottom: 30px;
}


.label-round {
	padding: .7em .45em;
    border-radius: 2em;
    background-color: #3aaff2;
}

.Linkfont-Size{
	font-size:24px;
	font-family: THSarabunNew;
}


/* --------task------- */
.task-label-create{
	background-color: #a1a1a1;
    color: white;
    border-radius: 15px;
    font-size: 18px;
    padding: .2em .6em .15em;
}
.task-box{
	padding-bottom:25px;
}
.btn-edit-box{
    margin: 10px 0px 20px 0px;
}
.litem:last-child {
    padding-bottom: 20px;
}
/* --------task------- */

.label {
    padding: .2em .5em .1em;
}
.message-container {
	padding-top: 10px;
	padding-bottom: 10px;
}
.plus-icon {
	font-size: 16px;
}
.validate-message-panel {
	margin-bottom: 10px;
}
.popover-user-info {
	font-family: THSarabunNew; 
	font-size: 18px;
	color: #555;
}
.popover-user-header {
	font-size: 20px;
	color: #555;
}
.popover-user-icon {
	font-size: 20px;
    position: relative;
    top: 3px;
    padding-right: 3px;
    color: #555;
}
.popover.bottom > .arrow:after {
    border-bottom-color: #eee;
}
.popover.bottom > .arrow {
    top: -10px;
}
.popover-title {
    background-color: #eee;
}
.pre {
	word-break: normal;
}
body>.row{
	margin-right: 0px;
    margin-left: 0px;
}
a.notification-globe:link, a.notification-globe:visited, a.notification-globe:hover, a.notification-globe:active {
    text-decoration: none;
    border: none;
    outline: 0;
}

#select2-mformVISelect-results > li > ul > .select2-results__option 
 , #select2-mformCISelect-results > li > ul > .select2-results__option 
 , #select2-mformEDSelect-results > li > ul > .select2-results__option 
 , #select2-mformDESelect-results > li > ul > .select2-results__option {
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    -webkit-user-select: none;
}
.accordion-hide {
	display: none;
}
.accordion-active {
	background-color: #dee;
}

.accordion-icon {
	font-size: 12px;
    vertical-align: top;
}


.datedisable{ Background: #ffffff}


.datedisable[disabled] { Background: #eee}
