<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>Batch file read result</title>

<!-- My JS -->
<script th:src="@{/js/batchFileReadResult/batch-file-read-result.js}"></script>
</head>
<body layout:fragment="content">
<div ng-app="ctl10000SearchApp" class="content-wrapper">
   <div class="wrapper" ng-controller="ctl10000SearchCtrl">

		<div class="sidebar-nav">
			<div class="nav-canvas">
				<div class="nav-sm nav nav-stacked"></div>
			</div>
		</div>

							<div class="panel panel-custom head-panel">
									<div class="panel-heading"> <h2 class="panel-title">รายการ Batch file จากสถาบันการเงิน และบริษัทผู้รับชำระเงิน</h2></div>
									<div class="panel-body">
									
											<!-- criteria search -->
											<div class="form-group">
	
												<!-- row4 -->
												<div class="row row-no-padding">
													<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">ช่วงวันที่-เวลาส่งข้อมูล :</div>
													<datepicker-dir class="col-xs-11 col-sm-3 col-md-3 col-sm-3"
														ng-model="criteria.batchCreateDateFrom" format-date="dd/MM/yyyy"></datepicker-dir>
													<div class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right">ถึง :</div>
													<datepicker-dir class="col-xs-11 col-sm-3 col-md-3 col-sm-3"
														ng-model="criteria.batchCreateDateTo" format-date="dd/MM/yyyy"></datepicker-dir>
												</div>
												<!-- row3 -->
												<div class="row row-no-padding">
													<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">สถาบันการเงิน/ บริษัทผู้ให้บริการรับชำระเงิน :</div>
													<div class="col-sm-3 col-md-3">
														<select class="form-control" ng-model="criteria.bankId"
															ng-options="list.id as list.desc for list in bankList">
															<option value="">--กรุณาเลือก--</option>
														</select>
													</div>
													<div class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right">สถานะ :</div>
													<div class="col-sm-3 col-md-3">
														<select class="form-control" ng-model="criteria.status">
															<option value="">--ทั้งหมด--</option>
															<option value="1">Success</option>
															<option value="2">InvalidFormat</option>
															<option value="3">Pending</option>
														</select>
													</div>
												</div>
												<!-- row3 -->
												<div class="row row-no-padding">
													<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">ประเภทของ Batch file :</div>
													<div class="col-sm-3 col-md-3">
														<select class="form-control" ng-model="criteria.batchTypeId">
															<option value="">--ทั้งหมด--</option>
															<option value="1">EDC</option>
															<option value="2">CR_DR</option>
															<option value="3">BillPayment</option>
															<option value="4">Statement</option>
														</select>
													</div>
												</div>
											</div>
												
												
											
											
												<!-- button search -->
												<div class="form-group">
													<!-- row7 -->
													<div class="row">
														<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
															<button type="button" id="searchBtn" class="btn btn-primary btn-style" ng-click="search();">
																<span class="glyphicon glyphicon-search"></span> ค้นหา
															</button>
		
															<button type="button" id="searchBtn" class="btn btn-primary btn-style">
																<span class="glyphicon glyphicon-refresh"></span> ล้างข้อมูล
															</button>
														</div>
													</div>
												</div>
											
												<!--  -->
												<div class="form-group">
													<!-- row8 -->
													<div class="row">
														<div class="col-md-6 text-left ">
															<button type="button" id="searchBtn" class="btn btn-primary btn-style">
															<span class="glyphicon glyphicon-print"></span> Export Excel File
														</button>
													</div>
													<div class="col-md-6">
														<div class="col-md-7 text-right">
															<span>แสดงหน้าละ&nbsp;</span>
														</div>
														<div class="col-md-3">
															<select class="form-control" ng-model="perPages"
																	ng-change="pageChanged()"
																	ng-options="selectedItem as selectedItem for selectedItem in values">
															</select>
														</div>
														<div class="col-md-2">
															<span>&nbsp;รายการ</span>
														</div>											
													
													</div>												
												</div>
											</div>
										
											<!-- search result -->
											<div class="form-group">
												<div class="row">
													<div class="box-body table-responsive col-md-12">
														<table id="example2" class="table table-bordered table-hover">
															<thead>
																<tr>
																	<th><input id="checkBox" type="checkbox"></input></th>
																	<th>สถาบันการเงิน/ บริษัทผู้ให้บริการรับชำระเงิน</th>
																	<th>ประเภทของ Batch file</th>
																	<th>วันที่-เวลาส่งข้อมูล</th>
																	<th>ชื่อไฟล์</th>
																	<th>จำนวนรายการ</th>
																	<th>จำนวนเงินรวม</th>
																	<th>สถานะ</th>
																	<th>วันที่-เวลาส่งเมล</th>
																</tr>
															</thead>
															<tbody>
																<tr ng-repeat="data in sliceData2List">
																	<td><input id="checkBox" type="checkbox"></input></td>
																	<td>{{data.bankNameTH}}</td>
																	<td class="text-center">
																		<span ng-if="data.batchTypeId=='1'">EDC</span>
																		<span ng-if="data.batchTypeId=='2'">CR_DR</span>
																		<span ng-if="data.batchTypeId=='3'">BillPayment</span>
																		<span ng-if="data.batchTypeId=='4'">Statement</span>
																	</td>
																	<td>{{data.batchCreateDate | date :'dd/MM/yyyy hh:mm:ss'}}</td>
																	<td>{{data.batchFileName}}</td>
																	<td>{{data.batchAllRow}}</td>
																	<td>{{data.batchAllAmount | number:2}}</td>
																	<td class="text-center">
																		<span ng-if="data.status=='1'">Success</span>
																		<span ng-if="data.status=='2'">InvalidFormat</span>
																		<span ng-if="data.status=='3'">Pending</span>
																	</td>
																	<td></td>
																</tr>
															</tbody>
														</table>
													</div>								
												</div>
												
												<div class="row">
													<div class="col-xs-10 col-sm-6 col-md-6 col-lg-5 col-xs-push-1 col-sm-push-0 col-md-push-0 text-xs-center text-sm-right text-md-right">
														<pre>ผลการค้นหาทั้งหมด {{totalItems}}  รายการ (แสดงรายการที่ {{from+1}} ถึง {{to}} )  </pre>
													</div>
													<div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-xs-center text-sm-right text-md-right">
														<ul uib-pagination="" total-items="totalItems"
															ng-model="currentPage" max-size="5" class="pagination-sm"
															items-per-page="perPages" boundary-links="true"
															num-pages="numPages" ng-change="pageChanged()"></ul>
													</div>
												</div>
																							
											</div>
											
									</div>
							</div>
								
	</div>
</div>

</body>
</html>