<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main-template">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>แก้ไขรหัสผ่าน</title>

    <!-- My JS -->
    <!-- <script th:src="@{/js/profile/citizenProfile.js}"></script> -->
    	<script th:src="@{/bower_components/angularjs-captcha/dist/angularjs-captcha.min.js}"></script>
    <script th:src="@{/js/register/registerCitizen.js}"></script>

</head>
<body layout:fragment="content">
	<div ng-app="registerCitizenApp" class="content-wrapper">
		<div class="wrapper" ng-controller="registerCtrl">

				<form id="form" ng-submit="changePassword()">
								
    <div class="sidebar-nav">
        <div class="nav-canvas">
            <div class="nav-sm nav nav-stacked"></div>
        </div>
    </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="container col-sm-12 col-md-12 col-xs-12">
                            <div class="panel panel-custom">
                                <div class="panel-heading">
                                    <h2 class="panel-title">แก้ไขรหัสผ่าน</h2>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">

                                        <!-- Panel 3 -->
                                        <uib-accordion close-others="false">
                                            <div uib-accordion-group="" class="panel-default"
                                                 heading="ข้อมูลผู้ใช้งานและรหัสผ่าน" is-open="true"
                                                 is-disabled="false">

                                                <!-- ROW 1	-->
                                                <div class="row" style="min-height:30px">
                                                    <div class="col-md-3 text-right ">รหัสผู้ใช้งาน :</div>
                                                    <div class="col-md-3">
                                                        <span th:text="${login}"></span>
                                                    </div>
                                                </div><!-- ROW 1	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right  ">รหัสผ่าน :</div>
														<div class="col-sm-3 col-md-3">
															<input type="password" name="pwd" id="pwd" ng-model="userBean.password" class="form-control" placeholder="รหัสผ่าน" />
														</div>
													</div>
													<!-- ROW 1	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right  ">ยืนยันรหัสผ่าน :</div>
														<div class="col-sm-3 col-md-3">
															<input type="password" name="cfpwd" id="cfpwd" ng-model="userBean.cfpwd" class="form-control" placeholder="ยืนยันรหัสผ่าน" />
														</div>
													</div>
                                                <div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">กรุณากรอกสิ่งที่ท่านเห็น :</div>
														<div class="col-sm-4 col-md-3">
															<input	class="form-control"
																	  type="text"
																	  id="captchaCode"
																	  name="captchaCode"
																	  ng-model="userBean.captcha"
																	  correct-captcha=""
																	  required="required"
															/>
														</div>
													</div>
													<!-- ROW 2	-->
													<div class="row row-no-padding" style="min-height:80px">
														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right "></div>
														<div class="col-sm-4 col-md-3">
															<!--<div class="g-recaptcha" ng-model="captcha" data-sitekey="6LceEj0UAAAAAH5fMpcE97_MpnxxG3UTro7wBOkI"></div>-->
															<botdetect-captcha styleName="spiderWeb"></botdetect-captcha>
														</div>

													</div>
                                                <!-- ROW 1	-->
<!--                                                 <div class="row" style="min-height:30px"> -->
<!--                                                     <div class="col-md-3 text-right ">กรุณากรอกสิ่งที่ท่านเห็น :</div> -->
<!--                                                     <div class="col-md-3"> -->
<!--                                                         <input type="text" name="captcha" id="captcha" class="form-control" placeholder="CAPTCHA" /> -->
<!--                                                     </div> -->
<!--                                                 </div> -->
<!--                                                 ROW 2	 -->
<!--                                                 <div class="row" style="min-height:80px"> -->
<!--                                                     <div class="col-md-3 text-right "></div> -->
<!--                                                     <div class="col-md-3"> -->
<!--                                                         <img id="imgCaptcha" style="width: 165px;height: 46px;" th:src="@{/images/u16477.png}" /> -->
<!--                                                         <img id="imgCaptcha" style="width: 74px;height: 43px;" th:src="@{/images/u16478.png}" /> -->
<!--                                                     </div> -->
<!--                                                 </div> -->
                                                <!-- ROW 3	-->
                                                <div class="row" style="min-height:30px">
                                                    <div class="col-md-6 text-right">
                                                        <button type="button" id="saveBtn" class="btn btn-primary" ng-click="changePassword()">
                                                            <span class="glyphicon glyphicon-floppy-disk"></span> แก้ไขรหัสผ่าน
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>

                                        </uib-accordion>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>

<script type="text/javascript" th:utext="'var ctx = \'' + ${@baseUrlService.baseUrl} + '\';'" ></script>
</body>
</html>