<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="refresh" content="900" />

	<title>e-Payment</title>

	<!-- Font Style -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/fonts/THSarabunNew-Bold/styles.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/fonts/THSarabunNew/styles.css}" />
		<!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" th:href="@{/lib/font-awesome/css/font-awesome.min.css}"/>

	<!-- The styles -->
	<link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/css/bootstrap.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/lib/select2/css/select2.min.css}" />

	<!-- My CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

	<!--  JQuery -->
	<script th:src="@{/lib/jquery/jquery-2.2.1.min.js}"></script>

	<!-- Bootstrap -->
	<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/lib/select2/js/select2.min.js}"></script>

	<!-- My JS -->
	<script th:src="@{/js/wisesoft.js}"></script>
	<script th:src="@{/js/login.js}"></script>
	<script th:src="@{/js/event.js}"></script>


	<script>
		$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip();
		});
	</script>

	<!-- swiper -->
	<link rel="stylesheet" th:href="@{/lib/swiper/3.4.0/css/swiper.min.css}"/>
	<script th:src="@{/lib/swiper/3.4.0/js/swiper.min.js}"></script>
	<script th:src="@{/lib/swiper/3.4.0/js/swiper.jquery.min.js}"></script>

	<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/home_icon.png}"  />
	<style>
		body{
			background-image: url('images/main_bg.png');
		}
		.txt-login{
			font-size: 22px;
    		color: #2fa4e7;
		}
		.container{
				max-width: 1280px;
		}
		.login-container{
			background-color: #dff2fd; background-image: url('images/login_bg.png'); height: 1170px;
		}
		.login-logo{
			max-width: 85px; margin: 20px; margin-bottom: 40px;
		}
		.news-container {
			background-color: #2b5972;  background-image: url('images/login_bg.png');
			background-repeat: no-repeat;  background-position: center; background-size: 60%;
		}
		.txt-gray{
			color: #808080;
		}
		.txt-navy{
			color:#113344;
		}
		.txt-info{
			color: #fff;
			font-size: 18px;
			padding: 5px;
		}
		.line{
			border-style: none none solid none;  border-width: thin; border-color: #cccccc;
		}

		.forgot-error {
			position:relative;
		}
		.forgot-error .help-block {
			left: 60px; !important
		}
		.banner{
			margin-bottom: 20px;
		}
		@media (max-width:991px){
			.banner{
				display: none;
			}
		}
		@media (min-width:992px){
			.banner-m{
				display: none;
				padding: 0px;
			}
		}
	</style>


	<!-- Plug In JS -->
	<script th:src="@{/lib/jquery/jquery.number.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery.numeric.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery.mask.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery.validate.js}"></script>
	<script th:src="@{/lib/jquery/jquery.form.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery.deserialize.min.js}"></script>
	<script th:src="@{/lib/jquery/additional-methods.min.js}"></script>
	<script th:src="@{/lib/jquery/validate-local/messages_th.js}"></script>

	<script th:inline="javascript" th:include="include/enableAjaxSubmit::enableAjaxSubmit">
	    var ctx = /*[[@{/}]]*/;
	</script>

	<!-- Custom JS -->
	<script th:src="@{/js/wisesoft.js}"></script>
	<script th:src="@{/js/util.js}"></script>
	<script th:src="@{/js/cgd.core.js}"></script>
	<script th:src="@{/js/cgd.loading.js}"></script>
	<script src="" th:src="@{/js/formValidation.js}"></script>
	<script src="" th:src="@{/js/events2.js}"></script>
	<th:block th:utext="'&lt;!--[if lt IE 10]&gt;'"></th:block>
	      <script th:src="@{/js/event2ForIE9.js}"></script>
	<th:block th:utext="'&lt;![endif]--&gt;'"></th:block>

	<script>
		/* <![CDATA[ */

			$(document).ready(function() {

				$('#forgotPasswordSection').hide();
				$('#forgotPasswordSuccessSection').hide();

				$('.forgot-password-btn').on('click', function() {
					$('#loginSection').fadeOut(400, function() {
						$('#forgotPasswordSection').fadeIn();
					});
				});
				
				$('.login2-btn').on('click', function() {
					window.location.assign('login_goverment');
				});
				$('.register-btn').on('click', function() {
					//window.location.assign('register');
					//window.location.assign('login_citizen');
					var type = $("input[type='radio']:checked").val();
					if(type == '1')
					{
						window.location.assign('registerController/register?type=1');
					}
					else
					{
						window.location.assign('registerController/register?type=2');
					}
				});

				$('.forgot-back').on('click', function() {
					$('#forgotPasswordSection').fadeOut(400, function() {
						$('#loginSection').fadeIn();
					});
				});

				$('.forgot-success-back').on('click', function() {
					$('#forgotPasswordSuccessSection').fadeOut(400, function() {
						$('#loginSection').fadeIn();
					});
				});

				$('.forgot-submit').on('click', function() {

					if ($('#forgotPasswordForm').valid()) {
						$.ajax({
							type: 'POST',
							url: ctx + 'reset-password/forgot',
							data: $('#forgotPasswordForm').serialize(),
							success: function(response) {
								if (response) {
									$('.alert-forgot-false').addClass('hidden');
									$('#forgotPasswordSection').fadeOut(400, function() {
										$('#forgotPasswordSuccessSection').fadeIn();
									});
								} else {
									$('.alert-forgot-false').removeClass('hidden');
								}
							}
						});
					}

				});
				
			});

		/* ]]> */
	</script>

</head>
<body class="login">
	<div class="container">
		<!-- <div class="row banner-m">
			<div class="col-md-12" style="padding: 0px;">
				<img th:src="@{/images/banner_M.png}" style="width: 100%"/>
			</div>
		</div> -->
		<div class="row news-container">
      <div class="col-md-12 login-container">
        <div class="row text-center">
            <img th:src="@{/images/login_logo.png}" class="login-logo"/>
        </div>
		<div id="loginSection">
			<h3 class="text-center bold txt-navy">ยินดีต้อนรับเข้าสู่ระบบ</h3>

          <form th:action="@{/login/submit}" method="post" style="padding:20px; margin: 20px 0px;" data-toggle="validator">
			<fieldset>
				<div class="row form-group">
	       			<div th:if="${param.error} != null" class="col-md-12  alert alert-danger">
	       				ชื่อผู้ใช้งานหรือรหัสผ่านไม่ถูกต้อง
	       			</div>
	       			<div th:if="${param.disabled} != null" class="col-md-12 alert alert-danger">
	       				ผู้ใช้งานนี้ถูกระงับการใช้งาน โปรดติดต่อผู้ดูแลระบบ
	       			</div>
	       			<div th:if="${param.expired} != null" class="col-md-12 alert alert-danger">
	       				เซสชั่นหมดอายุ โปรดเข้าสู่ระบบอีกครั้ง
	       			</div>
				</div>
				<h4>ประชาชน/ภาคธุรกิจ</h4>
				<div class="form-group">
					<label class="form-label txt-login">ชื่อผู้ใช้งานระบบ</label>
					<div class="input-group input-group-lg">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input type="text" name="username" value="" class="form-control" placeholder="กรุณากรอกรหัสประจำตัวประชาชน 13 หลัก/ รหัสนิติบุคคล 13 หลัก" required="required" autocomplete="off"/>
					</div>
				</div>
				<div class="form-group">
					<label class="form-label txt-login">รหัสผ่าน</label>
					<div class="input-group input-group-lg">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						<input type="password" name="password" value="" class="form-control" placeholder="กรุณากรอกรหัสผ่าน" required="required" autocomplete="off"/>
					</div>
				</div>
				<div class="form-group">
					<label class="form-label txt-login">ประเภทผู้ใช้งาน</label>
					<div class="input-group input-group-lg">
						<input id="r1" name="rdIdentify" type="radio" value="1" checked="" /> ภาคประชาชน
						&nbsp;&nbsp;&nbsp;&nbsp;
						<input id="r2" name="rdIdentify" type="radio" value="2" /> ภาคธุรกิจ
					</div>
				</div>
			</fieldset>

			<div style="padding: 15px;text-align: center;">
				<div style="display: inline-block; float:left; text-align: left;">
					<a class="pointer login2-btn" style="color: blue;"><u>เข้าสู่ระบบภาครัฐ/กรมบัญชีกลาง</u></a>
				</div>
			</div>

            <div class="row" style="margin: 40px -15px;">
              <div class="col-md-12 line" ></div>
            </div>

            <div class="row" style="margin: 0px 0px 300px 0px;">
              <button type="submit" class="btn btn-primary btn-block" style="font-size: 22px;">
                <span class="glyphicon glyphicon-log-in"></span>
                เข้าสู่ระบบ
              </button>
							<div style="padding: 15px;text-align: center;">
								<div style="display: inline-block; float:left; text-align: left;">
									<a class="pointer register-btn" style="color: #808080;">ลงทะเบียน</a>
								</div>
								<div style="display: inline-block; float:right; text-align: right;">
								<a class="pointer forgot-password-btn" style="color: #808080;">ลืมรหัสผ่าน?</a>
								</div>
							</div>
            </div>
          </form>
        	</div>

        	<div id="forgotPasswordSection">
        		<h3 class="text-left bold" style="color:#113344;">ลืมรหัสผ่าน</h3>
        		<p>กรอกข้อมูลเพื่อรีเซ็ตรหัสผ่าน</p>
				<form id="forgotPasswordForm" method="post" style="padding:20px; margin: 40px 0px;" data-toggle="validator">
					<div class="row form-group alert-forgot-false hidden">
						<div class="alert alert-danger" role="alert">
							<strong><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> ข้อมูลไม่ถูกต้อง โปรดลองอีกครั้ง</strong>
						</div>
					</div>
					<div class="row form-group">
						<label class="form-label txt-login">อีเมล</label>
						<div class="forgot-error">
							<div class="input-group input-group-lg">
								<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
								<input type="email" name="email" class="form-control" placeholder="อีเมล" required="required" />
							</div>
						</div>
					</div>
					<div class="row form-group">
						<label class="form-label txt-login">เลขบัตรประจำตัวประชาชน</label>
						<div class="forgot-error">
							<div class="input-group input-group-lg">
								<span class="input-group-addon"><i class="fa fa-id-card"></i></span>
								<input type="text" name="citizenNo" class="form-control" placeholder="เลขบัตรประจำตัวประชาชน" required="required" data-validator="SSN" maxlength="13"/>
							</div>
						</div>
					</div>

	            	<div class="row" style="margin: 40px -15px;">
	              		<div class="col-md-12" style="border-style: none none solid none;    border-width: thin;    border-color: #cccccc;"></div>
	            	</div>

		            <div class="row" style="margin: 0px 0px 300px 0px;">
		            	<button type="button" class="btn btn-primary btn-block forgot-submit" style="font-size: 22px;">
		                	<span class="fa fa-key"></span> รีเซ็ตรหัสผ่าน
						</button>
						<button type="button" class="btn btn-default btn-block forgot-back" style="font-size: 22px;">
		                	<span class="fa fa-chevron-left"></span> ย้อนกลับ
						</button>
	            	</div>
				</form>
        	</div>

        	<div id="forgotPasswordSuccessSection">
        		<h3 class="text-left bold" style="color:#113344;">กรุณาตรวจสอบอีเมลของท่าน</h3>
				<div style="padding:20px; margin: 40px 0px;">
					<div class="row form-group">
						<div class="col-md-12">
							<label class="control-label">
								<h4 style="color:#113344;">ระบบได้ทำการส่งขั้นตอนการรีเซ็ตรหัสผ่านไปยังอีเมลที่ระบุไว้เรียบร้อยแล้ว</h4>
							</label>
						</div>
					</div>
	            	<div class="row" style="margin: 40px -15px;">
	              		<div class="col-md-12" style="border-style: none none solid none;    border-width: thin;    border-color: #cccccc;"></div>
	            	</div>

		            <div class="row" style="margin: 0px 0px 450px 0px;">
						<button type="button" class="btn btn-info btn-block forgot-success-back" style="font-size: 22px;">
		                	<span class="fa fa-chevron-left"></span> กลับไปเข้าสู่ระบบ
						</button>
	            	</div>
	            </div>
        	</div>

					<img th:src="@{/images/login_graphic.png}" style="width: 100%; position: absolute;right: 0px;bottom: 0px; max-height: 400px;"/>
      </div>
		</div>
	</div>
</body>
</html>
