<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/login/jquery-ui-themes.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/axure_rp_page.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/styles.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/styles(1).css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/font-awesome.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/thsarabunnew.css}" />
	
	<!-- copy zone -->
	
	<!-- Font Style -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/fonts/THSarabunNew/styles.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/fonts/THSarabunNew-Bold/styles.css}" />
	
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/bower_components/select2-bootstrap-css/select2-bootstrap.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/bower_components/angucomplete/angucomplete.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/bower_components/angucomplete/angucomplete.css}" />

	
	<!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" th:href="@{/bower_components/angular-bootstrap/ui-bootstrap-csp.css}"/>
	
	<!-- Plug-In CSS -->

<!-- 	AngularJS -->
		<script th:src="@{/bower_components/angular/angular.js}"></script>
				<script th:src="@{/bower_components/angular-route/angular-route.js}"></script>
				<script th:src="@{/bower_components/angular-ui-router/release/angular-ui-router.js}"></script>
				<script th:src="@{/bower_components/angular-resource/angular-resource.js}"></script>
				<script th:src="@{/bower_components/angular-animate/angular-animate.js}"></script>
				<script th:src="@{/bower_components/angular-aria/angular-aria.js}"></script>
				<script th:src="@{/bower_components/angular-messages/angular-messages.js}"></script>
				<script th:src="@{/bower_components/angular-sanitize/angular-sanitize.js}"></script>
				<script th:src="@{/bower_components/angular-touch/angular-touch.js}"></script>
				<script th:src="@{/bower_components/angular-bootstrap/ui-bootstrap.js}"></script>
				<script th:src="@{/bower_components/angular-bootstrap/ui-bootstrap-tpls.js}"></script>
				<script th:src="@{/bower_components/angular-cookies/angular-cookies.js}"></script>
				<script th:src="@{/bower_components/ng-idle/angular-idle.js}"></script>
				<script th:src="@{/bower_components/jquery/dist/jquery.js}"></script>
				<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.js}"></script>
				<script th:src="@{/bower_components/jquery-placeholder/jquery.placeholder.js}"></script>
				<script th:src="@{/bower_components/select2/select2.js}"></script>
				<script th:src="@{/bower_components/angucomplete/angucomplete.js}"></script>
				<script th:src="@{/bower_components/directive/datepicker/datepicker.js}"></script>


				
				
				
				
	<!-- My CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	<!-- Custom JS -->
	<script type="text/javascript" th:utext="'var ctx = \'' + ${@baseUrlService.baseUrl} + '\';'" ></script>
	<script th:src="@{/js/wisesoft.js}"></script>
	<script th:src="@{/js/util.js}"></script>
	<script th:src="@{/js/cgd.core.js}"></script>
	<script th:src="@{/js/cgd.loading.js}"></script>
	<script th:src="@{/js/paging.js}"></script>
	<script th:src="@{/js/event.js}"></script>
	<script src="" th:src="@{/js/events2.js}"></script>
	<th:block th:utext="'&lt;!--[if lt IE 10]&gt;'"></th:block>
	<script th:src="@{/js/event2ForIE9.js}"></script>
	<th:block th:utext="'&lt;![endif]--&gt;'"></th:block>
	<script th:src="@{/js/common-document.js}"></script>
	
	<!-- Custom JS  AngularJS-->
	<script th:src="@{/js/provider/httpProvider.js}"></script>

 	<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/home_icon.png}"  />
	
	<!--  JQuery -->
	<script th:src="@{/lib/jquery/jquery-2.2.1.min.js}"></script>

	<!-- Bootstrap -->
	<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/lib/select2/js/select2.min.js}"></script>

	<!-- My JS -->
	<script th:src="@{/js/wisesoft.js}"></script>
	<script th:src="@{/js/login.js}"></script>
	<script th:src="@{/js/event.js}"></script>


	<script>
		$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip();
		});
	</script>
	<!-- Plug In JS -->
	<script th:src="@{/lib/jquery/jquery.number.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery.numeric.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery.mask.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery.validate.js}"></script>
	<script th:src="@{/lib/jquery/jquery.form.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery.deserialize.min.js}"></script>
	<script th:src="@{/lib/jquery/additional-methods.min.js}"></script>
	<script th:src="@{/lib/jquery/validate-local/messages_th.js}"></script>

	<script th:inline="javascript" th:include="include/enableAjaxSubmit::enableAjaxSubmit">
	    var ctx = /*[[@{/}]]*/;
	</script>
	<script>
		$(document).ready(function() {
			$('.register-btn').on('click', function() {
				var type = $("input[type='radio']:checked").val();
				if(type == '1')
				{
					window.location.assign('registerController/register?type=1');
				}
				else
				{
					window.location.assign('registerController/register?type=2');
				}
				//window.location.assign('login_citizen');
			});	
			
			$('#forgotPasswordSection').hide();
			
			$('.forgot-password-btn').on('click', function() {//alert('');
				$('#loginSection').fadeOut(400, function() {
					$('#forgotPasswordSection').fadeIn();
				});
			});
		});
	</script>
</head>
<body class="login">

    <div id="base" class="">

 <form th:action="@{/login}" id="loginSection" method="post" data-toggle="validator">
      <!-- Unnamed (Rectangle) -->
      <div id="u16394" class="ax_default shape">
        <div id="u16394_div" class=""></div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u16395" class="ax_default" data-left="53" data-top="266" data-width="208" data-height="58">

        <!-- Unnamed (Group) -->
        <div id="u16396" class="ax_default" data-left="53" data-top="266" data-width="208" data-height="58">

          <!-- Unnamed (Radio Button) -->
          <div id="u16397" class="ax_default radio_button">
            <label for="u16397_input" style="position: absolute; left: 0px;">
              <div id="u16397_text" class="text ">
                <p><span>ภาคประชาชน</span></p>
              </div>
            </label>
            <input id="u16397_input" type="radio" value="1" name="rdbGroup" checked="" />
          </div>

          <!-- Unnamed (Radio Button) -->
          <div id="u16398" class="ax_default radio_button">
            <label for="u16398_input" style="position: absolute; left: 0px;">
              <div id="u16398_text" class="text ">
                <p><span>ภาคธุรกิจ</span></p>
              </div>
            </label>
            <input id="u16398_input" type="radio" value="2" name="rdbGroup" />
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u16399" class="ax_default heading_2">
            <div id="u16399_div" class=""></div>
            <div id="u16399_text" class="text" style="left: 0px; width: 98px; transform-origin: 49px 12.5px 0px;">
              <p><span>ประเภทการใช้งาน :</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16400" class="ax_default shape">
        <div id="u16400_div" class=""></div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16401" class="ax_default shape">
        <div id="u16401_div" class=""></div>
        <div id="u16401_text" class="text " style="top: 2px; transform-origin: 189px 12px 0px;">
          <p><span>ประชาชน/ภาคธุรกิจ</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u16402" class="ax_default" data-left="76" data-top="63" data-width="339" data-height="62">

        <!-- Unnamed (Group) -->
        <div id="u16403" class="ax_default" data-left="76" data-top="63" data-width="339" data-height="26">

          <!-- Unnamed (Rectangle) -->
          <div id="u16404" class="ax_default heading_2">
            <div id="u16404_div" class=""></div>
            <div id="u16404_text" class="text " style="left: 0px; width: 75px; transform-origin: 37.5px 13px 0px;">
              <p><span>รหัสผู้ใช้งาน :</span></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u16405" class="ax_default text_field">
            <!-- <input id="u16405_input" type="text" value="กรุณากรอกรหัสประจำตัวประชาชน 13 หลัก/ รหัสนิติบุคคล 13 หลัก" /> -->
			<input id="u16405_input" type="text" name="username" class="form-control" placeholder="กรุณากรอกรหัสประจำตัวประชาชน 13 หลัก/ รหัสนิติบุคคล 13 หลัก" required="required" autocomplete="off"/>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u16406" class="ax_default" data-left="94" data-top="99" data-width="321" data-height="26">

          <!-- Unnamed (Rectangle) -->
          <div id="u16407" class="ax_default heading_2">
            <div id="u16407_div" class=""></div>
            <div id="u16407_text" class="text " style="left: 0px; width: 55px; transform-origin: 27.5px 13px 0px;">
              <p><span>รหัสผ่าน :</span></p>
            </div>
          </div>

          <!-- Unnamed (Text Field) -->
          <div id="u16408" class="ax_default text_field">
            <!-- <input id="u16408_input" type="text" value="กรุณากรอกรหัสผ่าน" /> -->
			<input id="u16408_input" type="password" name="password" class="form-control" placeholder="กรุณากรอกรหัสผ่าน" required="required" autocomplete="off"/>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u16409" class="ax_default" data-left="156" data-top="140" data-width="70" data-height="48">

        <!-- Unnamed (Rectangle) -->
        <div id="u16410" class="ax_default shape" style="cursor: pointer;">
          <div id="u16410_div" class="" tabindex="0"></div>
          <button type="submit" style="font-size: 12px;">
          <div id="u16410_text" class="text " style="top: 5px; transform-origin: 33px 12px 0px;">
            <p><span>&nbsp;&nbsp; &nbsp; Login</span></p>
          </div>
          </button>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u16411" class="ax_default fontawesome">
          <div id="u16411_div" class=""></div>
          <div id="u16411_text" class="text " style="left: 0px; width: 13px; transform-origin: 6.5px 9.5px 0px;">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16412" class="ax_default link_button">
        <div id="u16412_div" class=""></div>
        <div id="u16412_text" class="text " style="left: 2px; width: 57px; transform-origin: 28.5px 7.5px 0px;">
          <!-- <p><span style="text-decoration:underline;">ลืมรหัสผ่าน</span></p> -->
          <p><a class="pointer forgot-password-btn" style="text-decoration:underline;">ลืมรหัสผ่าน</a></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16413" class="ax_default link_button">
        <div id="u16413_div" class=""></div>
        <div id="u16413_text" class="text ">
          <p><a class="pointer register-btn" style="text-decoration:underline;">ลงทะเบียน</a></p>
        </div>
      </div>

</form>
      

<div id="forgotPasswordSection">
        		<!-- <h3 class="text-left bold" style="color:#113344;">ลืมรหัสผ่าน</h3>
        		<p>กรอกข้อมูลเพื่อรีเซ็ตรหัสผ่าน</p> -->
				<form id="forgotPasswordForm" th:action="@{/forgotPassword}" method="post" style="padding:20px; margin: 40px 0px;" data-toggle="validator">
					<!-- Unnamed (Rectangle) -->
      <div id="u16414" class="ax_default shape">
        <div id="u16414_div" class=""></div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16415" class="ax_default shape">
        <div id="u16415_div" class=""></div>
        <div id="u16415_text" class="text " style="top: 2px; transform-origin: 173px 12px 0px;" >
          <p><span>ลืมรหัสผ่าน</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16416" class="ax_default heading_2">
        <div id="u16416_div" class=""></div>
        <div id="u16416_text" class="text " style="left: 0px; width: 75px; transform-origin: 37.5px 13px 0px;" >
          <p><span>รหัสผู้ใช้งาน :</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16417" class="ax_default heading_2">
        <div id="u16417_div" class=""></div>
        <div id="u16417_text" class="text " style="left: 0px; width: 37px; transform-origin: 18.5px 13px 0px;" >
          <p><span>อีเมล :</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u16418" class="ax_default text_field">
        <input id="u16418_input" type="text" name="email" class="form-control" placeholder="Email Address" required="required" autocomplete="off" />
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u16419" class="ax_default text_field">
        <input id="u16419_input" type="text" name="username" class="form-control" placeholder="กรุณากรอกรหัสประจำตัวประชาชน 13 หลัก/ รหัสนิติบุคคล 13 หลัก" required="required" autocomplete="off" />
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16420" class="ax_default shape" style="cursor: pointer;">
        <div id="u16420_div" class="" tabindex="0"></div>
        <div id="u16420_text" class="text " style="top: 5px; transform-origin: 41px 12px 0px;" >
          <p><span>&nbsp;&nbsp; &nbsp; ลืมรหัสผ่าน</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16421" class="ax_default fontawesome">
        <div id="u16421_div" class=""></div>
        <div id="u16421_text" class="text " style="left: 0px; width: 13px; transform-origin: 6.5px 9.5px 0px;" >
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16422" class="ax_default shape" style="cursor: pointer;">
        <div id="u16422_div" class="" tabindex="0"></div>
        <div id="u16422_text" class="text ">
          <p><span>&nbsp;&nbsp; &nbsp; ล้างข้อมูล</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16423" class="ax_default fontawesome">
        <div id="u16423_div" class=""></div>
        <div id="u16423_text" class="text " style="left: 0px; width: 13px; transform-origin: 6.5px 9.5px 0px;" >
          <p><span></span></p>
        </div>
      </div>
				</form>
        	</div>

      
    </div>
  	
  	
</body>
</html>