<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template2">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>ลงทะเบียนสำหรับประชาชน</title>

<!-- My JS -->
<!-- <script th:src="@{/js/profile/citizenProfile.js}"></script> -->
	<script th:src="@{/bower_components/angularjs-captcha/dist/angularjs-captcha.min.js}"></script>
<script th:src="@{/js/register/registerCitizen.js}"></script>
	<!--<script src='https://www.google.com/recaptcha/api.js'></script>-->

</head>
<body>

	<section layout:fragment="content">
		<div class="sidebar-nav">
			<div class="nav-canvas">
				<div class="nav-sm nav nav-stacked"></div>
			</div>
		</div>
		<div ng-app="registerCitizenApp">
			<div ng-controller="registerCtrl">

								<div class="panel panel-custom">
									<div class="panel-heading"> 
										<h2 class="panel-title">ลงทะเบียนสำหรับประชาชน</h2>
									</div>
									<div class="panel-body">
										<form id="form" name="form"  ng-submit="saveUserCitizen()">
											<div class="form-group">
												<!-- Panel 1 -->
												<uib-accordion close-others="false">
													<div uib-accordion-group="" class="panel-default"
														heading="ข้อมูลผู้ใช้งาน" is-open="true"
														is-disabled="false">
														<!-- ROW 0 -->

														<div class="row row-no-padding" style="min-height:50px">
															<div class="col-xs-12 col-sm-2 col-md-3 text-xs-left text-sm-right text-md-right ">เลขประจำตัวประชาชน :</div>
															<div class="col-sm-4 col-md-2">
																<input type="text" ng-model="userBean.citizenid" required="required" ng-change="onlyDigits(userBean,'citizenid',userBean.citizenid)"
																	name="citizenid" id="citizenid" class="form-control" placeholder="เลขประจำตัวประชาชน" />

															</div>

															<div class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right ">วัน/เดือน/ปี เกิด  <span style="color:#FF0000;">*</span> :</div>
															<datepicker-dir class="col-md-2 col-sm-4 col-xs-11"
																ng-model="userBean.birthDate" format-date="dd/MM/yyyy"></datepicker-dir>
														</div>
													<!-- ROW 2	-->
													<div class="row row-no-padding" style="min-height:50px">
														<div class="col-xs-12 col-sm-2 col-md-3 text-xs-left text-sm-right text-md-right ">คำนำหน้า(ภาษาไทย) :</div>
														<div class="col-sm-4 col-md-2">
															<input type="text" ng-model="userBean.titleNameTH"
																 class="form-control" placeholder="คำนำหน้า(ภาษาไทย)" />
														</div>
														<div class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right" >ชื่อจริง(ภาษาไทย) :</div>
														<div class="col-sm-4 col-md-2">

															<input type="text" ng-model="userBean.fnameTH"
																 class="form-control" placeholder="ชื่อจริง(ภาษาไทย)" />
														</div>
													</div>
													<!-- ROW 3	-->
													<div class="row row-no-padding" style="min-height:50px">
														<div class="col-xs-12 col-sm-2 col-md-3 text-xs-left text-sm-right text-md-right ">ชื่อกลาง(ภาษาไทย) :</div>
														<div class="col-sm-4 col-md-2">

															<input type="text" ng-model="userBean.mnameTH"
																 class="form-control" placeholder="ชื่อกลาง(ภาษาไทย) " />
														</div>
														<div class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right">นามสกุล(ภาษาไทย) :</div>
														<div class="col-sm-4 col-md-2">
															<input type="text" ng-model="userBean.lnameTH"
																 class="form-control" placeholder="นามสกุล(ภาษาไทย)" />
														</div>
													</div>
																										<!-- ROW 4	-->
													<div class="row row-no-padding" style="min-height:50px">
														<div class="col-xs-12 col-sm-2 col-md-3 text-xs-left text-sm-right text-md-right">คำนำหน้า(ภาษาอังกฤษ) :</div>
														<div class="col-sm-4 col-md-2">

															<input type="text" ng-model="userBean.titleNameEN"
																 class="form-control" placeholder="คำนำหน้า(ภาษาอังกฤษ)" />
														</div>
														<div class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right">ชื่อจริง(ภาษาอังกฤษ) :</div>
														<div class="col-sm-4 col-md-2">
															<input type="text" ng-model="userBean.fnameEN"
																 class="form-control" placeholder="ชื่อจริง(ภาษาอังกฤษ)" />
														</div>
													</div>
													
																										<!-- ROW 5	-->
													<div class="row row-no-padding" style="min-height:50px">
														<div class="col-xs-12 col-sm-2 col-md-3 text-xs-left text-sm-right text-md-right">ชื่อกลาง(ภาษาอังกฤษ) :</div>
														<div class="col-sm-4 col-md-2">

															<input type="text" ng-model="userBean.mnameEN"
																 class="form-control" placeholder="ชื่อกลาง(ภาษาอังกฤษ) :" />
														</div>
														<div class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right">นามสกุล(ภาษาอังกฤษ) :</div>
														<div class="col-sm-4 col-md-2">
															<input type="text" ng-model="userBean.lnameEN"
																 class="form-control" placeholder="นามสกุล(ภาษาอังกฤษ)" />
														</div>
													</div>
													
														<!-- ROW 1	-->
														<div class="row row-no-padding" style="min-height:50px">
															<div class="col-xs-12 col-sm-2 col-md-3 text-xs-left text-sm-right text-md-right ">อีเมล  <span style="color:#FF0000;">*</span> :</div>
															<div class="col-sm-4 col-md-2">
																<input type="email" ng-model="userBean.email" required="required"
																	name="email" id="email" class="form-control" placeholder="อีเมล" />
															</div>
															<div class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right ">เบอร์โทรศัพท์  <span style="color:#FF0000;">*</span> :</div>
															<div class="col-sm-4 col-md-2">
																<input type="text" ng-model="userBean.mobile" required="true" ng-chage="onlyDigits(userBean,'mobile',userBean.mobile)"
																	name="mobile" id="mobile" class="form-control" placeholder="เบอร์โทรศัพท์" />
															</div>
														</div>
													</div>
													
													<!-- ROW 4	-->
													<div class="row" style="min-height:30px">
														<div class="col-md-3" style="left: 20px; color:#53B3EB;">ที่อยู่สถานประกอบการ</div>
													</div>
													<!-- ROW 5	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-7 col-sm-3 col-md-3 col-lg-3 text-xs-left text-sm-right text-md-right ">บ้านเลขที่ :</div>
														<div class="col-xs-5 col-sm-2 col-md-1 col-lg-1 col-xs-pull-5 col-sm-pull-0 col-md-pull-0 col-lg-pull-0">
															<input type="text" ng-model="userBean.no" 
																	 name="no" id="no" required="required"
																	class="form-control" placeholder="บ้านเลขที่" />
														</div>
														<div class="col-xs-8 col-sm-3 col-md-2 col-lg-2 text-xs-left text-sm-right text-md-right col-sm-pull-1 col-md-pull-0 col-lg-pull-0">หมู่บ้าน/อาคาร/ห้องที่ :</div>
														<div class="col-xs-4 col-sm-2 col-md-1 col-lg-1 col-xs-pull-3 col-sm-pull-1 col-md-pull-0 col-lg-pull-0 ">
															<input type="text" ng-model="userBean.village"
																   class="form-control" placeholder="ห้องที่" />
														</div>
														<div class="col-xs-8 col-sm-1 col-md-2 col-lg-2 text-xs-left text-sm-right text-md-right col-sm-pull-1 col-md-pull-0 col-lg-pull-0 ">หมู่ที่ :</div>
														<div class="col-xs-4 col-sm-1 col-md-1 col-xs-pull-6 col-sm-pull-1 col-md-pull-0 col-lg-pull-0">
															<input type="text" ng-model="userBean.moo" required="required"
																	 name="moo" id="moo"
																	class="form-control" placeholder="หมู่ที่ " />
														</div>
														<!--<div class="col-md-1 text-right ">ตรอก :</div>-->
														<!--<div class="col-md-2">-->
															<!--<input type="text" ng-model="userBean.village"-->
																   <!--ng-value="userBean.village" name="village" id="village"-->
																   <!--class="form-control" placeholder="ตรอก" />-->
														<!--</div>-->

													</div>
													
													<!-- ROW 6	-->
													<div class="row row-no-padding" style="min-height:50px">
														<div class="col-sm-3 col-md-3 col-lg-3 text-xs-left text-sm-right text-md-right  ">ซอย  :</div>
														<div class="col-sm-4 col-md-2 col-lg-2 ">
															<input type="text" ng-model="userBean.soi"
																    name="soi" id="soi"
																   class="form-control" placeholder="ซอย" />
														</div>
														<div class="col-sm-1 col-md-1 col-lg-1 text-xs-left text-sm-right text-md-right  ">ถนน  :</div>
														<div class="col-sm-4 col-md-2 col-lg-2">
															<input type="text" ng-model="userBean.road" required="required"
																    name="road" id="road"
																   class="form-control" placeholder="ถนน" />
														</div>
														<div class="col-xs-12 col-sm-3 col-md-1 col-lg-1 text-xs-left text-sm-right text-md-right ">จังหวัด  :</div>
														<div class="col-sm-9 col-md-3 col-lg-2">
															<select class="form-control" required="required" ng-model="province" ng-options="opt as opt.desc for opt in dataProvince"
																ng-change="getAmphur(province.id)">
																<option value="">--กรุณาเลือก--</option>
															</select>
														</div>

													</div>
													
													<!-- ROW 7	-->
													<div class="row row-no-padding" style="min-height:80px">
														<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-xs-left text-sm-right text-md-right ">อำภอ/เขต :</div>
														<div class="col-sm-9 col-md-2 col-lg-2">
															<select class="form-control" ng-model="amphur" ng-options="opt as opt.desc for opt in dataAmphur"
																	ng-change="getTambon(amphur.id)" required="required">
																<option value="">--กรุณาเลือก--</option>
															</select>
														</div>
														<div class="col-xs-12 col-sm-3 col-md-1 col-lg-1 text-xs-left text-sm-right text-md-right ">ดำบล/แขวง  :</div>
														<div class="col-sm-9 col-md-2 col-lg-2">
															<select class="form-control" ng-model="tambon" ng-options="opt as opt.desc for opt in dataTambon"
																	ng-change="setTambonId(tambon.id)" required="required">
																<option value="">--กรุณาเลือก--</option>
															</select>
														</div>
														<div class="col-xs-12 col-sm-3 col-md-2 col-lg-1 text-xs-left text-sm-right text-md-left text-lg-right">รหัสไปรษณีย์  :</div>
														<div class="col-sm-3 col-md-2 col-lg-1 col-md-pull-1 col-lg-pull-0">
															<input type="text" ng-model="userBean.postCode" required="required"
																	 name="postCode" id="postCode"
																	class="form-control" placeholder="รหัสไปรษณีย์" />
														</div>
													</div>

												</uib-accordion>
												<!-- Panel 3 -->
												<uib-accordion close-others="false">
													<div uib-accordion-group="" class="panel-default"
														heading="การยืนยันตัวตน" is-open="true"
														is-disabled="false">

														<!-- ROW 1	-->
														<div class="row row-no-padding" style="min-height:30px">
															<div class="col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">กรุณาเลือกวิธีการยืนยันตัวตน :</div>
															<div class="col-sm-4 col-md-3">
																<input id="r1" name="verifiedType" ng-model="userBean.verifiedType" type="radio" value="1" checked="checked" ></input> รหัสผ่าน OTP
																&nbsp;&nbsp;&nbsp;&nbsp;
																<input id="r2" name="verifiedType" ng-model="userBean.verifiedType" type="radio" value="2"></input> อีเมล
															</div>
														</div><!-- ROW 1	-->
														<div class="row row-no-padding" style="min-height:30px">
															<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">รหัสผ่าน :</div>
															<div class="col-sm-4 col-md-3">
																<input type="password" name="pwd" id="pwd" ng-model="userBean.password" class="form-control" placeholder="รหัสผ่าน" required="required" minlength="4" maxlength="16"/>
															</div>
														</div>
														<!-- ROW 1	-->
														<div class="row row-no-padding" style="min-height:30px">
															<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">ยืนยันรหัสผ่าน :</div>
															<div class="col-sm-4 col-md-3">
																<input type="password" name="cfpwd" id="cfpwd" ng-model="userBean.cfpwd" class="form-control" placeholder="ยืนยันรหัสผ่าน" required="required" minlength="4" maxlength="16"/>
															</div>
														</div>

														<!-- ROW 1	-->
														<div class="row row-no-padding" style="min-height:30px">
															<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">กรุณากรอกสิ่งที่ท่านเห็น :</div>
															<div class="col-sm-4 col-md-3">
																<input	class="form-control"
																		type="text"
																		id="captchaCode"
																		name="captchaCode"
																		ng-model="userBean.captcha"
																		correct-captcha=""
																		  required="required"
																/>
															</div>
														</div>
														<!-- ROW 2	-->
														<div class="row row-no-padding" style="min-height:80px">
															<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right "></div>
															<div class="col-sm-4 col-md-3">
																<!--<div class="g-recaptcha" ng-model="captcha" data-sitekey="6LceEj0UAAAAAH5fMpcE97_MpnxxG3UTro7wBOkI"></div>-->
																<botdetect-captcha styleName="spiderWeb"></botdetect-captcha>
															</div>

														</div>
														<!-- ROW 3	-->
														<div class="row row-no-padding" style="min-height:30px">
															<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
																<button type="submit" id="saveBtn" class="btn btn-success btn-style">
																	<span class="glyphicon glyphicon-floppy-disk"></span> ลงทะเบียน
																</button>

																<button type="button" id="clearBtn" class="btn btn-danger btn-style">
																	<span class="glyphicon glyphicon-refresh"></span> ล้างข้อมูล
																</button>
															</div>
														</div>

													</div>

												</uib-accordion>
											</div>
										</form>
									</div>
								</div>
							
			</div>
		</div>
	</section>
<script type="text/javascript" th:utext="'var ctx = \'' + ${@baseUrlService.baseUrl} + '\';'" ></script>
</body>
</html>