<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="refresh" content="900" />

	<title>ลงทะเบียนประชาชน</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/jquery-ui-themes.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/axure_rp_page.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/styles.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/stylesRegisterCitizen.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/font-awesome.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/thsarabunnew.css}" />

	<!-- Font Style -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/fonts/THSarabunNew-Bold/styles.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/fonts/THSarabunNew/styles.css}" />
		<!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" th:href="@{/lib/font-awesome/css/font-awesome.min.css}"/>

	<!-- The styles -->
	<link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/css/bootstrap.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/lib/select2/css/select2.min.css}" />

	<!-- My CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

	<!--  JQuery -->
	<script th:src="@{/lib/jquery/jquery-2.2.1.min.js}"></script>

	<!-- Bootstrap -->
	<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/lib/select2/js/select2.min.js}"></script>

	<!-- My JS -->
	<script th:src="@{/js/wisesoft.js}"></script>
	<script th:src="@{/js/login.js}"></script>
	<script th:src="@{/js/event.js}"></script>
	<!-- <script th:src="@{/js/example/example2.js}"></script> -->
	
	<!-- 	AngularJS -->
		<script th:src="@{/bower_components/angular/angular.js}"></script>
				<script th:src="@{/bower_components/angular-route/angular-route.js}"></script>
				<script th:src="@{/bower_components/angular-ui-router/release/angular-ui-router.js}"></script>
				<script th:src="@{/bower_components/angular-resource/angular-resource.js}"></script>
				<script th:src="@{/bower_components/angular-animate/angular-animate.js}"></script>
				<script th:src="@{/bower_components/angular-aria/angular-aria.js}"></script>
				<script th:src="@{/bower_components/angular-messages/angular-messages.js}"></script>
				<script th:src="@{/bower_components/angular-sanitize/angular-sanitize.js}"></script>
				<script th:src="@{/bower_components/angular-touch/angular-touch.js}"></script>
				<script th:src="@{/bower_components/angular-bootstrap/ui-bootstrap.js}"></script>
				<script th:src="@{/bower_components/angular-bootstrap/ui-bootstrap-tpls.js}"></script>
				<script th:src="@{/bower_components/angular-cookies/angular-cookies.js}"></script>
				<script th:src="@{/bower_components/ng-idle/angular-idle.js}"></script>
				<script th:src="@{/bower_components/jquery/dist/jquery.js}"></script>
				<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.js}"></script>
				<script th:src="@{/bower_components/jquery-placeholder/jquery.placeholder.js}"></script>
				<script th:src="@{/bower_components/select2/select2.js}"></script>
				<script th:src="@{/bower_components/angucomplete/angucomplete.js}"></script>
				<script th:src="@{/bower_components/directive/datepicker/datepicker.js}"></script>

	

	<script th:src="@{/js/register/registerCitizen.js}"></script>
	<!-- Custom JS  AngularJS-->
	<script th:src="@{/js/provider/httpProvider.js}"></script>

	<script>
		$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip();
		});
	</script>

	<!-- swiper -->
	<link rel="stylesheet" th:href="@{/lib/swiper/3.4.0/css/swiper.min.css}"/>
	<script th:src="@{/lib/swiper/3.4.0/js/swiper.min.js}"></script>
	<script th:src="@{/lib/swiper/3.4.0/js/swiper.jquery.min.js}"></script>

	<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/home_icon.png}"  />
	<style>
		body{
			background-image: url('../images/main_bg.png');
		}
		.txt-login{
			font-size: 22px;
    		color: #2fa4e7;
		}
		.container{
				max-width: 1280px;
		}
		.login-container{
			background-color: #dff2fd; background-image: url('images/login_bg.png'); height: 1170px;
		}
		.login-logo{
			max-width: 85px; margin: 20px; margin-bottom: 40px;
		}
		.news-container {
			background-color: #2b5972;  background-image: url('images/login_bg.png');
			background-repeat: no-repeat;  background-position: center; background-size: 60%;
		}
		.txt-gray{
			color: #808080;
		}
		.txt-navy{
			color:#113344;
		}
		.txt-info{
			color: #fff;
			font-size: 18px;
			padding: 5px;
		}
		.line{
			border-style: none none solid none;  border-width: thin; border-color: #cccccc;
		}

		.forgot-error {
			position:relative;
		}
		.forgot-error .help-block {
			left: 60px; !important
		}
		.banner{
			margin-bottom: 20px;
		}
		@media (max-width:991px){
			.banner{
				display: none;
			}
		}
		@media (min-width:992px){
			.banner-m{
				display: none;
				padding: 0px;
			}
		}
	</style>


	<!-- Plug In JS -->
	<script th:src="@{/lib/jquery/jquery.number.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery.numeric.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery.mask.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery.validate.js}"></script>
	<script th:src="@{/lib/jquery/jquery.form.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery.deserialize.min.js}"></script>
	<script th:src="@{/lib/jquery/additional-methods.min.js}"></script>
	<script th:src="@{/lib/jquery/validate-local/messages_th.js}"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>

	<script th:inline="javascript" th:include="include/enableAjaxSubmit::enableAjaxSubmit">
	    var ctx = /*[[@{/}]]*/;
	</script>

	<!-- Custom JS -->
	<script th:src="@{/js/wisesoft.js}"></script>
	<script th:src="@{/js/util.js}"></script>
	<script th:src="@{/js/cgd.core.js}"></script>
	<script th:src="@{/js/cgd.loading.js}"></script>
	<script src="" th:src="@{/js/formValidation.js}"></script>
	<script src="" th:src="@{/js/events2.js}"></script>
	<th:block th:utext="'&lt;!--[if lt IE 10]&gt;'"></th:block>
	      <script th:src="@{/js/event2ForIE9.js}"></script>
	<th:block th:utext="'&lt;![endif]--&gt;'"></th:block>

	

</head>
<body class="login">

			<div class="row text-center">
			    <img th:src="@{/images/login_logo.png}" class="login-logo"/>
			</div>
<!-- <form th:action="@{/register/submit}" method="post" data-toggle="validator"> -->

<div ng-app="registerCitizenApp">
	<div ng-controller="registerCtrl">
	<input type="hidden" name="userType" value="1" ng-model="userBean.userType" />
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u16449" class="ax_default shape">
        <div id="u16449_div" class=""></div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16450" class="ax_default shape">
        <div id="u16450_div" class=""></div>
        <div id="u16450_text" class="text " style="top: 2px; transform-origin: 351px 12px 0px;">
          <p><span>ลงทะเบียนสำหรับประชาชน</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16451" class="ax_default heading_2">
        <div id="u16451_div" class=""></div>
        <div id="u16451_text" class="text " style="left: 0px; width: 47px; transform-origin: 23.5px 13px 0px;">
          <p><span>อีเมล </span><span style="color:#FF0000;">*</span><span> :</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u16452" class="ax_default text_field">
        <!-- <input id="u16452_input" type="text" value="supitsarah@gmail.com" /> -->
      	<input id="u16452_input" type="text" name="email" class="form-control" placeholder="email address" required="required" autocomplete="off" ng-model="userBean.email" />
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16453" class="ax_default heading_2">
        <div id="u16453_div" class=""></div>
        <div id="u16453_text" class="text " style="left: 0px; width: 143px; transform-origin: 71.5px 13px 0px;">
          <p><span>เบอร์โทรศัพท์เคลื่อนที่ </span><span style="color:#FF0000;">*</span><span> :</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u16454" class="ax_default text_field">
        <!-- <input id="u16454_input" type="text" value="0922326542" /> -->
      	<input id="u16454_input" type="text" name="mobile" class="form-control" placeholder="mobile number" required="required" autocomplete="off"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16455" class="ax_default heading_2">
        <div id="u16455_div" class=""></div>
        <div id="u16455_text" class="text " style="left: 0px; width: 149px; transform-origin: 74.5px 13px 0px;">
          <p><span>เลขประจำตัวประชาชน </span><span style="color:#FF0000;">*</span><span> :</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u16456" class="ax_default text_field">
        <!-- <input id="u16456_input" type="text" value="1234567898749" /> -->
		<input id="u16456_input" type="text" name="id_card" class="form-control" placeholder="รหัสประจำตัวประชาชน 13 หลัก" required="required" autocomplete="off" ng-model="userBean.citizenid" />
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16457" class="ax_default shape" style="cursor: pointer;">
        <div id="u16457_div" class="" tabindex="0"></div>
        <button type="button" id="saveBtn" ng-click="saveUser()" class="btn btn-primary">
        <div id="u16457_text" class="text ">
          <p><span>&nbsp;&nbsp; &nbsp; ลงทะเบียน</span></p>
        </div>
        </button>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16458" class="ax_default fontawesome">
        <div id="u16458_div" class=""></div>
        <div id="u16458_text" class="text " style="left: 0px; width: 13px; transform-origin: 6.5px 9.5px 0px;">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16459" class="ax_default shape" style="cursor: pointer;">
        <div id="u16459_div" class="" tabindex="0"></div>
        <div id="u16459_text" class="text " style="top: 5px; transform-origin: 37px 12px 0px;">
          <p><span>&nbsp;&nbsp; &nbsp; ล้างข้อมูล</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16460" class="ax_default fontawesome">
        <div id="u16460_div" class=""></div>
        <div id="u16460_text" class="text " style="left: 0px; width: 13px; transform-origin: 6.5px 9.5px 0px;">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16461" class="ax_default heading_2">
        <div id="u16461_div" class=""></div>
        <div id="u16461_text" class="text " style="left: 0px; width: 139px; transform-origin: 69.5px 13px 0px;">
          <p><span>กรุณากรอกสิ่งที่ท่านเห็น :</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u16462" class="ax_default text_field">
        <!-- <input id="u16462_input" type="text" value="CAPTCHA" /> -->
      	<input id="u16462_input" type="text" name="captcha" class="form-control" placeholder="CAPTCHA" required="required" autocomplete="off"/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u16463" class="ax_default radio_button">
        <label for="u16463_input" style="position: absolute; left: 0px;">
          <div id="u16463_text" class="text ">
            <p><span>รหัสผ่าน OTP</span></p>
          </div>
        </label>
        <input id="u16463_input" type="radio" value="radio" name="radioGroup1" checked="" />
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u16464" class="ax_default radio_button">
        <label for="u16464_input" style="position: absolute; left: 0px;">
          <div id="u16464_text" class="text ">
            <p><span>อีเมล</span></p>
          </div>
        </label>
        <input id="u16464_input" type="radio" value="radio" name="radioGroup1" />
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16465" class="ax_default heading_2">
        <div id="u16465_div" class=""></div>
        <div id="u16465_text" class="text " style="left: 0px; width: 168px; transform-origin: 84px 13px 0px;">
          <p><span>กรุณาเลือกวิธีการยืนยันตัวตน :</span></p>
        </div>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u16466" class="ax_default checkbox">
        <label for="u16466_input" style="position: absolute; left: 0px;">
          <div id="u16466_text" class="text ">
            <p><span>ยอมรับเงื่อนไขในการลงทะเบียน</span></p>
          </div>
        </label>
        <input id="u16466_input" type="checkbox" value="checkbox" />
      </div>

      <!-- Unnamed (Group) -->
      <div id="u16467" class="ax_default" data-left="410" data-top="95" data-width="283" data-height="26">

        <!-- Unnamed (Rectangle) -->
        <div id="u16468" class="ax_default heading_2">
          <div id="u16468_div" class=""></div>
          <div id="u16468_text" class="text " style="left: 0px; width: 107px; transform-origin: 53.5px 13px 0px;">
            <p><span>วัน/เดือน/ปี เกิด </span><span style="color:#FF0000;">* </span><span>:</span></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u16469" class="ax_default" data-left="529" data-top="96" data-width="164" data-height="25">

          <!-- Unnamed (Text Field) -->
          <div id="u16470" class="ax_default text_field">
            <!-- <input id="u16470_input" type="text" value="" style="" /> -->
            <input id="u16470_input" type="text" name="dob" class="form-control" placeholder="dd/mm/yyyy" required="required" autocomplete="off"/>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u16471" class="ax_default fontawesome">
            <div id="u16471_div" class=""></div>
            <div id="u16471_text" class="text " style="left: 0px; width: 13px; transform-origin: 6.5px 9.5px 0px;">
              <p><span></span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16472" class="ax_default heading_2">
        <div id="u16472_div" class=""></div>
        <div id="u16472_text" class="text " style="left: 0px; width: 55px; transform-origin: 27.5px 13px 0px;">
          <p><span>รหัสผ่าน :</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u16473" class="ax_default text_field">
        <!-- <input id="u16473_input" type="text" value="************" /> -->
      	<input id="u16473_input" type="password" name="password" class="form-control" placeholder="password" required="required" autocomplete="off" ng-model="userBean.password" />
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u16474" class="ax_default heading_2">
        <div id="u16474_div" class=""></div>
        <div id="u16474_text" class="text " style="left: 0px; width: 87px; transform-origin: 43.5px 13px 0px;">
          <p><span>ยืนยันรหัสผ่าน :</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u16475" class="ax_default text_field">
        <!-- <input id="u16475_input" type="text" value="************" /> -->
      	<input id="u16475_input" type="password" name="cfpassword" class="form-control" placeholder="confirm password" required="required" autocomplete="off" />
      </div>

        {{captcha}}
      <!-- Unnamed (Group) -->
        <div class="g-recaptcha" ng-model="captcha" data-sitekey="6LceEj0UAAAAAH5fMpcE97_MpnxxG3UTro7wBOkI"></div>
    </div>

	</div>
</div>
<!-- </form> -->
<script type="text/javascript" th:utext="'var ctx = \'' + ${@baseUrlService.baseUrl} + '\';'" ></script>
</body>
</html>