<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template2">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>ลงทะเบียนสำหรับภาคธุรกิจ</title>

<!-- My JS -->
	<script th:src="@{/bower_components/angularjs-captcha/dist/angularjs-captcha.min.js}"></script>
<script th:src="@{/js/register/registerCitizen.js}"></script>
	<!--<script src='https://www.google.com/recaptcha/api.js'></script>-->
<script>//alert($('#u14313'));
$(document).ready(function(){
	$('#chooseBtn').click( function() { 
		$( '#ufile' ).trigger( 'click' );
	} );
	
	$('#file').filestyle({
		'input' : true,
		'icon': false,
		'buttonBefore' : true,
		'buttonText' : 'เลือกไฟล์',
		'buttonName' : 'btn-upload-style',
		'placeholder' : 'ไม่ได้เลือกไฟล์ใด'
	});
});
function c(val){$( '#upfile' ).val(val);}


</script>
<style>
.form-control{ font-size: 14px;}

</style>
</head>
<body>
	<section layout:fragment="content">
		<div class="sidebar-nav">
			<div class="nav-canvas">
				<div class="nav-sm nav nav-stacked"></div>
			</div>
		</div>
		<div ng-app="registerCitizenApp">
			<div ng-controller="registerCtrl">
							<form id="form" name="form" ng-submit="saveUserCorp()">
								<div class="panel panel-custom">
									<div class="panel-heading"> 
										<h2 class="panel-title">ลงทะเบียนสำหรับภาคธุรกิจ</h2>
									</div>
									<div class="panel-body">
										<div class="form-group">
											<!-- Panel 1 -->
											<uib-accordion close-others="false">
												<div uib-accordion-group="" class="panel-default"
													heading="ข้อมูลผู้ใช้งาน" is-open="true"
													is-disabled="false">
													<!-- ROW 0 -->
													<div class="row row-no-padding" style="min-height:50px">
														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">เลขทะเบียนนิติบุคคล :</div>
														<div class="col-sm-3 col-md-3">
															<input type="text" ng-model="userBean.citizenid" ng-change="onlyDigits(userBean,'citizenid',userBean.citizenid)" required="required"
															name="citizenid" id="citizenid" class="form-control no-spinner" placeholder="เลขทะเบียนนิติบุคคล" />
														</div>
														<!--<div class="col-md-1">-->
															<!--<button type="button" style="margin:0px;" id="saveBtn" class="btn btn-primary" ng-click="inquiryByID()" >-->
																<!--<span class="glyphicon glyphicon-search"></span> ค้นหา-->
															<!--</button>-->
														<!--</div>-->
														<!-- <div class="col-md-2 text-right ">เลขทะเบียนนิติบุคคล :</div> -->
														<!-- <div class="col-md-3"> -->
															<!-- <div class="col-md-3" th:include="include/formUtil :: textInput(fieldName='user.userName')"></div> -->
														<!-- </div> -->
													</div>
													<!-- ROW 1	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-3 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">ประเภทผู้ใช้งาน :</div>
														<div class="col-xs-3 col-sm-3 col-md-3 col-xs-pull-1 col-sm-pull-0 col-md-pull-0 col-lg-pull-0">นิติบุคคล</div>
														<!-- <div class="col-md-2 text-right ">เลขทะเบียนนิติบุคคล :</div> -->
														<!-- <div class="col-md-3"> -->
															<!-- <div class="col-md-3" th:include="include/formUtil :: textInput(fieldName='user.userName')"></div> -->
														<!-- </div> -->
													</div>
													<!-- ROW 2	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">ชื่อนิติบุคคล(ภาษาไทย) :</div>
														<div class="col-sm-3 col-md-3">
															<input type="text" ng-model="userBean.fnameTH" 
																required="required" name="fnameTH" id="fnameTH"
																class="form-control" placeholder="ชื่อนิติบุคคล(ภาษาไทย) " />
														</div>
														<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">ชื่อนิติบุคคล(ภาษาอังกฤษ) :</div>
														<div class="col-sm-3 col-md-3">
															<input type="text" ng-model="userBean.fnameEN" 
																required="required" name="fnameEN" id="fnameEN"
																class="form-control" placeholder="ชื่อนิติบุคคล(ภาษาไทย) " />
														</div>
													</div>
													<!-- ROW 3	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">สถานะนิติบุคคล :</div>
														<div class="col-sm-3 col-md-3">
															<input type="text" ng-model="userBean.company_status"
																class="form-control" placeholder="สถานะนิติบุคคล" />
														</div>
														<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">รายละเอียดวัตถุประสงค์ :</div>
														<div class="col-sm-3 col-md-3">
															<textarea
																class="form-control" ng-model="userBean.company_objective" 
																placeholder="รายละเอียดวัตถุประสงค์" />
														</div>
													</div>
													<!-- ROW 4	-->
													<div class="row" style="min-height:30px">
														<div class="col-md-3" style="left: 20px; color:#53B3EB;">ที่อยู่สถานประกอบการ</div>
													</div>
													<!-- ROW 5	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-7 col-sm-3 col-md-3 col-lg-3 text-xs-left text-sm-right text-md-right ">บ้านเลขที่ :</div>
														<div class="col-xs-5 col-sm-2 col-md-1 col-lg-1 col-xs-pull-5 col-sm-pull-0 col-md-pull-0 col-lg-pull-0">
															<input type="text" ng-model="userBean.no" 
																	 name="no" id="no" required="required"
																	class="form-control" placeholder="บ้านเลขที่" />
														</div>
														<div class="col-xs-8 col-sm-3 col-md-2 col-lg-2 text-xs-left text-sm-right text-md-right col-sm-pull-1 col-md-pull-0 col-lg-pull-0">หมู่บ้าน/อาคาร/ห้องที่ :</div>
														<div class="col-xs-4 col-sm-2 col-md-1 col-lg-1 col-xs-pull-3 col-sm-pull-1 col-md-pull-0 col-lg-pull-0 ">
															<input type="text" ng-model="userBean.village"
																   class="form-control" placeholder="ห้องที่" />
														</div>
														<div class="col-xs-8 col-sm-1 col-md-2 col-lg-2 text-xs-left text-sm-right text-md-right col-sm-pull-1 col-md-pull-0 col-lg-pull-0 ">หมู่ที่ :</div>
														<div class="col-xs-4 col-sm-1 col-md-1 col-xs-pull-6 col-sm-pull-1 col-md-pull-0 col-lg-pull-0">
															<input type="text" ng-model="userBean.moo" required="required"
																	 name="moo" id="moo"
																	class="form-control" placeholder="หมู่ที่ " />
														</div>
														<!--<div class="col-md-1 text-right ">ตรอก :</div>-->
														<!--<div class="col-md-2">-->
															<!--<input type="text" ng-model="userBean.village"-->
																   <!--ng-value="userBean.village" name="village" id="village"-->
																   <!--class="form-control" placeholder="ตรอก" />-->
														<!--</div>-->

													</div>
													
													<!-- ROW 6	-->
													<div class="row row-no-padding" style="min-height:50px">
														<div class="col-sm-3 col-md-3 col-lg-3 text-xs-left text-sm-right text-md-right  ">ซอย  :</div>
														<div class="col-sm-4 col-md-2 col-lg-2 ">
															<input type="text" ng-model="userBean.soi"
																    name="soi" id="soi"
																   class="form-control" placeholder="ซอย" />
														</div>
														<div class="col-sm-1 col-md-1 col-lg-1 text-xs-left text-sm-right text-md-right  ">ถนน  :</div>
														<div class="col-sm-4 col-md-2 col-lg-2">
															<input type="text" ng-model="userBean.road" required="required"
																    name="road" id="road"
																   class="form-control" placeholder="ถนน" />
														</div>
														<div class="col-xs-12 col-sm-3 col-md-1 col-lg-1 text-xs-left text-sm-right text-md-right ">จังหวัด  :</div>
														<div class="col-sm-9 col-md-3 col-lg-2">
															<select class="form-control" required="required" ng-model="province" ng-options="opt as opt.desc for opt in dataProvince"
																ng-change="getAmphur(province.id)">
																<option value="">--กรุณาเลือก--</option>
															</select>
														</div>

													</div>
													
													<!-- ROW 7	-->
													<div class="row row-no-padding" style="min-height:80px">
														<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-xs-left text-sm-right text-md-right ">อำภอ/เขต :</div>
														<div class="col-sm-9 col-md-2 col-lg-2">
															<select class="form-control" ng-model="amphur" ng-options="opt as opt.desc for opt in dataAmphur"
																	ng-change="getTambon(amphur.id)" required="required">
																<option value="">--กรุณาเลือก--</option>
															</select>
														</div>
														<div class="col-xs-12 col-sm-3 col-md-1 col-lg-1 text-xs-left text-sm-right text-md-right ">ดำบล/แขวง  :</div>
														<div class="col-sm-9 col-md-2 col-lg-2">
															<select class="form-control" ng-model="tambon" ng-options="opt as opt.desc for opt in dataTambon"
																	ng-change="setTambonId(tambon.id)" required="required">
																<option value="">--กรุณาเลือก--</option>
															</select>
														</div>
														<div class="col-xs-12 col-sm-3 col-md-2 col-lg-1 text-xs-left text-sm-right text-md-left text-lg-right">รหัสไปรษณีย์  :</div>
														<div class="col-sm-3 col-md-2 col-lg-1 col-md-pull-1 col-lg-pull-0">
															<input type="text" ng-model="userBean.postCode" required="required"
																	 name="postCode" id="postCode"
																	class="form-control" placeholder="รหัสไปรษณีย์" />
														</div>
													</div>
													
													<!-- ROW 8	-->
													<div class="row" style="min-height:30px">
														<div class="col-xs-12 col-sm-4 col-md-3" style="left: 20px; color:#53B3EB;">ข้อมูลผู้มีอำนาจลงนามของนิติบุคคล</div>
													</div>
													
													<!-- row9 -->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-3 col-md-3  text-xs-left text-sm-right text-md-right ">เลขประจำตัวประชาชน  <span style="color:#FF0000;">*</span> :</div>
														<div class="col-sm-3 col-md-2">
															<input type="text" ng-model="userBean.company_auth_id" required="required" ng-change="onlyDigits(userBean,'company_auth_id',userBean.company_auth_id)"
															name="company_auth_id" id="company_auth_id" class="form-control" placeholder="เลขประจำตัวประชาชน" />
														</div>
														<div class="col-xs-12 col-sm-2 col-md-2  text-xs-left text-sm-right text-md-right ">วัน/เดือน/ปี เกิด  <span style="color:#FF0000;">*</span> :</div>
														<datepicker-dir class="col-md-2 col-sm-3 col-xs-11" ng-model="userBean.company_auth_birth_date"
															 format-date="dd/MM/yyyy"></datepicker-dir>
													</div>
													
													<!-- row10 -->
													<div class="row row-no-padding" style="min-height:50px">
														<div class="col-xs-12 col-sm-3 col-md-3  text-xs-left text-sm-right text-md-right ">อีเมล  <span style="color:#FF0000;">*</span> :</div>
														<div class="col-sm-3 col-md-2">
															<input type="email" ng-model="userBean.company_auth_email" required="required"
																name="company_auth_email" id="company_auth_email" class="form-control" placeholder="อีเมล" />
														</div>
														<div class="col-xs-12 col-sm-2 col-md-2  text-xs-left text-sm-right text-md-right ">เบอร์โทรศัพท์  <span style="color:#FF0000;">*</span> :</div>
														<div class="col-sm-3 col-md-2">
															<input type="text" ng-model="userBean.company_auth_phone" required="required" ng-chage="onlyDigits(userBean,'company_auth_phone',userBean.company_auth_phone)"
																name="company_auth_phone" id="company_auth_phone" class="form-control" placeholder="เบอร์โทรศัพท์" />
														</div>
													</div>
													
													<!-- row11 -->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-3 col-md-3  text-xs-left text-sm-right text-md-right ">อัพโหลดเอกสาร  <span style="color:#FF0000;">*</span> :</div>
														<!--<div class="col-xs-3 col-sm-2 col-md-1 text-center">-->
															<!--<button  style="margin:0px;"  type="button" id="chooseBtn" class="btn btn-primary btn-style btn-style-parrell">-->
																<!--<span class="glyphicon glyphicon"></span> เลือกไฟล์-->
															<!--</button>-->
														<!--</div>-->
														<div class="col-xs-6 col-sm-5 col-md-5 text-right">
<!-- 														  <input type="file" file-model="data.ufile" -->
<!-- 															class="form-control" /> -->
														  <input type="file" id="file" file-model="data.ufile" />
														</div>
														<div class="col-xs-3 col-sm-1 col-md-1 text-left">
															<button style="margin:0px;"   type="button" id="uploadBtn" ng-click="upload()" class="btn btn-success btn-style btn-style-parrell">
																<span class="glyphicon glyphicon-upload"></span> Upload
															</button>
														</div>
													</div>
													<div class="row">
														<div class="col-xs-12 col-sm-3 col-md-3  text-xs-left text-sm-right text-md-right "></div>

														<div class="col-xs-6 col-sm-5 col-md-5">
															<div ng-if="userBean.file" class="alert alert-success" style="padding: 2px;">Upload success!</div>
															<div ng-if="data.uploadErr"  style="padding: 2px;" ng-bind="'Upload fail cause : '+data.uploadErr" class="alert alert-danger"></div>

														</div>
														<div class="col-xs-3 col-sm-1 col-md-1 text-left">

														</div>

													</div>
													<!-- row12 -->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-sm-3 col-md-3 text-right "></div>
														<div class="col-sm-1 col-md-1 text-right">
														</div>
														<div class="col-xs-12 col-sm-5 col-md-5 text-right " style="font-size: 18px;">ประเภทไฟล์ .pdf, .docx, .dox ขนาดไม่เกิน 2 MB
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
														</div>
													</div>
												</div>

											</uib-accordion>
											<!-- Panel 3 -->
											<uib-accordion close-others="false">
												<div uib-accordion-group="" class="panel-default"
													heading="การยืนยันตัวตน" is-open="true"
													is-disabled="false">
													
													<!-- ROW 1	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">กรุณาเลือกวิธีการยืนยันตัวตน :</div>
														<div class="col-sm-4 col-md-3">
															<input id="r1" name="verifiedType" ng-model="userBean.verifiedType" type="radio" value="1" checked="checked" ></input> รหัสผ่าน OTP
															&nbsp;&nbsp;&nbsp;&nbsp;
															<input id="r2" name="verifiedType" ng-model="userBean.verifiedType" type="radio" value="2"></input> อีเมล
														</div>
													</div><!-- ROW 1	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">รหัสผ่าน :</div>
														<div class="col-sm-4 col-md-3">
															<input type="password" required="required" name="pwd" id="pwd" class="form-control" ng-model="userBean.password" placeholder="รหัสผ่าน" />
														</div>
													</div>
													<!-- ROW 1	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right  ">ยืนยันรหัสผ่าน :</div>
														<div class="col-sm-4 col-md-3">
															<input type="password" name="cfpwd" required="required" id="cfpwd" class="form-control" ng-model="userBean.cfpwd" placeholder="ยืนยันรหัสผ่าน" />
														</div>
													</div>

													<!-- ROW 1	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">กรุณากรอกสิ่งที่ท่านเห็น :</div>
														<div class="col-sm-4 col-md-3">
															<input	class="form-control"
																	  type="text"
																	  id="captchaCode"
																	  name="captchaCode"
																	  ng-model="userBean.captcha"
																	  correct-captcha=""
																	  required="required"
															/>
														</div>
													</div>

													<!-- ROW 2	-->
													<div class="row row-no-padding" style="min-height:80px">
														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right "></div>
														<div class="col-sm-4 col-md-3">
															<!--<div class="g-recaptcha" ng-model="captcha" data-sitekey="6LceEj0UAAAAAH5fMpcE97_MpnxxG3UTro7wBOkI"></div>-->
															<botdetect-captcha styleName="spiderWeb"></botdetect-captcha>
														</div>
													</div>

													<!-- ROW 3	-->
													<div class="row" style="min-height:30px">
														<div class="col-md-12">
															<center><input type="checkbox" ng-model="data.accept"/><span>&nbsp;ยอมรับเงื่อนไขในการลงทะเบียน {{accept}}</span></center>

														</div>

													</div>

													<!-- ROW 4	-->
													<div class="row" style="min-height:30px">
														<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
															<button type="submit" id="saveBtn" class="btn btn-success btn-style">
																<span class="glyphicon glyphicon-floppy-disk"></span> ลงทะเบียน
															</button>

															<button type="button" id="clearBtn" class="btn btn-danger btn-style">
																<span class="glyphicon glyphicon-refresh"></span> ล้างข้อมูล
															</button>
														</div>
													</div>
			
												</div>
												
											</uib-accordion>
										</div>

									</div>
								</div>
							</form>
			</div>
		</div>
	</section>
<script type="text/javascript" th:utext="'var ctx = \'' + ${@baseUrlService.baseUrl} + '\';'" ></script>
</body>
</html>