<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template2">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>ลงทะเบียนสำหรับบุคลากรภาครัฐและกรมบัญชีกลาง</title>

<!-- My JS -->
	<script th:src="@{/bower_components/angularjs-captcha/dist/angularjs-captcha.min.js}"></script>
<script th:src="@{/js/register/registerCitizen.js}"></script>
<script>//alert($('#u14313'));
$(document).ready(function(){
	$('#chooseBtn').click( function() { 
		$( '#ufile' ).trigger( 'click' );
	} );
	
	$('#file').filestyle({
		'input' : true,
		'icon': false,
		'buttonBefore' : true,
		'buttonText' : 'เลือกไฟล์',
		'buttonName' : 'btn-upload-style',
		'placeholder' : 'ไม่ได้เลือกไฟล์ใด'
	});
});
function c(val){$( '#upfile' ).val(val);}


</script>
</head>
<body>
	<section layout:fragment="content">
		<div class="sidebar-nav">
			<div class="nav-canvas">
				<div class="nav-sm nav nav-stacked"></div>
			</div>
		</div>
		<div ng-app="registerCitizenApp">
			<div ng-controller="registerCtrl" id="registerCtrl">
				<form id="form" name="registerForm" ng-submit="saveUserGoverment()" >
								<div class="panel panel-custom">
									<div class="panel-heading"> 
										<h2 class="panel-title">ลงทะเบียนสำหรับบุคลากรภาครัฐและกรมบัญชีกลาง</h2>
									</div>
									<div class="panel-body">
										<div class="form-group">
											<!-- Panel 1 -->
					
											<uib-accordion close-others="false">
												<div uib-accordion-group="" class="panel-default"
													heading="ข้อมูลผู้ใช้งาน" is-open="true"
													is-disabled="false">
													<!-- ROW 0 -->
													<div class="row row-no-padding" style="min-height:50px">
														<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">เลขประจำตัวประชาชน <span style="color:#FF0000;">*</span> :</div>
														<div class="col-sm-3 col-md-3" style="display:flex;display:-webkit-flex;" ng-class="{'has-error':registerForm.citizenid.$invalid &amp;&amp; isSubmit}">
															<input type="text" ng-model="userBean.citizenid" id="citizenid"   ng-change="onlyDigits(userBean,'citizenid',userBean.citizenid)"  
															name="citizenid" class="form-control" placeholder="เลขประจำตัวประชาชน" required="required" oninvalid="this.setCustomValidity('กรุณากรอก เลขประจำตัวประชาชน')"  maxlength="13" onchange="setCustomValidity('')" />
															<span class="glyphicon glyphicon-search" ng-click="getUserCitizen(userBean.citizenid)"></span>
														</div>
														<div class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right ">วัน/เดือน/ปี เกิด <span style="color:#FF0000;">*</span> :</div>
														<div class="col-sm-3 col-md-3" ng-class="{'has-error':registerForm.birthDate.$invalid &amp;&amp; isSubmit}" >
															<datepicker-dir type="text" ng-model="userBean.birthDate" name="birthDate" format-date="dd/MM/yyyy" required="required" ></datepicker-dir>
														</div>
														
													</div>
													<!-- ROW 4	-->
													<div class="row" style="min-height:30px">
														<div class="col-sm-3 col-md-3" style="left: 20px; color:#53B3EB;">ข้อมูลส่วนตัว</div>
													</div>
													<!-- ROW 2	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">คำนำหน้า(ภาษาไทย) <span style="color:#FF0000;">*</span> :</div>
														<div class="col-sm-3 col-md-2" ng-class="{'has-error':registerForm.titleThId.$invalid &amp;&amp; isSubmit}" >
														<select class="form-control" ng-model="userBean.titleThId"  name="titleThId"  id="titleThId"
															ng-options="list.id as list.desc for list in titleList" required="required"  oninvalid="this.setCustomValidity('กรุณาเลือก คำนำหน้า(ภาษาไทย)')" onchange="setCustomValidity('')"
															ng-disabled="dis.pers">
															<option value="">--กรุณาเลือก--</option>
														</select>
<!-- 															<input type="text" ng-model="userBean.titleNameTH" -->
<!-- 																 class="form-control" placeholder="" /> -->
														</div>
														<div class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right ">ชื่อจริง(ภาษาไทย) <span style="color:#FF0000;">*</span> :</div>
														<div class="col-sm-3 col-md-2" ng-class="{'has-error':registerForm.fnameTH.$invalid &amp;&amp; isSubmit}">

															<input type="text" ng-model="userBean.fnameTH"  name="fnameTH" required="required" oninvalid="this.setCustomValidity('กรุณากรอก ชื่อจริง(ภาษาไทย)')" oninput="setCustomValidity('')"
																 class="form-control" placeholder="" />

																 
														</div>
														<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">นามสกุล(ภาษาไทย) <span style="color:#FF0000;">*</span> :</div>
														<div class="col-sm-3 col-md-2" ng-class="{'has-error':registerForm.lnameTH.$invalid &amp;&amp; isSubmit}" >
															<input type="text" ng-model="userBean.lnameTH"  required="required" name="lnameTH" oninvalid="this.setCustomValidity('กรุณากรอก นามสกุล(ภาษาไทย)')" 
															oninput="setCustomValidity('')"
																 class="form-control" placeholder="" />
														</div>
													</div>
													<!-- ROW 3	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">ชื่อกลาง(ภาษาไทย) :</div>
														<div class="col-sm-3 col-md-3" ng-class="{'has-error':registerForm.mnameTH.$invalid &amp;&amp; isSubmit}"  >

															<input type="text" ng-model="userBean.mnameTH" name=""
																 class="form-control" placeholder="" />
														</div>
														
													</div>
													<!-- ROW 4	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">คำนำหน้า(ภาษาอังกฤษ) :</div>
														<div class="col-sm-3 col-md-2">

<!-- 															<input type="text" ng-model="userBean.titleNameEN" -->
<!-- 																 class="form-control" placeholder="" />  -->
														<select class="form-control" ng-model="userBean.titleEnId"
															ng-options="list.id as list.desc2 for list in titleList"
															ng-disabled="dis.pers">
																<option value="">--กรุณาเลือก--</option>
														</select>
													</div>
														<div class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right ">ชื่อจริง(ภาษาอังกฤษ) :</div>
														<div class="col-sm-3 col-md-2">
															<input type="text" ng-model="userBean.fnameEN" id="fnameEN" name="fnameEN"
																 class="form-control" placeholder="" />
														</div>
														<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">นามสกุล(ภาษาอังกฤษ) :</div>
														<div class="col-sm-3 col-md-2">
															<input type="text" ng-model="userBean.lnameEN" id="lnameEN" name="lnameEN"
																 class="form-control" placeholder="" />
														</div>
													</div>
													<!-- ROW 5	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">ชื่อกลาง(ภาษาอังกฤษ) :</div>
														<div class="col-sm-3 col-md-3">

															<input type="text" ng-model="userBean.mnameEN"
																 class="form-control" placeholder="" />
														</div>
														
													</div>
													<!-- ROW 6	-->
													
<!-- 															<button type="submit" id="saveBtn" class="btn btn-success btn-style"> -->
<!-- 																<span class="glyphicon glyphicon-floppy-disk"></span> บันทึก -->
<!-- 															</button> -->
													<div class="row row-no-padding" style="min-height:50px">
														<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">อีเมล <span style="color:#FF0000;">*</span> :</div>
														<div class="col-sm-3 col-md-3" ng-class="{'has-error':registerForm.email.$invalid &amp;&amp; isSubmit}"> 
															<input type="email" ng-model="userBean.email"   required="required" oninvalid="this.setCustomValidity('โปรดป้อนอีเมลที่ถูกต้อง')"    oninput="checkEmail()"
															name="email" id="email" class="form-control" placeholder="example@mail.com"  ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,6}$/"  />
														</div>
														<div class="col-xs-12 col-sm-2 col-md-3 text-xs-left text-sm-right text-md-right ">เบอร์โทรศัพท์ <span style="color:#FF0000;">*</span> :</div> 
														<div class="col-sm-3 col-md-3" ng-class="{'has-error':registerForm.mobile.$invalid &amp;&amp; isSubmit}" >
															<input type="text" ng-model="userBean.mobile" required="required"  oninvalid="this.setCustomValidity('เบอร์โทรศัพท์ ไม่ถูกต้อง')"  maxlength="10"
															  oninput="checkPatternNumber('mobile',/^[0-9]{10}/,'เบอร์โทรศัพท์ ไม่ถูกต้อง')" ng-pattern="/^[0-9]{10}/"
															name="mobile" id="mobile" class="form-control" placeholder="" />
														</div>
													</div>
													
													<!-- ROW 4	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-3 col-md-3" style="left: 20px; color:#53B3EB;">ที่อยู่ตามทะเบียนบ้าน</div>
													</div>
													<!-- ROW 5	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-7 col-sm-2 col-md-1 text-xs-left text-sm-right text-md-right  ">บ้านเลขที่ <span style="color:#FF0000;">*</span> :</div>
														<div class="col-xs-5 col-sm-3 col-md-1 col-xs-pull-5 col-sm-pull-0 col-md-pull-0 col-lg-pull-0" ng-class="{'has-error':registerForm.no.$invalid &amp;&amp; isSubmit}">

															<input type="text" ng-model="userBean.no"  name="no" id="no" required="required" oninvalid="this.setCustomValidity('กรุณากรอก บ้านเลขที่')" maxlength="10" oninput="checkPatternNumber('no',/^[0-9]/,'กรุณากรอก บ้านเลขที่')"  
																 class="form-control" placeholder="" />
														</div>
														<div class="col-xs-3 col-sm-1 col-md-1 text-xs-left text-sm-right text-md-right ">หมู่ที่ :</div>
														<div class="col-xs-3 col-sm-2 col-md-1 col-xs-pull-1 col-sm-pull-0 col-md-pull-0 col-lg-pull-0" >

															<input type="text" ng-model="userBean.moo"
																 class="form-control" placeholder="" />
														</div>
														<div class="col-xs-3 col-sm-1 col-md-1 text-xs-left text-sm-right text-md-right col-xs-pull-1 col-sm-pull-0 col-md-pull-0 col-lg-pull-0">ห้องที่ :</div>
														<div class="col-xs-3 col-sm-2 col-md-1 col-xs-pull-2 col-sm-pull-0 col-md-pull-0 col-lg-pull-0">

															<input type="text" ng-model="userBean.roomNo"
																 class="form-control" placeholder="" />
														</div>
														<div class="col-sm-12 visible-sm"></div>
														<div class="col-xs-3 col-sm-2 col-md-1 text-xs-left text-sm-right text-md-right ">ซอย  :</div>
														<div class="col-xs-9 col-sm-4 col-md-2 col-xs-pull-1 col-sm-pull-0 col-md-pull-0 col-lg-pull-0">

															<input type="text" ng-model="userBean.soi"
																 class="form-control" placeholder="" />
														</div>
														<div class="col-xs-3 col-sm-1 col-md-1 text-xs-left text-sm-right text-md-right  ">ถนน  :</div>
														<div class="col-xs-9 col-sm-4 col-md-2 col-xs-pull-1 col-sm-pull-0 col-md-pull-0 col-lg-pull-0">

															<input type="text" ng-model="userBean.road"
																 class="form-control" placeholder="" />
														</div>
													</div>
													
													<!-- ROW 6	-->
													<div class="row row-no-padding" style="min-height:50px">
												
														<div class="col-xs-12 col-sm-2 col-md-1 text-xs-left text-sm-right text-md-right  ">จังหวัด  <span style="color:#FF0000;">*</span> :</div>
														
														<div class="col-sm-10 col-md-3" ng-class="{'has-error':registerForm.provinceId.$invalid &amp;&amp; isSubmit}" >

<!-- 															<input type="text" ng-model="userBean.provinorgTypeceName" -->
<!-- 																 class="form-control" placeholder="" /> -->
															<select class="form-control"  ng-model="userBean.provinceId" required="required" name="provinceId" oninvalid="this.setCustomValidity('กรุณาเลือก จังหวัด')" onchange="setCustomValidity('')"
																ng-options="opt.id as opt.desc for opt in dataProvince" 
																ng-change="getAmphur(userBean.provinceId)"  >
																<option value="">--กรุณาเลือก--</option>
															</select>

														</div>
														<div class="col-xs-12 col-sm-2 col-md-1 text-xs-left text-sm-right text-md-right  ">อำภอ/เขต <span style="color:#FF0000;">*</span> :</div>
														<div class="col-sm-10 col-md-3" ng-class="{'has-error':registerForm.amphurId.$invalid &amp;&amp; isSubmit}">
<!-- 															<input type="text" ng-model="userBean.amphurName" -->
<!-- 																 class="form-control" placeholder="" /> -->
															<select class="form-control" ng-model="userBean.amphurId" required="required" ng-options="opt.id as opt.desc for opt in dataAmphur" name="amphurId" oninvalid="this.setCustomValidity('กรุณาเลือก อำเภอ')" onchange="setCustomValidity('')"
																	ng-change="getTambon(userBean.amphurId)" >
																<option value="">--กรุณาเลือก--</option>
															</select>
														</div>
														<div class="col-xs-12 col-sm-2 col-md-1 text-xs-left text-sm-right text-md-right  ">ดำบล/แขวง <span style="color:#FF0000;">*</span> :</div>
														<div class="col-sm-10 col-md-3" ng-class="{'has-error':registerForm.tambonId.$invalid &amp;&amp; isSubmit}">
<!-- 															<input type="text" ng-model="userBean.tambonName" -->
<!-- 																 class="form-control" placeholder="" /> -->
															<select class="form-control" ng-model="userBean.tambonId" required="required" ng-options="opt.id as opt.desc for opt in dataTambon" name="tambonId"  oninvalid="this.setCustomValidity('กรุณาเลือก ตำบล')" onchange="setCustomValidity('')"
																	ng-change="setTambonId(userBean.tambonId)" >
																<option value="">--กรุณาเลือก--</option>
															</select>
														</div>
													</div>
													
													<!-- ROW 7	-->
													<div class="row row-no-padding" style="min-height:60px">
														<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1 text-xs-left text-sm-right text-md-left text-lg-right ">รหัสไปรษณีย์  <span style="color:#FF0000;">*</span> :</div>
														<div class="col-sm-4 col-md-2 col-lg-1 col-md-pull-1 col-lg-pull-0" ng-class="{'has-error':registerForm.postCode.$invalid &amp;&amp; isSubmit}">
															<input type="text" ng-model="userBean.postCode" required="required"  name="postCode" id="postCode" oninvalid="this.setCustomValidity('กรุณากรอก รหัสไปรษณีย์')" oninput="checkPatternNumber('postCode',/^[0-9]{5}/,'กรุณากรอก รหัสไปรษณีย์')" maxlength="5"
																 class="form-control" placeholder="" />
														</div>
													</div>
													<div class="row row-no-padding">
														<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right  ">กรุณาเลือกวิธีการยืนยันตัวตน <span style="color:#FF0000;">*</span> :</div>
														<div class="col-sm-4 col-md-3" >
															<input id="r1" name="verifiedType" ng-model="userBean.verifiedType" type="radio" value="1" checked="checked" ></input> รหัสผ่าน OTP
															&nbsp;&nbsp;&nbsp;&nbsp;
															<input id="r2" name="verifiedType" ng-model="userBean.verifiedType" type="radio" value="2"></input> อีเมล
														</div>
													</div>
												</div>
												
											</uib-accordion>
											<!-- Panel 3 -->
											<uib-accordion close-others="false">
												<div uib-accordion-group="" class="panel-default"
													heading="ข้อมูลหน่วยงานที่สังกัด" is-open="true"
													is-disabled="false">
													
													<!-- ROW 1	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">ประเภทหน่วยงานภาครัฐ <span style="color:#FF0000;">*</span> :</div>
														<div class="col-sm-3 col-md-3" ng-class="{'has-error':registerForm.orgType.$invalid &amp;&amp; isSubmit}" >
															<select class="form-control" ng-model="userBean.orgType" required="required" ng-options="opt as opt.desc for opt in data1List" name="orgType" oninvalid="this.setCustomValidity('กรุณาเลือก ประเภทหน่วยงานภาครัฐ ')" onchange="setCustomValidity('')"
																ng-change="getOrganizationSubType(userBean.orgType.id)"  >
																<option value="">--ประเภทหน่วยงานภาครัฐ--</option>
																<!-- <option ng-selected="data1List.id == item.id" ng-repeat="item in data1List" ng-value="item.id">{{item.desc}}</option> -->
															</select>
														</div>
														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">ประเภทย่อยหน่วยงานภาครัฐ <span style="color:#FF0000;">*</span> :</div>
														<div class="col-sm-3 col-md-3" ng-class="{'has-error':registerForm.orgSubType.$invalid &amp;&amp; isSubmit}" >
															<select class="form-control" ng-model="userBean.orgSubType" required="required" ng-options="opt as opt.desc for opt in dataOrgSub" name="orgSubType" oninvalid="this.setCustomValidity('กรุณาเลือก ประเภทย่อยหน่วยงานภาครัฐ')" onchange="setCustomValidity('')"
																ng-change="getDepartment(userBean.orgSubType.id)"  >
																<option value="">--ประเภทย่อยหน่วยงานภาครัฐ--</option>
															</select>
														</div>
													</div>
													
													<!-- ROW 2	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">กรม <span style="color:#FF0000;">*</span> :</div>
														<div class="col-sm-3 col-md-3" ng-class="{'has-error':registerForm.dept.$invalid &amp;&amp; isSubmit}"  >
															<select class="form-control" id="dept" ng-model="userBean.dept" required="required" ng-options="opt as opt.desc for opt in dataDept" name="dept" oninvalid="this.setCustomValidity('กรุณาเลือก กรม')" onchange="setCustomValidity('')"
																ng-change="getBusinessArea(userBean.dept.id)"  >
																<option value="">รหัสกรม - ชื่อกรม</option>
															</select>
														</div>
														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">พืนที่ <span style="color:#FF0000;">*</span> :</div>
														<div class="col-sm-3 col-md-3" ng-class="{'has-error':registerForm.bizArea.$invalid &amp;&amp; isSubmit}" >
															<select class="form-control" id="bizArea" ng-model="userBean.bizArea" required="required" ng-options="opt as opt.desc for opt in dataBizArea" name="bizArea" oninvalid="this.setCustomValidity('กรุณาเลือก พืนที่ ')" onchange="setCustomValidity('')"
																ng-change="getCostCenter(userBean.dept.id,userBean.bizArea.id)" >
																<option value="">รหัสพืนที่ - พืนที่</option>
															</select>
														</div>
													</div>
													
													<!-- ROW 3	-->
													<div class="row row-no-padding" style="min-height:60px">
														<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">รหัสศูนย์ต้นทุน <span style="color:#FF0000;">*</span> :</div>
														<div class="col-sm-3 col-md-3" ng-class="{'has-error':registerForm.bizArea.$invalid &amp;&amp; isSubmit}"  >
															<select class="form-control" id="coscenter" ng-model="userBean.cosCenter" required="required" ng-options="opt as opt.desc for opt in dataCostCenter" name="bizArea" oninvalid="this.setCustomValidity('กรุณาเลือก รหัสศูนย์ต้นทุน ')" onchange="setCustomValidity('')" > 
																<option value="">รหัสศูนย์ต้นทุน - ศูนย์ต้นทุน</option>
															</select>
														</div>
													</div>
													<!-- ROW 5.1	-->
<!-- 													<div class="form-inline" style="min-height:30px"> -->
<!-- 														<label class="col-md-1 label-style text-right" for="fnameEN">เลขที่ :</label> -->
<!-- 															<input type="text" ng-model="userBean.fnameEN"  -->
<!-- 																	ng-value="userBean.fnameEN" name="fnameEN" id="fnameEN"  -->
<!-- 																	class="form-control" placeholder="บ้านเลขที่" readonly="readonly" /> -->
														
<!-- 														<label class="label-style" for="moo">หมู่ที่ :</label> -->
<!-- 															<input type="text" ng-model="userBean.fnameEN"  -->
<!-- 																	ng-value="userBean.fnameEN" name="fnameEN" id="moo"  -->
<!-- 																	class="form-control" placeholder="หมู่ที่ " readonly="readonly" /> -->
														
<!-- 														<label class="label-style" for="room">ห้องที่ :</label> -->
<!-- 															<input type="text" ng-model="userBean.fnameEN"  -->
<!-- 																	ng-value="userBean.fnameEN" name="fnameEN" id="room"  -->
<!-- 																	class="form-control" placeholder="ห้องที่" readonly="readonly" /> -->
														
<!-- 														<label class="label-style" for="soi">ซอย  :</label> -->
<!-- 															<input type="text" ng-model="userBean.fnameEN"  -->
<!-- 																	ng-value="userBean.fnameEN" name="fnameEN" id="soi"  -->
<!-- 																	class="form-control" placeholder="ซอย" readonly="readonly" /> -->
<!-- 														<label class="label-style" for="road">ถนน  :</label>			 -->
<!-- 															<input type="text" ng-model="userBean.fnameEN"  -->
<!-- 																	ng-value="userBean.fnameEN" name="fnameEN" id="road"  -->
<!-- 																	class="form-control" placeholder="ถนน" readonly="readonly" /> -->
														
														
<!-- 														</div> -->
														
													<!-- ROW 5	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-7 col-sm-2 col-md-1 text-xs-left text-sm-right text-md-right ">เลขที่ :</div>
														<div class="col-xs-5 col-sm-2 col-md-1 col-xs-pull-5 col-sm-pull-0 col-md-pull-0 col-lg-pull-0">
															<input type="text" ng-model="userBean.govAddreNo" oninput="this.value = this.value.replace(/[^0-9/.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="10"
																 class="form-control" name="govAddreNo"  id="govAddreNo"  placeholder=""  />
														</div>
														<div class="col-xs-3 col-sm-2 col-md-1 text-xs-left text-sm-right text-md-right ">หมู่ที่ :</div>
														<div class="col-xs-3 col-sm-2 col-md-1 col-xs-pull-1 col-sm-pull-0 col-md-pull-0col-lg-pull-0 ">
															<input type="text" ng-model="userBean.govAddreMoo"
																 class="form-control" placeholder="" />
														</div>
														<div class="col-xs-3 col-sm-1 col-md-1 text-xs-left text-sm-right text-md-right col-xs-pull-1 col-sm-pull-0 col-md-pull-0 col-lg-pull-0 ">ห้องที่ :</div>
														<div class="col-xs-3 col-sm-2 col-md-1 col-xs-pull-2 col-sm-pull-0 col-md-pull-0 col-lg-pull-0">
															<input type="text" ng-model="userBean.govAddreRoomNo"
																 class="form-control" placeholder="" />
														</div>
														<div class="col-sm-12 visible-sm"></div>
														<div class="col-xs-3 col-sm-2 col-md-1 text-xs-left text-sm-right text-md-right ">ซอย  :</div>
														<div class="col-xs-9 col-sm-4 col-md-2 col-xs-pull-1 col-sm-pull-0 col-md-pull-0col-lg-pull-0 ">
															<input type="text" ng-model="userBean.govAddreSoi"
																 class="form-control" placeholder="" />
														</div>
														<div class="col-xs-3 col-sm-1 col-md-1 text-xs-left text-sm-right text-md-right ">ถนน  :</div>
														<div class="col-xs-9 col-sm-4 col-md-2 col-xs-pull-1 col-sm-pull-0 col-md-pull-0col-lg-pull-0 ">
															<input type="text" ng-model="userBean.govAddreRoad"
																 class="form-control" placeholder="" />
														</div>
													</div>
													<!-- ROW 6	-->
													<div class="row row-no-padding" style="min-height:50px">
														<div class="col-xs-12 col-sm-2 col-md-1 text-xs-left text-sm-right text-md-right ">จังหวัด  :</div>
														<div class="col-sm-10 col-md-3">
<!-- 															<div ng-model="govAddre.provinceName" -->
<!-- 																 class="form-control" placeholder="" style="background:#eeeeee;cursor:not-allowed;"/> -->
																 <select class="form-control"  ng-model="userBean.govAddreProvinceId" 
																ng-options="opt.id as opt.desc for opt in dataProvince" 
																ng-change="getAmphurGovAddre(userBean.govAddreProvinceId)"  >
																<option value="">--กรุณาเลือก--</option>
															</select>
														</div>
														<div class="col-xs-12 col-sm-2 col-md-1 text-xs-left text-sm-right text-md-right ">อำภอ/เขต:</div>
														<div class="col-sm-10 col-md-3">
<!-- 															<div ng-model="govAddre.amphurName" -->
<!-- 																 class="form-control" placeholder="" style="background:#eeeeee;cursor:not-allowed;"/> -->
															<select class="form-control" ng-model="userBean.govAddreAmphurId" ng-options="opt.id as opt.desc for opt in dataAmphurGov"
																	ng-change="getTambonGovAddre(userBean.govAddreAmphurId)" >
																<option value="">--กรุณาเลือก--</option>
															</select>
														</div>
														<div class="col-xs-12 col-sm-2 col-md-1 text-xs-left text-sm-right text-md-right ">ดำบล/แขวง  :</div>
														<div class="col-sm-10 col-md-3">
<!-- 															<div ng-model="govAddre.tambonName" -->
<!-- 																 class="form-control" placeholder="" style="background:#eeeeee;cursor:not-allowed;"/> -->
															<select class="form-control" ng-model="userBean.govAddreTambonId" ng-options="opt.id as opt.desc for opt in dataTambonGov"
																	>
																<option value="">--กรุณาเลือก--</option>
															</select>
														</div>
													</div>
													
													<!-- ROW 7	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-2 col-md-2 col-lg-1 text-xs-left text-sm-right text-md-left text-lg-right ">รหัสไปรษณีย์  :</div>
														<div class="col-sm-4 col-md-2 col-lg-1 col-md-pull-1 col-lg-pull-0" >
															<input type="text" ng-model="userBean.govAddrePosCode" id="govAddrePosCode" name="govAddrePosCode" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="5"
																 class="form-control" placeholder="" />
														</div>
													</div>
												</div>
												
											</uib-accordion>

											<uib-accordion close-others="false">
												<div uib-accordion-group="" class="panel-default"
													heading="สิทธิ์ในการเข้าใช้งานระบบ" is-open="true"
													is-disabled="false">
													
<!-- 													<dualmultiselect  options="demoOptions"> </dualmultiselect> -->
														<dualmultiselect  options="permissionGroupOptions"> </dualmultiselect>

													
<!-- 													<div class="col-xs-12 col-sm-3 col-md-3  text-xs-left text-sm-right text-md-right"></div> -->
<!-- 														<div class="col-xs-9 col-sm-5 col-md-5 text-left" >xxxxx</div> -->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-3 col-md-3  text-xs-left text-sm-right text-md-right ">อัพโหลดเอกสาร  <span style="color:#FF0000;">*</span> : <br/> <span style="font-size: 14px;">(เอกสารขอเข้าใช้งานระบบ)</span></div>
														<!--<div class="col-xs-3 col-sm-2 col-md-1 text-center">-->
															<!--<button  style="margin:0px;"  type="button" id="chooseBtn" class="btn btn-primary btn-style btn-style-parrell">-->
																<!--<span class="glyphicon glyphicon"></span> เลือกไฟล์-->
															<!--</button>-->
														<!--</div>-->
														
														<div class="col-xs-9 col-sm-5 col-md-5 text-right" ng-class="{'has-error':registerForm.ufile.$invalid &amp;&amp; isSubmit}">
<!-- 														  <input type="file" file-model="data.ufile" -->
<!-- 															class="form-control" /> -->
														  <input type="file" accept=".doc, .docx,.pdf" 
														  id="file" file-model="data.ufile" name="file" required="required" oninvalid="this.setCustomValidity('กรุณา upload file')" onchange="checkFile(false)"/>
														</div>
<!-- 														<div class="col-xs-3 col-sm-1 col-md-1 text-left"> -->
<!-- 															<button style="margin:0px;"   type="button" id="uploadBtn" ng-click="upload()" class="btn btn-success btn-style btn-style-parrell"> -->
<!-- 																<span class="glyphicon glyphicon-upload"></span> Upload -->
<!-- 															</button> -->
<!-- 														</div> -->
														<div class="col-xs-9 col-sm-5 col-md-5 text-left">{{userBean.file}}</div>
<!-- 														<div class="col-xs-9 col-sm-5 col-md-5 text-left"><a download="{{bytes.data }}"  ng-href="{{bytes.data}}">Download : {{userBean.file}}</a></div> -->
													</div>
													
													<div class="row row-no-padding" style="min-height:30px">
															<div class="col-sm-5 col-md-5 col-sm-push-4 col-md-push-4 text-right " style="font-size: 18px;">ประเภทไฟล์ .pdf, .docx, .dox ขนาดไม่เกิน 2 MB
															&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
															</div>
														</div>
			
												</div>
												
											</uib-accordion>
											
											<!-- Panel 3 -->
<!-- 											<uib-accordion close-others="false"> -->
<!-- 												<div uib-accordion-group="" class="panel-default" -->
<!-- 													heading="สิทธิ์ในการเข้าใช้งานระบบ" is-open="true" -->
<!-- 													is-disabled="false"> -->
													
<!-- 													ROW 1	 -->
<!-- 													<div class="row" style="min-height:250px"> -->
<!-- 														<div class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right ">สิทธิ์ที่ขอใช้งาน :</div> -->
<!-- 														<div class="col-xs-5 col-sm-4 col-md-3"> -->
<!-- 															<select class="form-control" size="7"> -->
<!-- 																<option>ดำบล/แขวง</option> -->
<!-- 																<option>ดำบล/แขวง</option> -->
<!-- 																<option>ดำบล/แขวง</option> -->
<!-- 																<option>ดำบล/แขวง</option> -->
<!-- 																<option>ดำบล/แขวง</option> -->
<!-- 															</select> -->
<!-- 														</div> -->
<!-- 														<div class="col-xs-2 col-sm-1 col-md-1 text-center"> -->
<!-- 														<div style="position: relative; width: 0px;"> -->
<!-- 															<button type="button" id="mvleftBtn" class="btn btn-primary btn-style-parrell"> -->
<!-- 																<span class="glyphicon "></span>>&nbsp; -->
<!-- 															</button>&nbsp; -->
<!-- 															<button type="button" id="mvrightBtn" class="btn btn-primary btn-style-parrell"> -->
<!-- 																<span class="glyphicon "></span>&lt;&nbsp; -->
<!-- 															</button>&nbsp; -->
<!-- 															<button type="button" id="mvallleftBtn" class="btn btn-primary btn-style-parrell"> -->
<!-- 																<span class="glyphicon "></span>>> -->
<!-- 															</button>&nbsp; -->
<!-- 															<button type="button" id="mvallrightBtn" class="btn btn-primary btn-style-parrell"> -->
<!-- 																<span class="glyphicon "></span>&lt;&lt; -->
<!-- 															</button> -->
<!-- 														</div> -->
														
<!-- 														</div> -->
<!-- 														<div class="col-xs-5 col-sm-4 col-md-3"> -->
<!-- 															<select class="form-control" size="7"> -->
<!-- 															</select> -->
<!-- 														</div> -->
<!-- 													</div> -->
<!-- 													row11 -->
<!-- 													<div class="row" style="min-height:30px"> -->
<!-- 														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">อัพโหลดเอกสาร  <span style="color:#FF0000;">*</span> :</div> -->
<!-- 														<div class="col-xs-12 visible-xs"> </div> -->
<!-- 														<div class="col-xs-3 col-sm-2 col-md-1 text-right"> -->
<!-- 															<button type="button" id="chooseBtn" class="btn btn-primary btn-style btn-style-parrell"> -->
<!-- 																<span class="glyphicon glyphicon"></span> เลือกไฟล์ -->
<!-- 															</button> -->
<!-- 														</div> -->
<!-- 														<div class="col-xs-5 col-sm-5 col-md-5 text-xs-left text-sm-right text-md-right"> -->
<!-- 															<input type="text" ng-model="userBean.file" ng-value="userBean.file" readonly="readonly" -->
<!-- 																	name="upfile" id="upfile" width="" class="form-control" placeholder="" /> -->
<!-- 														  <input type="file" -->
<!-- 															name="ufile" id="ufile" class="form-control" onchange="c(this.value);" placeholder="" style="display:none;" /> -->
<!-- 														</div> -->
<!-- 														<div class="col-xs-3 col-sm-1 col-md-1 text-xs-left text-sm-right text-md-right"> -->
<!-- 															<button type="button" id="saveBtn" class="btn btn-primary btn-style btn-style-parrell"> -->
<!-- 																<span class="glyphicon glyphicon-upload"></span> Upload -->
<!-- 															</button> -->
<!-- 														</div> -->
<!-- 													</div> -->
<!-- 													row12 -->
<!-- 													<div class="row" style="min-height:30px"> -->
<!-- 														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-left text-md-right" style="font-size: 18px;"> -->
<!-- 															(เอกสารขอเข้าใช้งานระบบ) -->
<!-- 														</div> -->
<!-- 														<div class="col-xs-12 col-sm-1 col-md-1 text-xs-left text-sm-left text-md-right"> -->
<!-- 														</div> -->
<!-- 														<div class="col-xs-12 col-sm-5 col-md-5 text-xs-left text-sm-left text-md-right" style="font-size: 18px;">ประเภทไฟล์ .pdf, .docx, .dox ขนาดไม่เกิน 2 MB -->
<!-- 														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
<!-- 														</div> -->
<!-- 													</div> -->
<!-- 												</div> -->
												
<!-- 											</uib-accordion> -->
											<!-- Panel 3 -->
											
											<uib-accordion close-others="false">
												<div uib-accordion-group="" class="panel-default"
													heading="รหัสผ่าน" is-open="true"
													is-disabled="false">
													
													<!-- ROW 1	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right  ">รหัสผ่าน <span style="color:#FF0000;">*</span> :</div>
														<div class="col-sm-3 col-md-3" ng-class="{'has-error':registerForm.pwd.$invalid &amp;&amp; isSubmit}" >
															<input type="password" name="pwd"  ng-model="userBean.password" id="pwd" class="form-control" placeholder="รหัสผ่าน" 
															required="required" oninvalid="this.setCustomValidity('รหัสผ่านไม่ถูกต้อง')" oninput="checkPassword()"   />
														</div>
													</div>
													<!-- ROW 1	-->
													<div class="row row-no-padding" style="min-height:40px">
														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right  ">ยืนยันรหัสผ่าน <span style="color:#FF0000;">*</span> :</div>
														<div class="col-sm-3 col-md-3"  ng-class="{'has-error':registerForm.cfpwd.$invalid &amp;&amp; isSubmit}" >
															<input type="password" name="cfpwd" id="cfpwd" ng-model="userBean.cfpwd" class="form-control" oninvalid="this.setCustomValidity('ยืนยันรหัสผ่าน')" oninput="setCustomValidity('')" placeholder="ยืนยันรหัสผ่าน" required="required" />
														</div>
													</div>
													<!-- ROW 1	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-7 col-md-6 col-sm-push-3 col-md-push-3 text-xs-left text-sm-left text-md-left" style="color:#B0B0B0;">
															<span> หมายเหตุ : รหัสผ่านต้องมีมากกว่าหรือเท่ากับ 10 ตัวอักษร โดยมีการผสมกันระหว่างตัวอักษรที่เป็นตัวพิมพ์ปกติ ตัวพิมพ์ใหญ่ ตัวเลข และสัญลักษณ์เข้าด้วยกัน</span>
														</div>
														</div>
													</div>
											</uib-accordion>
													
											<uib-accordion close-others="false">
												<div uib-accordion-group="" class="panel-default"
													heading="การยืนยันตัวตนความเป็นมนุษย์" is-open="true"
													is-disabled="false">
													
													
													<!-- ROW 1	-->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">กรุณากรอกสิ่งที่ท่านเห็น <span style="color:#FF0000;">*</span> :</div>
														<div class="col-sm-4 col-md-3" ng-class="{'has-error':registerForm.captchaCode.$invalid &amp;&amp; isSubmit}" >
															<input	class="form-control"  oninvalid="this.setCustomValidity('กรุณากรอกสิ่งที่ท่านเห็น ')" oninput="setCustomValidity('')"
																	  type="text"
																	  id="captchaCode"
																	  name="captchaCode"
																	  ng-model="userBean.captcha"
																	  correct-captcha=""
																	  required="required"
															/>
														</div>
													</div>
													<!-- ROW 2	-->
													<div class="row row-no-padding" style="min-height:80px">
														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right "></div>
														<div class="col-sm-4 col-md-3">
															<!--<div class="g-recaptcha" ng-model="captcha" data-sitekey="6LceEj0UAAAAAH5fMpcE97_MpnxxG3UTro7wBOkI"></div>-->
															<botdetect-captcha styleName="spiderWeb"></botdetect-captcha>
														</div>
 
													</div>
													<!-- ROW 3	-->
													<div class="row row-no-padding">
														<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center"  style="font-size: 16px; color:#FF0000;" >
															<input type="checkbox" name="vehicle2" value="Car" /> กรุณาคลิกเพื่ออ่านข้อกำหนดในการใช้งาน ก่อนยอมรับเงื่อนไขในการลงทะเบียน
														</div>

													</div>
													<!-- ROW 4	-->
													<div class="row" style="min-height:30px">
														<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
															<button type="submit" id="saveBtn" class="btn btn-success btn-style">
																<span class="glyphicon glyphicon-floppy-disk"></span> บันทึก
															</button>

															<button type="button" id="clearBtn" class="btn btn-danger btn-style">
																<span class="glyphicon glyphicon-refresh"></span> ล้างข้อมูล
															</button>
														</div>
													</div>
			
												</div>
												
											</uib-accordion>
											
											
										</div>

									</div>
								</div>
				</form>
			</div>
		</div>
	</section>
</body>
</html>