<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="refresh" content="900" />

	<title>ลงทะเบียนนิติบุคคล</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/jquery-ui-themes.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/axure_rp_page.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/styles.css}" />
	<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/login/stylesRegisterCitizen.css}" /> -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/stylesRegister2.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/font-awesome.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/thsarabunnew.css}" />

	<!-- Font Style -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/fonts/THSarabunNew-Bold/styles.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/fonts/THSarabunNew/styles.css}" />
		<!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" th:href="@{/lib/font-awesome/css/font-awesome.min.css}"/>

	<!-- The styles -->
	<link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/css/bootstrap.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/lib/select2/css/select2.min.css}" />

	<!-- My CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

	<!--  JQuery -->
	<script th:src="@{/lib/jquery/jquery-2.2.1.min.js}"></script>

	<!-- Bootstrap -->
	<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/lib/select2/js/select2.min.js}"></script>

	<!-- My JS -->
	<script th:src="@{/js/wisesoft.js}"></script>
	<script th:src="@{/js/login.js}"></script>
	<script th:src="@{/js/event.js}"></script>
	<!-- <script th:src="@{/js/example/example2.js}"></script> -->
	
	<!-- 	AngularJS -->
		<script th:src="@{/bower_components/angular/angular.js}"></script>
				<script th:src="@{/bower_components/angular-route/angular-route.js}"></script>
				<script th:src="@{/bower_components/angular-ui-router/release/angular-ui-router.js}"></script>
				<script th:src="@{/bower_components/angular-resource/angular-resource.js}"></script>
				<script th:src="@{/bower_components/angular-animate/angular-animate.js}"></script>
				<script th:src="@{/bower_components/angular-aria/angular-aria.js}"></script>
				<script th:src="@{/bower_components/angular-messages/angular-messages.js}"></script>
				<script th:src="@{/bower_components/angular-sanitize/angular-sanitize.js}"></script>
				<script th:src="@{/bower_components/angular-touch/angular-touch.js}"></script>
				<script th:src="@{/bower_components/angular-bootstrap/ui-bootstrap.js}"></script>
				<script th:src="@{/bower_components/angular-bootstrap/ui-bootstrap-tpls.js}"></script>
				<script th:src="@{/bower_components/angular-cookies/angular-cookies.js}"></script>
				<script th:src="@{/bower_components/ng-idle/angular-idle.js}"></script>
				<script th:src="@{/bower_components/jquery/dist/jquery.js}"></script>
				<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.js}"></script>
				<script th:src="@{/bower_components/jquery-placeholder/jquery.placeholder.js}"></script>
				<script th:src="@{/bower_components/select2/select2.js}"></script>
				<script th:src="@{/bower_components/angucomplete/angucomplete.js}"></script>
				<script th:src="@{/bower_components/directive/datepicker/datepicker.js}"></script>

	

	<script th:src="@{/js/register/registerCitizen.js}"></script>
	<!-- Custom JS  AngularJS-->
	<script th:src="@{/js/provider/httpProvider.js}"></script>

	<script>
		$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip();
		});
	</script>

	<!-- swiper -->
	<link rel="stylesheet" th:href="@{/lib/swiper/3.4.0/css/swiper.min.css}"/>
	<script th:src="@{/lib/swiper/3.4.0/js/swiper.min.js}"></script>
	<script th:src="@{/lib/swiper/3.4.0/js/swiper.jquery.min.js}"></script>

	<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/home_icon.png}"  />
	<style>
		body{
			background-image: url('../images/main_bg.png');
		}
		.txt-login{
			font-size: 22px;
    		color: #2fa4e7;
		}
		.container{
				max-width: 1280px;
		}
		.login-container{
			background-color: #dff2fd; background-image: url('images/login_bg.png'); height: 1170px;
		}
		.login-logo{
			max-width: 85px; margin: 20px; margin-bottom: 40px;
		}
		.news-container {
			background-color: #2b5972;  background-image: url('images/login_bg.png');
			background-repeat: no-repeat;  background-position: center; background-size: 60%;
		}
		.txt-gray{
			color: #808080;
		}
		.txt-navy{
			color:#113344;
		}
		.txt-info{
			color: #fff;
			font-size: 18px;
			padding: 5px;
		}
		.line{
			border-style: none none solid none;  border-width: thin; border-color: #cccccc;
		}

		.forgot-error {
			position:relative;
		}
		.forgot-error .help-block {
			left: 60px; !important
		}
		.banner{
			margin-bottom: 20px;
		}
		@media (max-width:991px){
			.banner{
				display: none;
			}
		}
		@media (min-width:992px){
			.banner-m{
				display: none;
				padding: 0px;
			}
		}
	</style>


	<!-- Plug In JS -->
	<script th:src="@{/lib/jquery/jquery.number.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery.numeric.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery.mask.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery.validate.js}"></script>
	<script th:src="@{/lib/jquery/jquery.form.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery.deserialize.min.js}"></script>
	<script th:src="@{/lib/jquery/additional-methods.min.js}"></script>
	<script th:src="@{/lib/jquery/validate-local/messages_th.js}"></script>

	<script th:inline="javascript" th:include="include/enableAjaxSubmit::enableAjaxSubmit">
	    var ctx = /*[[@{/}]]*/;
	</script>

	<!-- Custom JS -->
	<script th:src="@{/js/wisesoft.js}"></script>
	<script th:src="@{/js/util.js}"></script>
	<script th:src="@{/js/cgd.core.js}"></script>
	<script th:src="@{/js/cgd.loading.js}"></script>
	<script src="" th:src="@{/js/formValidation.js}"></script>
	<script src="" th:src="@{/js/events2.js}"></script>
	<th:block th:utext="'&lt;!--[if lt IE 10]&gt;'"></th:block>
	      <script th:src="@{/js/event2ForIE9.js}"></script>
	<th:block th:utext="'&lt;![endif]--&gt;'"></th:block>

	

</head>
<body class="login">

			<div class="row text-center">
			    <img th:src="@{/images/login_logo.png}" class="login-logo"/>
			</div>
<div ng-app="registerCitizenApp">
	<div ng-controller="registerCtrl">
	
		
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u14260" class="ax_default shape">
        <div id="u14260_div" class=""></div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14261" class="ax_default heading_2">
        <div id="u14261_div" class=""></div>
        <div id="u14261_text" class="text " style="left: 0px; width: 47px; transform-origin: 23.5px 13px 0px;">
          <p><span>อีเมล </span><span style="color:#FF0000;">*</span><span> :</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u14262" class="ax_default text_field">
        <input id="u14262_input" type="text" name="email" class="form-control" placeholder="email address" required="required" autocomplete="off" ng-model="userBean.email" />
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14263" class="ax_default heading_2">
        <div id="u14263_div" class=""></div>
        <div id="u14263_text" class="text " style="left: 0px; width: 92px; transform-origin: 46px 13px 0px;">
          <p><span>เบอร์โทรศัพท์ </span><span style="color:#FF0000;">*</span><span>:</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u14264" class="ax_default text_field">
        <input id="u14264_input" type="text" name="mobile" class="form-control" placeholder="mobile number" required="required" autocomplete="off"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14265" class="ax_default heading_2">
        <div id="u14265_div" class=""></div>
        <div id="u14265_text" class="text " style="left: 0px; width: 97px; transform-origin: 48.5px 13px 0px;">
          <p><span style="font-family:&#39;TH Sarabun New Bold&#39;, &#39;TH Sarabun New Regular&#39;, &#39;TH Sarabun New&#39;;font-weight:700;">ประเภทผู้ใช้งาน :</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14266" class="ax_default heading_2">
        <div id="u14266_div" class=""></div>
        <div id="u14266_text" class="text " style="left: 0px; width: 126px; transform-origin: 63px 13px 0px;">
          <p><span>เลขทะเบียนนิติบุคคล :</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14267" class="ax_default" data-left="49" data-top="153" data-width="339" data-height="28">

        <!-- Unnamed (Rectangle) -->
        <div id="u14268" class="ax_default heading_2">
          <div id="u14268_div" class=""></div>
          <div id="u14268_text" class="text " style="left: 0px; width: 138px; transform-origin: 69px 13px 0px;">
            <p><span>ชื่อนิติบุคคล(ภาษาไทย) :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14269" class="ax_default heading_2">
          <div id="u14269_div" class=""></div>
          <div id="u14269_text" class="text ">
            <p><span>บจ.เขาใหญ่ แลนด์ จำกัด</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14270" class="ax_default paragraph1">
        <div id="u14270_div" class=""></div>
        <div id="u14270_text" class="text " style="left: 0px; width: 46px; transform-origin: 23px 13px 0px;">
          <p><span>นิติบุคคล</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14271" class="ax_default" data-left="89" data-top="191" data-width="299" data-height="28">

        <!-- Unnamed (Rectangle) -->
        <div id="u14272" class="ax_default heading_2">
          <div id="u14272_div" class=""></div>
          <div id="u14272_text" class="text " style="left: 0px; width: 98px; transform-origin: 49px 13px 0px;">
            <p><span>สถานะนิิติบุคคล :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14273" class="ax_default heading_2">
          <div id="u14273_div" class=""></div>
          <div id="u14273_text" class="text ">
            <p><span>ดำเนินกิจการ</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14274" class="ax_default" data-left="411" data-top="151" data-width="359" data-height="30">

        <!-- Unnamed (Rectangle) -->
        <div id="u14275" class="ax_default heading_2">
          <div id="u14275_div" class=""></div>
          <div id="u14275_text" class="text " style="left: 0px; width: 155px; transform-origin: 77.5px 13px 0px;">
            <p><span>ชื่อนิติบุคคล(ภาษาอังกฤษ) :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14276" class="ax_default heading_2">
          <div id="u14276_div" class=""></div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14277" class="ax_default heading_2">
        <div id="u14277_div" class=""></div>
        <div id="u14277_text" class="text ">
          <p><span>ที่อยู่สถานประกอบการ</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u14278" class="ax_default text_field">
        <input id="u14278_input" type="text" name="corpid" class="form-control" placeholder="เลขทะเบียนนิติบุคคล" required="required" autocomplete="off"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14279" class="ax_default shape" style="cursor: pointer;">
        <div id="u14279_div" class="" tabindex="0"></div>
        <div id="u14279_text" class="text ">
          <p><span>&nbsp;&nbsp; &nbsp; ค้นหา</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14280" class="ax_default fontawesome">
        <div id="u14280_div" class=""></div>
        <div id="u14280_text" class="text " style="left: 0px; width: 13px; transform-origin: 6.5px 9.5px 0px;">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14281" class="ax_default heading_2">
        <div id="u14281_div" class=""></div>
        <div id="u14281_text" class="text " style="left: 0px; width: 149px; transform-origin: 74.5px 13px 0px;">
          <p><span>เลขประจำตัวประชาชน </span><span style="color:#FF0000;">*</span><span> :</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u14282" class="ax_default text_field">
        <input id="u14282_input" type="text" name="id_card" class="form-control" placeholder="รหัสประจำตัวประชาชน 13 หลัก" required="required" autocomplete="off" ng-model="userBean.citizenid" />
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14283" class="ax_default shape">
        <div id="u14283_div" class=""></div>
        <div id="u14283_text" class="text " style="top: 2px; transform-origin: 455.5px 12px 0px;">
          <p><span>ลงทะเบียนสำหรับภาคธุรกิจ</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14284" class="ax_default heading_2">
        <div id="u14284_div" class=""></div>
        <div id="u14284_text" class="text ">
          <p><span>ข้อมูลผู้มีอำนาจลงนามของนิติบุคคล</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14285" class="ax_default shape" style="cursor: pointer;">
        <div id="u14285_div" class="" tabindex="0"></div>
        <button type="button" id="saveBtn" ng-click="saveUser()" class="btn btn-primary">
        <div id="u14285_text" class="text ">
          <p><span>&nbsp;&nbsp; &nbsp; ลงทะเบียน</span></p>
        </div>
		</button>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14286" class="ax_default fontawesome">
        <div id="u14286_div" class=""></div>
        <div id="u14286_text" class="text " style="left: 0px; width: 13px; transform-origin: 6.5px 9.5px 0px;">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14287" class="ax_default shape" style="cursor: pointer;">
        <div id="u14287_div" class="" tabindex="0"></div>
        <div id="u14287_text" class="text " style="top: 5px; transform-origin: 37px 12px 0px;">
          <p><span>&nbsp;&nbsp; &nbsp; ล้างข้อมูล</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14288" class="ax_default fontawesome">
        <div id="u14288_div" class=""></div>
        <div id="u14288_text" class="text " style="left: 0px; width: 13px; transform-origin: 6.5px 9.5px 0px;">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14289" class="ax_default heading_2">
        <div id="u14289_div" class=""></div>
        <div id="u14289_text" class="text " style="left: 0px; width: 139px; transform-origin: 69.5px 13px 0px;">
          <p><span>กรุณากรอกสิ่งที่ท่านเห็น :</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u14290" class="ax_default text_field">
        <input id="u14290_input" type="text" name="captcha" class="form-control" placeholder="CAPTCHA" required="required" autocomplete="off"/>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u14291" class="ax_default radio_button">
        <label for="u14291_input" style="position: absolute; left: 0px;">
          <div id="u14291_text" class="text ">
            <p><span>รหัสผ่าน OTP</span></p>
          </div>
        </label>
        <input id="u14291_input" type="radio" value="radio" name="radioGroup1" checked="" />
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u14292" class="ax_default radio_button">
        <label for="u14292_input" style="position: absolute; left: 0px;">
          <div id="u14292_text" class="text ">
            <p><span>อีเมล</span></p>
          </div>
        </label>
        <input id="u14292_input" type="radio" value="radio" name="radioGroup1" />
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14293" class="ax_default heading_2">
        <div id="u14293_div" class=""></div>
        <div id="u14293_text" class="text " style="left: 0px; width: 168px; transform-origin: 84px 13px 0px;">
          <p><span>กรุณาเลือกวิธีการยืนยันตัวตน :</span></p>
        </div>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u14294" class="ax_default checkbox">
        <label for="u14294_input" style="position: absolute; left: 0px;">
          <div id="u14294_text" class="text ">
            <p><span>ยอมรับเงื่อนไขในการลงทะเบียน</span></p>
          </div>
        </label>
        <input id="u14294_input" type="checkbox" value="checkbox" />
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14295" class="ax_default" data-left="423" data-top="191" data-width="347" data-height="96">

        <!-- Unnamed (Rectangle) -->
        <div id="u14296" class="ax_default heading_2">
          <div id="u14296_div" class=""></div>
          <div id="u14296_text" class="text " style="left: 0px; width: 142px; transform-origin: 71px 13px 0px;">
            <p><span>รายละเอียดวัตถุประสงค์ :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14297" class="ax_default heading_2">
          <div id="u14297_div" class=""></div>
          <div id="u14297_text" class="text ">
            <p><span>ประกอบกิจการค้า ให้เช่าที่ดิน อาคาร ตึกแถว และอสังหาริมทรัพย์</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14298" class="ax_default heading_2">
        <div id="u14298_div" class=""></div>
        <div id="u14298_text" class="text " style="left: 0px; width: 55px; transform-origin: 27.5px 13px 0px;">
          <p><span>รหัสผ่าน :</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u14299" class="ax_default text_field">
        <input id="u14299_input" type="password" name="password" class="form-control" placeholder="password" required="required" autocomplete="off" ng-model="userBean.password" />
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14300" class="ax_default heading_2">
        <div id="u14300_div" class=""></div>
        <div id="u14300_text" class="text " style="left: 0px; width: 87px; transform-origin: 43.5px 13px 0px;">
          <p><span>ยืนยันรหัสผ่าน :</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u14301" class="ax_default text_field">
        <input id="u14301_input" type="password" name="cfpassword" class="form-control" placeholder="confirm password" required="required" autocomplete="off" />
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14302" class="ax_default" data-left="402" data-top="467" data-width="279" data-height="26">

        <!-- Unnamed (Rectangle) -->
        <div id="u14303" class="ax_default heading_2">
          <div id="u14303_div" class=""></div>
          <div id="u14303_text" class="text " style="left: 0px; width: 103px; transform-origin: 51.5px 13px 0px;">
            <p><span>วัน/เดือน/ปี เกิด </span><span style="color:#FF0000;">*</span><span>:</span></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14304" class="ax_default" data-left="517" data-top="468" data-width="164" data-height="25">

          <!-- Unnamed (Text Field) -->
          <div id="u14305" class="ax_default text_field">
            <input id="u14305_input" type="text" name="dob" class="form-control" placeholder="dd/mm/yyyy" required="required" autocomplete="off" />
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u14306" class="ax_default fontawesome">
            <div id="u14306_div" class=""></div>
            <div id="u14306_text" class="text " style="left: 0px; width: 13px; transform-origin: 6.5px 9.5px 0px;">
              <p><span></span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14307" class="ax_default" data-left="202" data-top="777" data-width="244" data-height="46">

        <!-- Unnamed (Image) -->
        <div id="u14308" class="ax_default image">
          <img id="u14308_img" class="img " src="../images/u16477.png" />
        </div>

        <!-- Unnamed (Image) -->
        <div id="u14309" class="ax_default image">
          <img id="u14309_img" class="img " src="../images/u16478.png" />
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14310" class="ax_default" data-left="76" data-top="556" data-width="441" data-height="67">

        <!-- Unnamed (Rectangle) -->
        <div id="u14311" class="ax_default heading_2">
          <div id="u14311_div" class=""></div>
          <div id="u14311_text" class="text " style="left: 0px; width: 103px; transform-origin: 51.5px 13px 0px;">
            <p><span>อัพโหลดเอกสาร</span><span style="color:#FF0000;">*</span><span> :</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u14312" class="ax_default text_field">
          <input id="u14312_input" type="text" value="" />
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14313" class="ax_default shape" style="cursor: pointer;">
          <div id="u14313_div" class="" tabindex="0"></div>
          <div id="u14313_text" class="text ">
            <p><span>เลือกไฟล์</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14314" class="ax_default heading_2">
          <div id="u14314_div" class=""></div>
          <div id="u14314_text" class="text ">
            <p><span>ประเภทไฟล์ .pdf, .docx, .dox ขนาดไม่เกิน 2 MB</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14315" class="ax_default">
          <img id="u14315_img" class="img " src="../images/u14315.png"/>
          <div id="u14315_text" class="text " style="left: 2px; width: 16px; transform-origin: 8px 10px 0px;">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14316" class="ax_default" data-left="527" data-top="551" data-width="90" data-height="34">

        <!-- Unnamed (Rectangle) -->
        <div id="u14317" class="ax_default shape">
          <div id="u14317_div" class=""></div>
          <div id="u14317_text" class="text ">
            <p><span>Upload</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14318" class="ax_default fontawesome">
          <div id="u14318_div" class=""></div>
          <div id="u14318_text" class="text ">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14319" class="ax_default" data-left="124" data-top="272" data-width="835" data-height="106">

        <!-- Unnamed (Group) -->
        <div id="u14320" class="ax_default" data-left="124" data-top="275" data-width="175" data-height="28">

          <!-- Unnamed (Rectangle) -->
          <div id="u14321" class="ax_default heading_2">
            <div id="u14321_div" class=""></div>
            <div id="u14321_text" class="text " style="left: 0px; width: 62px; transform-origin: 31px 13px 0px;">
              <p><span>บ้านเลขที่ :</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u14322" class="ax_default heading_2">
            <div id="u14322_div" class=""></div>
            <div id="u14322_text" class="text ">
              <p><span>269</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14323" class="ax_default" data-left="575" data-top="272" data-width="94" data-height="28">

          <!-- Unnamed (Rectangle) -->
          <div id="u14324" class="ax_default heading_2">
            <div id="u14324_div" class=""></div>
            <div id="u14324_text" class="text " style="left: 0px; width: 33px; transform-origin: 16.5px 13px 0px;">
              <p><span>หมู่ที่ :</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u14325" class="ax_default heading_2">
            <div id="u14325_div" class=""></div>
            <div id="u14325_text" class="text ">
              <p><span>3</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14326" class="ax_default" data-left="316" data-top="275" data-width="239" data-height="28">

          <!-- Unnamed (Rectangle) -->
          <div id="u14327" class="ax_default heading_2">
            <div id="u14327_div" class=""></div>
            <div id="u14327_text" class="text " style="left: 0px; width: 126px; transform-origin: 63px 13px 0px;">
              <p><span>หมู่บ้าน/อาคาร/ห้องที่ :</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u14328" class="ax_default heading_2">
            <div id="u14328_div" class=""></div>
            <div id="u14328_text" class="text ">
              <p><span>-</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14329" class="ax_default" data-left="736" data-top="272" data-width="223" data-height="28">

          <!-- Unnamed (Rectangle) -->
          <div id="u14330" class="ax_default heading_2">
            <div id="u14330_div" class=""></div>
            <div id="u14330_text" class="text " style="left: 0px; width: 39px; transform-origin: 19.5px 13px 0px;">
              <p><span>ตรอก :</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u14331" class="ax_default heading_2">
            <div id="u14331_div" class=""></div>
            <div id="u14331_text" class="text ">
              <p><span>-</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14332" class="ax_default" data-left="404" data-top="311" data-width="254" data-height="28">

          <!-- Unnamed (Rectangle) -->
          <div id="u14333" class="ax_default heading_2">
            <div id="u14333_div" class=""></div>
            <div id="u14333_text" class="text " style="left: 0px; width: 34px; transform-origin: 17px 13px 0px;">
              <p><span>ถนน : </span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u14334" class="ax_default heading_2">
            <div id="u14334_div" class=""></div>
            <div id="u14334_text" class="text ">
              <p><span>-</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14335" class="ax_default" data-left="696" data-top="311" data-width="232" data-height="26">

          <!-- Unnamed (Rectangle) -->
          <div id="u14336" class="ax_default heading_2">
            <div id="u14336_div" class=""></div>
            <div id="u14336_text" class="text " style="left: 0px; width: 47px; transform-origin: 23.5px 13px 0px;">
              <p><span>จังหวัด :</span></p>
            </div>
          </div>

          <!-- Unnamed (Droplist) -->
          <div id="u14337" class="ax_default droplist">
            <select id="u14337_input">
              <option value="กรุณาเลือก">กรุณาเลือก</option>
              <option value="นครศรีธรรมราช">นครศรีธรรมราช</option>
              <option selected="" value="กรุงเทพมหานคร">กรุงเทพมหานคร</option>
            </select>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14338" class="ax_default" data-left="124" data-top="352" data-width="253" data-height="26">

          <!-- Unnamed (Rectangle) -->
          <div id="u14339" class="ax_default heading_2">
            <div id="u14339_div" class=""></div>
            <div id="u14339_text" class="text " style="left: 0px; width: 68px; transform-origin: 34px 13px 0px;">
              <p><span>เขต/อำเภอ :</span></p>
            </div>
          </div>

          <!-- Unnamed (Droplist) -->
          <div id="u14340" class="ax_default droplist">
            <select id="u14340_input">
              <option value="กรุณาเลือก">กรุณาเลือก</option>
              <option value="นครศรีธรรมราช">นครศรีธรรมราช</option>
              <option selected="" value="ลาดพร้าว">ลาดพร้าว</option>
            </select>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14341" class="ax_default" data-left="404" data-top="352" data-width="258" data-height="26">

          <!-- Unnamed (Rectangle) -->
          <div id="u14342" class="ax_default heading_2">
            <div id="u14342_div" class=""></div>
            <div id="u14342_text" class="text " style="left: 0px; width: 73px; transform-origin: 36.5px 13px 0px;">
              <p><span>แขวง/ตำบล :</span></p>
            </div>
          </div>

          <!-- Unnamed (Droplist) -->
          <div id="u14343" class="ax_default droplist">
            <select id="u14343_input">
              <option value="กรุณาเลือก">กรุณาเลือก</option>
              <option value="นครศรีธรรมราช">นครศรีธรรมราช</option>
              <option selected="" value="บางเขน">บางเขน</option>
            </select>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14344" class="ax_default" data-left="696" data-top="350" data-width="194" data-height="28">

          <!-- Unnamed (Rectangle) -->
          <div id="u14345" class="ax_default heading_2">
            <div id="u14345_div" class=""></div>
            <div id="u14345_text" class="text " style="left: 0px; width: 81px; transform-origin: 40.5px 13px 0px;">
              <p><span>รหัสไปรษณีย์ :</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u14346" class="ax_default heading_2">
            <div id="u14346_div" class=""></div>
            <div id="u14346_text" class="text ">
              <p><span>10230</span></p>
            </div>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14347" class="ax_default" data-left="124" data-top="311" data-width="239" data-height="28">

          <!-- Unnamed (Rectangle) -->
          <div id="u14348" class="ax_default heading_2">
            <div id="u14348_div" class=""></div>
            <div id="u14348_text" class="text " style="left: 0px; width: 32px; transform-origin: 16px 13px 0px;">
              <p><span>ซอย :</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u14349" class="ax_default heading_2">
            <div id="u14349_div" class=""></div>
            <div id="u14349_text" class="text ">
              <p><span>-</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  

	
	</div>
</div>
<script type="text/javascript" th:utext="'var ctx = \'' + ${@baseUrlService.baseUrl} + '\';'" ></script>
</body>
</html>