<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="refresh" content="900" />

	<title>ลงทะเบียนสำหรับบุคคลากรภาครัฐ</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/jquery-ui-themes.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/axure_rp_page.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/styles.css}" />
	<!-- <link rel="stylesheet" type="text/css" th:href="@{/css/login/stylesRegisterCitizen.css}" /> -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/stylesRegister3.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/font-awesome.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/login/thsarabunnew.css}" />

	<!-- Font Style -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/fonts/THSarabunNew-Bold/styles.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/fonts/THSarabunNew/styles.css}" />
		<!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" th:href="@{/lib/font-awesome/css/font-awesome.min.css}"/>

	<!-- The styles -->
	<link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap/css/bootstrap.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/lib/select2/css/select2.min.css}" />

	<!-- My CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

	<!--  JQuery -->
	<script th:src="@{/lib/jquery/jquery-2.2.1.min.js}"></script>

	<!-- Bootstrap -->
	<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{/lib/select2/js/select2.min.js}"></script>

	<!-- My JS -->
	<script th:src="@{/js/wisesoft.js}"></script>
	<script th:src="@{/js/login.js}"></script>
	<script th:src="@{/js/event.js}"></script>
	<!-- <script th:src="@{/js/example/example2.js}"></script> -->
	
	<!-- 	AngularJS -->
		<script th:src="@{/bower_components/angular/angular.js}"></script>
				<script th:src="@{/bower_components/angular-route/angular-route.js}"></script>
				<script th:src="@{/bower_components/angular-ui-router/release/angular-ui-router.js}"></script>
				<script th:src="@{/bower_components/angular-resource/angular-resource.js}"></script>
				<script th:src="@{/bower_components/angular-animate/angular-animate.js}"></script>
				<script th:src="@{/bower_components/angular-aria/angular-aria.js}"></script>
				<script th:src="@{/bower_components/angular-messages/angular-messages.js}"></script>
				<script th:src="@{/bower_components/angular-sanitize/angular-sanitize.js}"></script>
				<script th:src="@{/bower_components/angular-touch/angular-touch.js}"></script>
				<script th:src="@{/bower_components/angular-bootstrap/ui-bootstrap.js}"></script>
				<script th:src="@{/bower_components/angular-bootstrap/ui-bootstrap-tpls.js}"></script>
				<script th:src="@{/bower_components/angular-cookies/angular-cookies.js}"></script>
				<script th:src="@{/bower_components/ng-idle/angular-idle.js}"></script>
				<script th:src="@{/bower_components/jquery/dist/jquery.js}"></script>
				<script th:src="@{/bower_components/bootstrap/dist/js/bootstrap.js}"></script>
				<script th:src="@{/bower_components/jquery-placeholder/jquery.placeholder.js}"></script>
				<script th:src="@{/bower_components/select2/select2.js}"></script>
				<script th:src="@{/bower_components/angucomplete/angucomplete.js}"></script>
				<script th:src="@{/bower_components/directive/datepicker/datepicker.js}"></script>

	

	<script th:src="@{/js/register/registerCitizen.js}"></script>
	<!-- Custom JS  AngularJS-->
	<script th:src="@{/js/provider/httpProvider.js}"></script>

	<script>
		$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip();
		});
	</script>

	<!-- swiper -->
	<link rel="stylesheet" th:href="@{/lib/swiper/3.4.0/css/swiper.min.css}"/>
	<script th:src="@{/lib/swiper/3.4.0/js/swiper.min.js}"></script>
	<script th:src="@{/lib/swiper/3.4.0/js/swiper.jquery.min.js}"></script>

	<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/home_icon.png}"  />
	<style>
		body{
			background-image: url('../images/main_bg.png');
		}
		.txt-login{
			font-size: 22px;
    		color: #2fa4e7;
		}
		.container{
				max-width: 1280px;
		}
		.login-container{
			background-color: #dff2fd; background-image: url('images/login_bg.png'); height: 1170px;
		}
		.login-logo{
			max-width: 85px; margin: 20px; margin-bottom: 40px;
		}
		.news-container {
			background-color: #2b5972;  background-image: url('images/login_bg.png');
			background-repeat: no-repeat;  background-position: center; background-size: 60%;
		}
		.txt-gray{
			color: #808080;
		}
		.txt-navy{
			color:#113344;
		}
		.txt-info{
			color: #fff;
			font-size: 18px;
			padding: 5px;
		}
		.line{
			border-style: none none solid none;  border-width: thin; border-color: #cccccc;
		}

		.forgot-error {
			position:relative;
		}
		.forgot-error .help-block {
			left: 60px; !important
		}
		.banner{
			margin-bottom: 20px;
		}
		@media (max-width:991px){
			.banner{
				display: none;
			}
		}
		@media (min-width:992px){
			.banner-m{
				display: none;
				padding: 0px;
			}
		}
	</style>


	<!-- Plug In JS -->
	<script th:src="@{/lib/jquery/jquery.number.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery.numeric.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery.mask.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery.validate.js}"></script>
	<script th:src="@{/lib/jquery/jquery.form.min.js}"></script>
	<script th:src="@{/lib/jquery/jquery.deserialize.min.js}"></script>
	<script th:src="@{/lib/jquery/additional-methods.min.js}"></script>
	<script th:src="@{/lib/jquery/validate-local/messages_th.js}"></script>

	<script th:inline="javascript" th:include="include/enableAjaxSubmit::enableAjaxSubmit">
	    var ctx = /*[[@{/}]]*/;
	</script>

	<!-- Custom JS -->
	<script th:src="@{/js/wisesoft.js}"></script>
	<script th:src="@{/js/util.js}"></script>
	<script th:src="@{/js/cgd.core.js}"></script>
	<script th:src="@{/js/cgd.loading.js}"></script>
	<script src="" th:src="@{/js/formValidation.js}"></script>
	<script src="" th:src="@{/js/events2.js}"></script>
	<th:block th:utext="'&lt;!--[if lt IE 10]&gt;'"></th:block>
	      <script th:src="@{/js/event2ForIE9.js}"></script>
	<th:block th:utext="'&lt;![endif]--&gt;'"></th:block>

	

</head>
<body class="login">

			<div class="row text-center">
			    <img th:src="@{/images/login_logo.png}" class="login-logo"/>
			</div>
<div ng-app="registerCitizenApp">
	<div ng-controller="registerCtrl">
	
		
    
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u14677" class="ax_default shape">
        <div id="u14677_div" class=""></div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14678" class="ax_default shape">
        <div id="u14678_div" class=""></div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14679" class="ax_default shape">
        <div id="u14679_div" class=""></div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14680" class="ax_default shape">
        <div id="u14680_div" class=""></div>
        <div id="u14680_text" class="text " style="top: 2px; transform-origin: 473px 12px 0px;">
          <p><span>ข้อมูลผู้ใช้งาน</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14681" class="ax_default shape">
        <div id="u14681_div" class=""></div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14682" class="ax_default fontawesome">
        <div id="u14682_div" class=""></div>
        <div id="u14682_text" class="text " style="left: 0px; width: 13px; transform-origin: 6.5px 9.5px 0px;">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14683" class="ax_default paragraph1">
        <div id="u14683_div" class=""></div>
        <div id="u14683_text" class="text " style="left: 0px; width: 307px; transform-origin: 153.5px 14px 0px;">
          <p><span>ลงทะเบียนสำหรับบุคลากรภาครัฐและกรมบัญชีกลาง</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14684" class="ax_default" data-left="44" data-top="229" data-width="236" data-height="28">

        <!-- Unnamed (Rectangle) -->
        <div id="u14685" class="ax_default heading_2">
          <div id="u14685_div" class=""></div>
          <div id="u14685_text" class="text " style="left: 0px; width: 123px; transform-origin: 61.5px 13px 0px;">
            <p><span>คำนำหน้า(ภาษาไทย) :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14686" class="ax_default heading_2">
          <div id="u14686_div" class=""></div>
          <div id="u14686_text" class="text ">
            <p><span>นางสาว</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14687" class="ax_default" data-left="459" data-top="229" data-width="348" data-height="28">

        <!-- Unnamed (Rectangle) -->
        <div id="u14688" class="ax_default heading_2">
          <div id="u14688_div" class=""></div>
          <div id="u14688_text" class="text " style="left: 0px; width: 109px; transform-origin: 54.5px 13px 0px;">
            <p><span>ชื่อจริง(ภาษาไทย) :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14689" class="ax_default heading_2">
          <div id="u14689_div" class=""></div>
          <div id="u14689_text" class="text ">
            <p><span>ฉัตรกมล</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14690" class="ax_default" data-left="451" data-top="262" data-width="355" data-height="28">

        <!-- Unnamed (Rectangle) -->
        <div id="u14691" class="ax_default heading_2">
          <div id="u14691_div" class=""></div>
          <div id="u14691_text" class="text " style="left: 0px; width: 116px; transform-origin: 58px 13px 0px;">
            <p><span>นามสกุล(ภาษาไทย) :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14692" class="ax_default heading_2">
          <div id="u14692_div" class=""></div>
          <div id="u14692_text" class="text ">
            <p><span>ดวงนารถ</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14693" class="ax_default heading_2">
        <div id="u14693_div" class=""></div>
        <div id="u14693_text" class="text ">
          <p><span>ที่อยู่ตามทะเบียนบ้าน</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14694" class="ax_default" data-left="52" data-top="261" data-width="353" data-height="27">

        <!-- Unnamed (Rectangle) -->
        <div id="u14695" class="ax_default heading_2">
          <div id="u14695_div" class=""></div>
          <div id="u14695_text" class="text " style="left: 0px; width: 115px; transform-origin: 57.5px 13px 0px;">
            <p><span>ชื่อกลาง(ภาษาไทย) :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14696" class="ax_default heading_2">
          <div id="u14696_div" class=""></div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14697" class="ax_default paragraph1">
        <div id="u14697_div" class=""></div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14698" class="ax_default" data-left="441" data-top="296" data-width="366" data-height="28">

        <!-- Unnamed (Rectangle) -->
        <div id="u14699" class="ax_default heading_2">
          <div id="u14699_div" class=""></div>
          <div id="u14699_text" class="text " style="left: 0px; width: 127px; transform-origin: 63.5px 13px 0px;">
            <p><span>ชื่อจริง(ภาษาอังกฤษ) :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14700" class="ax_default heading_2">
          <div id="u14700_div" class=""></div>
          <div id="u14700_text" class="text ">
            <p><span>CHATKAMON</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14701" class="ax_default" data-left="434" data-top="330" data-width="373" data-height="29">

        <!-- Unnamed (Rectangle) -->
        <div id="u14702" class="ax_default heading_2">
          <div id="u14702_div" class=""></div>
          <div id="u14702_text" class="text " style="left: 0px; width: 134px; transform-origin: 67px 13px 0px;">
            <p><span>นามสกุล(ภาษาอังกฤษ) :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14703" class="ax_default heading_2">
          <div id="u14703_div" class=""></div>
          <div id="u14703_text" class="text ">
            <p><span>DOUNGNART</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14704" class="ax_default" data-left="34" data-top="329" data-width="371" data-height="28">

        <!-- Unnamed (Rectangle) -->
        <div id="u14705" class="ax_default heading_2">
          <div id="u14705_div" class=""></div>
          <div id="u14705_text" class="text " style="left: 0px; width: 132px; transform-origin: 66px 13px 0px;">
            <p><span>ชื่อกลาง(ภาษาอังกฤษ) :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14706" class="ax_default heading_2">
          <div id="u14706_div" class=""></div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14707" class="ax_default" data-left="26" data-top="293" data-width="254" data-height="31">

        <!-- Unnamed (Rectangle) -->
        <div id="u14708" class="ax_default heading_2">
          <div id="u14708_div" class=""></div>
          <div id="u14708_text" class="text " style="left: 0px; width: 141px; transform-origin: 70.5px 13px 0px;">
            <p><span>คำนำหน้า(ภาษาอังกฤษ) :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14709" class="ax_default heading_2">
          <div id="u14709_div" class=""></div>
          <div id="u14709_text" class="text ">
            <p><span>Miss</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14710" class="ax_default" data-left="530" data-top="366" data-width="152" data-height="28">

        <!-- Unnamed (Rectangle) -->
        <div id="u14711" class="ax_default heading_2">
          <div id="u14711_div" class=""></div>
          <div id="u14711_text" class="text " style="left: 0px; width: 38px; transform-origin: 19px 13px 0px;">
            <p><span>&nbsp; อายุ :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14712" class="ax_default heading_2">
          <div id="u14712_div" class=""></div>
          <div id="u14712_text" class="text ">
            <p><span>38</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14713" class="ax_default paragraph1">
        <div id="u14713_div" class=""></div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14714" class="ax_default fontawesome">
        <div id="u14714_div" class=""></div>
        <div id="u14714_text" class="text " style="left: 0px; width: 13px; transform-origin: 6.5px 9.5px 0px;">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14715" class="ax_default heading_2">
        <div id="u14715_div" class=""></div>
        <div id="u14715_text" class="text " style="left: 0px; width: 47px; transform-origin: 23.5px 13px 0px;">
          <p><span>อีเมล </span><span style="color:#FF0000;">*</span><span> :</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u14716" class="ax_default text_field">
        <input id="u14716_input" type="text" name="email" class="form-control" placeholder="email address" required="required" autocomplete="off" ng-model="userBean.email" />
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14717" class="ax_default heading_2">
        <div id="u14717_div" class=""></div>
        <div id="u14717_text" class="text " style="left: 0px; width: 96px; transform-origin: 48px 13px 0px;">
          <p><span>เบอร์โทรศัพท์ </span><span style="color:#FF0000;">*</span><span> :</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u14718" class="ax_default text_field">
        <input id="u14718_input" type="text" value="" class="form-control" placeholder="" autocomplete="off" />
      </div>

      <!-- Unnamed (Vertical Line) -->
      <!-- <div id="u14719" class="ax_default vertical_line">
        <img id="u14719_img" class="img " src="./register_goverment_files/u1956.png"/>
      </div> -->

      <!-- Unnamed (Rectangle) -->
      <div id="u14720" class="ax_default heading_2">
        <div id="u14720_div" class=""></div>
        <div id="u14720_text" class="text " style="left: 0px; width: 149px; transform-origin: 74.5px 13px 0px;">
          <p><span>เลขประจำตัวประชาชน </span><span style="color:#FF0000;">*</span><span> :</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u14721" class="ax_default text_field">
        <input id="u14721_input" type="text" name="id_card" class="form-control" placeholder="รหัสประจำตัวประชาชน 13 หลัก" required="required" autocomplete="off" ng-model="userBean.citizenid" />
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14722" class="ax_default heading_2">
        <div id="u14722_div" class=""></div>
        <div id="u14722_text" class="text " style="left: 0px; width: 35px; transform-origin: 17.5px 13px 0px;">
          <p><span>พืนที่ :</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14723" class="ax_default heading_2">
        <div id="u14723_div" class=""></div>
        <div id="u14723_text" class="text ">
          <p><span>ข้อมูลส่วนตัว</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14724" class="ax_default heading_2">
        <div id="u14724_div" class=""></div>
        <div id="u14724_text" class="text " style="left: 0px; width: 91px; transform-origin: 45.5px 13px 0px;">
          <p><span>รหัสศูนย์ต้นทุน :</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14725" class="ax_default" data-left="49" data-top="1091" data-width="447" data-height="67">

        <!-- Unnamed (Rectangle) -->
        <div id="u14726" class="ax_default heading_2">
          <div id="u14726_div" class=""></div>
          <div id="u14726_text" class="text " style="left: 0px; width: 109px; transform-origin: 54.5px 23px 0px;">
            <p style="font-size:18px;"><span>อัพโหลดเอกสาร</span><span style="color:#FF0000;">*</span><span> :</span></p><p style="font-size:14px;"><span>(เอกสารขอเข้าใช้งานระบบ)</span></p>
          </div>
        </div>

        <!-- Unnamed (Text Field) -->
        <div id="u14727" class="ax_default text_field">
          <input id="u14727_input" type="text" value="" class="form-control" placeholder="" autocomplete="off" />
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14728" class="ax_default shape" style="cursor: pointer;">
          <div id="u14728_div" class="" tabindex="0"></div>
          <div id="u14728_text" class="text ">
            <p><span>เลือกไฟล์</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14729" class="ax_default heading_2">
          <div id="u14729_div" class=""></div>
          <div id="u14729_text" class="text ">
            <p><span>ประเภทไฟล์ .pdf, .docx, .dox ขนาดไม่เกิน 2 MB</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14730" class="ax_default">
          <img id="u14730_img" class="img " src="../images/u14315.png"/>
          <div id="u14730_text" class="text " style="left: 2px; width: 16px; transform-origin: 8px 10px 0px;">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14731" class="ax_default" data-left="540" data-top="1087" data-width="90" data-height="34">

        <!-- Unnamed (Rectangle) -->
        <div id="u14732" class="ax_default shape">
          <div id="u14732_div" class=""></div>
          <div id="u14732_text" class="text ">
            <p><span>Upload</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14733" class="ax_default fontawesome">
          <div id="u14733_div" class=""></div>
          <div id="u14733_text" class="text ">
            <p><span></span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14734" class="ax_default heading_2">
        <div id="u14734_div" class=""></div>
        <div id="u14734_text" class="text " style="left: 0px; width: 31px; transform-origin: 15.5px 13px 0px;">
          <p><span>กรม :</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14735" class="ax_default paragraph1">
        <div id="u14735_div" class=""></div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14736" class="ax_default heading_2">
        <div id="u14736_div" class=""></div>
        <div id="u14736_text" class="text " style="left: 0px; width: 139px; transform-origin: 69.5px 13px 0px;">
          <p><span>ประเภทหน่วยงานภาครัฐ:</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14737" class="ax_default heading_2">
        <div id="u14737_div" class=""></div>
        <div id="u14737_text" class="text " style="left: 0px; width: 166px; transform-origin: 83px 13px 0px;">
          <p><span>ประเภทย่อยหน่วยงานภาครัฐ :</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14738" class="ax_default shape">
        <div id="u14738_div" class=""></div>
        <div id="u14738_text" class="text " style="top: 2px; transform-origin: 473px 12px 0px;">
          <p><span>สิทธิ์ในการเข้าใช้งานระบบ</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14739" class="ax_default shape">
        <div id="u14739_div" class=""></div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14740" class="ax_default shape">
        <div id="u14740_div" class=""></div>
        <div id="u14740_text" class="text " style="top: 2px; transform-origin: 473px 12px 0px;">
          <p><span>การยืนยันตัวตน</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14741" class="ax_default fontawesome">
        <div id="u14741_div" class=""></div>
        <div id="u14741_text" class="text " style="left: 0px; width: 13px; transform-origin: 6.5px 9.5px 0px;">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14742" class="ax_default heading_2">
        <div id="u14742_div" class=""></div>
        <div id="u14742_text" class="text " style="left: 0px; width: 139px; transform-origin: 69.5px 13px 0px;">
          <p><span>กรุณากรอกสิ่งที่ท่านเห็น :</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u14743" class="ax_default text_field">
        <input id="u14743_input" type="text" value="CAPTCHA" class="form-control" placeholder="" autocomplete="off" />
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14744" class="ax_default shape" style="cursor: pointer;">
        <div id="u14744_div" class="" tabindex="0"></div>
        <div id="u14744_text" class="text " style="top: 5px; transform-origin: 37px 12px 0px;">
          <p><span>&nbsp;&nbsp; &nbsp; ล้างข้อมูล</span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14745" class="ax_default fontawesome">
        <div id="u14745_div" class=""></div>
        <div id="u14745_text" class="text " style="left: 0px; width: 13px; transform-origin: 6.5px 9.5px 0px;">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u14746" class="ax_default radio_button">
        <label for="u14746_input" style="position: absolute; left: 0px;">
          <div id="u14746_text" class="text ">
            <p><span>OTP</span></p>
          </div>
        </label>
        <input id="u14746_input" type="radio" value="radio" name="radioGroup1" checked="" />
      </div>

      <!-- Unnamed (Radio Button) -->
      <div id="u14747" class="ax_default radio_button">
        <label for="u14747_input" style="position: absolute; left: 0px;">
          <div id="u14747_text" class="text ">
            <p><span>อีเมล</span></p>
          </div>
        </label>
        <input id="u14747_input" type="radio" value="radio" name="radioGroup1" />
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14748" class="ax_default heading_2">
        <div id="u14748_div" class=""></div>
        <div id="u14748_text" class="text " style="left: 0px; width: 168px; transform-origin: 84px 13px 0px;">
          <p><span>กรุณาเลือกวิธีการยืนยันตัวตน :</span></p>
        </div>
      </div>

      <!-- Unnamed (Checkbox) -->
      <div id="u14749" class="ax_default checkbox">
        <label for="u14749_input" style="position: absolute; left: 0px;">
          <div id="u14749_text" class="text ">
            <p><span>ยอมรับเงื่อนไขในการลงทะเบียน</span></p>
          </div>
        </label>
        <input id="u14749_input" type="checkbox" value="checkbox"/>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14750" class="ax_default shape" style="cursor: pointer;">
        <div id="u14750_div" class="" tabindex="0"></div>
        <button type="button" id="saveBtn" ng-click="saveUser()" class="btn btn-primary">
        <div id="u14750_text" class="text ">
          <p><span>&nbsp;&nbsp; &nbsp; ลงทะเบียน</span></p>
        </div>
		</button>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14751" class="ax_default fontawesome">
        <div id="u14751_div" class=""></div>
        <div id="u14751_text" class="text " style="left: 0px; width: 13px; transform-origin: 6.5px 9.5px 0px;">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14752" class="ax_default" data-left="81" data-top="467" data-width="835" data-height="105">

        <!-- Unnamed (Rectangle) -->
        <div id="u14753" class="ax_default heading_2">
          <div id="u14753_div" class=""></div>
          <div id="u14753_text" class="text " style="left: 0px; width: 62px; transform-origin: 31px 13px 0px;">
            <p><span>บ้านเลขที่ :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14754" class="ax_default heading_2">
          <div id="u14754_div" class=""></div>
          <div id="u14754_text" class="text ">
            <p><span>50</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14755" class="ax_default heading_2">
          <div id="u14755_div" class=""></div>
          <div id="u14755_text" class="text " style="left: 0px; width: 33px; transform-origin: 16.5px 13px 0px;">
            <p><span>หมู่ที่ :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14756" class="ax_default heading_2">
          <div id="u14756_div" class=""></div>
          <div id="u14756_text" class="text ">
            <p><span>3</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14757" class="ax_default heading_2">
          <div id="u14757_div" class=""></div>
          <div id="u14757_text" class="text " style="left: 0px; width: 39px; transform-origin: 19.5px 13px 0px;">
            <p><span>ห้องที่ :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14758" class="ax_default heading_2">
          <div id="u14758_div" class=""></div>
          <div id="u14758_text" class="text ">
            <p><span>-</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14759" class="ax_default heading_2">
          <div id="u14759_div" class=""></div>
          <div id="u14759_text" class="text " style="left: 0px; width: 32px; transform-origin: 16px 13px 0px;">
            <p><span>ซอย :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14760" class="ax_default heading_2">
          <div id="u14760_div" class=""></div>
          <div id="u14760_text" class="text ">
            <p><span>-</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14761" class="ax_default heading_2">
          <div id="u14761_div" class=""></div>
          <div id="u14761_text" class="text " style="left: 0px; width: 34px; transform-origin: 17px 13px 0px;">
            <p><span>ถนน : </span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14762" class="ax_default heading_2">
          <div id="u14762_div" class=""></div>
          <div id="u14762_text" class="text ">
            <p><span>-</span></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14763" class="ax_default" data-left="116" data-top="508" data-width="232" data-height="26">

          <!-- Unnamed (Rectangle) -->
          <div id="u14764" class="ax_default heading_2">
            <div id="u14764_div" class=""></div>
            <div id="u14764_text" class="text " style="left: 0px; width: 47px; transform-origin: 23.5px 13px 0px;">
              <p><span>จังหวัด :</span></p>
            </div>
          </div>

          <!-- Unnamed (Droplist) -->
          <div id="u14765" class="ax_default droplist">
            <select id="u14765_input">
              <option value="กรุณาเลือก">กรุณาเลือก</option>
              <option value="นครศรีธรรมราช">นครศรีธรรมราช</option>
              <option selected="" value="กรุงเทพมหานคร">กรุงเทพมหานคร</option>
            </select>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14766" class="ax_default" data-left="361" data-top="508" data-width="253" data-height="26">

          <!-- Unnamed (Rectangle) -->
          <div id="u14767" class="ax_default heading_2">
            <div id="u14767_div" class=""></div>
            <div id="u14767_text" class="text " style="left: 0px; width: 68px; transform-origin: 34px 13px 0px;">
              <p><span>อำเภอ/เขต :</span></p>
            </div>
          </div>

          <!-- Unnamed (Droplist) -->
          <div id="u14768" class="ax_default droplist">
            <select id="u14768_input">
              <option value="กรุณาเลือก">กรุณาเลือก</option>
              <option value="นครศรีธรรมราช">นครศรีธรรมราช</option>
              <option selected="" value="ลาดพร้าว">ลาดพร้าว</option>
            </select>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14769" class="ax_default" data-left="630" data-top="507" data-width="258" data-height="26">

          <!-- Unnamed (Rectangle) -->
          <div id="u14770" class="ax_default heading_2">
            <div id="u14770_div" class=""></div>
            <div id="u14770_text" class="text " style="left: 0px; width: 73px; transform-origin: 36.5px 13px 0px;">
              <p><span>ตำบล/แขวง :</span></p>
            </div>
          </div>

          <!-- Unnamed (Droplist) -->
          <div id="u14771" class="ax_default droplist">
            <select id="u14771_input">
              <option value="กรุณาเลือก">กรุณาเลือก</option>
              <option value="นครศรีธรรมราช">นครศรีธรรมราช</option>
              <option selected="" value="บางเขน">บางเขน</option>
            </select>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14772" class="ax_default heading_2">
          <div id="u14772_div" class=""></div>
          <div id="u14772_text" class="text " style="left: 0px; width: 81px; transform-origin: 40.5px 13px 0px;">
            <p><span>รหัสไปรษณีย์ :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14773" class="ax_default heading_2">
          <div id="u14773_div" class=""></div>
          <div id="u14773_text" class="text ">
            <p><span>10230</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u14774" class="ax_default droplist">
        <select id="u14774_input">
          <option selected="" value="ทั้งหมด">ทั้งหมด</option>
          <option value="รหัส - หน่วยงานภาครัฐ">รหัส - หน่วยงานภาครัฐ</option>
        </select>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14775" class="ax_default" data-left="82" data-top="742" data-width="835" data-height="103">

        <!-- Unnamed (Rectangle) -->
        <div id="u14776" class="ax_default heading_2">
          <div id="u14776_div" class=""></div>
          <div id="u14776_text" class="text " style="left: 0px; width: 38px; transform-origin: 19px 13px 0px;">
            <p><span>เลขที่ :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14777" class="ax_default heading_2">
          <div id="u14777_div" class=""></div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14778" class="ax_default heading_2">
          <div id="u14778_div" class=""></div>
          <div id="u14778_text" class="text " style="left: 0px; width: 33px; transform-origin: 16.5px 13px 0px;">
            <p><span>หมู่ที่ :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14779" class="ax_default heading_2">
          <div id="u14779_div" class=""></div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14780" class="ax_default heading_2">
          <div id="u14780_div" class=""></div>
          <div id="u14780_text" class="text " style="left: 0px; width: 39px; transform-origin: 19.5px 13px 0px;">
            <p><span>ห้องที่ :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14781" class="ax_default heading_2">
          <div id="u14781_div" class=""></div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14782" class="ax_default heading_2">
          <div id="u14782_div" class=""></div>
          <div id="u14782_text" class="text " style="left: 0px; width: 32px; transform-origin: 16px 13px 0px;">
            <p><span>ซอย :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14783" class="ax_default heading_2">
          <div id="u14783_div" class=""></div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14784" class="ax_default heading_2">
          <div id="u14784_div" class=""></div>
          <div id="u14784_text" class="text " style="left: 0px; width: 34px; transform-origin: 17px 13px 0px;">
            <p><span>ถนน : </span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14785" class="ax_default heading_2">
          <div id="u14785_div" class=""></div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14786" class="ax_default" data-left="117" data-top="783" data-width="232" data-height="26">

          <!-- Unnamed (Rectangle) -->
          <div id="u14787" class="ax_default heading_2">
            <div id="u14787_div" class=""></div>
            <div id="u14787_text" class="text " style="left: 0px; width: 47px; transform-origin: 23.5px 13px 0px;">
              <p><span>จังหวัด :</span></p>
            </div>
          </div>

          <!-- Unnamed (Droplist) -->
          <div id="u14788" class="ax_default droplist">
            <select id="u14788_input">
              <option selected="" value="กรุณาเลือก">กรุณาเลือก</option>
              <option value="นครศรีธรรมราช">นครศรีธรรมราช</option>
              <option value="กรุงเทพมหานคร">กรุงเทพมหานคร</option>
            </select>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14789" class="ax_default" data-left="362" data-top="783" data-width="253" data-height="26">

          <!-- Unnamed (Rectangle) -->
          <div id="u14790" class="ax_default heading_2">
            <div id="u14790_div" class=""></div>
            <div id="u14790_text" class="text " style="left: 0px; width: 68px; transform-origin: 34px 13px 0px;">
              <p><span>อำเภอ/เขต :</span></p>
            </div>
          </div>

          <!-- Unnamed (Droplist) -->
          <div id="u14791" class="ax_default droplist">
            <select id="u14791_input">
              <option selected="" value="กรุณาเลือก">กรุณาเลือก</option>
              <option value="นครศรีธรรมราช">นครศรีธรรมราช</option>
              <option value="ลาดพร้าว">ลาดพร้าว</option>
            </select>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14792" class="ax_default" data-left="631" data-top="782" data-width="258" data-height="26">

          <!-- Unnamed (Rectangle) -->
          <div id="u14793" class="ax_default heading_2">
            <div id="u14793_div" class=""></div>
            <div id="u14793_text" class="text " style="left: 0px; width: 73px; transform-origin: 36.5px 13px 0px;">
              <p><span>ตำบล/แขวง :</span></p>
            </div>
          </div>

          <!-- Unnamed (Droplist) -->
          <div id="u14794" class="ax_default droplist">
            <select id="u14794_input">
              <option selected="" value="กรุณาเลือก">กรุณาเลือก</option>
              <option value="นครศรีธรรมราช">นครศรีธรรมราช</option>
              <option value="บางเขน">บางเขน</option>
            </select>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14795" class="ax_default heading_2">
          <div id="u14795_div" class=""></div>
          <div id="u14795_text" class="text " style="left: 0px; width: 81px; transform-origin: 40.5px 13px 0px;">
            <p><span>รหัสไปรษณีย์ :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14796" class="ax_default heading_2">
          <div id="u14796_div" class=""></div>
        </div>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u14797" class="ax_default droplist">
        <select id="u14797_input">
          <option selected="" value="ทั้งหมด">ทั้งหมด</option>
        </select>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u14798" class="ax_default droplist">
        <select id="u14798_input">
          <option selected="" value="รหัสกรม - ชื่อกรม">รหัสกรม - ชื่อกรม</option>
          <option value="กระทรวงการคลัง">กระทรวงการคลัง</option>
        </select>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u14799" class="ax_default droplist">
        <select id="u14799_input">
          <option value="รหัสพื้นที่ - พื้นที่">รหัสพื้นที่ - พื้นที่</option>
          <option value="กรมบัญชีกลาง">กรมบัญชีกลาง</option>
        </select>
      </div>

      <!-- Unnamed (Droplist) -->
      <div id="u14800" class="ax_default droplist">
        <select id="u14800_input">
          <option selected="" value="รหัสศูนย์ต้นทุน - ศูนย์ต้นทุน">รหัสศูนย์ต้นทุน - ศูนย์ต้นทุน</option>
          <option value="2900600001">2900600001</option>
        </select>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14801" class="ax_default" data-left="66" data-top="916" data-width="472" data-height="138">

        <!-- Unnamed (Rectangle) -->
        <div id="u14802" class="ax_default heading_2">
          <div id="u14802_div" class=""></div>
          <div id="u14802_text" class="text " style="left: 0px; width: 94px; transform-origin: 47px 13px 0px;">
            <p><span>สิทธิ์ที่ขอใช้งาน :</span></p>
          </div>
        </div>

        <!-- Unnamed (List Box) -->
        <div id="u14803" class="ax_default list_box">
          <select id="u14803_input" size="2">
            <option value="เจ้าหน้าที่การเงินระดับกรม (หัวหน้า)">เจ้าหน้าที่การเงินระดับกรม (หัวหน้า)</option>
            <option value="เจ้าหน้าที่การเงินระดับกรม">เจ้าหน้าที่การเงินระดับกรม</option>
            <option value="เจ้าที่หน้าการเงินระดับภูมิภาค">เจ้าที่หน้าการเงินระดับภูมิภาค</option>
            <option value="เจ้าหน้าที่บัญชีระดับกรม (หัวหน้า)">เจ้าหน้าที่บัญชีระดับกรม (หัวหน้า)</option>
            <option value="เจ้าหน้าที่บัญชีระดับกรม">เจ้าหน้าที่บัญชีระดับกรม</option>
            <option value="เจ้าหน้าที่บัญชีระดับภูมิภาค">เจ้าหน้าที่บัญชีระดับภูมิภาค</option>
          </select>
        </div>

        <!-- Unnamed (List Box) -->
        <div id="u14804" class="ax_default list_box">
          <select id="u14804_input" size="2">
          </select>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14805" class="ax_default" data-left="345" data-top="936" data-width="32" data-height="102">

          <!-- Unnamed (Rectangle) -->
          <div id="u14806" class="ax_default button">
            <div id="u14806_div" class=""></div>
            <div id="u14806_text" class="text ">
              <p><span>&gt;&gt;</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u14807" class="ax_default button">
            <div id="u14807_div" class=""></div>
            <div id="u14807_text" class="text ">
              <p><span>&lt;&lt;</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u14808" class="ax_default button">
            <div id="u14808_div" class=""></div>
            <div id="u14808_text" class="text ">
              <p><span>&gt;</span></p>
            </div>
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u14809" class="ax_default button">
            <div id="u14809_div" class=""></div>
            <div id="u14809_text" class="text ">
              <p><span>&lt;</span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14810" class="ax_default" data-left="123" data-top="365" data-width="218" data-height="28">

        <!-- Unnamed (Rectangle) -->
        <div id="u14811" class="ax_default heading_2">
          <div id="u14811_div" class=""></div>
          <div id="u14811_text" class="text " style="left: 0px; width: 44px; transform-origin: 22px 13px 0px;">
            <p><span>วันเกิด :</span></p>
          </div>
        </div>

        <!-- Unnamed (Rectangle) -->
        <div id="u14812" class="ax_default heading_2">
          <div id="u14812_div" class=""></div>
          <div id="u14812_text" class="text ">
            <p><span>18 ตุลาคม พ.ศ.2521</span></p>
          </div>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14813" class="ax_default heading_2">
        <div id="u14813_div" class=""></div>
        <div id="u14813_text" class="text " style="left: 0px; width: 55px; transform-origin: 27.5px 13px 0px;">
          <p><span>รหัสผ่าน :</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u14814" class="ax_default text_field">
        <input id="u14814_input" type="password" name="password" class="form-control" placeholder="password" required="required" autocomplete="off" ng-model="userBean.password" />
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14815" class="ax_default heading_2">
        <div id="u14815_div" class=""></div>
        <div id="u14815_text" class="text " style="left: 0px; width: 87px; transform-origin: 43.5px 13px 0px;">
          <p><span>ยืนยันรหัสผ่าน :</span></p>
        </div>
      </div>

      <!-- Unnamed (Text Field) -->
      <div id="u14816" class="ax_default text_field">
        <input id="u14816_input" type="password" name="cfpassword" class="form-control" placeholder="confirm password" required="required" autocomplete="off" />
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14817" class="ax_default fontawesome">
        <div id="u14817_div" class=""></div>
        <div id="u14817_text" class="text ">
          <p><span></span></p>
        </div>
      </div>

      <!-- Unnamed (Rectangle) -->
      <div id="u14818" class="ax_default shape">
        <div id="u14818_div" class=""></div>
        <div id="u14818_text" class="text " style="top: 2px; transform-origin: 473px 12px 0px;">
          <p><span>ข้อมูลหน่วยงานที่สังกัด</span></p>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14819" class="ax_default" data-left="399" data-top="169" data-width="283" data-height="26">

        <!-- Unnamed (Rectangle) -->
        <div id="u14820" class="ax_default heading_2">
          <div id="u14820_div" class=""></div>
          <div id="u14820_text" class="text " style="left: 0px; width: 107px; transform-origin: 53.5px 13px 0px;">
            <p><span>วัน/เดือน/ปี เกิด </span><span style="color:#FF0000;">*</span><span> :</span></p>
          </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u14821" class="ax_default" data-left="518" data-top="170" data-width="164" data-height="25">

          <!-- Unnamed (Text Field) -->
          <div id="u14822" class="ax_default text_field">
            <input id="u14822_input" type="text" value="" style="" class="form-control" placeholder="" autocomplete="off" />
          </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u14823" class="ax_default fontawesome">
            <div id="u14823_div" class=""></div>
            <div id="u14823_text" class="text " style="left: 0px; width: 13px; transform-origin: 6.5px 9.5px 0px;">
              <p><span></span></p>
            </div>
          </div>
        </div>
      </div>

      <!-- Unnamed (Group) -->
      <div id="u14824" class="ax_default" data-left="212" data-top="1360" data-width="244" data-height="46">

        <!-- Unnamed (Image) -->
        <div id="u14825" class="ax_default image">
          <img id="u14825_img" class="img " src="../images/u16477.png" />
        </div>

        <!-- Unnamed (Image) -->
        <div id="u14826" class="ax_default image">
          <img id="u14826_img" class="img " src="../images/u16478.png" />
        </div>
      </div>
    </div>
  
	
	</div>
</div>
<script type="text/javascript" th:utext="'var ctx = \'' + ${@baseUrlService.baseUrl} + '\';'" ></script>
</body>
</html>