<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>ค้นหาใบเสร็จรับเงิน หน้าเว็ป</title>

<!-- My JS -->
<script th:src="@{/bower_components/angularjs-captcha/dist/angularjs-captcha.min.js}"></script>
<script th:src="@{/js/receipt/receipt-search-web.js}"></script>
</head>
<body layout:fragment="content">
	<div ng-app="receiptSearchWebApp" class="content-wrapper">
		<div class="wrapper" ng-controller="receiptSearchWebCtrl">



			<div class="sidebar-nav">
				<div class="nav-canvas">
					<div class="nav-sm nav nav-stacked"></div>
				</div>
			</div>

			<div class="panel panel-custom head-panel">
				<div class="panel-heading">
					<h2 class="panel-title">ค้นหาใบเสร็จรับเงิน (e-Receipt)</h2>
				</div>
				<div class="panel-body">

					<!-- criteria search -->
					<div class="form-group">
						<!-- row1 -->
						<div class="row row-no-padding">
							<div
								class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">ค้นหาโดยใช้ :</div>
							<div class="col-sm-3 col-md-3">
								<select class="form-control col-md-3"
									>
									<option value="">--กรุณาเลือก--</option>
								</select>
							</div>
						</div>
						<!-- row2 -->
						<div class="row row-no-padding">
							<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">เลขที่ใบแจ้งการชำระ :</div>
							<div class="col-sm-3 col-md-3">
								<input type="text" class="form-control" ng-model="data.invoice.invoiceNo" required="required" />
							</div>
							<div class="col-xs-12 col-sm-2 col-md-2 text-xs-left text-sm-right text-md-right ">เลขที่อ้างอิง (Ref) 1 :</div>
							<div class="col-sm-3 col-md-3">
								<input type="text" class="form-control" ng-model="data.invoice.ref1" required="required" />
							</div>
						</div>
						
						<!-- row3 -->
						<div class="row row-no-padding" style="min-height:30px">
							<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">กรุณากรอกสิ่งที่ท่านเห็น :</div>
							<div class="col-sm-4 col-md-3">
								<input	class="form-control"
									type="text"
									id="captchaCode"
									name="captchaCode"
									ng-model="userBean.captcha"
									correct-captcha=""
									required="required"
								/>
							</div>
						</div>
						
						<!-- row4 -->
						<div class="row row-no-padding" style="min-height:80px">
							<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right "></div>
							<div class="col-sm-4 col-md-3">
								<botdetect-captcha styleName="spiderWeb"></botdetect-captcha>
							</div>

						</div>

					</div>

					<!-- button search -->
					<div class="form-group">
						<!-- row7 -->
						<div class="row row-no-padding">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
								<button type="button" id="searchBtn"
									class="btn btn-primary btn-style" ng-click="searchBilling();">
									<span class="glyphicon glyphicon-search"></span> ค้นหา
								</button>

								<button type="button" id="searchBtn"
									class="btn btn-primary btn-style" ng-click="clear()">
									<span class="glyphicon glyphicon-refresh"></span> ล้างข้อมูล
								</button>
							</div>
						</div>
					</div>


					<!-- search result -->
					<div class="form-group">
						<div class="row ">
							<div class="box-body table-responsive col-md-12">
								<table id="example2" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th class="text-center">
												<a href="" ng-click="orderFunction('createdDateStr')"> 
													<span>วันที่รับชำระ</span> 
													<span ng-show="checkField('createdDateStr')"> 
														<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
														<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
													</span>
												</a>
											</th>
											<th class="text-center">
												<a href="" ng-click="orderFunction('billingNo')"> 
													<span>เลขที่ใบเสร็จรับเงิน</span> 
													<span ng-show="checkField('billingNo')"> 
														<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
														<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
													</span>
												</a>
											</th>
											<th class="text-center">
												<a href="" ng-click="orderFunction('invoiceNo')"> 
													<span>เลขที่ใบแจ้งการชำระ</span> 
													<span ng-show="checkField('invoiceNo')"> 
														<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
														<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
													</span>
												</a>
											</th>
											<th class="text-center">
												<a href="" ng-click="orderFunction('invoice.ref1')"> 
													<span>เลขที่อ้งอิง (Ref) 1</span> 
													<span ng-show="checkField('invoice.ref1')"> 
														<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
														<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
													</span>
												</a>
											</th>
											<th class="text-center">
												<a href="" ng-click="orderFunction('invoice.name')"> 
													<span>ชื่อ-นามสกุล/นิติบุคล</span> 
													<span ng-show="checkField('invoice.name')"> 
														<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
														<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
													</span>
												</a>
											</th>
											<th class="text-center">
												<a href="" ng-click="orderFunction('invoice.totalAmount')"> 
													<span>จำนวนเงิน</span> 
													<span ng-show="checkField('invoice.totalAmount')"> 
														<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
														<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
													</span>
												</a>
											</th>
											<th class="text-center">
												<a href="" ng-click="orderFunction('status')"> 
													<span>สถานะ</span> 
													<span ng-show="checkField('status')"> 
														<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
														<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
													</span>
												</a>
											</th>
											<th class="text-center"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="data in sliceFavoriteList | orderBy:orderByField:reverseSort">
											<td>{{data.createdDateStr}}</td>
											<td>{{data.billingNo}}</td>
											<td>{{data.invoiceNo}}</td>
											<td>{{data.invoice.ref1}}</td>
											<td>{{data.invoice.name}}</td>
											<td class="text-right">{{data.invoice.totalAmount| number:2}}</td>
											<td class="text-center"><span ng-if="data.status=='0'">รอพิมพ์</span><span
											ng-if="data.status=='1'">ต้นฉบับ</span> <span
											ng-if="data.status=='2'">สำเนา</span><span
											ng-if="data.status=='3'">ยกเลิก</span></td>
											<td class="col-md-1 text-center"><span
												class="glyphicon-ring glyphicon-blue  glyphicon glyphicon-print"
												ng-click="preview(data.billingId);" role="button"></span></td>
										</tr>
										<tr ng-if="billingList.length == 0">
											<td colspan="10" class="text-center">ไม่มีข้อมูล</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						
					</div>

						<!-- Pagination -->
						<div class="row" >
							<div class="col-md-12 col-xs-12 text-right">
								<ul uib-pagination="" total-items="totalItems"
									ng-model="currentPage" max-size="5" class="pagination-sm"
									items-per-page="perPages" boundary-links="true"
									num-pages="numPages" ng-change="pageChanged()"></ul>
							</div>
						</div>
						<br />
				</div>
			</div>

		</div>
	</div>

</body>
</html>