<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template2">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>พิมพ์ใบเสร็จรับเงิน</title>

<link rel="stylesheet" type="text/css" th:href="@{/assets/printJs/print.min.css}" />
<script th:src="@{/assets/printJs/print.min.js}"></script>

<!-- My JS -->
<script th:src="@{/js/receipt/receipt-pre-print.js}"></script>

<script th:inline="javascript">
	var billing = [[${billing}]];
</script>
</head>
<body>
<section layout:fragment="content">
	<div class="sidebar-nav">
		<div class="nav-canvas">
			<div class="nav-sm nav nav-stacked"></div>
		</div>
	</div>
	<div ng-app="receiptPrePrintApp">
		<div class="wrapper" ng-controller="receiptPrePrinCtrl">

			<div class="panel panel-custom">
				<div class="panel-heading">
					<h2 class="panel-title">พิมพ์ใบเสร็จรับเงิน</h2>
				</div>
				<div class="panel-body">

					<!-- criteria search -->
					<div class="form-group">
						<div class="row row-no-padding">
						
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
							<div class="panel-heading text-left">
								<h2 class="panel-title">ตัวอย่างก่อนพิมพ์</h2>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
								<embed ng-src="{{trustSrc(file)}}" type="application/pdf" width="100%" height="768px;"></embed>
							</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-center">
							<div class="panel-heading text-left">
								<h2 class="panel-title">ข้อมูลใบเสร็จรับเงิน</h2>
							</div>
							<!-- row1 -->
							<div class="row row-no-padding">
								<div
									class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-md-right ">วันที่ชำระ
									:</div>
								<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-md-left">
									<span>{{data.createdDateStr}}</span>
									<!-- <input type="text" class="form-control"
									ng-model="data.createdDateStr" ng-disabled="true"/> -->
								</div>
							</div>
							
							<!-- row2 -->
							<div class="row row-no-padding">
								<div
									class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-md-right ">เลขที่ใบเสร็จรับเงิน
									:</div>
								<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7  text-md-left">
									<span>{{data.billingNo}}</span>
									<!-- <input type="text" class="form-control"
									ng-model="data.billingNo" ng-disabled="true"/> -->
								</div>
							</div>
							
							<!-- row3 -->
							<div class="row row-no-padding">
								<div
									class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-md-right ">เลขที่ใบแจ้งการชำระ
									:</div>
								<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7  text-md-left">
									<span>{{data.invoiceNo}}</span>
									<!-- <input type="text" class="form-control"
									ng-model="data.invoiceNo" ng-disabled="true"/> -->
								</div>
							</div>
							
							<!-- row4 -->
							<div class="row row-no-padding">
								<div
									class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-md-right ">เลขที่อ้างอิง (Ref) 1
									:</div>
								<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7  text-md-left">
									<span>{{data.invoice.ref1}}</span>
									<!-- <input type="text" class="form-control"
									ng-model="data.invoice.ref1" ng-disabled="true"/> -->
								</div>
							</div>
							
							<!-- row5 -->
							<div class="row row-no-padding">
								<div
									class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-md-right ">รายการรับชำระ
									:</div>
								<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7  text-md-left">
									<table id="example2" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th class="text-center">ลำดับ</th>
											<th class="text-center">รายการรับชำระ</th>
											<th class="text-center">จำนวนเงิน(บาท)</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="data in itemList | orderBy:orderByField:reverseSort track by $index">
											<td class="text-center">{{$index+1}}</td>
											<td>{{data.catalogName}}</td>
											<td class="text-right">{{data.amount | number:2}}</td>
										</tr>
									</tbody>
								</table>
									
								</div>
							</div>
							
							<!-- row6 -->
							<div class="row row-no-padding">
								<div
									class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-md-right ">จำนวนเงิน
									:</div>
								<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7  text-md-right">
									<span class="text-right">{{data.invoice.totalAmount | number:2}}</span>
									<!-- <input type="text" class="form-control text-right"
									ng-model="data.invoice.totalAmount" ng-disabled="true"/> -->
								</div>
								<div class="text-md-left">บาท</div>
							</div>
							
							<!-- row7 -->
							<div class="row row-no-padding">
								<div
									class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-md-right ">เลขประจำตัวประชาชน/เลขนิติบุคคล/<br></br>เลขหนังสือเดินทาง/เลขประจำตัวผู้เสียภาษี
									:</div>
								<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-md-left">
									<span>{{data.invoice.citizenNo}}</span>
									<!-- <input type="text" class="form-control"
									ng-model="data.invoice.citizenNo" ng-disabled="true"/> -->
								</div>
							</div>
							
							<!-- row8 -->
							<div class="row row-no-padding">
								<div
									class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-md-right ">บริษัท/หน่วยงาน
									:</div>
								<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-md-left">
									<span>-</span>
									
								</div>
							</div>
							
							<!-- row9 -->
							<div class="row row-no-padding">
								<div
									class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-md-right ">ชื่อ-นามสกุล
									:</div>
								<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-md-left">
									<span>{{data.invoice.name}}</span>
									<!-- <input type="text" class="form-control"
									ng-model="data.invoice.name" ng-disabled="true"/> -->
								</div>
							</div>
						
							<!-- row10 -->
							<div class="row row-no-padding">
								<div
									class="col-xs-4 col-sm-4 col-md-4 col-lg-4  text-md-right ">สถานะพิมพ์ใบเสร็จ
									:</div>
								<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-md-left">
									<span>{{data.statusName}}</span>
									<!-- <input type="text" class="form-control"
									ng-model="data.statusName" ng-disabled="true"/> -->
								</div>
							</div>
							
							<!-- row11 -->
							<div class="row row-no-padding">
								<div
									class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-md-right ">เลขที่กำกับใบเสร็จรับเงิน
									:</div>
								<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-md-left">
									<span>{{data.genCodePrint || "-"}}</span>
									
								</div>
							</div>
							
							<!-- row12 -->
							<div class="row row-no-padding">
								<div
									class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-md-right ">วันที่พิพม์ใบเสร็จต้นฉบับ
									:</div>
								<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 text-md-left">
									<span>{{data.printingDateStr || "-"}}</span>
									
								</div>
							</div>
							
						</div>
						
						</div>

					</div>

					<!-- button search -->
					<div class="form-group">
						<!-- row7 -->
						<div class="row row-no-padding">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
								<a type="button" id="searchBtn"  href="{{urlBase}}/print/{{data.billingId}}"
									class="btn btn-primary btn-success" >
									<span class="glyphicon glyphicon-download"></span> ดาวน์โหลดสำเนา
								</a>
								<button type="button" id="searchBtn"
									class="btn btn-primary btn-style"  ng-click="printPdfOrg(data);">
									<span class="glyphicon glyphicon-print"></span> พิมพ์
								</button>

								<button type="button" id="searchBtn"
									class="btn btn-primary btn-style" ng-click="cancel();">
									<span class="glyphicon glyphicon-refresh"></span> ยกเลิก
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</section>
</body>
</html>