<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>ค้นหาใบเสร็จรับเงิน</title>

<!-- My JS -->
<script th:src="@{/js/receipt/receipt-search-gov.js}"></script>
</head>
<body layout:fragment="content">
	<div ng-app="receiptSearchGovApp" class="content-wrapper">
		<div class="wrapper" ng-controller="receiptSearchGovCtrl">



			<div class="sidebar-nav">
				<div class="nav-canvas">
					<div class="nav-sm nav nav-stacked"></div>
				</div>
			</div>

			<div class="panel panel-custom head-panel">
				<div class="panel-heading">
					<h2 class="panel-title">ใบเสร็จรับเงิน</h2>
				</div>
				<div class="panel-body">

					<!-- criteria search -->
					<div class="form-group">
						<!-- row1 -->
						<div class="row row-no-padding">
							<div
								class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">
								หน่วยงาน <span class="red">*</span> :</div>
							<div class="col-sm-3 col-md-3">
								<select class="form-control col-md-3"
									ng-model="data.departmentId"
									ng-options="list.id as list.desc for list in deptList"
									ng-change="getDisbursementUnitList(data.departmentId)">
									<option value="">ทั้งหมด</option>
								</select>
							</div>
							<div
								class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">หน่วยเบิกจ่าย
								:</div>
							<div class="col-sm-3 col-md-3">
								<select class="form-control col-md-3"
									ng-model="data.disbursementUnitId"
									ng-options="list.id as list.desc2 for list in disbursementUnitList"
									ng-change="getCostCenterList(data.disbursementUnitId)">
									<option value="">ทั้งหมด</option>
								</select>
							</div>
						</div>
						<!-- row2 -->
						<div class="row row-no-padding">
							<div
								class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">ศูนย์ต้นทุน
								:</div>
							<div class="col-sm-3 col-md-3">
								<select class="form-control col-md-3"
									ng-model="data.invoice.costCenterId"
									ng-options="list.id as list.desc2 for list in costCenterList">
									<option value="">ทั้งหมด</option>
								</select>
							</div>
							<div
								class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">หมวดบริการ
								:</div>
							<div class="col-sm-3 col-md-3">
								<select class="form-control" ng-model="data.catalogTypeId"
								name="catalogTypeId"
								ng-options="list.id as list.desc for list in mCatalogList"
								ng-required="true">
								<option value="">ทั้งหมด</option>
							</select>
							</div>
						</div>
						<!-- row3 -->
						<!-- <div class="row row-no-padding">
							<div
								class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">รหัส
								Catalog - รายการรับชำระ :</div>
							<div class="col-xs-4 col-sm-3 col-md-2">
								<input type="text" class="form-control" required="required" ng-model="data.catalogCode"/>
							</div>

							<div class="col-xs-8 col-sm-6 col-md-6">
								<input type="text" class="form-control" required="required" ng-model="data.catalogName" />
							</div>
						</div> -->
						<!-- row4 -->
						<div class="row row-no-padding">
							<div
								class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">เลขที่ใบแจ้งการชำระ
								:</div>
							<div class="col-sm-3 col-md-3">
								<input type="text" class="form-control" required="required" ng-model="data.invoice.invoiceNo"/>
							</div>
							<div
								class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">เลขที่อ้างอิง
								(Ref) 1 :</div>
							<div class="col-sm-3 col-md-3">
								<input type="text" class="form-control" required="required" ng-model="data.invoice.ref1"/>
							</div>
						</div>
						<!-- row5 -->
						<div class="row row-no-padding">
							<div
								class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">เลขที่ใบเสร็จรับเงิน
								:</div>
							<div class="col-sm-3 col-md-3">
								<input type="text" class="form-control" required="required" ng-model="data.billing.billingNo"/>
							</div>
							<div
								class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">สถานะพิมพ์ใบเสร็จ
								:</div>
							<div class="col-sm-3 col-md-3">
							<select class="form-control" ng-model="data.statusUse">
								<option value="">ทั้งหมด</option>
									<option value="0">รอพิมพ์</option>
									<option value="1">ต้นฉบับ</option>
									<option value="2">สำเนา</option>
									<option value="3">ยกเลิก</option>

								</select>
								
							</div>
						</div>
						<!-- row6 -->
						<div class="row row-no-padding">
							<div
								class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">ช่วง
								วันที่รับชำระ จาก :</div>
							<datepicker-dir class="col-md-3 col-sm-3 col-xs-11"
								ng-model="data.billStartDate" format-date="dd/MM/yyyy"></datepicker-dir>
							<div
								class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">ถึง
								:</div>
							<datepicker-dir class="col-md-3 col-sm-3 col-xs-11"
								ng-model="data.billEndDate" format-date="dd/MM/yyyy"></datepicker-dir>
						</div>
						<!-- row7 -->
						<div class="row row-no-padding">
							<div
								class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">
								เลขประจำตัวประชาชน/เลขนิติบุคคล/<br></br>เลขหนังสือเดินทาง/เลขประจำตัวผู้เสียภาษี
								:</div>
							<div class="col-sm-3 col-md-3">
								<input type="text" class="form-control" required="required" ng-model="data.invoice.citizenNo" />
							</div>
							<div
								class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right ">
								ชื่อ-นามสกุล/นิติบุุคล/คณะบุคคล :</div>
							<div class="col-sm-3 col-md-3">
								<input type="text" class="form-control" required="required" ng-model="data.invoice.name"/>
							</div>
						</div>

					</div>

					<!-- button search -->
					<div class="form-group">
						<!-- row7 -->
						<div class="row row-no-padding">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
								<button type="button" id="searchBtn"
									class="btn btn-primary btn-style" ng-click="searchBilling();">
									<span class="glyphicon glyphicon-search"></span> ค้นหา
								</button>

								<button type="button" id="searchBtn"
									class="btn btn-primary btn-style" ng-click="clear()">
									<span class="glyphicon glyphicon-refresh"></span> ล้างข้อมูล
								</button>
							</div>
						</div>
					</div>

					<!--  -->
					<div class="form-group">
						<!-- row8 -->
						<div class="row row-no-padding">
							<div class="col-xs-12 col-sm-6 col-md-6 text-left ">
								<button type="button" id="searchBtn"
									class="btn btn-primary btn-style"
									ng-click="exportExcel(selectItem);">
									<span class="glyphicon glyphicon-print"></span> Export Excel
									File
								</button>
								<a id="searchBtn"
									class="btn btn-primary btn-success"
									ng-href="{{download(selectItem)}}">
									<span class="glyphicon glyphicon-download"></span> ดาวน์โหลดใบเสร็จสำเนา
								</a>
							</div>
							
							<div class="col-xs-12 col-sm-6 col-md-6">

								<div class="col-xs-6 col-sm-4 col-md-6 text-right">
									<span>แสดงหน้าละ&nbsp;</span>
								</div>
								<div class="col-xs-3 col-sm-4 col-md-3">
									<select class="form-control" ng-model="perPages"
										ng-change="pageChanged()"
										ng-options="selectedItem as selectedItem for selectedItem in values">
									</select>
								</div>
								<div class="col-xs-1 col-sm-2 col-sm-3">
									<span>&nbsp;รายการ</span>
								</div>
	
							</div>
							
						</div>
					</div>

					<!-- search result -->
					<div class="form-group">
						<div class="row ">
							<div class="box-body table-responsive col-md-12">
								<table id="example2" class="table table-bordered table-hover">
									<thead>
										<tr>
											<th class="text-center" width="5%">
												<input id="checkBox" type="checkbox"
												ng-model="isSelectAll" ng-init="isSelectAll = false"
												ng-change="selectAll(isSelectAll)"></input>
											</th>
											<th class="text-center" width="10%">
												<a href="" ng-click="orderFunction('createdDateStr')"> 
													<span>วันที่รับชำระ</span> 
													<span ng-show="checkField('createdDateStr')"> 
														<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
														<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
													</span>
												</a>
											</th>
											<th class="text-center" width="20%">
												<a href="" ng-click="orderFunction('billingNo')"> 
													<span>เลขที่ใบเสร็จรับเงิน</span> 
													<span ng-show="checkField('billingNo')"> 
														<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
														<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
													</span>
												</a>
											</th>
											<th class="text-center" width="10%">
												<a href="" ng-click="orderFunction('invoiceNo')"> 
													<span>เลขที่ใบแจ้งการชำระ</span> 
													<span ng-show="checkField('invoiceNo')"> 
														<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
														<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
													</span>
												</a>
											</th>
											<th class="text-center" width="10%">
												<a href="" ng-click="orderFunction('invoice.ref1')"> 
													<span>เลขที่อ้างอิง (Ref) 1</span> 
													<span ng-show="checkField('invoice.ref1')"> 
														<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
														<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
													</span>
												</a>
											</th>
											<th class="text-center" width="15%">
												<a href="" ng-click="orderFunction('invoice.name')"> 
													<span>ชื่อ-นามสกุล/นิติบุุคล/คณะบุคคล</span> 
													<span ng-show="checkField('invoice.name')"> 
														<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
														<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
													</span>
												</a>
											</th>
											<th class="text-center" width="15%">
												<a href="" ng-click="orderFunction('invoice.citizenNo')"> 
													<span>เลขประจำตัวประชาชน/เลขนิติบุคคล/<br></br>เลขหนังสือเดินทาง/เลขประจำตัวผู้เสียภาษี</span>
													<span ng-show="checkField('invoice.citizenNo')"> 
														<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
														<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
													</span>
												</a>
											</th>
											<th class="text-center" width="5%">
												<a href="" ng-click="orderFunction('invoice.totalAmount')"> 
													<span>จำนวนเงิน</span> 
													<span ng-show="checkField('invoice.totalAmount')"> 
														<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
														<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
													</span>
												</a>
											</th>
											<th class="text-center" width="10%">
												<a href="" ng-click="orderFunction('status')"> 
													<span>สถานะพิมพ์ใบเสร็จ</span> 
													<span ng-show="checkField('status')"> 
														<span ng-show="!reverseSort" class="glyphicon glyphicon-triangle-top"></span> 
														<span ng-show="reverseSort" class="glyphicon glyphicon-triangle-bottom"></span>
													</span>
												</a>
											</th>
											<th class="text-center"></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="data in sliceFavoriteList | orderBy:orderByField:reverseSort">
											<td class="text-center"><input ng-model="$index" type="checkbox"
												ng-checked="isDelete(data.billingId) > -1"
												ng-click="selectToDel(data)"></input></td>
											<td>{{data.createdDateStr}}</td>
											<td>{{data.billingNo}}</td>
											<td>{{data.invoiceNo}}</td>
											<td>{{data.invoice.ref1}}</td>
											<td>{{data.invoice.name || data.invoice.compName}}</td>
											<td>{{data.invoice.citizenNo}}</td>
											<td class="text-right">{{data.invoice.totalAmount| number:2}}</td>
											<td class="text-center"><span ng-if="data.status=='0'">รอพิมพ์</span><span
											ng-if="data.status=='1'">ต้นฉบับ</span> <span
											ng-if="data.status=='2'">สำเนา</span><span
											ng-if="data.status=='3'">ยกเลิก</span></td>
											<td class="col-md-1 text-center"><span
												class="glyphicon-ring glyphicon-blue  glyphicon glyphicon-print"
												ng-click="preview(data.billingId);" role="button"></span></td>
										</tr>
										<tr ng-if="billingList.length == 0">
											<td colspan="10" class="text-center">ไม่มีข้อมูล</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						
					</div>

						<!-- Pagination -->
						<div class="row" >
							<div class="col-md-12 col-xs-12 text-right">
								<ul uib-pagination="" total-items="totalItems"
									ng-model="currentPage" max-size="5" class="pagination-sm"
									items-per-page="perPages" boundary-links="true"
									num-pages="numPages" ng-change="pageChanged()"></ul>
							</div>
						</div>
						<br />
				</div>
			</div>

		</div>
	</div>

</body>
</html>