<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title>ขอเพิ่มกลุ่มสิทธิ์การใช้งานระบบ</title>

<!-- My JS -->

<script th:src="@{/js/admin/request-user-permission-group.js}"></script>

<script th:inline="javascript">
var loginUserId = [[${loginUserId}]];
$(document).ready(function(){
	$('#chooseBtn').click( function() { 
		$( '#ufile' ).trigger( 'click' );
	} );
	
	$('#file').filestyle({
		'input' : true,
		'icon': false,
		'buttonBefore' : true,
		'buttonText' : 'เลือกไฟล์',
		'buttonName' : 'btn-upload-style',
		'placeholder' : 'ไม่ได้เลือกไฟล์ใด'
	});
});
function c(val){$( '#upfile' ).val(val);}
</script>

</head>
<body layout:fragment="content">
<div ng-app="master2App" class="content-wrapper">
   	<div class="wrapper" ng-controller="master2Ctrl">
		<div class="sidebar-nav">
			<div class="nav-canvas">
				<div class="nav-sm nav nav-stacked"></div>
			</div>
		</div>
		<div class="panel panel-custom head-panel">
			<div class="panel panel-custom head-panel">
				<div class="panel panel-custom">
														<div class="panel-heading"> 
															<h2>
																<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
																<span>ขอเพิ่มกลุ่มสิทธิ์การใช้งานระบบ</span>
															</h2>
														</div>
														<div class="panel-body">
														
														
															<!-- criteria search -->
															<div class="form-group">
																<!-- row2 -->
																<div class="row">
																	<div class="col-md-3 text-right ">รหัสประจำตัวประชาชน :</div>
																	<div class="col-md-3">
																		<input type="text" class="form-control" ng-model="data.citizenid" disabled="disabled"  />
																	</div>
																	<div class="col-md-2 text-right">ชื่อ-สกุล :</div>
																	<div class="col-md-3">
																		<input type="text" class="form-control" ng-model="data.fnameTH" disabled="disabled"  />
																	</div>
																</div>
																<!-- row2 -->
																<div class="row">
																	<div class="col-md-3 text-right ">กรม :</div>
																	<div class="col-md-3">
																		<input type="text" class="form-control" ng-model="data.departmentName" disabled="disabled"  />
																	</div>
																	<div class="col-md-2 text-right">รหัสพื้นที่ :</div>
																	<div class="col-md-3">
																		<input type="text" class="form-control" ng-model="data.businessAreaName" disabled="disabled"  />
																	</div>
																</div>
																<!-- row2 -->
																<div class="row">
																	<div class="col-md-3 text-right ">ศูนย์ต้นทุน :</div>
																	<div class="col-md-3">
																		<input type="text" class="form-control" ng-model="data.costCenterName" disabled="disabled"  />
																	</div>
																	<div class="col-md-2 text-right">กลุ่มผู้ใช้งาน :</div>
																	<div class="col-md-3">
																		ภาครัฐ
<!-- 																		<input type="text" class="form-control" ng-model="data.userType"   /> -->
																	</div>
																</div>
																<!-- row2 -->
																<div class="row">
																	<div class="col-md-3 text-right ">สถานะการใช้งาน :</div>
																	<div class="col-md-3">
																		<select class="form-control" ng-model="criteria.status">
																			<option value="">--ทั้งหมด--</option>
																			<option value="0">รออนุมัติ</option>
																			<option value="1">เปิดใช้งาน</option>
																			<option value="2">พักใช้งาน</option>
																		</select>
																	</div>
																</div>
																<!-- row2 -->
																<div class="row">
																	<div class="col-md-3 text-right">กลุ่มสิทธิ์ :</div>
																	<div class="col-md-6" style="display:flex;">
 																		<input type="text" class="form-control" ng-model="criteria.mPermissionGroupName"   />
 																		&nbsp;<span class="glyphicon glyphicon-search" ng-click="doSearch()"></span>
																	</div>																	
																</div>
															</div>

														
														
															<!-- button search -->
<!-- 															<div class="form-group">
																row7
																<div class="row">
																	<div class="col-md-6 text-right">
																		<button type="button" id="searchBtn" class="btn btn-primary" ng-click="doSearch()" >
																			<span class="glyphicon glyphicon-search"></span> ค้นหา
																		</button>
																	</div>
																	<div class="col-md-6 ">
																		<button type="button" id="searchBtn" class="btn btn-primary" ng-click="clearData()">
																			<span class="glyphicon glyphicon-refresh"></span> ล้างข้อมูล
																		</button>
																	</div>
																</div>
															</div>
 -->														
																							
															<!-- Search Results -->									
															<div class="form-group">
																<!-- Panel 1 -->
<!-- 																<uib-accordion close-others="false">
																	<div uib-accordion-group="" class="panel-default"
																		heading="Cost Center" is-open="true"
																		is-disabled="false"> -->
																		
																		
																		<h3>ตารางแสดงกลุ่มสิทธิ์</h3>
																		<div class="row">
																			<div class="box-body table-responsive col-md-12">
																				<table id="example2" class="table table-bordered table-hover">
																					<thead>
																						<tr>
																							<th width="2%" class="text-center">#</th>
																							<th width="20%">ชื่อกลุ่มสิทธิ์</th>
																							<th>คำอธิบาย</th>
																							<th width="15%">สถานะการใช้งาน</th>
																							<th width="20%"></th>
																						</tr>
																					</thead>
																					<tbody>
																						<tr ng-repeat="d in data2List.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
					<!-- 																	<tr ng-repeat="d in data2List"> -->
																							<td class="text-center">{{((currentPage-1)*itemsPerPage)+$index+1}}</td>
																							<td><span ng-bind="d.mPermissionGroupName"></span></td>
																							<td><span ng-bind="d.description"></span></td>
																							<td><span ng-if="d.status=='0'">รออนุมัติ</span>
																								<span ng-if="d.status=='1'">เปิดใช้งาน</span> 
																								<span ng-if="d.status=='2'">พักใช้งาน</span>
																							</td>
																							<td class="text-center text-nowrap">
																								<div class="col-sm-8">
																									<label class="radio-inline">
																										<input type="radio" name="requestType_{{d.mPermissionGroupId}}" ng-click="selectToAdd(d)" />เพิ่มสิทธิ์
																									</label> 
																									<label class="radio-inline"> 
																										<input type="radio" name="requestType_{{d.mPermissionGroupId}}" ng-click="selectToRemove(d)" />ยกเลิก
																									</label>
																								</div>																							</td>
																						</tr>
																					</tbody>
																				</table>
																			</div>														
																		</div>
																		
																		<!-- Pagination -->
																		<div class="row">
																			<div class="col-md-12 text-right">
					    															<ul uib-pagination="" total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" class="pagination-sm" boundary-links="true"></ul>
																			</div>
																		</div>						
																		
<!-- 																		<div class="row text-center"> -->
<!-- 																			<button type="submit" class="btn btn-success" ng-click="add('md')"> -->
<!-- 																				<i class="glyphicon glyphicon-open"></i> อัพโหลดเอกสาร -->
<!-- 																			</button> -->
<!-- 																		</div> -->
													<div class="row row-no-padding" style="min-height:30px">
														<div class="col-xs-12 col-sm-3 col-md-3  text-xs-left text-sm-right text-md-right ">อัพโหลดเอกสาร  <span style="color:#FF0000;">*</span> : <br/> <span style="font-size: 14px;">(เอกสารขอเข้าใช้งานระบบ)</span></div>
														<!--<div class="col-xs-3 col-sm-2 col-md-1 text-center">-->
															<!--<button  style="margin:0px;"  type="button" id="chooseBtn" class="btn btn-primary btn-style btn-style-parrell">-->
																<!--<span class="glyphicon glyphicon"></span> เลือกไฟล์-->
															<!--</button>-->
														<!--</div>-->
														
														<div class="col-xs-9 col-sm-5 col-md-5 text-right" ng-class="{'has-error':registerForm.ufile.$invalid &amp;&amp; isSubmit}">
<!-- 														  <input type="file" file-model="data.ufile" -->
<!-- 															class="form-control" /> -->
														  <input type="file" accept=".doc, .docx,.pdf" 
														  id="file" file-model="data.ufile"  ng-model="data.ufile" name="file" required="required"  ng-change="checkTypeFile(data.ufile)"/>
														</div>

														<div class="col-xs-9 col-sm-5 col-md-5 text-left">{{fileNane}}</div>
													</div>
																		
																		<div class="row">
																			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
																				<button type="button" id="saveBtn"
																					class="btn btn-success btn-style" ng-click="save()">
																					<span class="glyphicon glyphicon-floppy-disk"></span> บันทึก
																				</button>
											
																				<button type="button" id="cancelBtn"
																					class="btn btn-danger btn-style" ng-click="clearData()">
																					<span class="glyphicon glyphicon-remove-sign"></span> ยกเลิก
																				</button>
																			</div>
																		</div>
																														
																
															</div>
					
														</div>
					</div>
				</div>
			</div>
	</div>
</div>
</body>
</html>