<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>

<title>บันทึกตัวแปรระบบ</title>


<script>
	/* <![CDATA[ */
		$(document).ready(function() {
			
		});
	/* ]]> */
</script>

</head>

<body>
	<section layout:fragment="content">
		<div class="panel panel-custom">
			<div class="panel-heading">
				<div class="panel-title">
					<i class="fa fa-file-text"></i> <span>บันทึกข้อมูลตัวแปรระบบ</span>
				</div>
				<div class="box-icon">
					<a href="#" class="btn btn-minimize btn-round btn-default"><i
						class="glyphicon glyphicon-chevron-up"></i></a>
				</div>
			</div>
			<div class="panel-body panel-collapse in">
				<form th:action="@{/admin/param/save}" method="POST" th:object="${paramObj}" data-toggle="validator">
					<div th:include="views/common/message"></div>
					<input type="hidden" th:field="*{name}" />
					<div class="row">
						<h4 class="col-md-6 text-left control-label" >รายละเอียด</h4>
					</div>
					<hr class="dotted" />					
					
					<div class="row">
						<div class="col-md-11">
						
							<div class="row">
		                        <div class="col-md-12">
		                            <div class="row form-group">
		                                <label class="col-md-3 text-right" th:include="include/formUtil :: label(label='หมายเหตุ')"></label>
		                                <div class="col-md-8" th:include="include/formUtil :: textInput(fieldName='desc')"></div>
		                            </div>
		                        </div>
		                    </div>
		                    
			                <div class="row">
			                    <div class="col-md-12">
			                        <div class="row form-group" th:with="required=true">
			                        	<label class="col-md-3 text-right" th:include="include/formUtil :: label(label='ค่า')"></label>
										<div class="col-md-8" th:include="include/formUtil :: textInput(fieldName='value')" ></div>
			                        </div>
			                    </div>
			                </div>
						
						</div>
					</div>
					
	                <br />
	                <div class="row">
	                	<div class="col-md-12">
	                		<div class="row form-group">
			                	<div class="text-center">
				      				<button th:if="${mode} ne 'VIEW'" type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> บันทึก</button>
				      				<a th:if="${mode} eq 'VIEW' AND ${#lists.contains(session.userSession.perms, T(th.go.cgd.epayment.constant.PermissionConstant.ADMIN).PARAM_EDIT)}" th:href="@{/admin/param/edit/} + *{name}" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> แก้ไข</a>
				      				<a th:href="@{/admin/param}" th:class="(${mode} eq 'VIEW') ? 'btn btn-primary' : 'btn btn-default'"><span th:class="(${mode} eq 'VIEW') ? 'glyphicon glyphicon-chevron-left' : 'glyphicon glyphicon-remove-sign'"></span><span th:text="(${mode} eq 'VIEW') ? ' ย้อนกลับ' : ' ยกเลิก'"></span></a>
				      			</div>
	                		</div>
		      			</div>
		      		</div>
				</form>
			</div>
		</div>
	</section>
</body>

</html>