<script th:inline="javascript">
	/*<![CDATA[*/
	var dataList = $('#dataList');
	var canEdit = [[${#lists.contains(session.userSession.perms, T(th.go.cgd.epayment.constant.PermissionConstant.ADMIN).PARAM_EDIT)}]];
	
	
	$(document).ready(function(){
		
		var paramSession = WS.session.getJSON(paramSession);
		
		if (paramSession != null && paramSession.action == 'search') {
			var option1 = new Option(paramSession.name, paramSession.name, true);
			$('#organizationSlc').append(option1);
			$('#organizationSlc').trigger('change');			
		}
		

		init();
		
		function init() 
		{
			if(paramSession != null) 
			{
				search(paramSession);
			} else if (paramSession == null) {
				search(null);
			} else {
				dataList.DataTable(PagingUtil.getStaticOption());
				isDocumentReady = false;
			}
		}
		
		$("#paramSearch").on('click', function(e) {
			var orgId = $('#organizationSlc').val();
			if (orgId != null) {
				$('.msg-organization-error').attr('class', 'row form-group msg-organization-error hidden');
				var orgName = $( "#organizationSlc option:selected" ).text();
				getTable(orgId, orgName, 'search');
			} else {
				$('#msg-organization-error-text').text("กรุณาเลือกหน่วยงานที่จะค้นหา");
				$('.msg-organization-error').attr('class', 'row form-group msg-organization-error');
			}
		});
		
		$("#paramReset").on('click', function(e) {
			$('.msg-organization-error').attr('class', 'row form-group msg-organization-error hidden');
			var orgId = $('#organizationSlc').val();
			if (orgId != null) {
				var li = $('#organizationRoute>ol>li').first();
				$(li).find('a').trigger('click');
			}
		});
		
	});
	
	function search(paramSession) {	
		var url;
		
		if (paramSession != null) {
			if (paramSession.action == 'click') {
				url = ctx + 'admin/param/dataTable?name=' + paramSession.name;
			} else if (paramSession.action == 'search') {
				url = ctx + 'admin/param/dataTable?name=' + paramSession.name;
			}
		} else {
			url = ctx + 'admin/param/dataTable';
		}
		
		var dataTableOption = PagingUtil.getDefaultOption();
		
		$.extend(dataTableOption, {
			order: [[0, 'asc']],
			ajaxSource: url,
			columns: [
			          {data: 'name', className: ''},
			          {data: 'desc', className: ''},
			          {sortable:false, data: null, render: function(data, type, row, meta) {
			        	  var temp = $('<div>');
			        	  $('<a class="cmd-icon cmd-view"><span class="fa fa-info"></span></a>').attr('href', ctx + 'admin/param/view/' + row.name).appendTo(temp);
			        	  
			        	  if (canEdit) {			        		  
			        	  	$('<a class="cmd-icon cmd-edit"><span class="fa fa-edit"></span></a>').attr('href', ctx + 'admin/param/edit/' + row.name).appendTo(temp);
			        	  }
			        	  
			        	  return temp.html();
			          }, className: 'dt-body-center'}
			       ],
			createdRow: function(row, data, dataIndex) {
				
			},
	        stateSave: true,
			stateSaveCallback: function(settings, data) {
				WS.session.setJSON(paramTableSession, data);
				isDocumentReady = false;
			},
			stateLoadCallback: function(settings) {
				if(isDocumentReady) {
					return WS.session.getJSON(paramTableSession);
				}
				return false;
			}
		});
		
		dataList.DataTable(dataTableOption);
	};
	
	/*]]>*/
	</script>

<div class="panel-heading">
	<div class="panel-title">
		<i class="fa fa-desktop"></i> <span>ตั้งค่าตัวแปรระบบ</span>
	</div>
	<div class="box-icon">
		<a href="#" class="btn btn-minimize btn-round btn-default"><i
			class="glyphicon glyphicon-chevron-up"></i></a>
	</div>
</div>
<div class="panel-body panel-collapse in">
	<div class="panel panel-default">
		<div class="panel-heading" style="height: auto">
			<div id="" class="panel-title">
				<ol class="breadcrumb" style="margin:0; padding: 0;">
					<li>ตัวแปรระบบ</li>
				</ol>
			</div>
		</div>
		<div class="panel-body">
			<div class="row form-group msg-organization-error hidden">
				<div class="col-md-12">
					<p class="bg-danger text-danger panel-round">
					<i class="glyphicon glyphicon-exclamation-sign"></i>
						<span id="msg-organization-error-text"></span>
					</p>
				</div>
			</div>
			<div class="row form-group">
             	<label class="col-md-2 text-right" th:include="include/formUtil :: label(label='ค้นหา')"></label>
                <div class="col-md-7">
                	<select class="form-control" id="organizationSlc" th:attr="data-select2-url=@{/master/getMParam}" name="organizationSearchSelection"></select>
                </div>
                <div class="col-md-3">
                	<button type="button" class="btn btn-primary" id="paramSearch">
	                	<span class="glyphicon glyphicon-search"></span> ค้นหา
	                </button>
	                <button class="btn btn-default" type="button" id="paramReset">
						<span class="glyphicon glyphicon-refresh"></span> ล้างข้อมูล
					</button>
                </div>
             </div>
			<table id="dataList" class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>ชื่อตัวแปร</th>
						<th>หมายเหตุ</th>
						<th class="text-center"></th>
					</tr>
				</thead>
			</table>
			
		</div>
	</div>
</div>