<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
</head>


<!-- ROW 1 -->
<div class="row">
	<div class="col-xs-12 col-md-12 col-lg-12">
		<div class="col-xs-4 col-sm-3 col-md-1 text-xs-left text-sm-right text-md-right  ">
			บ้านเลขที่ <span class="red">*</span> :
		</div>
		<div class="col-xs-8 col-sm-3 col-md-2">
			<input type="text" class="form-control" required="required"
				ng-model="addr.no" ng-disabled="dis" />
		</div>
		<div class="col-xs-4 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right  ">
			หมู่บ้าน/อาคาร/ห้องที่ <span class="red">*</span> :
		</div>
		<div class="col-xs-8 col-sm-3 col-md-2">
			<input type="text" class="form-control" required="required"
				ng-model="addr.village" ng-disabled="dis" />
		</div>
				<div class="col-xs-12 col-sm-12 visible-xs visible-sm"></div>
		
		<div class="col-xs-4 col-sm-3 col-md-1 text-xs-left text-sm-right text-md-right  ">
			หมู่ที่ <span class="red">*</span> :
		</div>
		<div class="col-xs-8 col-sm-3 col-md-1">
			<input type="text" class="form-control" required="required"
				ng-model="addr.moo" ng-disabled="dis" />
		</div>
		<div class="col-xs-12 col-sm-3 col-md-1 text-xs-left text-sm-right text-md-right  ">
			ตรอก <span class="red">*</span> :
		</div>
		<div class="col-xs-12 col-sm-3 col-md-2">
			<input type="text" class="form-control" required="required"
				ng-model="addr.lane" ng-disabled="dis" />
		</div>
	</div>
</div>

<!-- ROW 2 -->
<div class="row">
	<div class="col-md-12">
		<div class="col-xs-12 col-sm-3 col-md-1 text-xs-left text-sm-right text-md-right  ">
			ซอย <span class="red">*</span> :
		</div>
		<div class="col-xs-12 col-sm-3 col-md-2">
			<input type="text" class="form-control" required="required"
				ng-model="addr.soi" ng-disabled="dis" />
		</div>
		<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right  ">
			ถนน <span class="red">*</span> :
		</div>
		<div class="col-xs-12 col-sm-3 col-md-2">
			<input type="text" class="form-control" required="required"
				ng-model="addr.road" ng-disabled="dis" />
		</div>
		<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right  ">
			จังหวัด <span class="red">*</span> :
		</div>
		<div class="col-sm-9 col-md-2">
			<!-- 			<input type="text" class="form-control" required="required" ng-model="addr.province"  ng-disabled="dis"/> -->

			<select class="form-control" placeholder="กรุณาเลือก" name="province"
				ng-model="addr.provinceId" ng-init="loadProvince()"
				ng-change="loadDistrict(addr.provinceId)" ng-required="true" ng-disabled="dis">
				<option ng-value="province.id" ng-repeat="province in provinceList">{{province.nameTH}}</option>
			</select>
		</div>
	</div>
</div>

<!-- ROW 3 -->
<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="col-xs-12 col-sm-3 col-md-1 text-xs-left text-sm-right text-md-right  ">
			เขต/อำเภอ <span class="red">*</span> :
		</div>
		<div class="col-sm-9 col-md-2">
<!-- 			<input type="text" class="form-control" required="required" -->
<!-- 				ng-model="addr.amphur" ng-disabled="dis" /> -->
					<select class="form-control" placeholder="กรุณาเลือก"
							name="district" ng-model="addr.amphurId"
							ng-change="loadSubdistrict(addr.amphurId)" ng-required="true" ng-disabled="dis">
							<option ng-value="district.id"
								ng-repeat="district in districtList">{{district.nameTH}}</option>
					</select>
		
		</div>
		<div class="col-xs-12 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right  ">
			แขวง/ตำบล <span class="red">*</span> :
		</div>
		<div class="col-sm-9 col-md-2">
<!-- 			<input type="text" class="form-control" required="required" -->
<!-- 				ng-model="addr.tambon" ng-disabled="dis" /> -->
					<select class="form-control" placeholder="กรุณาเลือก"
							name="subdistrict" ng-model="addr.tambonId"
							ng-required="true" ng-disabled="dis">
							<option ng-value="subdistrict.id"
								ng-repeat="subdistrict in subdistrictList">{{subdistrict.nameTH}}</option>
					</select>
		</div>
		<div class="col-xs-5 col-sm-3 col-md-2 text-xs-left text-sm-right text-md-right  ">
			รหัสไปรษณีย์ <span class="red">*</span> :
		</div>
		<div class="col-xs-7 col-sm-4 col-md-2 col-xs-pull-1 col-sm-pull-0 col-md-pull-0">
			<input type="text" class="form-control" required="required"
				ng-model="addr.postCode" ng-disabled="dis" />
		</div>
	</div>
</div>
</html>