<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/main-template">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<title th:text="#{rpt.40001.title}"></title>

<!-- My JS -->
<script th:src="@{/js/report/rpt-40001/rpt-40001.js}"></script>



</head>
<body layout:fragment="content">
<div ng-app="Rpt-40001" class="content-wrapper">
   <div class="wrapper" ng-controller="rpt-40001-main">
		<section class="panel form-wizard" id="w4">
			<div class="panel-custom head-panel">
				<div class="panel-heading">
					<div class="panel-title">
						<h4 th:text="#{rpt.40001.header}"></h4>
					</div>
				</div>

				<div class="panel-body" layout="row" layout-align="center center">
					<div class="container-fluid">
						<div class="col-sm-6 col-sm-offset-3">
							<form class="form-horizontal" ng-submit="exportPdf(criteria)">

								<div class="form-group row-no-padding ">
									<label class="control-label col-sm-4" for="email">กระทรวง :</label>
									<div class="col-sm-8">
										<select class="form-control" ng-model="criteria.ministryId" ng-change="getDepartmentByMinistryId(criteria.ministryId)"
											ng-options="item.id as (item.desc+' ' + item.desc2) for item in ministryList">
											<option value="">--ทั้งหมด--</option>
										</select>
									</div>
								</div>
								<div class="form-group row-no-padding">
									<label class="control-label col-sm-4" for="email">กรม :</label>
									<div class="col-sm-8">
										<select class="form-control" ng-model="criteria.departmentId"
											ng-options="item.id as (item.desc+' ' + item.desc2) for item in departmentList">
											<option value="">--ทั้งหมด--</option>
										</select>
									</div>
								</div>

								<div class="form-group row-no-padding">
									<label class="control-label col-sm-4" for="email">หน่วยเบิกจ่าย :</label>
									<div class="col-sm-8">
										<select class="form-control" ng-model="criteria.disbursementUnitId"
											ng-options="item.id as item.desc for item in disbursementUnitList">
											<option value="">--ทั้งหมด--</option>
										</select>
									</div>
								</div>
								<div class="form-group row-no-padding">
									<label class="control-label col-sm-4" for="email">ศูนย์ต้นทุน :</label>
									<div class="col-sm-8">
										<select class="form-control" ng-model="criteria.costCenterId"
											ng-options="item.id as item.desc for item in costCenterList">
											<option value="">--ทั้งหมด--</option>
										</select>
									</div>
								</div>
								<div class="form-group row-no-padding">
									<label class="control-label col-sm-2" for="email">วันที่ : </label>
									<div class="col-sm-4">
										<datepicker-dir  ng-model="criteria.startDate" format-date="dd/MM/yyyy"></datepicker-dir>
									</div>
									<label class="control-label col-sm-2" for="email">ถึงวันที่ : </label>
									<div class="col-sm-4">
										<datepicker-dir  ng-model="criteria.endDate" format-date="dd/MM/yyyy"></datepicker-dir>
									</div>
								</div>
								
								<div class="form-group row-no-padding">
									<label class="col-sm-4 control-label"></label>
									<div class="col-sm-8">
										<label class="radio-inline">
											<input type="radio" ng-model="criteria.reportType" value="PDF" />PDF
										</label> 
										<label class="radio-inline"> 
											<input type="radio" ng-model="criteria.reportType"  value="EXCEL"/>EXCEL
										</label>
									</div>
								</div>			
								<div class="form-group">
									<div class="col-sm-12 text-center">
										<button type="submit" class="btn btn-info btn-style"><i class="glyphicon glyphicon-search"></i> ออกรายงาน</button>
										<button type="reset" class="btn gey-light btn-style"><i class="glyphicon glyphicon-refresh"></i> ล้างข้อมูล</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	</div>

</body>
</html>
