<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-2.dtd"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/main-template">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!-- My JS -->
	<script th:src="@{/js/admin/permission-group-form.js}"></script>
	<title>จัดการกลุ่มสิทธิ์</title>
</head>
<body layout:fragment="content">
<div ng-app="permissionGroupApp" class="content-wrapper">
	<div class="wrapper" ng-controller="permissionGroupCtrl">


		<form name="userPermissionGroupForm" id="popupSelectContainer" ng-submit="save()">

							<div class="panel panel-custom head-panel">
								<div class="panel-heading">
									<h2 class="panel-title">
										<span class="glyphicon glyphicon-list-alt"></span> <span>จัดการกลุ่มสิทธิ์</span>
									</h2>
								</div>

								<div class="panel-body">
									<div class="panel-default">

										<div class="panel panel-default">
											<div class="panel-heading">
												<h3 class="panel-title" ng-bind="edit?'แก้ไขข้อมูลกลุ่มสิทธิ์':'เพิ่มข้อมูลกลุ่มสิทธิ์'"></h3>
											</div>
											<div class="panel-body">
												<div class="form-group">


													<!-- row1 -->
													<div class="row row-no-padding">

														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">รหัสกลุ่มสิทธิ์ :</div>
														<div class="col-sm-9 col-md-9">
															<input class="form-control" name="code" id="code" required="required"
																   ng-model="data.code"/>
														</div>
													</div>

													<!-- row2 -->
													<div class="row row-no-padding">

														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right ">ชื่อกลุ่มสิทธิ์ :</div>
														<div class="col-sm-9 col-md-9">
															<input class="form-control" name="name" id="name" required="required"
																   ng-model="data.name"/>
														</div>
													</div>

													<!-- row2 -->
													<div class="row row-no-padding">

														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right">คำอธิบาย :</div>
														<div class="col-sm-9 col-md-9">
															<textarea rows="4" class="form-control" name="desc" id="desc" required="required"
																	  ng-model="data.desc"></textarea>
														</div>
													</div>

													<!-- row3 -->
													<div class="row row-no-padding">
														<div class="col-xs-12 col-sm-3 col-md-3 text-xs-left text-sm-right text-md-right">สถานะ :</div>
														<div class="col-sm-9 col-md-3">
															<label class="radio-inline" ng-repeat="list in data.statusList" ng-if="list.status == 1 || list.status == 2">
															    <input type="radio" ng-model="data.status" ng-value="list.status" ng-required="!data.status" /> {{list.statusName}}
															</label>
														</div>

													</div>



													<div class="row row-no-padding">
														<!--<div class="col-md-6 text-right">-->
															<!--<button type="button" id="editBtnPerm"-->
																	<!--class="btn btn-info" ng-click="save()">-->
																<!--<span class="glyphicon" ng-class="{'glyphicon-floppy-disk':edit,'glyphicon-add':!edit}"></span>-->
																<!--<span ng-bind="edit?'แก้ไข':'เพิ่ม'"></span>-->
															<!--</button>-->

														<!--</div>-->
														<center>
														<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">

															<button type="submit" id="save"
																	class="btn btn-success btn-style">
																<span class="glyphicon glyphicon-floppy-disk"></span> บันทึก
															</button>


															<button type="button" id="clearBtn1"
																	class="btn gray-light btn-style" ng-click="clearData1()">
																<span class="glyphicon glyphicon-refresh"></span>
																ล้างข้อมูล
															</button>
														</div>
														</center>
													</div>
												</div>
											</div>
										</div>


										<div class="row">
											<div class="col-md-12 text-center">
											</div>
										</div>

									</div>


								</div>
							</div>

		</form>
	</div>
</div>
</body>
</html>